@mixin titleI18n-card ( ) {
  // `> .#{ $block } > .#{ $block }__input-block`
  > .titleI18n-card.cards__titleI18n-card {
    // [ variable ]
    $large: 750px;
    $small: 500px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas: '. value patch delete .';
      columns: 1rem auto 1.2rem 1.2rem .5rem;
    };

    // [ position ]
    width: 100%;
    height: font__px-to-rem( 80 );

    // [ skin ]
    border: {
      bottom: solid font__px-to-rem( 2 ) #adacad;
      radius: font__px-to-rem( 3 );
    }

    > .titleI18n-card__value {
      // [ layout ]
      display: flex;
      grid-area: value;
      align-self: center;
      padding-left: font__px-to-rem( 15 );

      // [ position ]
      width: 100%;

      // [ skin ]
      font: {
        size: font__px-to-rem( 18 );
        weight: bold;
      }
      line-height: normal;
      letter-spacing: normal;
      color: rgba( 0, 0, 0, .87 );

      > .value__text {
        // [ layout ]
        display: inline-block;
        grid-area: title;

        // [ position ]
        width: auto;
        height: auto;
        padding-right: font__px-to-rem( 5 );
        align-self: center;
        margin-left: 1rem;

        // [ skin ]
        word-break: break-all;
        font-size: font__px-to-rem( 18 );
        line-height: normal;
        letter-spacing: normal;
        color: rgba( 0, 0, 0, .87 );

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ skin ]
          font-size: font__px-to-rem( 18 );
          line-height: font__px-to-rem( 20 );
          word: {
            break: normal;
            wrap: break-word;
          }
        }
      }
    }

    > .titleI18n-card__patch {
      // [ layout ]
      display: inline-flex;
      grid-area: patch;

      // [ position ]
      width: font__px-to-rem( 30 );
      height: auto;
      padding-right: font__px-to-rem( 10 );
      align-self: center;

      // [ skin ]
      filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );

      &:hover {
        // [ skin ]
        filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 50% ) hue-rotate( 183deg ) contrast( 200% );
        cursor: pointer;
      }
    }

    > .titleI18n-card__delete {
      // [ layout ]
      display: inline-flex;
      grid-area: delete;

      // [ position ]
      width: font__px-to-rem( 30 );
      height: auto;
      padding-right: font__px-to-rem( 10 );
      align-self: center;

      // [ skin ]
      filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );

      &:hover {
        // [ skin ]
        filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 50% ) hue-rotate( 183deg ) contrast( 200% );
        cursor: pointer;
      }
    }

    // [ customization ]
    @content;
  }
}
