extends /layouts/announcement/briefing.pug

append data
  -
    const i18n =  Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':    'Award',
        'topic':    'Award',
        'time':   {
          'from': 'Start Date',
          'to':   'End Date',
        },
        'pinned':   'Pinned Announcement',
        'normal':   'Announcement',
        'breadcrumb': {
          'home':   'Home',
          'about':  'About',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':    '榮譽事蹟',
        'topic':    '榮譽',
        'time':   {
          'from': '開始日期',
          'to':   '結束日期',
        },
        'pinned':   '置頂貼文',
        'normal':   '一般公告',
        'breadcrumb': {
          'home':   '首頁',
          'about':  '關於本系',
        },
      },
    } );
    const tags = [
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'award',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'award',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'award',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'college',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'college',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'college',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'master',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'master',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'master',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'phd',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'phd',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'phd',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'faculty',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'faculty',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'faculty',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
    ];
    const currentRoute = 'about/award';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'about/award' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.about, url: 'about' },
    { text: i18n[ LANG.id ].title },
  ] )

append footer

append scripts
  +js( 'about/award' )
