extends /layouts/announcement/briefing.pug

append stylesheets

append header

prepend content
  -
    const i18n =  Object.freeze( {
      'en-US': {
        'topic':  'Honor',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'topic':  '榮譽',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );

append topic
  +topic( i18n[ language ].topic )

append filter
  +filter( {
    modifier: 'award',
    tags: [
      'award',
      'faculty',
      'college',
      'master',
      'phd',
    ]
  } )

append scripts
  +js( 'about/award' )
