extends /layouts/announcement/briefing.pug

append data
  -
    const i18n =  Object.freeze( {
      'en-US': {
        'title':    'Award',
        'topic':    'Award',
        'top':    'Pinned Announcement',
        'normal':   'Announcement',
        'breadcrumb': {
          'home':   'Home',
          'about':  'About',
        },
      },
      'zh-TW': {
        'title':    '榮譽事蹟',
        'topic':    '榮譽',
        'top':      '置頂貼文',
        'normal':   '一般公告',
        'breadcrumb': {
          'home':   '首頁',
          'about':  '關於本系',
        },
      },
    } );
    const filterModifier = 'award';
    const filterTags = [
      'award',
      'faculty',
      'college',
      'master',
      'phd',
    ];
    const currentRoute = 'about/award';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'about/award' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.about, url: 'about' },
    { text: i18n[ language ].title },
   ] )

append footer

append scripts
  +js( 'about/award' )
