extends /layouts/about.pug

append stylesheets

append header

append content
  -
    const i18n = Object.freeze( {
      'en-US': {
      },
      'zh-TW': {
      },
    } );

  main.content
    section.profile
      header.profile__name 教師名稱
      aside.profile__titles.titles
        span.titles__title 1
        span.titles__title 2
      aside.profile__departments
        span.departments__department 資訊系
      address.profile__office 辦公室
      a.profile__email(href="mailto:123") email
      a.profile__phone(href="tel:123") 聯絡電話
    img.photo(src="/path-to-image.jpg" alt="Image Title")
    section.education
      section.education__headline 學歷
      section.education__detail.detail
        p.detail__begin 2016.09.11
        p.detail__to -
        p.detail__end 2016.09.12
        img.detail__country
        p.detail__school 成功大學
        p.detail__department 電機
        p.detail__degree 博士
    section.experience
      section.experience__headline 經歷
      section.experience__detail.detail
        p.detail__begin 2016.09.11
        p.detail__to -
        p.detail__end 2016.09.12
        p.detail__school 成功大學
        p.detail__department 電機
        p.detail__degree 博士
    section.honor
      section.honor__headline 榮譽及獲獎
      section.honor__content 國立成功大學電資學院
      section.honor__content 國立成功大學電資學院
      section.honor__content 國立成功大學電資學院
    section.book
      section.book__headline 著作
      section.book__content PubTator
      section.book__content PubTator
      section.book__content PubTator
    section.patent
      section.patent__headline 專利
      table.patent__table.table
        tr
          th 類別
          th 專利名稱
          th 專利權人
          th 國別
          th 發明人
          th 專利號碼
          th 專利期間
        tr
          td A
          td 機台維修系統與方法
          td 國立成功大學
          td.table__country
          td 鄭方田
          td 審查中
          td
            section.table__date 2016.09.11
    section.research
      header.research__headline 研究計畫
      table.research__table.table
        header.table__title 科技部研究計畫
        tr
          th 企劃名稱
          th 起迄日期
          th 輔助單位
        tr
          td 子計畫
          td
            section.table__date.date
              p.date__begin 2016.09.11
              p.date__to -
              p.date__end 2016.09.12
          td 科技部
      table.research__table.table
        header.table__title 一般建教案
        tr
          th 企劃名稱
          th 起迄日期
          th 輔助單位
        tr
          td 子計畫
          td
            section.table__date.date
              p.date__begin 2016.09.11
              p.date__to -
              p.date__end 2016.09.12
          td 科技部
    section.student
      section.student__headline 指導學生
      section.student__content 學生
      section.student__content 學生

append scripts
  +js( 'about/faculty-detail' )
