extends /layouts/about.pug

append stylesheets

append header

append content
  include /components/common/topic.pug
  include /components/about/faculty/test.pug
  include /components/about/faculty/subtitle.pug

  main#content.content

append footer

append scripts
  +js( 'about/faculty-detail' )
