extends /layouts/about.pug

append stylesheets

append header

append content
  include /components/common/topic.pug
  -
    const i18n = Object.freeze( {
      'en-US': {
        'topic': 'Faculty',
        'filters': [ 'dept. CSIE', 'inst. CSIE', 'IMI', 'IMIS' ],
        'noResult': 'No Result',
      },
      'zh-TW': {
        'topic': '師資陣容',
        'filters': [ '資訊系', '資訊所', '醫資所', '製造所' ],
        'noResult': '無結果',
      },
    } );

  main.content
    +topic( i18n[ language ].topic )
    section.filters
      each value, index in i18n[ language ].filters
        button.filters__filter( data = index )= value
    section#cards.cards

append scripts
  +js( 'about/faculty' )
