extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':    'Faculty',
        'topic':    'Faculty',
        'breadcrumb': {
          'home':   'Home',
          'about':  'About',
        },
        'noResult': 'No Result',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':    '師資陣容',
        'topic':    '師資陣容',
        'breadcrumb': {
          'home':   '首頁',
          'about':  '關於本系',
        },
        'noResult': '無結果',
      },
    } );
    const currentRoute = 'about/faculty';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'about/faculty' )

append header
  +banner( 'body', i18n[ LANG.id ].title )
  +breadcrumb(
    'body',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
      { text: i18n[ LANG.id ].breadcrumb.about, url: 'about' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/topic.pug

  +topic( 'content', i18n[ LANG.id ].topic )

  //- Filter component for faculty selection.
  section#filters.content__filters.filters
    h1 Loading

  //- Faculty data display section.
  //-
  //- Use card outfit to display faculty information.
  //- @todo add loading screen.
  section#cards.content__cards.cards
  section#no-result.content__no-result.no-result.no-result--hide
    p.no-result__text= i18n[ LANG.id ].noResult

append footer

append scripts
  +js( 'about/faculty' )
