extends /layouts/about.pug

append stylesheets

append header

append content
  include /components/common/topic.pug
  include /components/about/faculty/test.pug
  include /components/about/faculty/subtitle.pug
  -
    const i18n = Object.freeze( {
      'en-US': {
        'education':          'Education',
        'experience':         'Experience',
        'award':              'Award',
        'publication':        'Publication',
        'patent':             'Patent',
        'research':           'Research',
        'student':            'Student',
        'student__doctoral':  '博士生',
        'student__master':    '碩士生',
        'student__award':     '指導學生之特殊榮譽',
        'student__meeting':   '主辦及參與國際會議',
        'publication__accepted':        'Accepted Papers to be Published',
        'publication__refereed':        'Refereed Papers',
        'publication__international':   'Conference Papers - 國際會議',
        'publication__domestic':         'Conference Papers - 國內會議',
      },
      'zh-TW': {
        'education':   '學歷',
        'experience':  '經歷',
        'award':       '榮譽及獲獎',
        'publication': '著作',
        'patent':      '專利',
        'research':    '研究計劃',
        'student':     '指導學生',
        'student__doctoral':  '博士生',
        'student__master':    '碩士生',
        'student__award':     '指導學生之特殊榮譽',
        'student__meeting':   '主辦及參與國際會議',
        'publication__accepted':        'Accepted Papers to be Published',
        'publication__refereed':        'Refereed Papers',
        'publication__international':   'Conference Papers - 國際會議',
        'publication__domestic':         'Conference Papers - 國內會議',
      },
    } );

  main.content
    section.profile
      header.profile__name 教師名稱
      aside.profile__titles.titles
        span.titles__title 1
        span.titles__title 2
      aside.profile__departments
        span.departments__department 資訊系
      address.profile__office 辦公室
      a.profile__email(href="mailto:123") email
      a.profile__phone(href="tel:123") 聯絡電話
    img.photo(src="/path-to-image.jpg" alt="Image Title")
    section.education
      +topic( i18n[ language ].education )
      section.education__detail.detail
        p.detail__begin 2016.09.11
        p.detail__to -
        p.detail__end 2016.09.12
        img.detail__country
        p.detail__school 成功大學
        p.detail__department 電機
        p.detail__degree 博士
    section.experience
      +topic( i18n[ language ].experience )
      section.experience__detail.detail
        p.detail__begin 2016.09.11
        p.detail__to -
        p.detail__end 2016.09.12
        p.detail__school 成功大學
        p.detail__department 電機
        p.detail__degree 博士
    section.award
      +topic( i18n[ language ].award )
      section.subtitle 2014
      +award__list( [ '1','2','3' ] )
      section.subtitle 2018
      +award__list( [ '1','2','3' ] )
    section.publication
      +topic( i18n[ language ].publication )
      +subtitle( i18n[ language ].publication__accepted )
      +publication__list( [ '1','2','3' ] )
      +subtitle( i18n[ language ].publication__refereed )
      +publication__list( [ '1','2','3' ] )
      +subtitle( i18n[ language ].publication__international )
      +publication__list( [ '1','2','3' ] )
      +subtitle( i18n[ language ].publication__domestic )
      +publication__list( [ '1','2','3' ] )
    section.patent
      +topic( i18n[ language ].patent )
      table.patent__table.table
        tr
          th 類別
          th 專利名稱
          th 專利權人
          th 國別
          th 發明人
          th 專利號碼
          th 專利期間
        tr
          td A
          td 機台維修系統與方法
          td 國立成功大學
          td.table__country taiwan
          td 鄭方田
          td 審查中
          td
            section.table__date 2016.09.11
    section.research
      +topic( i18n[ language ].research )
      table.research__table.table
        header.subtitle 科技部研究計畫
        tr
          th 企劃名稱
          th 起迄日期
          th 輔助單位
        tr
          td 子計畫
          td
            section.table__date.date
              p.date__begin 2016.09.11
              p.date__to -
              p.date__end 2016.09.12
          td 科技部
      table.research__table.table
        header.subtitle 一般建教案
        tr
          th 企劃名稱
          th 起迄日期
          th 輔助單位
        tr
          td 子計畫
          td
            section.table__date.date
              p.date__begin 2016.09.11
              p.date__to -
              p.date__end 2016.09.12
          td 科技部
    section.student
      +topic( i18n[ language ].student )
      +subtitle( i18n[ language ].student__doctoral )
      section.student__members
        +student__list--member( [ '1','2','3' ] )
      +subtitle( i18n[ language ].student__master )
      section.student__members
        +student__list--member( [ '1','2','3' ] )
      +subtitle( i18n[ language ].student__award )
      +student__list--award( [ '1','2','3' ] )
      +subtitle( i18n[ language ].student__meeting )
      +student__list--meeting( [ '1','2','3' ] )

append footer

append scripts
  +js( 'about/faculty-detail' )
