extends /layouts/about.pug

append stylesheets

append header

append content
  -
    const i18n = Object.freeze( {
      'en-US': {
      },
      'zh-TW': {
      },
    } );

  main.content
    section.profile
      header.profile__name 教師名稱
      aside.profile__titles.titles
        span.titles__title 1
        span.titles__title 2
      aside.profile__departments
        span.departments__department 資訊系
      address.profile__office 辦公室
      a.profile__email(href="mailto:123") email
      a.profile__phone(href="tel:123") 聯絡電話
    img.photo(src="/path-to-image.jpg" alt="Image Title")
    section.education
      section.headline 學歷
      section.education__detail.detail
        p.detail__begin 2016.09.11
        p.detail__to -
        p.detail__end 2016.09.12
        img.detail__country
        p.detail__school 成功大學
        p.detail__department 電機
        p.detail__degree 博士
    section.experience
      section.headline 經歷
      section.experience__detail.detail
        p.detail__begin 2016.09.11
        p.detail__to -
        p.detail__end 2016.09.12
        p.detail__school 成功大學
        p.detail__department 電機
        p.detail__degree 博士
    section.honor
      section.headline 榮譽及獲獎
      section.headline__small 2014
      p.honor__content 國立成功大學電資學院
      p.honor__content 國立成功大學電資學院
      section.headline__small 2018
      p.honor__content 國立成功大學電資學院
      p.honor__content 國立成功大學電資學院
    section.book
      section.headline 著作
      section.headline__small Accepted Papers to be Published
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.headline__small Refereed Papers
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.headline__small Conference Papers - 國際會議
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.headline__small Conference Papers - 國內會議
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
      section.book__content PubTator: a Web-based text mining tool for assisting Biocuration
    section.patent
      section.headline 專利
      table.patent__table.table
        tr
          th 類別
          th 專利名稱
          th 專利權人
          th 國別
          th 發明人
          th 專利號碼
          th 專利期間
        tr
          td A
          td 機台維修系統與方法
          td 國立成功大學
          td.table__country taiwan
          td 鄭方田
          td 審查中
          td
            section.table__date 2016.09.11
    section.research
      header.headline 研究計畫
      table.research__table.table
        header.headline__small 科技部研究計畫
        tr
          th 企劃名稱
          th 起迄日期
          th 輔助單位
        tr
          td 子計畫
          td
            section.table__date.date
              p.date__begin 2016.09.11
              p.date__to -
              p.date__end 2016.09.12
          td 科技部
      table.research__table.table
        header.headline__small 一般建教案
        tr
          th 企劃名稱
          th 起迄日期
          th 輔助單位
        tr
          td 子計畫
          td
            section.table__date.date
              p.date__begin 2016.09.11
              p.date__to -
              p.date__end 2016.09.12
          td 科技部
    section.student
      section.headline 指導學生
      section.headline__small 博士班
      section.student__members
        p.student__content 學生1
        p.student__content 學生2
        p.student__content 學生3
        p.student__content 學生4
      section.headline__small 碩士班
      section.student__members
        p.student__content 學生1
        p.student__content 學生2
        p.student__content 學生3
        p.student__content 學生4
      section.headline__small 指導學生之特殊榮譽
      p.student__honor 國立成功大學電資學院輔導優良導師, 2014
      p.student__honor 國立成功大學電資學院輔導優良導師, 2014
      p.student__honor 國立成功大學電資學院輔導優良導師, 2014
      section.headline__small 主辦及參與國際會議
      p.student__meeting Award Chair of 2017 IEEE Conference on Robotics and Automation (ICRA 2017)
      p.student__meeting Award Chair of 2017 IEEE Conference on Robotics and Automation (ICRA 2017)
      p.student__meeting Award Chair of 2017 IEEE Conference on Robotics and Automation (ICRA 2017)

append footer

append scripts
  +js( 'about/faculty-detail' )
