extends /layouts/about.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':    'Faculty',
        'topic':    'Faculty',
        'noResult': 'No Result',
      },
      'zh-TW': {
        'title':    '師資陣容',
        'topic':    '師資陣容',
        'noResult': '無結果',
      },
    } );

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'about/faculty' )

append header

append content
  include /components/common/topic.pug
  include /components/about/faculty/filters.pug

  +topic( i18n[ language ].topic )

  //- Filter component for faculty selection.
  +filters()

  //- Faculty data display section.
  //-
  //- Use card outfit to display faculty information.
  //- @todo add loading screen.
  section#cards.cards
  section#no-result.no-result.no-result--hide
    p.no-result__text= i18n[ language ].noResult

append footer

append scripts
  +js( 'about/faculty' )
