extends /layouts/about.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':    'About Us',
        'breadcrumb': {
          'home':   'Home',
        },
      },
      'zh-TW': {
        'title':    '關於本系',
        'breadcrumb': {
          'home':   '首頁',
        },
      },
    } );
    const currentRoute = 'about';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'about/index' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].title },
  ] )

append content

append footer

append scripts
  +js( 'about/index' )
