extends /layouts/about.pug
append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':    'About Us',
        'breadcrumb': {
          'home':   'Home',
        },
        'topic':    'Index',
        'noResult': 'No Result',
      },
      'zh-TW': {
        'title':    '關於本系',
        'breadcrumb': {
          'home':   '首頁',
        },
        'topic':    '成大資訊工程學系公告',
        'noResult': '無結果',
      },
    } );
    const currentRoute = 'about';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'about/index' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].title },
   ] )

append content
  include /components/common/topic.pug
  include /components/about/index/subtitles.pug
  +topic( i18n[ language ].topic )
  section#subtitles.subtitles
    //- +subtitles__subtitle()
    +subtitles__subtitle( {
      title: '全部公告',
      detail: '系上級學校重要資訊公告，不分類別',
      subtitle: '50 則公告',
      color: 'red',
    } )
    +subtitles__subtitle( {
      title: '活動訊息',
      detail: '與行政事務相關的內容查詢，包含學校公告以及各類法規更新',
      subtitle: '23 則公告',
      color: 'green',
    } )
    +subtitles__subtitle( {
      title: '徵人資訊',
      detail: '系上級學校活動資訊公佈，包含系會活動及各類競賽辦法',
      subtitle: '3 則公告',
      color: 'yellow',
    } )
append footer

append scripts
  +js( 'about/index' )