extends /layouts/about.pug

append data
  -
    const i18n= Object.freeze( {
      'en-US': {
        'title': 'Introduction',
      },
      'zh-TW': {
        'title': '系所介紹',
      },
    } );

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'about/intro' )

append header

append content

append footer

append scripts
  +js( 'about/intro' )
