extends /layouts/base.pug

append data
  -
    const i18n= Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title': 'Introduction',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title': '系所介紹',
      },
    } );
    const currentRoute = 'about/intro';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'about/intro' )

append header

append content
  include /components/common/not-available.pug
  +notAvailable()

append footer

append scripts
  +js( 'about/intro' )
