extends /layouts/about.pug

block stylesheets

block header

block append content
  include /components/common/topic.pug
  include /components/about/location/traffic.pug
  - const i18n = require( path.resolve( languageRoot, 'about/location' ) );

  main.main
    +topic( i18n[ language ].topic )
    section#map
    section.thsr
      +traffic( i18n[ language ].thsr )
    section.train
      +traffic( i18n[ language ].train )
    section.drive
      +traffic( i18n[ language ].drive )

block footer

block scripts
  +js( 'about/location' )
