extends /layouts/about.pug

append data
  -
    const i18n= Object.freeze( {
      'en-US': {
        'title':    'Staff',
        'breadcrumb': {
          'home':   'Home',
          'about':  'About',
        },
      },
      'zh-TW': {
        'title':    '行政人員',
        'breadcrumb': {
          'home':   '首頁',
          'about':  '關於本系',
        },
      },
    } );
    const currentRoute = 'about/staff';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'about/staff' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.about, url: 'about' },
    { text: i18n[ language ].title },
  ] )

append content
  include /components/common/not-available.pug
  +notAvailable()

append footer

append scripts
  +js( 'about/staff' )
