extends /layouts/base.pug

append data
  -
    const i18n= Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title': 'Staff',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title': '行政人員',
      },
    } );
    const currentRoute = 'about/staff';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'about/staff' )

append header

append content
  include /components/common/not-available.pug
  +notAvailable( 'content' )

append footer

append scripts
  +js( 'about/staff' )
