extends /layouts/about.pug

block stylesheets
  link( rel='stylesheet', type='text/css', media='screen',
    href='/css/about/teachers.min.css'
  )

block header

block content
  include /components/about/topic.pug
  include /components/about/teachers/card.pug
  main.main
    +topic( 'Faculty of Computer Science','師資陣容' )
    section.cards
      each t in teachers
        +cards__card( {
          imageURL: 'http://via.placeholder.com/300x600',
          nameText: t.name,
          titleText: t.title,
          deptText: t.department,
          addressText: t.address,
          linkURL: t.personal_web,
          emailURL: t.email,
          phoneText: t.tel
        } )

block footer

block scripts
