extends /layouts/about.pug

block append stylesheets

block append content
  include /components/about/teacher/profile.pug
  - const i18n = require( path.join( languageRoot, 'about/teacher' ) );

  main.content

block append scripts
  +js( 'about/teacher' )
