extends /layouts/about.pug

block stylesheets
  link( rel='stylesheet', type='text/css', media='screen',
    href='/css/about/teachers.min.css'
  )

block header

block content
  include /components/about/topic.pug
  include /components/about/teachers/card.pug
  main.main
    +topic( 'Faculty of Computer Science','師資陣容' )
    section.cards
      each teacher in teachers
        +cards__card( {
          name: teacher.name,
          imageURL: teacher.img,
          linkURL:  teacher.personalWeb,
          emailURL: teacher.email,
          titles:    teacher.title,
          depts:     teacher.department,
          offices:   teacher.office,
      } )
block footer
block scripts
