extends /layouts/about.pug

block append stylesheets

block append content
  include /components/common/topic.pug
  - const i18n = require( path.resolve( languageRoot, 'about/teachers' ) );

  main.content
    +topic( i18n[ language ].topic )
    section#cards.cards

block scripts
  +js( 'about/teachers' )
