// component
// `> .#{ $block } > .#{ $block }__banner.banner`
@mixin banner ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__banner`
  // block
  // `> .#{ $block } > .banner`
  > .#{ $block }__banner.banner {
    // [ variable ]
    $large: 600px;

    // [ position ]
    // This style is set because `.banner__text` need to be position at the center of `.banner`.
    position: relative;

    // [ layout ]
    display: block;

    // [ skin ]
    width: 100%;
    height: 100%;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ skin ]
      height: 500 / 32 * 1rem;
    }

    // element
    // `> .#{ $block } > .banner > .banner__image`
    > .banner__image {
      // [ layout ]
      object-fit: cover;

      // [ skin ]
      width: 100%;
      height: 100%;
    }

    // element
    // `> .#{ $block } > .banner > .banner__text`
    > .banner__text {
      // [ position ]
      position: absolute;
      top: 50%;
      transform: translateY( -50% );

      // [ layout ]
      text-align: center;
      word: {
        break: normal;
        wrap: normal;
      }

      // [ skin ]
      width: 100%;
      color: #ffffff;
      font: {
        size: .8rem;
        weight: bold;
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        font-size: 50 / 32 * 1rem;
      }
    }
  }
}
