@mixin breadcrumb ( $background-color ) {
  // block
  // `> .breadcrumb`
  > .breadcrumb {
    // [ variable ]
    $large: 1120px;

    // [ dispaly ]
    display: flex;
<<<<<<< HEAD
    padding: {
      left: 5%;
      bottom: 3.44rem;
    }
=======
    padding-left: 5%;
>>>>>>> b3666109267378fc0667e4b337114d5c0afb0ef8

    // [ skin ]
    width: 100%;
    height: 1.34rem;
    background-color: $background-color;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ display ]
<<<<<<< HEAD
      padding: {
        left: 20%;
        bottom: 2.19rem;
      }

      // [ skin ]
      height: 4.5rem;
=======
      padding-left: 20%;
>>>>>>> b3666109267378fc0667e4b337114d5c0afb0ef8
    }

    // element
    // `> .breadcrumb > .breadcrumb__text`
    > .breadcrumb__text {
      // [ layout ]
      display: flex;
      margin-top: .59rem;

      // [ skin ]
      font-size: .63rem;
      color: #757575;
      text-decoration: unset;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        margin-top: 1.56rem;

        // [ skin ]
        color: #adacad;
      }

      // modifier
      // `> .breadcrumb > .breadcrumb__text > .breadcrumb__text--link`
      &.breadcrumb__text--link {
        // [ skin ]
        color: #6982c0;
        text-decoration: underline;

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          color: #213262;
        }
      }
    }

    // element
    // `> .breadcrumb > .breadcrumb__arrow`
    > .breadcrumb__arrow {
      // [ layout ]
      margin: {
        top: .9rem;
        left: .26rem;
        right: .26rem;
      }

      // [ skin ]
      width: .23rem;
      height: .375rem;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        margin: {
          top: 1.85rem;
          left: .94rem;
          right: .94rem;
        }
      }
    }
  }
}
