// component
// `> .#{ $block } > .#{ $block }__breadcrumb.breadcrumb`
@mixin breadcrumb ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__breadcrumb`
  // block
  // `> .#{ $block } > .breadcrumb`
  > .#{ $block }__breadcrumb.breadcrumb {
    // [ variable ]
    $small: 600px;
    $medium: 800px;
    $large: 1000px;
    $font-size: 20 / 32 * 1rem;

    // [ dispaly ]
    display: block;

    // [ skin ]
    width: 100%;
    height: auto;
    border: {
      style: solid;
      color: transparent;
      left-width: 16 / 32 * 1rem;
      top-width: 16 / 32 * 1rem;
    }
    background-color: transparent;

    // [ RWD: $small ]
    @media screen and ( min-width: $small ) {
      // [ skin ]
      border: {
        left-width: 40 / 32 * 1rem;
        top-width: 50 / 32 * 1rem;
      }
    }

    // [ RWD: $medium ]
    @media screen and ( min-width: $medium ) {
      // [ skin ]
      border-left-width: 60 / 32 * 1rem;
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ skin ]
      border-left-width: 20vw;
    }

    // element
    // `> .#{ $block } > .breadcrumb > .breadcrumb__link`
    > .breadcrumb__link {
      // [ layout ]
      display: inline-block;

      // [ skin ]
      color: #6982c0;
      font-size: $font-size;
      text-decoration: underline;
      background-color: transparent;

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ skin ]
        color: #213262;
      }
    }

    // element
    // `> .#{ $block } > .breadcrumb > .breadcrumb__arrow`
    > .breadcrumb__arrow {
      // [ variable ]
      $image-width: 6 / 32 * 1rem;
      $image-height: $image-width * 1.6;
      $vertical-align: $font-size - $image-height;

      // [ layout ]
      display: inline-block;
      margin: {
        top: $vertical-align / 2;
        bottom: $vertical-align / 2;
        left: 18 / 32 * 1rem;
        right: 18 / 32 * 1rem;
      }
      vertical-align: middle;

      // [ skin ]
      width: $image-width;
      height: $image-height;
      background-color: transparent;

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ layout ]
        margin: {
          left: 40 / 32 * 1rem;
          right: 40 / 32 * 1rem;
        }
      }
    }

    // element
    // `> .#{ $block } > .breadcrumb > .breadcrumb__text`
    > .breadcrumb__text {
      // [ layout ]
      display: inline-block;

      // [ skin ]
      color: #757575;
      font-size: $font-size;
      background-color: transparent;

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ skin ]
        color: #adacad;
      }
    }

    // [ customization ]
    @content;
  }
}
