// component
// `.#{ $block } > .#{ $block }__entries.entries`
@mixin entries ( $block ) {
  // element
  // `.#{ $block } > .#{ $block }__entries`
  // block
  // `.#{ $block } > .entries`
  > .#{ $block }__entries.entries {
    // [ variables ]
    $large: 475px;

    // [ layout ]
    display: block;
    margin-top: 30 / 32 * 1rem;

    // [ skin ]
    background-color: transparent;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      display: flex;
      margin-top: 50 / 32 * 1rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    // element
    // `> .entries > .entries__entry`
    // block
    // `> .entries > .entry`
    > .entries__entry.entry {
      // [ layout ]
      display: block;
      text-align: center;
      margin: {
        left: auto;
        right: auto;
        bottom: 9 / 32 * 1rem;
      }

      // [ skin ]
      width: 95%;
      min-height: 168 / 32 * 1rem;
      background-color: #ffffff;
      border: {
        top: {
          width: .2rem;
          color: rgba( 0, 0, 0, .1 );
        }
        bottom: {
          width: 1px;
          color: rgba( 0, 0, 0, .1 );
        }
        left: {
          width: 1px;
          color: rgba( 0, 0, 0, .1 );
        }
        right: {
          width: 1px;
          color: rgba( 0, 0, 0, .1 );
        }
        style: solid;
        radius: 6 / 32 * 1rem;
      }

      // [ interaction ]
      &:hover {
        // [ skin ]
        background-color: rgba( 224, 224, 224, .2 );
        cursor: pointer;
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        height: 239 / 32 * 1rem;
        width: 430 / 32 * 1rem;
        margin: {
          left: 0;
          right: 25 / 32 * 1rem;
          bottom: 27 / 32 * 1rem;
        }
      }

      // element
      // `> .entries > .entry > .entry__title`
      > .entry__title {
        // [ layout ]
        display: block;
        text-align: center;
        margin: {
          top: 1.9rem;
          left: auto;
          right: auto;
        }

        // [ skin ]
        font: {
          size: .8rem;
          weight: 700;
        }
        color: black;
        background-color: transparent;
        line-height: 1.1rem;
        white-space: normal;
      }

      // element
      // `> .entries > .entry > .entry__detail`
      > .entry__detail {
        // [ layout ]
        display: block;
        text-align: center;
        margin: {
          top: .3rem;
          left: 1rem;
          right: 1rem;
          bottom: 1.3rem;
        }

        // [ skin ]
        color: #757575;
        background-color: transparent;
        line-height: .8rem;
        font-size: .5rem;
        white-space: normal;

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          margin: {
            left: 2.3rem;
            right: 2.3rem;
          }
        }
      }

      // modifier
      // `> .entries > .entries__entry.entries__entry--color`
      &.entries__entry-- {
        // modifier
        // `> .entries > .entries__entry.entries__entry--red`
        &red {
          // [ skin ]
          border-top-color: #f94970;
        }

        // modifier
        // `> .entries > .entries__entry.entries__entry--green`
        &green {
          // [ skin ]
          border-top-color: #0dc589;
        }

        // modifier
        // `> .entries > .entries__entry.entries__entry--yellow`
        &yellow {
          // [ skin ]
          border-top-color: #faad06;
        }

        // modifier
        // `> .entries > .entries__entry.entries__entry--blue`
        &blue {
          // [ skin ]
          border-top-color: #399dff;
        }

        // modifier
        // `> .entries > .entries__entry.entries__entry--purple`
        &purple {
          // [ skin ]
          border-top-color: #9053ff;
        }

        // modifier
        // `> .entries > .entries__entry.entries__entry--gray`
        &gray {
          // [ skin ]
          border-top-color: #999999;
        }
      }
    }

    // [ customization ]
    @content;
  }
}
