@mixin fixing () {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template: {
    columns: 1fr 80% 1fr;
    rows: 5% 45% 5% 10% 10% 1fr;
    areas:'. . .'
      '. fix-icon .'
      '. . .'
      '. fix-text .'
      '. fix-link .';
  }

  > .logo {
    grid-area: fix-icon;
    width: 100%;

    > .icon__image {
      width: 100%;
    }
  }

  > .caption {
    grid-area: fix-text;
    text-align: center;
    font-size: 36px;
    color: #757575;
  }

  > .fixing__link--home {
    grid-area: fix-link;
    text-align: center;
    font-size: 36px;
    color: #399dff;
  }
}
