$x-small: 480px;
$small: 720px;
$large: 1080px;
$x-large: 1360px;

%address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

%image {
  content: '';
  background: {
    size: .625rem;
    repeat: no-repeat;
  }
  width: .625rem;
  height: .625rem;
  margin-right: .3125rem;
  filter: invert(50%) sepia(19%) saturate(1012%) hue-rotate(185deg) brightness(98%) contrast(89%);
  @media screen and ( max-width: $x-small ) {
    width: .375rem;
    height: .375rem;
    background-size: .375rem;
  }
}

%caption {
  height: .75rem;
  color: #6982c0;
  font: {
    style: normal;
    size: .5rem;
  }
  line-height: 1.5;
  @media screen and ( max-width: $x-small ) {
    font-size: .4375rem;
    line-height: 1.2;
  }
}

body > .footer {
  display: grid;
  grid-template: {
    areas:
      'footer__logo'
      'footer__contact'
      'footer__copyright';
    rows: 1.407fr 1.089fr 1fr;
  }

  $footer-height: 18.25rem;
  background: #213262;
  width: 100%;
  height: $footer-height;

  > .footer__logo.logo {
    display: grid;
    grid: {
      area: footer__logo;
      row-gap: .47rem;
      template: {
        areas:
          'logo__image'
          'logo__caption';
        rows: 1.075fr 1fr;
      }
    }

    > .logo__image {
      grid-area: logo__image;
      align-self: end;
      justify-self: center;
      width: 1.6rem;
      height: auto;
    }

    > .logo__caption.caption {
      display: grid;
      grid: {
        area: logo__caption;
        template: {
          areas:
            'caption__text--large'
            'caption__text--small';
          rows: 1rem 2.3125rem;
        }
      }
      justify-self: center;

      > .caption__text {
        display: grid;
        color: rgba( 255, 255, 255, .87 );

        &.caption__text--large {
          grid-area: caption__text--large;
          justify-self: center;
          font-size: .75rem;
        }

        &.caption__text--small {
          grid-area: caption__text--small;
          font-size: .5rem;
        }
      }
    }
  }

  > .footer__contact.contact {
    display: flex;
    flex-direction: column;
    grid-area: footer__contact;
    font-style: normal;
    align-items: center;
    justify-content: flex-start;

    > .contact__title {
      font-size: .625rem;
      color: #ffffff;
      height: .75rem;
      margin-bottom: .3125rem;
    }

    > .contact__address.address {
      display: flex;
      justify-content: center;
      @extend %caption;
      height: .75rem;
      margin-bottom: .4375rem;

      &::before {
        @extend %image;
        background-image: url( ../../image/icon/location.png );
      }

      > .address__map {
        text-decoration: underline;
      }
    }

    > .contact__mail {
      &::before {
        @extend %image;
        background-image: url( ../../image/icon/envelope.png );
      }
      margin-bottom: .4375rem;
      @extend %caption;
      display: flex;
      justify-content: center;
      text-decoration: underline;
      width: auto;
    }

    > .contact__phone {
      &::before {
        @extend %image;
        background-image: url( ../../image/icon/phone.png );
      }
      @extend %caption;
      display: flex;
      justify-content: center;
      text-decoration: underline;
    }
  }

  > .footer__copyright.copyright {
    display: grid;
    grid: {
      area: footer__copyright;
      template: {
        areas:
          'copyright__title'
          'copyright__facebook';
        rows: 2.09rem;
      }
    }
    font-style: normal;

    > .copyright__title.title {
      grid: {
        area: copyright__title;
        template: {
          areas:
          'title__line--left title__text title__line--right';
          columns: 2fr 1.2fr 2fr;
        }
      }
      display: grid;

      > .title__text {
        grid-area: title__text;
        font-size: .5rem;
        text-align: center;
        color: #ffffff;
      }

      > .title__line {
        height: .375rem;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #6982c0;
      }

    }

    > .copyright__icon.icon {
      display: flex;
      grid-area: copyright__facebook;
      justify-content: center;
      font-style: normal;

      > .icon__caption {
        height: 1rem;
        font-size: .625rem;
        line-height: 1.9;
        font-weight: bolder;
        color: #ffffff;
      }

      > .icon__image.image {
        width: 1rem;
        height: 1rem;
        margin-left: 1.09rem;

        > .image__facebook {
          width: 1rem;
          height: 1rem;
          filter: invert(51%) sepia(59%) saturate(350%) hue-rotate(185deg) brightness(88%) contrast(92%);
        }
      }
    }
  }
  @media screen and ( max-width: $x-small ) {
    > .footer__logo.logo {
      > .logo__caption.caption {
        > .caption__text {
          &.caption__text--large {
            font-size: .5rem;
          }

          &.caption__text--small {
            font-size: .4rem;
            text-align: center;
          }
        }
      }
    }

    > .footer__contact.contact {
      > .contact__title {
        font-size: .5rem;
      }
    }

    > .footer__copyright.copyright {
      > .copyright__title.title {
        grid-template-columns: 1fr 7fr 1fr;

        > .title__text {
          font-size: .4375rem;
        }
      }

      > .copyright__icon.icon {
        > .icon__caption {
          font-size: .5rem;
          line-height: 2.5;
        }
      }
    }
  }
  @media screen and ( min-width: $x-small ) and ( max-width: $small ) {
    > .footer__copyright.copyright {
      > .copyright__title.title {
        grid-template-columns: 1fr 4fr 1fr;

        > .title__text {
          font-size: .5rem;
        }
      }
    }
  }
  @media screen and ( min-width: $small ) and ( max-width: $large ) {
    > .footer__copyright.copyright {
      > .copyright__title.title {
        grid-template-columns: 1fr 1.6fr 1fr;
      }
    }
  }
  @media screen and ( min-width: $large ) and ( max-width: $x-large ) {
    > .footer__copyright.copyright {
      > .copyright__title.title {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
