@import 'components/common/icon';

// component
// `> .#{ $block } > .#{ $block }__footer.footer`
@mixin footer ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__footer`
  // block
  // `> .#{ $block } > .footer`
  > .#{ $block }__footer.footer {
    // [ variable ]
    $large: 600px;

    // [ layout ]
    display: block;

    // [ skin ]
    width: 100%;
    height: auto;
    background: #213262;

    // element
    // `> .#{ $block } > .footer > .footer__logo'
    // block
    // `> .#{ $block } > .footer > .logo`
    > .footer__logo.logo {
      // [ layout ]
      display: block;

      // [ skin ]
      width: 100%;

      // element
      // `> .#{ $block } > .footer > .logo > .logo__link`
      // block
      // `> .#{ $block } > .footer > .logo > .link`
      > .logo__link.link {
        // [ layout ]
        display: block;
        margin: {
          left: auto;
          right: auto;
        }

        // [ skin ]
        width: 52 / 32 * 1rem;
        height: auto;
        border: {
          style: solid;
          color: transparent;
          top-width: 70 / 32 * 1rem;
          bottom-width: 10 / 32 * 1rem;
        }

        // element
        // `> .#{ $block } > .footer > .logo > .link > .link__image`
        > .link__image {
          // [ skin ]
          width: 52 / 32 * 1rem;
          height: auto;
        }
      }

      // element
      // `> .#{ $block } > .footer > .logo > .logo__caption`
      // block
      // `> .#{ $block } > .footer > .logo > .caption`
      > .logo__caption.caption {
        // [ layout ]
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: {
          left: auto;
          right: auto;
        }
        line-height: 32 / 32 * 1rem;

        // [ skin ]
        height: auto;

        // element
        // `> .#{ $block } > .footer > .logo > .caption > .caption__text`
        > .caption__text {
          // [ layout ]
          display: inline;

          // [ skin ]
          color: #c8cad0;
          font: {
            style: normal;
            weight: normal;
          }
        }

        // template
        // `> .#{ $block } > .footer > .logo > .caption.caption--?`
        &.caption-- {
          // modifier
          // `> .#{ $block } > .footer > .logo > .caption.caption--zh-TW`
          &zh-TW {
            // [ skin ]
            width: 80%;

            // [ RWD: $large ]
            @media screen and ( min-width: $large ) {
              // [ skin ]
              width: auto;
            }

            // element
            // `> .#{ $block } > .footer > .logo > .caption.caption--zh-TW > .caption__text`
            > .caption__text {
              // [ skin ]
              font-size: 16 / 32 * 1rem;

              // [ RWD: $large ]
              @media screen and ( min-width: $large ) {
                // [ skin ]
                font-size: 24 / 32 * 1rem;
              }
            }
          }

          // modifier
          // `> .#{ $block } > .footer > .logo > .caption.caption--en-US`
          &en-US {
            // [ skin ]
            width: 90%;

            // element
            // `> .#{ $block } > .footer > .logo > .caption.caption--en-US > .caption__text`
            > .caption__text {
              // [ layout ]
              margin-right: 3 / 32 * 1rem;

              // [ skin ]
              font-size: 12 / 32 * 1rem;

              // [ RWD: $large ]
              @media screen and ( min-width: $large ) {
                // [ layout ]
                margin-right: 6 / 32 * 1rem;

                // [ skin ]
                font-size: 16 / 32 * 1rem;
              }
            }
          }
        }
      }
    }

    // element
    // `> .#{ $block } > .footer > .footer__contact'
    // block
    // `> .#{ $block } > .footer > .contact`
    > .footer__contact.contact {
      // [ layout ]
      display: block;
      margin: {
        top: 50 / 32 * 1rem;
        left: auto;
        right: auto;
      }
      text-align: center;

      // [ skin ]
      width: 80%;

      // element
      // `> .#{ $block } > .footer > .contact > .contact__title`
      > .contact__title {
        // [ layout ]
        display: block;

        // [ skin ]
        color: #ffffff;
        font: {
          size: 16 / 32 * 1rem;
          style: normal;
          weight: normal;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ skin ]
          font-size: 20 / 32 * 1rem;
        }
      }

      // template
      // `> .#{ $block } > .footer > .contact > .contact__?
      %contact__element {
        // [ variable ]
        $font-size: 14 / 32 * 1rem;

        // [ layout ]
        display: block;
        line-height: $font-size * 2;

        // [ skin ]
        height: auto;
        color: #6982c0;
        font: {
          style: normal;
          size: $font-size;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ skin ]
          font-size: 16 / 32 * 1rem;
        }

        // [ before ]
        &::before {
          // [ layout ]
          display: inline-block;
          margin-right: 6 / 32 * 1rem;
          vertical-align: middle;

          // [ skin ]
          width: $font-size * 1.2;
          height: $font-size * 1.2;
          background: {
            position: center;
            size: $font-size * 1.2;
            repeat: no-repeat;
          }
          content: '';
          filter:
            invert( 50% )
            sepia( 19% )
            saturate( 1012% )
            hue-rotate( 185deg )
            brightness( 98% )
            contrast( 89% );
        }
      }

      // element
      // `> .#{ $block } > .footer > .contact > .contact__address`
      // block
      // `> .#{ $block } > .footer > .contact > .address`
      > .contact__address.address {
        // [ template ]
        @extend %contact__element;

        // [ layout ]
        margin-top: 10 / 32 * 1rem;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__location();
        }

        // element
        // `> .#{ $block } > .footer > .contact > .address > .address__map`
        > .address__map {
          // [ skin ]
          text-decoration: underline;
        }
      }

      // element
      // `> .#{ $block } > .footer > .contact > .contact__email`
      > .contact__email {
        // [ template ]
        @extend %contact__element;

        // [ layout ]
        margin-top: 14 / 32 * 1rem;
        word: {
          break: break-all;
          wrap: break-word;
        }

        // [ skin ]
        text-decoration: underline;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__envelope();
        }
      }

      // element
      // `> .#{ $block } > .footer > .contact > .contact__phone`
      > .contact__phone {
        // [ template ]
        @extend %contact__element;

        // [ layout ]
        margin-top: 14 / 32 * 1rem;
        word: {
          break: break-all;
          wrap: break-word;
        }

        // [ skin ]
        text-decoration: underline;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__phone();
        }
      }
    }

    // element
    // `> .#{ $block } > .footer > .footer__copyright`
    // block
    // `> .#{ $block } > .footer > .copyright`
    > .footer__copyright.copyright {
      // [ position ]
      position: relative;

      // [ layout ]
      display: block;
      margin-top: 50 / 32 * 1rem;
      text-align: center;

      // [ skin ]
      width: 100%;

      // element
      // `> .#{ $block } > .footer > .copyright > .copyright__title`
      > .copyright__title {
        // [ position ]
        position: relative;
        z-index: 1;

        // [ layout ]
        display: inline-block;
        margin: {
          left: auto;
          right: auto;
        }

        // [ skin ]
        max-width: 300 / 32 * 1rem;
        width: 80%;
        border: {
          color: #213262;
          style: solid;
          left-width: 10 / 32 * 1rem;
          right-width: 10 / 32 * 1rem;
        }
        color: #ffffff;
        background-color: #213262;
        font: {
          size: 14 / 32 * 1rem;
          style: normal;
          weight: normal;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ skin ]
          font-size: 16 / 32 * 1rem;
          max-width: 340 / 32 * 1rem;
        }
      }

      // element
      // `> .#{ $block } > .footer > .copyright > .copyright__line`
      > .copyright__line {
        // [ position ]
        position: absolute;
        top: 65%;
        left: 0;
        z-index: 0;

        // [ layout ]
        display: inline-block;

        // [ skin ]
        width: 100%;
        height: 1 / 32 * 1rem;
        color: #6982c0;
        background-color: #6982c0;
      }
    }

    // element
    // `> .#{ $block } > .footer > .footer__social-media`
    // block
    // `> .#{ $block } > .footer > .social-media
    > .footer__social-media.social-media {
      // [ layout ]
      display: block;
      margin-top: 30 / 32 * 1rem;
      text-align: center;

      // [ skin ]
      width: 100%;
      height: auto;
      border-bottom: 1rem solid #213262;

      // element
      // `> .#{ $block } > .footer > .social-media > .social-media__title`
      > .social-media__title {
        // [ layout ]
        display: inline-block;
        margin: {
          left: 15 / 32 * 1rem;
          right: 15 / 32 * 1rem;
        }

        // [ skin ]
        height: auto;
        color: #ffffff;
        font: {
          size: 16 / 32 * 1rem;
          weight: normal;
          style: normal;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ skin ]
          font-size: 20 / 32 * 1rem;
        }
      }

      // element
      // `> .#{ $block } > .footer > .social-media > .social-media__link`
      // block
      // `> .#{ $block } > .footer > .social-media > .link`
      > .social-media__link.link {
        // [ layout ]
        display: inline-block;
        margin: {
          left: 15 / 32 * 1rem;
          right: 15 / 32 * 1rem;
        }

        // [ skin ]
        width: 1rem;
        height: 1rem;

        // element
        // `> .#{ $block } > .footer > .social-media > .link > .link__image`
        > .link__image {
          // [ layout ]
          vertical-align: middle;

          // [ skin ]
          width: 1rem;
          height: 1rem;
          filter:
            invert( 51% )
            sepia( 59% )
            saturate( 350% )
            hue-rotate( 185deg )
            brightness( 88% )
            contrast( 92% );
        }
      }
    }
  }
}
