@import 'components/common/icon';

// block
// `body > .header`
body > .header {
  // [ variable ]
  $xxxx-small: 380px;
  $xxx-small: 480px;
  $xx-small: 560px;
  $x-small: 640px;
  $small: 720px;
  $medium: 800px;
  $large: 880px;
  $x-large: 960px;
  $xx-large: 1040px;
  $xxx-large: 1120px;
  $header-height: 3.2rem;

  // [ layout ]
  display: grid;
  grid-template: {
    areas: 'header__logo header__menu';
    columns: 4fr 1fr;
  }

  // [ skin ]
  width: 100%;
  height: $header-height;
  background: rgba( 255, 255, 255, .95 );

  // [ RWD: $xxx-large ]
  @media screen and ( min-width: $xxx-large ) {
    // [ layout ]
    grid: {
      template: {
        areas:
          'header__logo header__menu header__calender header__language'
          'header__logo header__menu header__login header__search';
        columns: 38.9vw 42.31vw 13.19vw 5.59vw;
        rows: 2.63rem 1.97rem;
      }
    }

    // [ skin ]
    height: 4.59rem;
  }

  // element
  // `body > .header > .header__logo`
  // block
  // `body > .header > .logo`
  > .header__logo.logo {
    // [ layout ]
    display: grid;
    grid: {
      area: header__logo;
      template-areas: '. logo__image logo__caption';
      column-gap: .4rem;
    }
    align-items: center;

    // [ skin ]
    height: $header-height;

    // [ RWD: $xxx-large ]
    @media screen and ( min-width: $xxx-large ) {
      // [ layout ]
      justify-content: flex-start;
      padding: {
        left: 2.94rem;
        top: 1.6rem;
      }
    }

    // element
    // `body > .header > .logo > .logo__image`
    > .logo__image {
      // [ layout ]
      grid-area: logo__image;
      justify-self: end;

      // [ skin ]
      width: 1.6rem;
      height: auto;
    }

    // element
    // `body > .header > .logo > .logo__caption`
    // block
    // `body > .header > .logo > .caption`
    > .logo__caption.caption {
      // [ layout ]
      display: grid;
      grid: {
        area: logo__caption;
        template: {
          areas:
            'caption__text--large'
            'caption__text--small';
          rows: 1fr 1fr;
        }
      }
      align-items: center;
      justify-self: start;

      // element
      // `body > .header > .logo > .caption > .caption__text`
      > .caption__text {
        // [ layout ]
        display: inline-block;

        // modifier
        // `body > .header > .logo > .caption > .caption__text > .caption__text--large`
        &.caption__text--large {
          // [ layout ]
          grid-area: caption__text--large;

          // [ skin ]
          font-size: .5rem;
        }

        // modifier
        // `body > .header > .logo > .caption > .caption__text > .caption__text--small`
        &.caption__text--small {
          // [ layout ]
          grid-area: caption__text--small;

          // [ skin ]
          font-size: .4rem;
        }
      }
    }
  }

  // element
  // `body > .header > .header__menu`
  > .header__menu {
    grid-area: header__menu;
    background-color: rgba( 0, 0, 0, 0 );
    @media screen and ( min-width: $xxx-large ) {
      display: none;
    }
  }

  // element
  // `body > .header > .header__calendar`
  // block
  // `body > .header > .calendar`
  > .header__calendar.calender {
    // [ layout ]
    display: none;

    // [ RWD: $xxx-large ]
    @media screen and ( min-width: $xxx-large ) {
      // [ layout ]
      display: flex;
      grid-area: header__calender;
      justify-self: flex-end;
      margin-top: .75rem;

      // [ skin ]
      height: .75rem;
      width: .75rem;

      // element
      // `body > .header > .calendar > .calendar__image`
      > .calendar__image {
        // [ skin ]
        height: .75rem;
        width: .75rem;
      }
    }
  }

  // element
  // `body > .header > .header__language`
  // block
  // `body > .header > .language`
  > .header__language.language {
    // [ layout ]
    display: none;

    // [ RWD: $xxx-large ]
    @media screen and ( min-width: $xxx-large ) {
      // [ layout ]
      display: inline-block;
      flex-direction: row;
      grid-area: header__language;
      margin-left: .75rem;
      margin-top: .75rem;

      // [ skin ]
      height: .75rem;
      width: .75rem;

      // element
      // `body > .header > .language > .language__button`
      // block
      // `body > .header > .language > .button`
      > .language__button.button {
        // [ layout ]
        display: flex;

        // [ skin ]
        height: .75rem;
        width: .75rem;
        cursor: pointer;
        background-color: #ffffff;

        // element
        // `body > .header > .language > .button > .button__image`
        > .button__image {
          // [ skin ]
          height: .75rem;
          width: .75rem;
        }
      }

      // element
      // `body > .header > .language > .language__dropdown`
      // block
      // `body > .header > .language > .dropdown`
      > .language__dropdown.dropdown {
        // [ layout ]
        display: none;
        position: relative;
        flex-direction: column;
        top: .1rem;
        left: -3.13rem;
        align-content: center;
        justify-content: center;
        z-index: 1;

        // [ skin ]
        height: 2.56rem;
        width: 3.88rem;
        background-color: #1a284d;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);

        //modifier
        // `body > .header > .language > .language__dropdown > .language__dropdown--active`
        &.language__dropdown--active {
          // [ layout ]
          display: flex;
        }

        // element
        // `body > .header > .language > .dropdown > .dropdown__item`
        // block
        // `body > .header > .language > .dropdown > .item`
        > .dropdown__item.item {
          // [ layout ]
          display: flex;
          align-items: center;
          justify-content: center;

          // [ skin ]
          height: 1.28rem;
          width: 100%;

          // element
          // `body > .header > .language > .dropdown > .dropdown__item::before`
          &::before {
            // [ layout ]
            background: {
              size: .66rem;
              repeat: no-repeat;
            }
            margin-right: .5rem;

            // [ skin ]
            content: '';
            width: .66rem;
            height: .66rem;
          }

          // modifier
          // `body > .header > .language > .dropdown > .dropdown__item > .dropdown__item--zh-TW::before`
          &.dropdown__item--zh-TW::before {
            // [ icon ]
            @include icon__flag-zh-TW ();
          }

          // modifier
          // `body > .header > .language > .dropdown > .dropdown__item > .dropdown__item--en-US::before`
          &.dropdown__item--en-US::before {
            // [ icon ]
            @include icon__flag-en-US ();
          }

          // element
          // `body > .header > .language > .dropdown > .item > .item__link`
          > .item__link {
            // [ skin ]
            font-size: .5rem;
            color: #ffffff;
            width: 50%;
          }
        }
      }
    }
  }

  // element
  // `body > .header > .header__login`
  > .header__login {
    // [ layout ]
    display: none;

    // [ RWD: $xxx-large ]
    @media screen and ( min-width: $xxx-large ) {
      // [ layout ]
      display: flex;
      grid-area: header__login;
      align: {
        self: flex-start;
        items: center;
      }
      justify: {
        self: flex-end;
        items: center;
      }

      // [ skin ]
      width: 105px;
      height: 36px;
      background-color: #213262;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 0 2px 0 rgba(0, 0, 0, .12);
      font: {
        size: 14px;
        weight: 500;
      }
      color: #ffffff;

      // element
      // `body > .header > .header__login::before`
      &::before {
        // [ layout ]
        margin: {
          left: .61rem;
          right: .45rem;
        }
        background: {
          size: .66rem;
          repeat: no-repeat;
        }

        // [ skin ]
        content: '';
        width: .66rem;
        height: .66rem;
        filter:
          invert(100%)
          sepia(0%)
          saturate(1%)
          hue-rotate(49deg)
          brightness(101%)
          contrast(101%);

        // [ icon ]
        @include icon__user();
      }
    }
  }

  // element
  // `body > .header > .header__search`
  // block
  // `body > .header > .search`
  .header__search.search {
    // [ layout ]
    display: none;

    // [ RWD: $xxx-large ]
    @media screen and ( min-width: $xxx-large ) {
      // [ layout ]
      display: inline-block;
      flex-direction: row;
      grid-area: header__search;
      margin-left: .75rem;

      // [ skin ]
      height: .75rem;
      width: .75rem;

      // element
      // `body > .header > .search > .search__button`
      // block
      // `body > .header > .search > .button`
      > .search__button.button {
        // [ layout ]
        display: flex;

        // [ skin ]
        height: .75rem;
        width: .75rem;
        background-color: #ffffff;
        cursor: pointer;

        // element
        // `body > .header > .search > .button > .button__image`
        > .button__image {
          // [ skin ]
          height: .75rem;
          width: .75rem;
        }
      }

      // element
      // `body > .header > .search > .search__dropdown`
      // block
      // `body > .header > .search > .dropdown`
      > .search__dropdown.dropdown {
        // [ layout ]
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        // [ skin ]
        height: 4.6rem;
        width: 100vw;
        background-color: #ffffff;

        // modifier
        // `body > .header > .search > .search__dropdown > .search__dropdown--active`
        &.search__dropdown--active {
          // [ layout ]
          display: flex;
        }

        // element
        // `body > .header > .search > .dropdown > .dropdown__form`
        // block
        // `body > .header > .search > .dropdown > .form`
        > .dropdown__form.form {
          // [ layout ]
          display: flex;

          // [ skin ]
          height: 100%;
          width: 93%;
          background-color: #ffffff;

          // element
          // `body > .header > .search > .dropdown > .form > .form__input`
          > .form__input {
            // [ layout ]
            z-index: 1;

            // [ skin ]
            height: 100%;
            width: 97%;
            font-size: 1.5rem;
            background-color: #ffffff;
            margin-left: 1.87rem;

            &::placeholder {
              color: rgba( 0, 0, 0, .5 );
            }
          }

          // element
          // `body > .header > .search > .dropdown > .form > .form__submit`
          > .form__submit {
            // [ layout ]
            background: {
              size: contain;
              repeat: no-repeat;
              color: #ffffff;
              position: center;
            }
            margin-right: 1%;

            // [ skin ]
            cursor: pointer;
            width: 2%;
            height: auto;

            // [ icon ]
            @include icon__search ();
          }
        }

        // element
        // `body > .header > .search > .dropdown > .dropdown__cancel`
        > .dropdown__cancel {
          // [ layout ]
          margin-left: 2%;

          // [ skin ]
          height: 100%;
          background-color: #ffffff;
          cursor: pointer;
          font-size: 1.3rem;
        }
      }
    }
  }

  // element
  // `body > .header > .header__nav`
  // block
  // `body > .header > .nav`
  > .header__nav.nav {
    display: none;
    background-color: #213262;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
    grid-area: header__nav;

    &:hover {
      display: flex;
    }
  }

  > .header__navigation.navigation {
    display: grid;
    grid-template: {
      areas:
        'navigation__search   navigation__cancel'
        'navigation__list     navigation__list'
        'navigation__login    navigation__login'
        'navigation__calendar navigation__calendar'
        'navigation__language navigation__language';
      columns: 16fr 3fr;
      rows: 2.05rem min-content repeat( 2, 1.56rem ) min-content;
    }
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: left .5s;
    overflow-y: auto;
    background-color: #213262;

    &.header__navigation--active {
      left: 0;
    }
    @media screen and ( min-width: $xxx-small ) {
      width: 80%;

      &.header__navigation--active {
        left: 20%;
      }
    }
    @media screen and ( min-width: $xx-small ) {
      width: 75%;

      &.header__navigation--active {
        left: 25%;
      }
    }
    @media screen and ( min-width: $x-small ) {
      width: 70%;

      &.header__navigation--active {
        left: 30%;
      }
    }
    @media screen and ( min-width: $small ) {
      width: 65%;

      &.header__navigation--active {
        left: 35%;
      }
    }
    @media screen and ( min-width: $medium ) {
      width: 60%;

      &.header__navigation--active {
        left: 40%;
      }
    }
    @media screen and ( min-width: $large ) {
      width: 55%;

      &.header__navigation--active {
        left: 45%;
      }
    }
    @media screen and ( min-width: $x-large ) {
      width: 50%;

      &.header__navigation--active {
        left: 50%;
      }
    }
    @media screen and ( min-width: $xx-large ) {
      width: 45%;

      &.header__navigation--active {
        left: 55%;
      }
    }
    @media screen and ( min-width: $xxx-large ) {
      grid-area: header__menu;
      display: block;
      position: unset;
      width: 100%;
      background-color: #ffffff;
      overflow-y: unset;
      z-index: unset;
    }

    > .navigation__search.search {
      grid: {
        area: navigation__search;
        template: {
          areas: '. search__input . search__submit .';
          columns: .37rem auto .37rem .4rem .37rem;
          rows: 1.31rem;
        }
      }
      background-color: #1d2d56;
      display: grid;
      margin: {
        top: .37rem;
        left: .56rem;
        bottom: .37rem;
      }
      @media screen and ( min-width: $xxx-large ) {
        display: none;
      }

      > .search__input {
        grid-area: search__input;
        background-color: inherit;
        font-size: .5rem;
        color: #ffffff;

        &::placeholder {
          color: rgba( 255, 255, 255, .5 );
        }
      }

      > .search__submit {
        grid-area: search__submit;
        background: {
          position: center;
          repeat: no-repeat;
          size: contain;
          color: inherit;
        }
        filter:
          invert(100%)
          sepia(0%)
          saturate(1%)
          hue-rotate(49deg)
          brightness(101%)
          contrast(101%);
        @include icon__search();
      }
    }

    > .navigation__cancel {
      grid-area: navigation__cancel;
      background-color: inherit;
      color: #ffffff;
      @media screen and ( min-width: $xxx-large ) {
        display: none;
      }
    }

    > .navigation__list.list {
      grid-area: navigation__list;
      @media screen and ( min-width: $xxx-large ) {
        display: flex;
        height: 4.6rem;
      }

      > .list__item.item {
        $item-height: 1.56rem;
        border-top: .01rem solid rgba( 255, 255, 255, .5 );
        @media screen and ( min-width: $xxx-large ) {
          display: inline-block;
          position: relative;
          width: calc( 100% / 6 );
          height: 2.47rem;
          margin-top: 2.13rem;

          &:hover {
            > .item__dropdown.dropdown {
              display: flex;
            }

            > .item__link {
              background-color: rgba(196, 196, 196, .3);
            }
          }
        }

        /*grid-template: {
          areas:
            'item__link     item__switch'
            'item__dropdown item__dropdown';
          columns: 1fr 3fr;
          rows: $item-height auto;
        }*/

        &:first-of-type {
          grid-template: {
            areas: 'item__link';
            columns: 1fr;
            rows: $item-height;
          }
        }

        > .item__link {
          //grid-area: item__link;
          color: rgba( 255, 255, 255, .5 );
          font-size: .5rem;
          height: $item-height;
          margin: {
            left: .93rem;
            top: .4rem;
          }
          display: inline-block;
          @media screen and ( min-width: $xxx-large ) {
            // [ layout ]
            display: flex;
            margin: 0;
            justify-content: center;
            align-items: center;

            // [ skin ]
            font-size: .5rem;
            height: 1.69rem;
            width: 100%;
            background-color: rgba( 0, 0, 0, 0 );
            text-decoration: none;
            line-height: 1.5;
            color: #adacad;
          }
        }

        > .item__switch.switch {
          //grid-area: item__switch;
          background-color: transparent;
          display: inline-block;
          height: $item-height;
          padding-left: 60%;
          @media screen and ( min-width: $medium ) {
            padding-left: 70%;
          }
          @media screen and ( min-width: $xxx-large ) {
            display: none;
          }

          > .switch__icon {
            border: {
              color: rgba( 255, 255, 255, .5 );
              style: solid;
              bottom-width: .1rem;
              right-width: .1rem;
            }
            transform: rotate( -45deg );
            transition: transform .5s;
            width: .44rem;
            height: .44rem;
            display: inline-block;
          }

          &.item__switch--active {
            > .switch__icon {
              transform: rotate( 45deg );
            }
          }
        }

        > .item__dropdown.dropdown {
          grid-area: item__dropdown;
          background-color: #1d2d56;
          color: rgba( 255, 255, 255, .5 );
          font-size: .5rem;
          display: block;
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: all .5s;
          @media screen and ( min-width: $xxx-large ) {
            // [ layout ]
            display: none;
            position: relative;
            top: .78rem;
            left: -38.9vw;
            align-content: center;
            justify-content: center;

            // [ skin ]
            background-color: #213262;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
            width: 100vw;
            height: 2.53rem;
            opacity: 100;
            overflow: unset;
            max-height: none;

            &.item__dropdown--about {
              // [ layout ]
              left: calc( -38.9vw - 100% );
            }

            // modifier
            // `body > .header > .menus > .list > .item > .link > .link__dropdown > .link__dropdown--research`
            &.item__dropdown--research {
              // [ layout ]
              left: calc( -38.9vw - 200% );
            }

            // modifier
            // `body > .header > .menus > .list > .item > .link > .link__dropdown > .link__dropdown--student`
            &.item__dropdown--student {
              // [ layout ]
              left: calc( -38.9vw - 300% );
            }

            // modifier
            // `body > .header > .menus > .list > .item > .link > .link__dropdown > .link__dropdown--announcement`
            &.item__dropdown--announcement {
              // [ layout ]
              left: calc( -38.9vw - 400% );
            }

            // modifier
            // `body > .header > .menus > .list > .item > .link > .link__dropdown > .link__dropdown--resource`
            &.item__dropdown--resource {
              // [ layout ]
              left: calc( -38.9vw - 500% );
            }
          }

          > .dropdown__item.item {
            border-left: .01rem solid rgba( 255, 255, 255, .5 );
            margin-left: 33%;
            padding: {
              top: .78rem;
              left: .93rem;
            }
            @media screen and ( min-width: $xxx-large ) {
              width: 3.59rem;
              padding: 0;
              margin: 0;
              border: 0;

              &:hover {
                // element
                // `body > .header > .menus > .list > .item > .link > .subMenus > .item > .item__link`
                > .item__link {
                  // [ skin ]
                  background-color: #1d2d56;
                }
              }
            }

            &:first-of-type {
              padding-top: 0;
            }

            > .item__link {
              // [ layout ]
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: .44rem;

              // [ skin ]
              height: 1.69rem;
              width: 100%;
              font-size: .5rem;
              line-height: 1.5;
              letter-spacing: normal;
              color: #ffffff;
            }
          }

          &.item__dropdown--open {
            opacity: 1;
            max-height: min-content;
            padding: {
              top: .56rem;
              bottom: .56rem;
            }
          }
        }
      }
    }

    > .navigation__login.login {
      grid-area: navigation__login;
      height: 1.56rem;
      color: rgba( 255, 255, 255, .5 );
      font-size: .5rem;
      padding: {
        left: .93rem;
        top: .4rem;
      }
      border-top: .01rem solid rgba( 255, 255, 255, .5 );
      @media screen and ( min-width: $xxx-large ) {
        display: none;
      }

      > .login__image {
        width: .625rem;
        filter:
          invert( 100% )
          opacity( 50% );
        margin-right: .625rem;
      }
    }

    > .navigation__calendar.calendar {
      grid-area: navigation__calendar;
      height: 1.56rem;
      color: rgba( 255, 255, 255, .5 );
      font-size: .5rem;
      padding: {
        left: .93rem;
        top: .4rem;
      }
      border-top: .01rem solid rgba( 255, 255, 255, .5 );
      @media screen and ( min-width: $xxx-large ) {
        display: none;
      }

      > .calendar__image {
        width: .625rem;
        filter:
          invert( 100% )
          opacity( 50% );
        margin-right: .625rem;
      }
    }

    > .navigation__language.language {
      grid: {
        area: navigation__language;
        template: {
          areas:
            'language__image    language__text      language__switch'
            'language__dropdown language__dropdown  language__dropdown';
          columns: .75rem 2rem 75%;
          rows: 1.56rem min-content;
        }
        column-gap: .625rem;
      }
      display: grid;
      background-color: inherit;
      border-top: .01rem solid rgba( 255, 255, 255, .5 );
      @media screen and ( min-width: $xxx-large ) {
        display: none;
      }

      > .language__image {
        grid-area: language__image;
        width: .75rem;
        margin: {
          left: .93rem;
          top: .4rem;
        }
      }

      > .language__text {
        grid-area: language__text;
        font: {
          size: .5rem;
          weight: normal;
        }
        color: rgba( 255, 255, 255, .5 );
        margin: {
          left: .93rem;
          top: .4rem;
        }
      }

      > .language__switch.switch {
        grid-area: language__switch;
        background-color: inherit;
        height: 1.56rem;
        border-top: .01rem solid rgba( 255, 255, 255, .5 );

        > .switch__icon {
          border: {
            color: rgba( 255, 255, 255, .5 );
            style: solid;
            bottom-width: .1rem;
            right-width: .1rem;
          }
          transform: rotate( -45deg );
          transition: transform .5s;
          width: .44rem;
          height: .44rem;
          display: inline-block;
          margin-left: 40%;
          @media screen and ( min-width: $xxxx-small ) {
            margin-left: 45%;
          }
          @media screen and ( min-width: $medium ) {
            margin-left: 72%;
          }
        }

        &.language__switch--active {
          .switch__icon {
            transform: rotate( 45deg );
          }
        }
      }

      > .language__dropdown.dropdown {
        grid-area: language__dropdown;
        background-color: #1d2d56;
        color: rgba( 255, 255, 255, .5 );
        font-size: .5rem;
        display: block;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all .5s;

        > .dropdown__item.item {
          padding: {
            left: .93rem;
            top: .2rem;
            bottom: .2rem;
          }

          > .item__link.link {
            > .link__image {
              width: .75rem;
              vertical-align: middle;
            }

            > .link__text {
              margin-left: .625rem;

              &.link__text--active {
                color: #ffffff;
              }
            }
          }
        }

        &.language__dropdown--open {
          opacity: 1;
          max-height: min-content;
        }
      }
    }
  }

  /*
  @media screen and ( min-width: $xxx-large ) {
    > .header__navigation.navigation {
      width: 40%;

      &.header__navigation--active {
        left: 60%;
      }
    }
  }*/
}
