@import 'components/common/font';
@import 'components/common/icon';

// components
// `> .#{ $block } > .header`
@mixin header--large ( $block ) {
  // [ variable ]
  $large: 1305px;

  .headerSpace--large {
    background-color: white;
    height: font__px-to-rem( 70 );
    top: 0;
    display: block;
    @media screen and ( max-width: $large ) {
      display: none;
    }
  }

  // element
  // `> .#{ $block } > .#{ $block }__header`
  // block
  // `> .#{ $block } > .header.header--large`
  > .#{ $block }__header.header.header--large {
    // [ variable ]
    $large: 1305px;
    transition: top .5s;
    @media screen and ( max-width: $large ) {
      display: none;
    }
    @media screen and ( min-width: $large ) {
      // [ variable ]
      $logo-width: font__px-to-rem( 58 );
      $logo-height: font__px-to-rem( 44 );
      $caption-title-font-size: font__px-to-rem( 16 );
      $caption-subtitle-font-size: font__px-to-rem( 12 );
      $caption-gap: font__px-to-rem( 4 );

      // [ position ]
      // This style is set to put `.header__menu` on the right of screen.
      position: fixed;
      z-index: 1;
      top: font__px-to-rem( 0 );

      // [ layout ]
      display: block;
      text-align: left;
      line-height: 0;

      // [ skin ]
      width: 100%;
      height: font__px-to-rem( 70 );
      background-color: #ffffff;
      padding-right: font__px-to-rem( 10 );
      box-shadow: font__px-to-rem( 0 ) font__px-to-rem( 1 ) font__px-to-rem( 2 ) rgba( 0, 0, 0, .25 );

      &.header--active {
        // [ position ]
        top: font__px-to-rem( -70 );
      }

      &.header--fixed {
        position: fixed;
      }

      // element
      // `> .#{ $block } > .header.header--large > .header__logo`
      // block
      // `> .#{ $block } > .header.header--large > .logo`
      > .header__logo.logo {
        // [ layout ]
        display: inline-block;
        margin: {
          top: ( font__px-to-rem( 70 ) - $logo-height ) / 2;
          bottom: ( font__px-to-rem( 70 ) - $logo-height ) / 2;
          left: font__px-to-rem( 10 );
          right: 0;
        }
        vertical-align: top;

        // [ skin ]
        width: $logo-width;
        height: $logo-height;
        background-color: transparent;

        // element
        // `> .#{ $block } > .header.header--large > .logo > .logo__image`
        > .logo__image {
          // [ layout ]
          display: inline-block;
          vertical-align: top;

          // [ skin ]
          width: 100%;
          height: auto;
          background-color: transparent;
        }
      }

      // element
      // `> .#{ $block } > .header.header--large > .header__caption`
      // block
      // `> .#{ $block } > .header.header--large > .caption`
      > .header__caption.caption {
        // [ layout ]
        display: inline-block;
        vertical-align: top;
        margin: {
          top: ( font__px-to-rem( 70 ) - $logo-height ) / 2;
          bottom: ( font__px-to-rem( 70 ) - $logo-height ) / 2;
          left: font__px-to-rem( 12 );
        }

        // [ skin ]
        width: auto;
        height: $logo-height;
        padding: {
          top: ( $logo-height - $caption-title-font-size - $caption-subtitle-font-size - $caption-gap ) / 2;
          bottom: ( $logo-height - $caption-title-font-size - $caption-subtitle-font-size - $caption-gap ) / 2;
        }
        background-color: transparent;

        // element
        // `> .#{ $block } > .header.header--large > .logo > .caption > .caption__title`
        // block
        // `> .#{ $block } > .header.header--large > .logo > .caption > .title`
        > .caption__title.title {
          // [ layout ]
          display: block;
          margin-bottom: $caption-gap;
          text-align: left;
          line-height: $caption-title-font-size;

          // [ skin ]
          width: auto;
          height: $caption-title-font-size;
          color: #212121;
          background-color: transparent;

          // element
          // `> .#{ $block } > .header.header--large > .logo > .caption > .title > .title__text`
          > .title__text {
            // [ layout ]
            display: inline-block;
            vertical-align: top;
            line-height: $caption-title-font-size;

            // [ skin ]
            width: auto;
            height: $caption-title-font-size;
            background-color: transparent;
            font: {
              size: $caption-title-font-size;
              style: normal;
              weight: bold;
            }
          }
        }

        // element
        // `> .#{ $block } > .header.header--large > .logo > .caption > .caption__subtitle`
        // block
        // `> .#{ $block } > .header.header--large > .logo > .caption > .subtitle`
        > .caption__subtitle.subtitle {
          // [ layout ]
          display: block;
          text-align: left;
          line-height: $caption-subtitle-font-size;

          // [ skin ]
          width: auto;
          height: $caption-subtitle-font-size;
          color: #212121;
          background-color: transparent;

          // element
          // `> .#{ $block } > .header.header--large > .logo > .caption > .subtitle > .subtitle__text`
          > .subtitle__text {
            // [ layout ]
            display: inline-block;
            vertical-align: top;
            line-height: $caption-subtitle-font-size;
            word-spacing: font__px-to-rem( 3 );

            // [ skin ]
            width: auto;
            height: $caption-subtitle-font-size;
            border: {
              color: transparent;
              style: solid;
              right-width: font__px-to-rem( 3 );
            }
            background-color: transparent;
            font: {
              size: $caption-subtitle-font-size;
              style: normal;
              weight: normal;
            }
          }
        }
      }

      // element
      // `> .#{ $block } > .header.header--large > .header__menu`
      > .header__menu {
        // [ position ]
        position: absolute;
        right: font__px-to-rem( 20 );
        top: 0;

        // [ layout ]
        display: none;
        margin: {
          top: ( $logo-height - font__px-to-rem( 17 ) ) / 2 + font__px-to-rem( 26 );
          bottom: ( $logo-height - font__px-to-rem( 17 ) ) / 2 + font__px-to-rem( 26 );
          left: font__px-to-rem( 12 );
          right: font__px-to-rem( 12 );
        }
        line-height: 0;

        // [ skin ]
        width: font__px-to-rem( 28 );
        height: font__px-to-rem( 17 );
        background-color: transparent;

        // [ before & after ]
        // The look of these elements should be three parallel horizontal lines.
        &::before, &::after {
          // [ layout ]
          display: inline-block;
          vertical-align: top;

          // [ skin ]
          width: 100%;
          border: {
            color: #757575;
            style: solid;
          }
          background-color: transparent;
          content: '';
        }

        // [ before ]
        &::before {
          // [ skin ]
          height: font__px-to-rem( 10 );
          border: {
            top-width: font__px-to-rem( 3 );
            bottom-width: font__px-to-rem( 3 );
          }
        }

        // [ after ]
        &::after {
          // [ skin ]
          height: font__px-to-rem( 7 );
          border-bottom-width: font__px-to-rem( 3 );
        }
      }

      // element
      // `> .#{ $block } > .header.header--large > .header__navigation`
      // block
      // `> .#{ $block } > .header.header--large > .navigation`
      > .header__navigation.navigation {
        // [ variable ]
        $border-height: font__px-to-rem( 20 );
        $item-width: font__px-to-rem( 320 );
        $item-height: font__px-to-rem( 50 ) + $border-height;
        $font-size: font__px-to-rem( 16 );

        // [ position ]
        z-index: 2;

        // [ layout ]
        display: inline-block;
        overflow-y: visible;

        // [ skin ]
        width: auto;
        background-color: transparent;
        height: 100%;

        // [ animation ]
        transition: right .5s;

        // modifier
        // `> .#{ $block } > .header.header--large > .header__navigation > .header__navigation--active`
        &.header__navigation--active {
          // [ position ]
          right: 0;
          left: 0;

          // [ layout ]
          display: inline-block;

          // [ skin ]
          width: auto;
        }

        // element
        // `> .#{ $block } > .header.header--large > .navigation > .navigation__list`
        // block
        // `> .#{ $block } > .header.header--large > .navigation > .list`
        > .navigation__list.list {
          // [ position ]
          position: static;

          // [ layout ]
          display: inline-block;
          margin-top: font__px-to-rem( 8.7 );

          // [ skin ]
          width: 100%;
          height: font__px-to-rem( 70 - 26 );

          // element
          // `> .#{ $block } > .header.header--large > .navigation > .list > .list__item`
          // block
          // `> .#{ $block } > .header.header--large > .navigation > .list > .item`
          > .list__item.item {
            // [ position ]
            // This style is set to make `.item__switch` overlap other elements.
            position: static;
            z-index: 3;

            // [ layout ]
            display: inline-block;
            text-align: left;
            margin-top: font__px-to-rem( 0 );

            // [ skin ]
            width: auto;
            height: font__px-to-rem( 54 + 26 );
            border: {
              top: 0;
              bottom: font__px-to-rem( 26 ) solid transparent;
            }
            background-color: transparent;

            // [ interaction ]
            &:hover {
              // [ skin ]
              cursor: pointer;

              // element
              // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .item__link`
              > .item__link {
                // [ skin ]
                background-color: #ededed;
              }

              // element
              // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .item__dropdown`
              // block
              // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .dropdown`
              > .item__dropdown.dropdown {
                // [ skin ]
                background-color: #213262;
                opacity: 1;
                visibility: visible;
              }
            }

            // element
            // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .item__link`
            > .item__link {
              // [ position ]
              // This style is set to put `.item__link` above `.item__switch`.
              position: relative;
              z-index: 5;

              // [ layout ]
              display: inline-block;
              vertical-align: top;
              line-height: $font-size;
              text-align: center;

              // [ skin ]
              width: auto;
              min-width: font__px-to-rem( 87 );
              height: font__px-to-rem( 54 );
              padding: {
                top: ( font__px-to-rem( 54 ) - $font-size ) / 2;
                bottom: ( font__px-to-rem( 24 ) - $font-size ) / 2;
                left: font__px-to-rem( 0 );
                right: font__px-to-rem( 0 );
              }
              color: #adacad;
              background-color: transparent;
              font: {
                size: $font-size;
                style: normal;
                weight: normal;
              }

              // modifier
              // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .item__link.item__link--no-dropdown`
              &.item__link--no-dropdown {
                // [ skin ]
                width: auto;
              }
            }

            // element
            // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .item__dropdown`
            // block
            // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .dropdown`
            > .item__dropdown.dropdown {
              // [ position ]
              position: absolute;
              left: 0;
              right: 0;
              top: font__px-to-rem( 70 );
              z-index: 4;

              // [ layout ]
              display: block;
              text-align: center;
              visibility: hidden;
              overflow: unset;

              // [ skin ]
              // In order to trigger `height` transition without knowing actual elements `height`,
              // `max-height` must be used instead of `height`.
              // width: 100%;
              max-height: none;
              height: font__px-to-rem( 80 );
              background-color: transparent;
              opacity: 0;

              // [ animation ]
              transition: visibility .1s, background-color .2s linear;

              // element
              // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .dropdown > .dropdown__item`
              // block
              // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .dropdown > .item`
              > .dropdown__item.item {
                // [ layout ]
                display: inline-block;
                margin: 0;

                // [ skin ]
                min-width: font__px-to-rem( 115 );
                width: auto;
                height: font__px-to-rem( 80 );
                border: {
                  color: transparent;
                  style: solid;
                  top-width: font__px-to-rem( 14 );
                  bottom-width: font__px-to-rem( 14 );
                  left-width: 0;
                };
                padding: 0;

                // [ interaction ]
                &:hover {
                  // [ skin ]
                  cursor: pointer;

                  // element
                  // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .dropdown > .item > .item__link`
                  > .item__link {
                    // [ skin ]
                    background-color: #1d2d56;
                  }
                }

                // element
                // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .dropdown > .item > .item__link`
                > .item__link {
                  // [ layout ]
                  display: inline-block;
                  vertical-align: top;
                  line-height: $font-size;

                  // [ skin ]
                  width: auto;
                  height: font__px-to-rem( 80 - 2 * 14 );
                  padding: {
                    top: ( font__px-to-rem( 80 - 2 * 14 ) - $font-size ) / 2;
                    bottom: ( font__px-to-rem( 80 - 2 * 14 ) - $font-size ) / 2;
                    left: font__px-to-rem( 25 );
                    right: font__px-to-rem( 25 );
                  }
                  color: #ffffff;
                  font: {
                    size: $font-size;
                    style: normal;
                    weight: normal;
                  }
                }
              }

              // modifier
              // `> .#{ $block } > .header.header--large > .navigation > .list > .item > .item__dropdown > .item__dropdown--open`
              &.item__dropdown--open {
                // [ skin ]
                // In order to trigger `max-height` transition,
                // `max-height` must be larger than possible height.
                max-height: font__px-to-rem( 10000 );
                padding: {
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                }
                opacity: 1;
              }
            }
          }
        }
      }

      // element
      // `> .#{ $block } > .header.header--large > .header__functions`
      // block
      // `> .#{ $block } > .header.header--large > .functions`
      > .header__functions.functions {
        // [ position ]
        position: absolute;
        right: font__px-to-rem( 8 );

        // [ layout ]
        display: inline-block;

        // element
        // `> .#{ $block } > .header.header--large > .functions > .functions__right`
        // block
        // `> .#{ $block } > .header.header--large > .functions > .right`
        > .functions__right.right {
          // [ layout ]
          margin-top: font__px-to-rem( 16 );

          // element
          // `> .#{ $block } > .header.header--large > .functions > .functions__right > .right__login`
          // block
          // `> .#{ $block } > .header.header--large > .functions > .functions__right > .login`
          > .right__login.login {
            // [ layout ]
            display: inline-block;
            vertical-align: top;

            // [ skin ]
            width: font__px-to-rem( 105 );
            height: font__px-to-rem( 36.15 );
            line-height: font__px-to-rem( 36.15 );
            background-color: #213262;
            box-shadow: 0 .06rem .06rem 0 rgba( 0, 0, 0, .24 ), 0 0 font__px-to-rem( 2 ) 0 rgba( 0, 0, 0, .12 );
            font: {
              size: font__px-to-rem( 14.1 );
              weight: 500;
            }
            color: #ffffff;

            // [ interaction ]
            &:hover {
              // [ skin ]
              cursor: pointer;

              // element
              // `> .#{ $block } > .header.header--large > .functions > .functions__right > .right >
              // .right__login > .login > .login__dropdown`
              // block
              // `> .#{ $block } > .header.header--large > .functions > .functions__right > .right >
              // .right__login > .login > .login__dropdown > .dropdown`
              > .login__dropdown.dropdown {
                // [ skin ]
                opacity: 1;
                visibility: visible;
              }
            }

            // element
            // `> .#{ $block } > .header.header--medium > .navigation > .login > .login__image`
            > .login__image {
              // [ layout ]
              display: inline-block;
              vertical-align: middle;
              margin: {
                right: font__px-to-rem( 14.4 );
                left: font__px-to-rem( 14.4 );
              }

              // [ skin ]
              max: {
                width: font__px-to-rem( 22 );
                height: font__px-to-rem( 22 );
              }
              border-radius: 50%;
              background: {
                size: font__px-to-rem( 21.1 );
                repeat: no-repeat;
              }

              &.login__image--icon {
                width: font__px-to-rem( 22 );
                height: font__px-to-rem( 21 );
                filter:
                  invert( 100% )
                  sepia( 0% )
                  saturate( 1% )
                  hue-rotate( 49deg )
                  brightness( 101% )
                  contrast( 101% );
              }
            }

            > .login__button.button {
              // [ layout ]
              display: inline-block;
              vertical-align: top;

              // [ skin ]
              line-height: font__px-to-rem( 36.15 );
              width: font__px-to-rem( 105 );
              height: font__px-to-rem( 36.15 );
              font: {
                size: font__px-to-rem( 14.1 );
                weight: 500;
              }
              color: #ffffff;
            }

            > .login__dropdown.dropdown {
              background-color: #ffffff;
              width: font__px-to-rem( 105 );
              font-size: font__px-to-rem( 14 );
              visibility: hidden;
              opacity: 0;
              text-align: center;

              > .dropdown__item.item {
                background-color: #ffffff;
                color: #757575;
                width: font__px-to-rem( 105 );
                height: font__px-to-rem( 36 );
                font-size: font__px-to-rem( 14 );
                border: {
                  style: solid;
                  width: font__px-to-rem( .1 );
                  color: rgba( 0, 0, 0, .25 );
                }

                // [ interaction ]
                &:hover {
                  // [ skin ]
                  cursor: pointer;
                  background-color: #999999;
                  color: #ffffff;
                }

                > .item__link {
                  line-height: font__px-to-rem( 36 );
                  vertical-align: top;
                }
              }
            }
          }

          // element
          // `> .#{ $block } > .header.header--large > .header__search`
          // block
          // `> .#{ $block } > .header.header--large > .search`
          > .right__search.search {
            // [ layout ]
            display: inline-block;
            vertical-align: top;
            margin: {
              left: font__px-to-rem( 24 );
              top: font__px-to-rem( 6 );
              bottom: font__px-to-rem( 6 );
            }

            // [ skin ]
            height: font__px-to-rem( 24 );
            width: font__px-to-rem( 24 );

            // element
            // `> .#{ $block } > .header.header--large > .search > .search__button`
            // block
            // `> .#{ $block } > .header.header--large > .search > .button`
            > .search__button.button {
              // [ layout ]
              display: inline-block;
              vertical-align: top;

              // [ skin ]
              height: font__px-to-rem( 24 );
              width: font__px-to-rem( 24 );
              background-color: #ffffff;
              cursor: pointer;

              // element
              // `> .#{ $block } > .header.header--large > .search > .button > .button__image`
              > .button__image {
                // [ skin ]
                height: font__px-to-rem( 24 );
                width: font__px-to-rem( 24 );
              }
            }

            // element
            // `> .#{ $block } > .header.header--large > .search > .search__dropdown`
            // block
            // `> .#{ $block } > .header.header--large > .search > .dropdown`
            > .search__dropdown.dropdown {
              // [ layout ]
              display: none;
              position: fixed;
              top: 0;
              left: 0;
              z-index: 5;

              // [ skin ]
              height: font__px-to-rem( 70 );
              width: 100%;
              background-color: #ffffff;
              box-shadow: 0 font__px-to-rem( 1 ) font__px-to-rem( 2 ) rgba( 0, 0, 0, .25 );

              // modifier
              // `> .#{ $block } > .header.header--large > .search > .search__dropdown > .search__dropdown--active`
              &.search__dropdown--active {
                // [ layout ]
                display: flex;
                align-items: center;
              }

              // element
              // `> .#{ $block } > .header.header--large > .search > .dropdown > .dropdown__form`
              // block
              // `> .#{ $block } > .header.header--large > .search > .dropdown > .form`
              > .dropdown__form.form {
                // [ layout ]
                display: flex;
                align-items: center;

                // [ skin ]
                height: 100%;
                width: 93%;
                background-color: #ffffff;

                // element
                // `> .#{ $block } > .header.header--large > .search > .dropdown > .form > .form__input`
                > .form__input {
                  // [ layout ]
                  z-index: 1;

                  // [ skin ]
                  height: 100%;
                  width: 97%;
                  font-size: font__px-to-rem( 32 );
                  background-color: #ffffff;
                  margin-left: font__px-to-rem( 60 );

                  &::placeholder {
                    color: rgba( 0, 0, 0, .5 );
                  }
                }

                // element
                // `> .#{ $block } > .header.header--large > .search > .dropdown > .form > .form__submit`
                > .form__submit {
                  // [ layout ]
                  background: {
                    size: contain;
                    repeat: no-repeat;
                    color: #ffffff;
                    position: center;
                  }
                  margin-right: 1%;

                  // [ skin ]
                  cursor: pointer;
                  width: 2%;
                  height: 30%;

                  // [ icon ]
                  @include icon__search ();
                }
              }

              // element
              // `> .#{ $block } > .header.header--large > .search > .dropdown > .dropdown__cancel`
              > .dropdown__cancel {
                // [ layout ]
                margin-left: 2%;

                // [ skin ]
                height: 54%;
                background-color: #ffffff;
                cursor: pointer;
                font-size: font__px-to-rem( 35 );
              }
            }
          }

          > .right__language.language {
            display: inline-flex;
            vertical-align: top;

            > .language__button.button {
              // [ layout ]
              display: inline-flex;
              vertical-align: top;
              margin: {
                left: font__px-to-rem( 24 );
                top: font__px-to-rem( 6 );
                bottom: font__px-to-rem( 6 );
              }

              // [ skin ]
              height: font__px-to-rem( 24 );
              width: font__px-to-rem( 24 );
              cursor: pointer;
              background-color: #ffffff;

              // element
              // `> .#{ $block } > .header.header--large > .language > .button > .button__image`
              > .button__image {
                // [ skin ]
                height: font__px-to-rem( 24 );
                width: font__px-to-rem( 24 );
              }

              // element
              // `> .#{ $block } > .header.header--large > .language > .button > .button__dropdown`
              // block
              // `> .#{ $block } > .header.header--large > .language > .button > .dropdown`
              > .button__dropdown.dropdown {
                // [ position ]
                top: font__px-to-rem( 32 );
                left: font__px-to-rem( -128 );
                z-index: 1;

                // [ layout ]
                display: none;
                position: relative;
                flex-direction: column;
                align-content: center;
                justify-content: center;

                // [ skin ]
                height: font__px-to-rem( 82 );
                min-width: font__px-to-rem( 128 );
                background-color: #1a284d;
                box-shadow: 0 1px 2px 0 rgba( 0, 0, 0, .25 );
                font-size: font__px-to-rem( 16 );
                color: #ffffff;

                &::before {
                  // [ layout ]
                  display: inline;
                  position: absolute;
                  top: font__px-to-rem( -9.6 );
                  right: font__px-to-rem( 9.6 );

                  // [ skin ]
                  content: '';
                  border: {
                    width: font__px-to-rem( 4.8 );
                    style: solid;
                    top-color: transparent;
                    right-color: transparent;
                    bottom-color: #1a284d;
                    left-color: transparent;
                  }
                }

                // modifier
                // `> .#{ $block } > .header.header--large > .language > .language__dropdown > .language__dropdown--active`
                &.button__dropdown--active {
                  // [ layout ]
                  display: flex;
                }

                // element
                // `> .#{ $block } > .header.header--large > .language > .dropdown > .dropdown__item`
                // block
                // `> .#{ $block } > .header.header--large > .language > .dropdown > .item`
                > .dropdown__item {
                  // [ layout ]
                  display: flex;
                  align-items: center;
                  padding-left: font__px-to-rem( 25.6 );

                  // [ skin ]
                  height: font__px-to-rem( 41 );
                  width: 100%;

                  // element
                  // `> .#{ $block } > .header.header--large > .language > .dropdown > .dropdown__item::before`
                  &::before {
                    // [ layout ]
                    background: {
                      size: font__px-to-rem( 21.1 );
                      repeat: no-repeat;
                    }
                    margin-right: font__px-to-rem( 16 );

                    // [ skin ]
                    content: '';
                    width: font__px-to-rem( 21.1 );
                    height: font__px-to-rem( 21.1 );
                  }

                  // modifier
                  // `> .#{ $block } > .header.header--large > .language > .dropdown > .dropdown__item > .dropdown__item--zh-TW::before`
                  &.dropdown__item--zh-TW::before {
                    // [ icon ]
                    @include icon__flag-zh-TW ();
                  }

                  // modifier
                  // `> .#{ $block } > .header.header--large > .language > .dropdown > .dropdown__item > .dropdown__item--en-US::before`
                  &.dropdown__item--en-US::before {
                    // [ icon ]
                    @include icon__flag-en-US ();
                  }

                  // element
                  // `> .#{ $block } > .header.header--large > .language > .dropdown > .item > .item__link`
                  > .item__link {
                    // [ skin ]
                    font-size: font__px-to-rem( 16 );
                    color: #ffffff;
                    width: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
