@mixin icon_flag {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 12px 5px;
  border-color: #f5c150 #f5c150 transparent;
  display: absolute;
  border-radius: .1rem .1rem 0 0;
}
