$icon-path: '~image/icon';

// template
// `icon--before__template`
@mixin icon--before__template {
  // template [skin]
  &::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    @content;
  }
}
@mixin icon__flag ( $size ) {
  // [ skin ]
  border: {
    style: solid;
    color: #f5c150 #f5c150 transparent;
    radius: ( $size * .1 ) ( $size * .1 ) 0 0;
    width: ( $size * .8 ) ( $size * .35 ) ( $size * .16 );
  }
}
@mixin icon__download () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/download.png' );
}
@mixin icon__location () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/location.png' );
}
@mixin icon__envelope () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/envelope.png' );
}
@mixin icon__phone () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/phone.png' );
}
@mixin icon__laboratory () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/laboratory.png' );
}
@mixin icon__search () {
  background-image: url( '#{ $icon-path }/search.png' );
}
@mixin icon__user () {
  background-image: url( '#{ $icon-path }/user.png' );
}
@mixin icon__flag-zh-TW () {
  background-image: url( '#{ $icon-path }/flag-zh-TW.png' );
}
@mixin icon__flag-en-US () {
  background-image: url( '#{ $icon-path }/flag-en-US.png' );
}
@mixin icon__arrowRight () {
  background-image: url( '#{ $icon-path }/arrow-right.png' );
}
