$icon-path: '~image';

// [ icon ]
// Yellow flag
@mixin icon__flag ( $size ) {
  // [ skin ]
  border: {
    style: solid;
    color: #f5c150 #f5c150 transparent;
    radius: ( $size * .1 ) ( $size * .1 ) 0 0;
    width: ( $size * .8 ) ( $size * .35 ) ( $size * .16 );
  }
}

// [ icon ]
// Download
@mixin icon__download () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/icon/download.png' );
}

// [ icon ]
// Location
@mixin icon__location () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/icon/location.png' );
}

// [ icon ]
// Envelope
@mixin icon__envelope () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/icon/envelope.png' );
}

// [ icon ]
// Phone
@mixin icon__phone () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/icon/phone.png' );
}

// [ icon ]
// Laboratory
@mixin icon__laboratory () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/icon/laboratory.png' );
}

// [ icon ]
// Search
@mixin icon__search () {
  background-image: url( '#{ $icon-path }/icon/search.png' );
}

// [ icon ]
// User
@mixin icon__user () {
  background-image: url( '#{ $icon-path }/icon/user.png' );
}

// [ icon ]
// Taiwan flag
@mixin icon__flag-zh-TW () {
  background-image: url( '#{ $icon-path }/icon/flag-zh-TW.png' );
}

// [ icon ]
// America flag
@mixin icon__flag-en-US () {
  background-image: url( '#{ $icon-path }/icon/flag-en-US.png' );
}

// [ icon ]
// Arrow point to right
@mixin icon__arrowRight () {
  background-image: url( '#{ $icon-path }/icon/arrow-right.png' );
}
