$icon-path: '../..';

// template
// `icon--before__template`
@mixin icon--before__template {
  // template [skin]
  &::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    @content;
  }
}
@mixin icon__flag ( $size ) {
  // [ skin ]
  border: {
    style: solid;
    color: #f5c150 #f5c150 transparent;
    radius: ( $size * .1 ) ( $size * .1 ) 0 0;
    width: ( $size * .8 ) ( $size * .35 ) ( $size * .16 );
  }
}
@mixin icon__download () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/image/icon/download.png' );
}
@mixin icon--before--trophy () {
  @include icon--before__template() {
    background: {
      position: center;
      size: cover;
      image: url( '#{ $icon-path }/image/icon/trophy.png' );
    }

    // template [extend]
    @content;
  }
}
@mixin icon--before--book () {
  @include icon--before__template() {
    background: {
      position: center;
      size: cover;
      image: url( '#{ $icon-path }/image/icon/open-book.png' );
    }

    // template [extend]
    @content;
  }
}
@mixin icon--before--study () {
  @include icon--before__template() {
    background: {
      position: center;
      size: cover;
      image: url( '#{ $icon-path }/image/icon/study.png' );
    }

    // template [extend]
    @content;
  }
}
@mixin icon--before--students () {
  @include icon--before__template() {
    background: {
      position: center;
      size: cover;
      image: url( '#{ $icon-path }/image/icon/students.png' );
    }

    // template [extend]
    @content;
  }
}
@mixin icon--before--search () {
  @include icon--before__template() {
    background: {
      position: center;
      size: cover;
      image: url( '#{ $icon-path }/image/icon/search.png' );
    }

    // template [extend]
    @content;
  }
}
@mixin icon__location () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/image/icon/location.png' );
}
@mixin icon__envelope () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/image/icon/envelope.png' );
}
@mixin icon__phone () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/image/icon/phone.png' );
}
@mixin icon__laboratory () {
  // [ skin ]
  background-image: url( '#{ $icon-path }/image/icon/laboratory.png' );
}
@mixin icon--before--taiwan () {
  @include icon--before__template() {
    background: {
      position: center;
      size: cover;
      image: url( '#{ $icon-path }/image/icon/taiwan.png' );
    }

    // template [extend]
    @content;
  }
}
@mixin icon--before--studentcap () {
  @include icon--before__template() {
    background: {
      position: center;
      size: cover;
      image: url( '#{ $icon-path }/image/icon/students-cap.png' );
    }

    // template [extend]
    @content;
  }
}
@mixin icon__search () {
  background-image: url( '#{ $icon-path }/image/icon/search.png' );
}
@mixin icon--before--user () {
  @include icon--before__template() {
    background: {
      position: center;
      size: cover;
      image: url( '#{ $icon-path }/image/icon/user.png' );
    }

    // template [extend]
    @content;
  }
}
@mixin icon__user () {
  background-image: url( '#{ $icon-path }/image/icon/user.png' );
}
@mixin icon__flag-zh-TW () {
  background-image: url( '#{ $icon-path }/image/icon/flag-zh-TW.png' );
}
@mixin icon__flag-en-US () {
  background-image: url( '#{ $icon-path }/image/icon/flag-en-US.png' );
}
