@import 'components/common/font';

// component
// `> .#{ $block } > .#{ $block }__loading.loading`
@mixin loading ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__loading`
  // block
  // `> .#{ $block } > .loading`
  > .#{ $block }__loading.loading {
    // [ layout ]
    display: block;
    margin-top: font__px-to-rem( 64 );
    text-align: center;

    // modifier
    // `> .#{ $block } > .loading.loading--hidden`
    &.loading--hidden {
      // [ layout ]
      display: none;
    }

    // element
    // `> .#{ $block } > .loading > .loading__image`
    // block
    // `> .#{ $block } > .loading > .image`
    > .loading__image.image {
      // [ layout ]
      display: block;
      margin: {
        right: auto;
        left: auto;
      }
      text-align: center;

      // template
      // `> .#{ $block } > .loading > .image > .image__?`
      %image__element {
        fill: #335098;
        animation: {
          duration: 2.6s;
          iteration-count: infinite;
          timing-function: linear;
        }
      }

      // animation
      @keyframes image__a {
        0% {
          // [ skin ]
          opacity: 0;
        }

        33.33% {
          // [ skin ]
          opacity: 0;
        }

        40% {
          // [ skin ]
          opacity: .1;
        }

        46.66% {
          // [ skin ]
          opacity: .2;
        }

        60% {
          // [ skin ]
          opacity: .2;
        }

        66.66% {
          // [ skin ]
          opacity: .1;
        }

        73.33% {
          // [ skin ]
          opacity: 0;
        }

        100% {
          // [ skin ]
          opacity: 0;
        }
      }

      // animation
      @keyframes image__b {
        0% {
          // [ skin ]
          opacity: 0;
        }

        20% {
          // [ skin ]
          opacity: 0;
        }

        26.66% {
          // [ skin ]
          opacity: .2;
        }

        33.33% {
          // [ skin ]
          opacity: .4;
        }

        60% {
          // [ skin ]
          opacity: .4;
        }

        66.66% {
          // [ skin ]
          opacity: .2;
        }

        73.33% {
          // [ skin ]
          opacity: .1;
        }

        80% {
          // [ skin ]
          opacity: 0;
        }

        100% {
          // [ skin ]
          opacity: 0;
        }
      }

      // animation
      @keyframes image__c {
        0% {
          // [ skin ]
          opacity: 0;
        }

        6.66% {
          // [ skin ]
          opacity: 0;
        }

        13.33% {
          // [ skin ]
          opacity: .3;
        }

        20% {
          // [ skin ]
          opacity: .6;
        }

        60% {
          // [ skin ]
          opacity: .6;
        }

        66.66% {
          // [ skin ]
          opacity: .4;
        }

        73.33% {
          // [ skin ]
          opacity: .2;
        }

        80% {
          // [ skin ]
          opacity: .1;
        }

        86.66% {
          // [ skin ]
          opacity: 0;
        }

        100% {
          // [ skin ]
          opacity: 0;
        }
      }

      // animation
      @keyframes image__d {
        0% {
          // [ skin ]
          opacity: .4;
        }

        6.66% {
          // [ skin ]
          opacity: .8;
        }

        60% {
          // [ skin ]
          opacity: .8;
        }

        66.66% {
          // [ skin ]
          opacity: .6;
        }

        73.33% {
          // [ skin ]
          opacity: .4;
        }

        80% {
          // [ skin ]
          opacity: .2;
        }

        86.66% {
          // [ skin ]
          opacity: .1;
        }

        93.33% {
          // [ skin ]
          opacity: 0;
        }

        100% {
          // [ skin ]
          opacity: 0;
        }
      }

      // element
      // `> .#{ $block } > .loading > .image > .image__a`
      > .image__a {
        // [ template ]
        @extend %image__element;

        // [ animation ]
        animation-name: image__a;
      }

      // element
      // `> .#{ $block } > .loading > .image > .image__b`
      > .image__b {
        // [ template ]
        @extend %image__element;

        // [ animation ]
        animation-name: image__b;
      }

      // element
      // `> .#{ $block } > .loading > .image > .image__c`
      > .image__c {
        // [ template ]
        @extend %image__element;

        // [ animation ]
        animation-name: image__c;
      }

      // element
      // `> .#{ $block } > .loading > .image > .image__d`
      > .image__d {
        // [ template ]
        @extend %image__element;

        // [ animation ]
        animation-name: image__d;
      }
    }

    // element
    // `> .#{ $block } > .loading > .loading__caption`
    > .loading__caption {
      // [ layout ]
      display: inline-block;
      line-height: font__px-to-rem( 14 );
      vertical-align: top;

      // [ skin ]
      width: auto;
      height: font__px-to-rem( 14 );
      color: #adacad;
      font-size: font__px-to-rem( 14 );
      text-shadow: 0 font__px-to-rem( 1 ) font__px-to-rem( 1 ) #bfbfbf;
    }
  }
}
