// block
.no-results {
  // [ layout ]
  text-align: center;
  margin-top: 2rem;

  // [ skin ]
  color: #adacad;
  font-family: var( --font__family--NotoSansTC );
  min-width: 73px;

  // element
  // `.no-results > .no-results__caption`
  > .no-results__caption {
    // [ skin ]
    font-size: .4125rem;
    line-height: 1.2rem;
  }
}
