@mixin not-available () {
  // block
  // `> .not-available`
  > .not-available {
    // [ variable ]
    $small: 550px;
    $large: 768px;

    // [ layout ]
    display: grid;
    grid-template: {
      columns: 1fr 8fr 1fr;
      rows: 40fr 52fr 13fr 12fr 9fr 12fr 20fr;
      areas:
        '. .                  .'
        '. not-available__icon .'
        '. .                  .'
        '. not-available__text .'
        '. .                  .'
        '. not-available__link .'
        '. .                  .';
    }

    // [ skin ]
    width: 100%;
    height: 100%;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      grid-template: {
        columns: 1fr 8fr 1fr;
        rows: 40fr 92fr 13fr 7fr 9fr 7fr 82fr;
        areas:
          '. .                   .'
          '. not-available__icon .'
          '. .                   .'
          '. not-available__text .'
          '. .                   .'
          '. not-available__link .'
          '. .                   .';
      }
    }

    // element
    // `body > .not-available > .not-available__image`
    > .not-available__image {
      // [ position ]
      grid-area: not-available__icon;

      // [ skin ]
      width: 100%;
    }

    // element
    // `body > .not-available > .not-available__caption`
    > .not-available__caption {
      // [ position ]
      grid-area: not-available__text;

      // [ skin ]
      text-align: center;
      word-spacing: 100vw;
      font-size: 1.125rem;
      color: #757575;

      // [ RWD: $small ]
      @media screen and ( min-width: $small ) {
        word-spacing: .3125rem;
      }
    }

    // element
    // `body > .not-available > not-availabke__link`
    > .not-availabke__link {
      // [ position ]
      grid-area: not-available__link;

      // [ skin ]
      text-align: center;
      font-size: 1.125rem;
      color: #399dff;
    }

    // [ customization ]
    @content;
  }
}
