@charset "utf-8";
@import "font";

@include font__family--YuGothicUI();

* {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-family: var(--font__family--default);
}