@charset 'utf-8';
@import 'components/common/font';
@include font--notosanstc();

*, *::before, *::after {
  // text wrap
  word: {
    wrap: normal;
    break: normal;
  }
  white-space: normal;

  // Box model: border-box
  // Width include border, padding and content.
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;

  // Inherit style from parent.
  color: inherit;
  font: {
    size: inherit;
    style: normal;
    weight: normal;
  }

  // No extra decoration.
  outline: 0;
  text-decoration: none;
}

:active, :focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

ul {
  // No extra decoration.
  list-style-type: none;
}

html, body {
  // Screen size.
  width: 100%;
  height: 100%;

  // Default font.
  font: {
    size: font__base-font-size();
    family: 'Noto Sans TC', 'Arial', 'Microsoft JhengHei';
    weight: normal;
  }
}
