@charset 'utf-8';
@import 'components/common/font';

*, *::before, *::after {
  // Box model.
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;

  // Inherit style from parent.
  font-size: inherit;
  color: inherit;

  // No extra decoration.
  text-decoration: none;
}

ul {
  // No extra decoration.
  list-style-type: none;
}

html, body {
  // Screen size.
  width: 100%;
  height: 100%;

  // Default font.
  font: {
    size: 32px;
    family: 'Noto Sans TC', 'Arial', 'Microsoft JhengHei';
    weight: normal;
  }
}
