@charset 'utf-8';
@import 'font';
@include font__load--NotoSansTC();

* {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  font: {
    family: var( --font__family--default );
    size: 32px;
  }

  // media query
  @media ( max-width: 400px ) {
    font-size: 20px;
  }
}
