// component
// `> .#{ $block } > .#{ $block }__topic.topic`
@mixin topic ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__topic`
  // block
  // `> .#{ $block } > .topic`
  > .#{ $block }__topic.topic {
    // [ variable ]
    $large: 850px;

    // [ layout ]
    text-align: center;

    // [ skin ]
    color: #000000;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      text-align: left;

      // [skin ]
      border-bottom: solid .0156rem #bfbfbf;
    }

    // element
    // `> .#{ $block } > .topic > .topic__text`
    > .topic__text {
      // [ layout ]
      display: inline-block;
      line-height: 1.4rem;

      // [ skin ]
      width: auto;
      border-bottom: solid .0156rem #213262;
      font: {
        weight: bold;
        size: 24 / 32 * 1rem;
      }
    }

    // [ customization ]
    @content;
  }
}
