@import 'components/common/font';

// component
// `> .#{ $block } > .#{ $block }__topic.topic`
@mixin topic ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__topic`
  // block
  // `> .#{ $block } > .topic`
  > .#{ $block }__topic.topic {
    // [ variable ]
    $large: 850px;

    // [ layout ]
    display: block;
    text-align: center;

    // [ skin ]
    color: #000000;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      text-align: left;

      // [skin ]
      border-bottom: solid font__px-to-rem( 1 ) #bfbfbf;
    }

    // element
    // `> .#{ $block } > .topic > .topic__text`
    > .topic__text {
      // [ layout ]
      display: inline-block;
      vertical-align: bottom;
      line-height: font__px-to-rem( 24 );

      // [ skin ]
      width: auto;
      padding-bottom: font__px-to-rem( 10 );
      border-bottom: solid font__px-to-rem( 1 ) #213262;
      color: #000000;
      font: {
        weight: bold;
        size: font__px-to-rem( 24 );
      }
    }

    // [ customization ]
    @content;
  }
}
