extends ../layouts/announcement.pug

block css
  link(rel='stylesheet' href='/css/announcement/all.css')
block header
block content
  +announce( '標題一', '2018 02 02', '一小段內文', '', '', 'course', 'graduate', 'college' )
  +announce( '標題二', '2018 02 03', '二小段內文', '', '' )
  +announce( '標題三', '2018 02 04', '三小段內文', '', '' )
  +announce( '標題四', '2018 02 05', '四小段內文', '', '' )
  +announce( '標題五', '2018 02 06', '五小段內文', '', '' )
block page 
block footer
block script
