doctype html
html
  head
    title 所有公告
  body
    h1 所有公告
    p#page!= 'page:' + page
    p#tag!= 'tag:' + tag
    p#announcement!= 'announce_id:' + announce_id
    script.
      if(tag !== undefined ) document.getElementById('tag').innerHTML = 'tag:' + #{tag} + ', should remove the left column';
