doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="target.css")
  body
    div.pagination
      a(href="#") &laquo
      a(href="#") 1
      a.active(href="#") 2
      a(href="#") 3
      a(href="#") 4
      a(href="#") 5
      a(href="#") 6
      a(href="#") &raquo
