include ../components/announcement.pug
doctype html
html
  head
    title= title
    block css
  body
    block header
    section#content-container
      h1(class='item1') undergraduate
        br
        span 大學部
      block content
      //section#page
      block page 
    block footer
    block script
