include ../components/announcement.pug
include ../components/footer.pug
doctype html
html
  head
    title= title
    block css
  body
    block header
    block content
    block footer
    block script
