include /components/common/image.pug

mixin specialty-card( data )
  section.specialty-card.specialty__specialty-card
    section.specialty-card__value
      p.value__specialty= data.specialty
    +image( {
      alt: 'patch',
      className: `specialty-card__patch specialty-card__patch--${ data.specialtyId }`,
      src: 'icon/edit.png',
    } )   
    +image( {
      alt: 'delete',
      className: `specialty-card__delete specialty-card__delete--${ data.specialtyId }`,
      src: 'icon/delete.png',
    } )    

