@mixin breadcrumb ( $background-color ) {
  // block
  // `> .breadcrumb`

  > .breadcrumb {
    // [ variable ]
    $medium: 675px;

    // [ dispaly ]
    grid-area: edit__breadcrumb;
    display: flex;
    padding-left: 5%;

    // [ skin ]
    width: 100%;
    height: 1.34rem;
    margin-bottom: 1.3rem;
    background-color: $background-color;

    // element
    // `> .breadcrumb > .breadcrumb__text`
    > .breadcrumb__text {
      // [ layout ]
      display: flex;
      margin: {
        top: .59rem;
        bottom: 1.5rem;
      }

      // [ skin ]
      font-size: .63rem;
      color: #757575;
      text-decoration: unset;
      @media screen and ( max-width: $medium ) {
        display: none;
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $medium ) {
        // [ layout ]
        margin-bottom: 1.56rem;

        // [ skin ]
        color: #adacad;
      }

      // modifier
      // `> .breadcrumb > .breadcrumb__text > .breadcrumb__text--link`
      &.breadcrumb__text--link {
        // [ skin ]
        color: #6982c0;
        text-decoration: underline;

        // [ RWD: $large ]
        @media screen and ( min-width: $medium ) {
          color: #213262;
        }
      }
    }

    // element
    // `> .breadcrumb > .breadcrumb__arrow`
    > .breadcrumb__arrow {
      // [ layout ]
      margin: {
        top: .9rem;
        left: .26rem;
        right: .26rem;
      }

      // [ skin ]
      width: .23rem;
      height: .375rem;

      // [ RWD: $large ]
      @media screen and ( min-width: $medium ) {
        margin: {
          left: .94rem;
          right: .94rem;
        }
      }
      @media screen and ( max-width: $medium ) {
        display: none;
      }
    }
  }
}
