@import 'components/user/announcement/items';

// [ variable ]
$bgcolor: rgba( 224, 224, 224, .4 );
$bordercolor: rgba( 224, 224, 224, .1 );
$buttoncolor: #8caae2;
$wordcolor: #7c7f84;
$medium: 675px;
$large: 976px;
@mixin editor () {
  // .content > .editor
  > .editor {
    // background-color: aqua;
    // [ layout ]
    display: grid;
    grid: {
      // [ position ]
      area: edit__editor;
      gap: .5rem;
      template: {
        areas:
          ' . language__zh   language__en   . '
          ' . editor__editor editor__editor . ';

        columns:  .1rem 1fr 1fr .1rem;
      }
    }

    //max-width: 100%;
    @media screen and ( min-width: $medium ) {
      grid-template: {
        areas:
          ' .            .              '
          ' language__zh editor__editor '
          ' language__en editor__editor '
          ' .            editor__editor ';
        columns: 1.33rem 1fr;
        rows: .3rem 3.524rem 3.524rem 8.4rem;
      };
    }

    // .content > .editor >. editor__language--zh-TW
    > .editor__language--zh-TW {
      // [ position ]
      grid-area: language__zh;
    }

    // .content > .editor >. editor__language--en-US
    > .editor__language--en-US {
      // [ position ]
      grid-area: language__en;
    }

    // .content > .editor > .editor__language--horizontal
    > .editor__language--horizontal {
      // [ skin ]
      @include editor__language();
      @media screen and ( min-width: $medium ) {
        display: none;
      }
    }

    > .editor__language--vertical {
      // [ skin ]
      @include editor__language();
      font-size: .667rem;
      @media screen and ( max-width: $medium ) {
        display: none;
      }
    }

    > .editor__editor {
      // [ position ]
      grid-area: editor__editor;
      @include editor__editor() ;
    }

    > .editor__editor--show {
      z-index: 0;
      visibility: visible;
    }
  }
}
@mixin editor__language () {
  // [ skin ]
  background-color: $buttoncolor;
  color: #ffffff;
  font: {
    size: .667rem;
    style: normal;
    weight: 500;
    family: notosanscjktc;
  }
  line-height: 1.29;
  letter-spacing: normal;
  display: block;

  // on small device
  @media screen and ( max-width: $medium ) {
    text-align: center;
    height: 1.3rem;
    font-size: .5rem;
  }
}
@mixin editor__editor () {
  // .content > .editor > .editor__editor 

  // [ initialize]
  visibility: hidden;
  z-index: -1;

  // [ item skin ]
  border-radius: .0714rem;

  // layout
  display: grid;
  grid: {
    template: {
      areas:
        ' title '
        ' content '
        ' addfile ';
      rows: 1.571rem 11.524rem 2.26rem;
    }
    gap: .5rem;
  }

  > .editor__input--title {
    // [ position ]
    grid-area: title;
    height: 1.571rem;
    @media screen and ( max-width: $medium ) {
      width: 90vw;
      height: 1.571rem;
      margin: {
        bottom: 1rem;
        left: 4.5vw;
        right: 4.5vw;
      }
    }
    @media screen and ( min-width: $medium ) {
      width: 17rem;
      margin-bottom: 1rem;
    }
    @media screen and ( min-width: $large ) {
      width: 24.048rem;
      margin-bottom: 1rem;
    }

    // [ skin ]
    @include items ();
  }

  > .editor__input--content {
    // [ position ]
    grid-area: content;
    height: 11.524rem;

    // [ RWD: small ]
    @media screen and ( max-width: $medium ) {
      width: 90vw;
      margin: {
        bottom: .88rem;
        left: 4.5vw;
        right: 4.5vw;
      }
    }
    @media screen and ( min-width: $medium ) {
      width: 17rem;
      margin-bottom: .88rem;
    }
    @media screen and ( min-width: $large ) {
      width: 24.048rem;
      margin-bottom: .88rem;
    }

    // [ skin ]
    @include items ();
  }

  > .editor__input--addfile {
    grid-area: addfile;
    background-color: #8caae2;
    height: 1.552rem;
    width: 4.774rem;
    border-radius: .071rem;
    box-shadow: 0 .095rem .095rem 0 rgba( 0, 0, 0, .25 );
    display: block;
    @media screen and ( min-width: $medium ) {
      width: 4.5rem;
    }

    > .editor__input--addfile-content {
      font: {
        family: notosanscjktc;
        size: .571rem;
        weight: normal;
        style: normal;
        stretch: normal;
      }
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin: {
        top: .3rem;
        left: 1.2rem;
        right: auto;
      }
    }
  }

  > .editor__input--addfile-input {
    grid-area: addfile;
    z-index: -1;
    visibility: hidden;
  }
}
