extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title': 'Calendar',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title': '行事曆',
      },
    } );
    const currentRoute = 'home/calendar';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'home/calendar' )

append header

append content
  include /components/common/not-available.pug
  +notAvailable( 'content' )

append footer

append scripts
  +js( 'home/calendar' )
