extends /layouts/home.pug

block append stylesheets

block append header

block append content
  include /components/common/topic.pug
  - const i18n = require( path.resolve( languageRoot, 'home/index' ) );

  main.content
    +topic( i18n[ language ].topic )
    section.announcement
      nav#announcement__briefings.announcement__briefings.briefings

      a.announcement__button( href='/announcement/all' )= `${ i18n[ language ].more }...`
    section.announcement.announcement--hot-news
      header.announcement__title.title
        h1.title__text= i18n[ language ].hot
      nav#announcement__briefings--hot-news.announcement__briefings.briefings

block append scripts
  +js( 'home/index' )
