mixin announce(title,time,excerpt,tagnum,url)
  section
    div(class='flex-item item1')
      p(class='article-title')= title
      p(class='article-time')= time
      p(class='article-content')= excerpt
      a detailed
      div(class='tag')
        a(class='course') course
        a(class='graduate') graduate
        a(class='college') college
    div(class='flex-item item2' src=url)
         
