mixin footer
  .footer
    p#name Copyright © 2018 國立成功大學資訊工程系
    p#address 70101 台南市東區大學路一號｜
      a#addressLink(href='http://www.csie.ncku.edu.tw/ncku_csie/intro/traffic') 系館位置地圖
    p#phone 06-2757575 ext 62500
    a#emailLink(herf='#') www-team@cs.ncku.edu
    img#fbPic(src='../../static/src/hamburger.jpg')
    p#visit 瀏覽人數：2650784
