link(rel="stylesheet", href="/css/components/header.css")
header.header_grid
  img.header_logo(src=`${static}/images/logo`, alt='')
  section.header_title
    p.header_title-zh 國立成功大學資訊工程學系暨研究所
    p.header_title-en Department of Computer Science and Information Engineering 
  nav.header_nav
    a(href="/")
      li 首頁
    a(href="/about")
      li 關於本系
    a(href="/research")
      li 學術研究
    a(href="/student")
      li 學生事務
    a(href="/announcement")
      li 系所公告 
    a(href="/resource")
      li 資源連結