link(rel="stylesheet", href="/css/components/header.css")
header.header_grid
  img.header_logo(src=`${static}/images/logo`, alt='')
  section.header_title
    p.header_title-zh 國立成功大學資訊工程學系暨研究所
    p.header_title-en Department of Computer Science and Information Engineering 
  nav.header_nav
    li 
      a(href="/") 首頁
    li 
      a(href="/about") 關於本系
    li 
      a(href="/research") 學術研究
    li 
      a(href="/student") 學生事務
    li 
      a(href="/announcement") 系所公告
    li 
      a(href="/resource") 資源連結