//- Filter component for faculty selection.
//-
//- Filter based on their belonging departments.
//- @todo add resaerch group filter.
mixin filters()
  -
    const i18n = Object.freeze( {
      'en-US': {
        'filters': [ 'dept. CSIE', 'inst. CSIE', 'IMI', 'IMIS' ],
      },
      'zh-TW': {
        'filters': [ '資訊系', '資訊所', '醫資所', '製造所' ],
      },
    } );
  section#filters.filters
    each value, index in i18n[ language ].filters
      button.filters__filter( data = index )= value
