mixin fixing()
    figure.logo
        +image( {
        alt:       'Fixing',
        className: 'icon__image',
        src:       'icon/fix.png',
        } )
    figcaption.logo__caption.caption 本頁面施工中&nbsp敬請期待
    a.fixing__link.fixing__link--home(href = url( { href : '/' } ) ) 返回首頁