mixin footer
  -
    const i18n = Object.freeze( {
      'en-US': {
        'contact': {
          'title':    'Contact Us',
          'address':  'No.1, Daxue Rd., East Dist., Tainan City 701, Taiwan (R.O.C.)',
          'position': 'Department Location'
        },
        'follow':     'Follow us'
      },
      'zh-TW': {
        'contact': {
          'title':    '聯絡我們',
          'address':  '70101 台南市東區大學路一號',
          'position': '系館位置圖'
        },
        'follow':     '關注我們'
      }
    } );

  footer.footer
    figure.footer__logo.logo
      +image( {
        alt:          'csie',
        className:    'logo__image',
        src:          'logo/csie-white.png',
      } )
      figcaption.logo__caption.caption
        h1.caption__text.caption__text--large 成功大學資訊工程學系暨研究所
        h2.caption__text.caption__text--small Department of Computer Science and Information Engineering
    section.footer__contact.contact
      h1.contact__title= i18n[ language ].contact.title
      address.contact__address.address= `${ i18n[ language ].contact.address }｜`
        a.address__map( href = '/about' )= i18n[ language ].contact.position
      a.contact__mail( href = 'mailto:em62500@mail.csie.ncku.edu.tw' ) em62500@mail.csie.ncku.edu.tw
      a.contact__phone( href = 'tel:062757575, 62500' ) 06-2757575 ext 62500
    section.footer__copyright.copyright
      aside.copyright__title.title
        hr.title__line
        h1.title__text Copyright © 2018 國立成功大學資訊工程系
        hr.title__line
      figure.copyright__icon.icon
        figcaption.icon__caption= i18n[ language ].follow
        a( href = 'https://www.facebook.com/ncku.csie' target = '_blank' rel = 'noopener noreferrer' ).icon__image.image
          +image( {
            alt:       'facebook',
            className: 'image__facebook',
            src:       'icon/facebook.png'
          } )