-
  function headerI18n () {
    return Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        language: 'Language',
        about: {
          award: {
            text: 'Awards',
            route: UTILS.url( {
              href : 'about/award',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          contact: {
            text: 'Contact Us',
            route: UTILS.url( {
              href : 'about/contact',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          lab: {
            text: 'Laboratories',
            route: UTILS.url( {
              href : 'about/lab',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          faculty: {
            text: 'Faculties',
            route: UTILS.url( {
              href : 'about/faculty',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          index: {
            text: 'About',
            route: UTILS.url( {
              href : 'about',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          intro: {
            text: 'Introduction',
            route: UTILS.url( {
              href : 'about/intro',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          staff: {
            text: 'Staff',
            route: UTILS.url( {
              href : 'about/staff',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
        },
        announcement: {
          activity: {
            text: 'Activities',
            route: UTILS.url( {
              href : 'announcement/activity',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          all: {
            text: 'All',
            route: UTILS.url( {
              href : 'announcement/all',
              query: { languageId: LANG.getLanguageId( 'en-US' ) }
            } ),
          },
          index: {
            text: 'Announcement',
            route: UTILS.url( {
              href : 'announcement',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          recruitment: {
            text: 'Recruitment',
            route: UTILS.url( {
              href : 'announcement/recruitment',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          admission: {
            text: 'Admissions',
            route: UTILS.url( {
              href : 'announcement/admission',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
        },
        home: {
          index: {
            text: 'Home',
            route: UTILS.url( {
              href : '',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          search: {
            text: 'Search',
            route: UTILS.url( {
              href : 'search',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
        },
        resource: {
          alumni: {
            text: 'Alumni',
            route: UTILS.url( {
              href : 'resource/alumni',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          survey: {
            text: 'Survey',
            route: UTILS.url( {
              href : 'resource/survey',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          index: {
            text: 'Resource',
            route: UTILS.url( {
              href : 'resource',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          rent: {
            text: 'Rent',
            route: UTILS.url( {
              href : 'resource/rent',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          rule: {
            text: 'Rule',
            route: UTILS.url( {
              href : 'resource/rule',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          sitemap: {
            text: 'Sitemap',
            route: UTILS.url( {
              href : 'resource/sitemap',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          link: {
            text: 'Links',
            route: UTILS.url({
              href: 'resource/link',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            }),
          },
        },
        student: {
          highSchool:{
            text: 'For High School Students',
            route: UTILS.url( {
              href : 'student/high-school',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          college: {
            text: 'College',
            route: UTILS.url( {
              href : 'student/college',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          index: {
            text: 'Student',
            route: UTILS.url( {
              href : 'student',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          master: {
            text: 'Master',
            route: UTILS.url( {
              href : 'student/master',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
          phd: {
            text: 'Ph.D',
            route: UTILS.url( {
              href : 'student/phd',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
        },
        developer: {
          index: {
            text: 'Developers',
            route: UTILS.url( {
              href : 'developer',
              query: { languageId: LANG.getLanguageId( 'en-US' ) },
            } ),
          },
        },
        components:{
            login: {
                text: 'Log In',
                route: UTILS.url( {
                href : 'auth/login',
                query: { languageId: LANG.getLanguageId( 'en-US' ) },
                } ),
            },
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        language: '語言',
        about: {
          award: {
            text: '榮譽事蹟',
            route: UTILS.url( {
              href : 'about/award',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          contact: {
            text: '聯絡我們',
            route: UTILS.url( {
              href : 'about/contact',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          faculty: {
            text: '師資陣容',
            route: UTILS.url( {
              href : 'about/faculty',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          lab: {
            text: '實驗室',
            route: UTILS.url( {
              href : 'about/lab',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          index: {
            text: '關於本系',
            route: UTILS.url( {
              href : 'about',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          intro: {
            text: '系所介紹',
            route: UTILS.url( {
              href : 'about/intro',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          staff: {
            text: '行政人員',
            route: UTILS.url( {
              href : 'about/staff',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
        },
        announcement: {
          activity: {
            text: '活動公告',
            route: UTILS.url( {
              href : 'announcement/activity',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          all: {
            text: '全部公告',
            route: UTILS.url( {
              href : 'announcement/all',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          index: {
            text: '系所公告',
            route: UTILS.url( {
              href : 'announcement',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          recruitment: {
            text: '徵才資訊',
            route: UTILS.url( {
              href : 'announcement/recruitment',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          admission: {
            text: '招生資訊',
            route: UTILS.url( {
              href : 'announcement/admission',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
        },
        home: {
          index: {
            text: '首頁',
            route: UTILS.url( {
              href : '',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          search: {
            text: '搜尋',
            route: UTILS.url( {
              href : 'search',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
        },
        resource: {
          alumni: {
            text: '系友專區',
            route: UTILS.url( {
              href : 'resource/alumni',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          survey: {
            text: '學生問卷調查',
            route: UTILS.url( {
              href : 'resource/survey',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          index: {
            text: '資源連結',
            route: UTILS.url( {
              href : 'resource',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          rent: {
            text: '線上租借',
            route: UTILS.url( {
              href : 'resource/rent',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          rule: {
            text: '法規彙編',
            route: UTILS.url( {
              href : 'resource/rule',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          sitemap: {
            text: '網站地圖',
            route: UTILS.url( {
              href : 'resource/sitemap',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          link: {
            text: '相關連結',
            route: UTILS.url({
              href: 'resource/link',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            }),
          },
        },
        student: {
          highSchool:{
            text: '高中生專區',
            route: UTILS.url( {
              href : 'student/high-school',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          college: {
            text: '大學部',
            route: UTILS.url( {
              href : 'student/college',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          index: {
            text: '學生事務',
            route: UTILS.url( {
              href : 'student',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          master: {
            text: '碩士',
            route: UTILS.url( {
              href : 'student/master',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
          phd: {
            text: '博士',
            route: UTILS.url( {
              href : 'student/phd',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
        },
        developer: {
          index: {
            text: '開發者',
            route: UTILS.url( {
              href : 'developer',
              query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
            } ),
          },
        },
        components:{
            login: {
                text: '登入',
                route: UTILS.url( {
                href : 'auth/login',
                query: { languageId: LANG.getLanguageId( 'zh-TW' ) },
                } ),
            },
        },
      }
    } );
  }
