ul
  li
    a( href = '/student' ) student
    ul.dropdown__content
      li
        a( href='/student/course' ) course
      li
        a( href='/student/college' ) college
      li
        a( href='/student/master' ) master
      li
        a( href='/student/phd' ) phd
      li
        a( href='/student/scholarship' ) scholarship
      li
        a( href='/student/international' ) international
      li
        a( href='/student/international' ) internship
  li
    a( href = '/about' ) about
    ul
      li
        a( href='/about/intro' ) introduction
      li
        a( href='/about/teachers' ) teachers
      li
        a( href='/about/members' ) members
      li
        a( href='/about/honor' ) honor
      li
        a( href='/about/location' ) location
  li
    a( href = '/research' ) research
    ul
      li
        a( href='/research/labs' ) labs
      li
        a( href='/research/groups' ) groups
      li
        a( href='/research/publications' ) publications
  li
    a( href = '/announcement' ) announcement
    ul
      li
        a( href='/announcement/all' ) all announcement
      li
        a( href='/announcement/activity' ) activity
      li
        a( href='/announcement/recruitment' ) recruitment
  li
    a( href = '/resource' ) resource
    ul
      li
        a( href='/resource/rule' ) rule
      li
        a( href='/resource/rent' ) rent
      li
        a( href='/resource/fix' ) fix
      li
        a( href='/resource/ieet' ) IEET
      li
        a( href='/resource/resources' ) resources