//- Loading content template module.

mixin loading()
  -
    const i18n = Object.freeze( {
      'en-US': {
        'loading': 'Loading'
      },
      'zh-TW': {
        'loading': '載入中'
      }
    } );

  figure.loading
    svg.loading__image.image
      polygon.image__a( points = '0,86.424 100,86.424 50,0' )
      polygon.image__b( points = '0,86.424 100,86.424 66,28.865' )
      polygon.image__c( points = '0,86.424 100,86.424 29,37.908' )
      polygon.image__d( points = '0,86.424 100,86.424 80,52.246' )
    figcaption.loading__caption.caption
      h2.caption__text= i18n[ language ].loading
