//- No result content template module.
mixin noResult()
  -
    const i18n = Object.freeze( {
      'en-US': {
        'noResult': 'No result'
      },
      'zh-TW': {
        'noResult': '查無結果'
      }
    } );

  section.no-result
    h2.no-result__caption= i18n[ language ].noResult

//- No result content template module.
mixin noResultWithImage()
  -
    const i18n = Object.freeze( {
      'en-US': {
        'noResult':  'No result',
        'suggestion': 'Try changing the filters or return to the ',
        'homeLink':   'home page.'
      },
      'zh-TW': {
        'noResult':   '查無結果',
        'suggestion': '變更篩選器或回到',
        'homeLink':   '首頁'
      }
    } );

  figure.no-result.no-result--with-image
    +image( {
      alt:       i18n[ language ].noResult,
      className: 'no-result__image',
      src:       'icon/no-result.png',
    } )
    figcaption.no-result__caption.caption
      h2.caption__text= i18n[ language ].noResult
      p.caption__suggestion.suggestion
        span.suggestion__text= i18n[ language ].suggestion
        a.suggestion__text.suggestion__text--link( href = `/?language=${ language }` )= i18n[ language ].homeLink
