//- Title template module.
//-
//- Template for page title `<title>` tag.
//- No need to rewrite same text each time.
//- @param {string} text - Text to fill in the template.

mixin title( text )
    title= `${ text } - 國立成功大學資訊工程學系暨研究所 Department of Computer Science and Information Engineering`