-
  function developI18n () {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        intro: [
          '第一波的資訊科技在二十世紀末達到最高點，',
          '並在網際網路泡沫幻滅後的二十一世紀初，',
          '揭開第二波資訊科技的序幕。',
          '第二波的資訊科技重點在哪？',
          '搜尋技術和引擎？',
          '無所不在的計算和通訊？',
          '嵌入式系統？',
          '生物及醫學資訊？',
          '無人可知，無人可曉。',
          '為因應此第二波資訊科技的發展，',
          '本系/所將致力於培育新一代資訊科技人才、',
          '積極研究和開發電腦軟/硬體及資訊應用相關技術。',
          '結合國內產官學研之各項資源，',
          '並與國際接軌，提升國內之產業技術，',
          '在政府「五年五百億邁向頂尖大學」計畫的資助下，',
          '邁向國際一流資訊工程系所。',
          '本系所中長程發展計畫分三方面說明：',
        ].join( '' ),
        context: [
          {
            title: '一、教學方面',
            image: {
              src: 'intro/teach.png',
              alt: '一、教學方面',
            },
            paragraph: [
              {
                type: 'text',
                text: '主要發展重點在於：',
              },
              {
                type: 'list',
                list: [
                  '提升授課品質，符合並取得 IEET 和華盛頓公約的大學工程教育認證。',
                  '加強師資陣容，提高學生專業領域的深度和廣度。',
                  '充實教學研究設備，滿足師生教學研究所需。',
                  '修建系館教學和研究空間，提供優良學習環境。',
                ],
              },
              {
                type: 'text',
                text: [
                  '為提升南台灣地區資訊人才質與量的競爭力，',
                  '本系將責無旁貸的擔負起此火車頭的責任。',
                  '因此預計在五年內大學部由二班增至三班，學生總數將達一千人；',
                  '而師資方面，亦將師資員額增聘至40名以上；',
                  '而在空間方面，在五年內將完成新系館的增建，',
                  '以供應新增的大學部教學教室、實驗室、研究生實驗室及新聘教師的辦公室等空間使用。',
                  '由此建立中／南台灣最佳及最具規模之資訊工程教育環境。',
                ].join( '' ),
              },
            ],
          },
          {
            title: '二、研究方面',
            image: {
              src: 'intro/research.png',
              alt: '二、研究方面',
            },
            paragraph: [
              {
                type: 'text',
                text: '主要發展重點在於：',
              },
              {
                type: 'list',
                list: [
                  '加強學術研究能力、提升研究水準。',
                  '積極爭取產官學合作研究計畫，提升師生研究能力及系譽。',
                  '配合南科，提供資訊技術支援及培育產業高級技術人才。',
                ],
              },
              {
                type: 'text',
                text: [
                  '本系所的研究發展廣佈於資訊工程的主要研究，',
                  '包含積體電路、電腦輔助設計、資訊安全、計算機系統、人工智慧、電腦網路、',
                  '多媒體系統、軟體工程+物件導向系統、分散式系統+作業系統設計、',
                  '編譯系統、 資料庫系統、語音處理、影像與圖像技術。',
                  '在這些領域中均深受肯定，成效良好。',
                ].join( '' ),
              },
            ],
          },
          {
            title: '三、國際化方面',
            image: {
              src: 'intro/international.png',
              alt: '三、國際化方面',
            },
            paragraph: [
              {
                type: 'text',
                text: '主要發展重點在於：',
              },
              {
                type: 'list',
                list: [
                  '積極參與及主辦國際學術會議，加強國際交流，提升國際地位。',
                  '爭取美、歐、日國際學術合作計畫及與 國際一流電子資訊公司之國際產學合作計畫。',
                  '聘請國外學者專家到本系/所進行短期講學，獲取最先進的資訊科技新知和潮流。',
                  '實施英語授課，增加學生國際競爭力。',
                  '招收外籍學生至本系就讀，提升本系國際知名度。',
                ],
              },
            ],
          },
        ],
      },
      [ LANG.getLanguageId( 'en-US' ) ]: {
        intro: [
          'Following the trend of information technology that is being promoted by the government,',
          'the information industry in Taiwan is flourishing.',
          'To meet the demand of talents in society and elevate the level of information industry,',
          'The CSIE Department engages itself in the cultivation of information engineering talents',
          'as well as in the research and development of technology related to computing software and hardware engineering.',
          'Besides,',
          'The CSIE Department makes use of its research facilities',
          'to provide services to the industrial and business sectors and the government,',
          'establishing communication channels between the academic circle and the industrial and business sector.',
          'It is intended to help industries and businesses upgrade their level',
          'in hopes to further increasing national and global competitiveness.',
          'We also expect and aim to advance our department',
          'to be an international first-class academic palace',
          'under the support of the Program for Promoting Academic Excellence of Universities of MOE.',
          'The long-term development plan of the department is described in three aspects:',
        ].join( ' ' ),
        context: [
          {
            title: '1. Teaching Aspects',
            image: {
              src: 'intro/teach.png',
              alt: '1. Teaching Aspects',
            },
            paragraph: [
              {
                type: 'text',
                text: 'The points are:',
              },
              {
                type: 'list',
                list: [
                  [
                    'Improve the quality of the lectures,',
                    'and meet and obtain the university engineering education certification',
                    'of IEET and Washington Convention.',
                  ].join( ' ' ),
                  [
                    'Strengthen the faculty lineup',
                    'and increase the depth and breadth of students\' professional skills.',
                  ].join( ' ' ),
                  'Enrich teaching and research equipment to meet the needs of teachers and students.',
                  [
                    'The teaching and research space of the department building',
                    'will be built to provide an excellent learning environment.',
                  ].join( ' ' ),
                ],
              },
              {
                type: 'text',
                text: [
                  'In order to enhance students\' competitiveness in Southern Taiwan,',
                  'the department will be responsible for leading the improvement.',
                  'Therefore,',
                  'The number of classes will increase from two to three,',
                  'and the total number of students will reach one thousand within five years.',
                  'In terms of teachers,',
                  'the number of teachers will be increased to more than 40.',
                  'In terms of space,',
                  'it will be completed within five years.',
                  'The expandtion of the new department building will be used',
                  'to supply additional classrooms for university departments,',
                  'laboratories and newly hired teachers.',
                  'We will be the best and largest computer science and information engineering department',
                  'in Central/Southern Taiwan.'
                ].join( ' ' ),
              },
            ],
          },
          {
            title: '2. Researching Aspect',
            image: {
              src: 'intro/research.png',
              alt: '2. Researching Aspect',
            },
            paragraph: [
              {
                type: 'text',
                text: 'The points are:',
              },
              {
                type: 'list',
                list: [
                  'Improving academic research capabilities and standards',
                  [
                    'Actively strive for the joint research project of production,',
                    'government and study,',
                    'and improve the research ability and reputation of teachers and students.',
                  ].join( ' ' ),
                  [
                    'Cooperate with Southern Taiwan Science Park',
                    'to provide information technology support and cultivate technical talents.',
                  ].join( ' ' ),
                ],
              },
              {
                type: 'text',
                text: [
                  'The research and development of the department',
                  'is widely distributed in the main research area of computer science and information engineering,',
                  'including',
                  'Information Security',
                  'Computer Organization',
                  'Artificial Intelligence',
                  'Computer Network',
                  'Multimedia System',
                  'Software Engineering + Object-Oriented System',
                  'Distributed System + Operating System Design',
                  'Compiler',
                  'Database System',
                  'Digital Voice Processing',
                  'and Image Processing.',
                  'We are well recognized in these areas and have achieved good results.'
                ].join( ' ' ),
              },
            ],
          },
          {
            title: '3. Global Aspect',
            image: {
              src: 'intro/international.png',
              alt: '3. Global Aspect',
            },
            paragraph: [
              {
                type: 'text',
                text: 'The points are:',
              },
              {
                type: 'list',
                list: [
                  [
                    'Actively participate in and host international academic conferences,',
                    'strengthen international exchanges,',
                    'and enhance international reputation.',
                  ].join( ' ' ),
                  [
                    'Strive for international academic programs in the United States, Europe and Japan.',
                    'Also cooperate with world-class electronic information companies.',
                  ].join( ' ' ),
                  [
                    'Employ foreign scholars and experts to the department',
                    'for short-term lectures to obtain the most advanced information technology knowledge and trends.',
                  ].join( ' ' ),
                  'Implement English classes to increase students\' international competitiveness.',
                  'Enrolling foreign students to the department, improving international reputation.',
                ],
              },
            ],
          },
        ],
      },
    };
  }
