-
  function educationI18n () {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: [
        {
          title: '一、教育學生基礎專業知識及終身學習之能力',
          image: {
            src: 'intro/learn.png',
            alt: '一、教育學生基礎專業知識及終身學習之能力',
          },
          list: [
            '畢業生應具備基礎專業數學及資訊理論知識之基本能力',
            '畢業生應具備理論推導及實驗數據分析歸納之能力',
            '畢業生應具備終身學習之能力',
          ],
        },
        {
          title: '二、教育學生運用專業知識解決資訊應用問題之能力',
          image: {
            src: 'intro/solve.png',
            alt: '二、教育學生運用專業知識解決資訊應用問題之能力',
          },
          list: [
            '畢業生應具備發掘、分析及解決資訊應用問題之能力',
            '畢業生應具備資訊工程設計、創新、測試及驗證之能力',
            '畢業生應具備系統整合之能力',
          ],
        },
        {
          title: '三、教育學生優質團隊合作之能力',
          image: {
            src: 'intro/cowork.png',
            alt: '三、教育學生優質團隊合作之能力',
          },
          list: [
            '畢業生應具備科技人文素養及資訊工程倫理之精神',
            '畢業生應具備良好溝通技巧及國際觀',
            '畢業生應具備負責之工作態度及團隊合作之能力',
          ],
        },
      ],
      [ LANG.getLanguageId( 'en-US' ) ]: [
        {
          title: '1. Professional Knowledge and Lifelong Learning Skills',
          image: {
            src: 'intro/learn.png',
            alt: '1. Professional Knowledge and Lifelong Learning Skills',
          },
          list: [
            'Graduates should have basic skills in advanced mathematics and information theory.',
            'Graduates should have the ability to theoretically derive and analyze experimental data.',
            'Graduates should have the ability of lifelong learning skills.',
          ],
        },
        {
          title: '2. Apply Expertise to Solve Information Application Problems',
          image: {
            src: 'intro/solve.png',
            alt: '2. Apply Expertise to Solve Information Application Problems',
          },
          list: [
            'Graduates should have the ability to discover, analyze and solve information application problems.',
            'Graduates should have the ability to design, innovate, test and validate.',
            'Graduates should have the ability to integrate different systems.',
          ],
        },
        {
          title: '3. Coworking with Team',
          image: {
            src: 'intro/cowork.png',
            alt: '3. Coworking with Team',
          },
          list: [
            'Graduates should have the spirit of scientific and humanistic literacy and information engineering ethics.',
            'Graduates should have good communication skills and global vision.',
            'Graduates should have a responsible attitude for work and teamwork ability.',
          ],
        },
      ],
    };
  }
