-
  function historyI18n( languageId = null ) {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: [
        {
          type: 'dean',
          duration: {
            from: '2021.2',
            to: '迄今',
          },
          name: '張燕光教授',
        },
        {
          type: 'dean',
          duration: {
            from: '2017.8',
            to: '2021.1',
          },
          name: '高宏宇教授',
        },
        {
          type: 'dean',
          duration: {
            from: '2015.8',
            to: '2017.8',
          },
          name: '謝孫源教授',
        },
        {
          type: 'dean',
          duration: {
            from: '2012.8',
            to: '2015.7',
          },
          name: '陳培殷教授',
        },
        {
          type: 'dean',
          duration: {
            from: '2009.8',
            to: '2012.7',
          },
          name: '鄭憲宗教授',
        },
        {
          type: 'event',
          time: '2011.8',
          context: '製造資訊與系統研究所整合至本系',
        },
        {
          type: 'dean',
          duration: {
            from: '2006.8',
            to: '2009.7',
          },
          name: '黃崇明教授',
        },
        {
          type: 'event',
          time: '2006',
          context: '增設醫學資訊研究所',
        },
        {
          type: 'dean',
          duration: {
            from: '2005.8',
            to: '2006.7',
          },
          name: '李強教授',
        },
        {
          type: 'dean',
          duration: {
            from: '2002.8',
            to: '2005.7',
          },
          name: '朱治平教授',
        },
        {
          type: 'event',
          time: '2002.8',
          context: '擴增大學部為兩班',
        },
        {
          type: 'dean',
          duration: {
            from: '1999.8',
            to: '2002.7',
          },
          name: '吳宗憲教授',
        },
        {
          type: 'dean',
          duration: {
            from: '1996.8',
            to: '1999.8',
          },
          name: '孫永年教授',
        },
        {
          type: 'event',
          time: '1997.8',
          context: '成立大學部',
        },
        {
          type: 'dean',
          duration: {
            from: '1990.8',
            to: '1996.8',
          },
          name: '王駿發教授',
        },
        {
          type: 'event',
          time: '1992.8',
          context: '成立博士班',
        },
        {
          type: 'dean',
          duration: {
            from: '1987.8',
            to: '1990.7',
          },
          name: '孔令洋教授',
        },
        {
          type: 'event',
          time: '1987.8',
          context: '成立碩士班',
        },
      ],
      [ LANG.getLanguageId( 'en-US' ) ]: [
        {
          type: 'dean',
          duration: {
            from: '2021.2',
            to: 'now',
          },
          name: 'Prof. Yeim-Kuan Chang',
        },
        {
          type: 'dean',
          duration: {
            from: '2017.8',
            to: '2021.1',
          },
          name: 'Prof. Hung-Yu Kao',
        },
        {
          type: 'dean',
          duration: {
            from: '2015.8',
            to: '2017.8',
          },
          name: 'Prof. Sun-Yuan Hsieh',
        },
        {
          type: 'dean',
          duration: {
            from: '2012.8',
            to: '2015.7',
          },
          name: 'Prof. Pei-Yin Chen',
        },
        {
          type: 'dean',
          duration: {
            from: '2009.8',
            to: '2012.7',
          },
          name: 'Prof. Sheng-Tzong Cheng',
        },
        {
          type: 'event',
          time: '2011.8',
          context: 'Integration of the Institute of Manufacturing Information and Systems',
        },
        {
          type: 'dean',
          duration: {
            from: '2006.8',
            to: '2009.7',
          },
          name: 'Prof. Chung-Ming Huang',
        },
        {
          type: 'event',
          time: '2006',
          context: 'Establishment of the Institute of Medical Informatics',
        },
        {
          type: 'dean',
          duration: {
            from: '2005.8',
            to: '2006.7',
          },
          name: 'Prof. Chiang Lee',
        },
        {
          type: 'dean',
          duration: {
            from: '2002.8',
            to: '2005.7',
          },
          name: 'Prof. Chih-Ping Chu',
        },
        {
          type: 'event',
          time: '2002.8',
          context: 'Expanding the university department for two classes',
        },
        {
          type: 'dean',
          duration: {
            from: '1999.8',
            to: '2002.7',
          },
          name: 'Prof. Chung-Hsien Wu',
        },
        {
          type: 'dean',
          duration: {
            from: '1996.8',
            to: '1999.8',
          },
          name: 'Prof. Yung-Nien Sun',
        },
        {
          type: 'event',
          time: '1997.8',
          context: 'Establishment of undergraduate program',
        },
        {
          type: 'dean',
          duration: {
            from: '1990.8',
            to: '1996.8',
          },
          name: 'Prof. Jun-Fa Wang',
        },
        {
          type: 'event',
          time: '1992.8',
          context: 'Establishment of Ph.D. program',
        },
        {
          type: 'dean',
          duration: {
            from: '1987.8',
            to: '1990.7',
          },
          name: 'Prof. Ling-Yang Kong',
        },
        {
          type: 'event',
          time: '1987.8',
          context: 'Establishment of the department',
        },
      ],
    };
  }
