.traffic {
  text-align: left;
  color: #000000;
  font-family: var( --font__family--default );

  &__text {
    &--small {
      font-size: .6563rem;
    }

    &--large {
      font: {
        size: .875rem;
        weight: bold;
      }
    }
  }
}
