@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/footer';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #213262;

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ skin ]
    width: 100%;
    height: 100%;

    // element
    // `.body > .content > .content__banner`
    // block
    // `.body > .content > .banner`
    > .content__banner.banner {
      // [ skin ]
      background: #213262;
    }
  }
}
