-
  function researchGroupI18n () {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: [
        {
          aspect: '1. 數位生活科技與軟體技術',
          context: [
            {
              title: '1.1 數位生活科技',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '郭耀煌老師',
                    '陳培殷老師',
                    '蘇文鈺老師',
                    '林英超老師',
                    '蔡佩璇老師',
                  ],
                },
              ],
            },
            {
              title: '1.2 軟體工程',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '郭淑美老師',
                    '李信杰老師',
                  ],
                },
              ],
            },
            {
              title: '1.3 量子資訊、網路安全、演算法',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '黃宗立老師',
                    '郭淑美老師',
                    '謝孫源老師',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '2.計算、通訊與網路',
          context: [
            {
              title: '2.1 高速網路、多媒體串流',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '黃宗立老師',
                    '許靜芳老師',
                    '黃崇明老師',
                    '蘇銓清老師',
                    '鄭憲宗老師',
                    '蕭宏章老師',
                    '張燕光老師',
                    '陳奇業老師',
                  ],
                },
              ],
            },
            {
              title: '2.2 無線通訊、行動寬頻網路',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '黃宗立老師',
                    '蔡孟勳老師',
                    '黃崇明老師',
                    '鄭憲宗老師',
                    '藍崑展老師',
                  ],
                },
              ],
            },
            {
              title: '2.3 雲端計算、高效能計算',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '蕭宏章老師',
                    '黃宗立老師',
                    '張大緯老師',
                    '蘇文鈺老師',
                    '林英超老師',
                    '謝孫源老師',
                    '張燕光老師',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '3.資料與知識工程',
          context: [
            {
              title: '3.1 資料探勘、行動運算、網際網路與社群網路',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '李強老師',
                    '蔣榮先老師',
                    '盧文祥老師',
                    '高宏宇老師',
                    '莊坤達老師',
                  ],
                },
              ],
            },
            {
              title: '3.2 知識工程與管理、資料庫管理系統',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '陳裕民老師',
                    '陳朝鈞老師',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '4.多媒體',
          context: [
            {
              title: '4.1 信號處理、影像處理',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '孫永年老師',
                    '連震杰老師',
                    '吳宗憲老師',
                    '王士豪老師',
                    '陳響亮老師',
                    '吳明龍老師',
                    '郭淑美老師',
                    '蘇文鈺老師',
                    '朱威達老師',
                  ],
                },
              ],
            },
            {
              title: '4.2 電腦視覺、電腦繪圖',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '孫永年老師',
                    '李同益老師',
                    '郭淑美老師',
                    '連震杰老師',
                  ],
                },
              ],
            },
            {
              title: '4.3 人工智慧、機器學習與圖形辨識、語音辨識、人機互動、多媒體雲端計算',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '孫永年老師',
                    '吳宗憲老師',
                    '郭淑美老師',
                    '蘇文鈺老師',
                    '連震杰老師',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '5.架構與嵌入式系統',
          context: [
            {
              title: '5.1 單晶片、嵌入式系統',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '郭耀煌老師',
                    '陳培殷老師',
                    '蘇文鈺老師',
                    '連震杰老師',
                    '楊中平老師',
                    '梁勝富老師',
                    '張大緯老師',
                    '林英超老師',
                  ],
                },
              ],
            },
            {
              title: '5.2 結構與系統',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '郭耀煌老師',
                    '蘇文鈺老師',
                    '張燕光老師',
                    '楊中平老師',
                    '張大緯老師',
                    '林英超老師',
                  ],
                },
              ],
            },
            {
              title: '5.3 設計自動化',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '蘇文鈺老師',
                    '張大緯老師',
                    '林英超老師',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '6.生醫工程',
          context: [
            {
              title: '6.1 生物資訊、生醫資訊檢索、生醫智慧系統',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '郭耀煌老師',
                    '蔣榮先老師',
                    '蘇文鈺老師',
                    '謝孫源老師',
                    '盧文祥老師',
                    '高宏宇老師',
                    '蔡佩璇老師',
                  ],
                },
              ],
            },
            {
              title: '6.2 生醫訊號處理、生醫影像處理、醫學影像系統',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '孫永年老師',
                    '郭耀煌老師',
                    '吳宗憲老師',
                    '郭淑美老師',
                    '蘇文鈺老師',
                    '連震杰老師',
                    '王士豪老師',
                    '梁勝富老師',
                    '吳明龍老師',
                  ],
                },
              ],
            },
            {
              title: '6.3 生醫資訊系統、醫用人機介面設計、生醫資訊網路、生醫檢測晶片設計',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '吳宗憲老師',
                    '蘇文鈺老師',
                    '王士豪老師',
                    '藍崑展老師',
                    '張大緯老師',
                    '梁勝富老師',
                    '蔡佩璇老師',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '7.製造工程',
          context: [
            {
              title: '7.1 製造系統與管理—製造管理、半導體生產自動化、智慧型製造系統',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '鄭芳田老師',
                    '楊大和老師',
                  ],
                },
              ],
            },
            {
              title: '7.2 E化製造、資訊與機電整合、半導體生產自動化',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '鄭芳田老師',
                    '陳響亮老師',
                  ],
                },
              ],
            },
            {
              title: '7.3 商業智慧、製造演算法、整合製造資訊系統、醫院自動化資訊系統',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '陳裕民老師',
                    '謝孫源老師',
                    '陳朝鈞老師',
                    '蔡佩璇老師',
                  ],
                },
              ],
            },
          ],
        },
      ],
      [ LANG.getLanguageId( 'en-US' ) ]: [
        {
          aspect: '1. E-life Digital Technology and Software Technology',
          context: [
            {
              title: '1.1 E-life Digital Technology',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yau-Hwang Kuo',
                    'Prof. Pei-Yin Chen',
                    'Prof. Wen Yu Su',
                    'Prof. Ing-Chao Lin',
                    'Prof. Pei-Hsuan Tsai',
                  ],
                },
              ],
            },
            {
              title: '1.2 Software Engineering',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Shu-Mei Guo',
                    'Prof. Shin-Jie Lee',
                  ],
                },
              ],
            },
            {
              title: '1.3 Quantum Information, Network Security, and Algorithms',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Tzone-Lih Hwang',
                    'Prof. Shu-Mei Guo',
                    'Prof. Sun-Yuan Hsieh',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '2. Computation, Communication and Network',
          context: [
            {
              title: '2.1 High Speed Network, and Multimedia Streaming',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Tzone-Lih Hwang',
                    'Prof. Ching-Fang Hsu',
                    'Prof. Chung-Ming Huang',
                    'Prof. Chuan-Ching Sue',
                    'Prof. Sheng-Tzong Cheng',
                    'Prof. Hung-Chang Hsiao',
                    'Prof. Yeim-Kuan Chang',
                    'Prof. Chi-Yeh Chen',
                  ],
                },
              ],
            },
            {
              title: '2.2 Wireless Communications, and Mobile Broadband Network',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Tzone-Lih Hwang',
                    'Prof. Meng-Hsun Tsai',
                    'Prof. Chung-Ming Huang',
                    'Prof. Sheng-Tzong Cheng',
                    'Prof. Kun-chan Lan',
                  ],
                },
              ],
            },
            {
              title: '2.3 Cloud Computing, and High Performance Computing',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Hung-Chang Hsiao',
                    'Prof. Tzone-Lih Hwang',
                    'Prof. David Chang',
                    'Prof. Wen Yu Su',
                    'Prof. Ing-Chao Lin',
                    'Prof. Sun-Yuan Hsieh',
                    'Prof. Yeim-Kuan Chang',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '3. Data and Knowledge Engineering',
          context: [
            {
              title: '3.1 Data Mining, Mobile Data Management, and Web and Social Network',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Chiang Lee',
                    'Prof. Jung-Hsien Chiang',
                    'Prof. Wen-Hsiang Lu',
                    'Prof. Hung-Yu Kao',
                    'Prof. Kun-Ta Chuang',
                  ],
                },
              ],
            },
            {
              title: '3.2 Knowledge Engineering and Management, and Database Management System',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yuh-Min Chen',
                    'Prof. Chao-Chun Chen',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '4. Multimedia',
          context: [
            {
              title: '4.1 Signal Processing, and Image Processing',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yung-Nien Sun',
                    'Prof. Jenn-Jier James Lien',
                    'Prof. Chung-Hsien Wu',
                    'Prof. Shyh-Hau Wang',
                    'Prof. Shang-Liang Chen',
                    'Prof. Ming-Long Wu',
                    'Prof. Shu-Mei Guo',
                    'Prof. Wen Yu Su',
                    'Prof. Wei-Ta Chu',
                  ],
                },
              ],
            },
            {
              title: '4.2 Computer Vision,and Computer Graphics',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yung-Nien Sun',
                    'Prof. Tong-Yee Lee',
                    'Prof. Shu-Mei Guo',
                    'Prof. Jenn-Jier James Lien',
                  ],
                },
              ],
            },
            {
              title: '4.3 Artificial Intelligent, Machine Learning and Pattern Recognition,Speech Recognition, Human-Computer Interaction, and Multimedia Cloud Computing',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yung-Nien Sun',
                    'Prof. Chung-Hsien Wu',
                    'Prof. Shu-Mei Guo',
                    'Prof. Wen Yu Su',
                    'Prof. Jenn-Jier James Lien',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '5.Architecture and Embedded System',
          context: [
            {
              title: '5.1 SoC, and Embedded System',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yau-Hwang Kuo',
                    'Prof. Pei-Yin Chen',
                    'Prof. Wen Yu Su',
                    'Prof. Jenn-Jier James Lien',
                    'Prof. Chung-Ping Young',
                    'Prof. Sheng-Fu Liang',
                    'Prof. David Chang',
                    'Prof. Ing-Chao Lin',
                  ],
                },
              ],
            },
            {
              title: '5.2 Architecture and System',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yau-Hwang Kuo',
                    'Prof. Wen Yu Su',
                    'Prof. Yeim-Kuan Chang',
                    'Prof. Chung-Ping Young',
                    'Prof. David Chang',
                    'Prof. Ing-Chao Lin',
                  ],
                },
              ],
            },
            {
              title: '5.3 Design Automation',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Wen Yu Su',
                    'Prof. David Chang',
                    'Prof. Ing-Chao Lin',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '6.Biomedical Engineering',
          context: [
            {
              title: '6.1 Bioinformatics, Biomedical Information Retrieval, and Intelligent System of Biomedicine',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yau-Hwang Kuo',
                    'Prof. Jung-Hsien Chiang',
                    'Prof. Wen Yu Su',
                    'Prof. Sun-Yuan Hsieh',
                    'Prof. Wen-Hsiang Lu',
                    'Prof. Hung-Yu Kao',
                    'Prof. Pei-Hsuan Tsai',
                  ],
                },
              ],
            },
            {
              title: '6.2 Biomedical Signal Processing, Biomedical Imaging Processing, and Medical Imaging Instrument',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yung-Nien Sun',
                    'Prof. Yau-Hwang Kuo',
                    'Prof. Chung-Hsien Wu',
                    'Prof. Shu-Mei Guo',
                    'Prof. Wen Yu Su',
                    'Prof. Jenn-Jier James Lien',
                    'Prof. Shyh-Hau Wang',
                    'Prof. Sheng-Fu Liang',
                    'Prof. Ming-Long Wu',
                  ],
                },
              ],
            },
            {
              title: '6.3 Information System Design for Biomedicine, Human-Machine Interface Design for Biomedicine, Network Application for Biomedicine, and Biochips Design and Applications',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Chung-Hsien Wu',
                    'Prof. Wen Yu Su',
                    'Prof. Shyh-Hau Wang',
                    'Prof. Kun-chan Lan',
                    'Prof. David Chang',
                    'Prof. Sheng-Fu Liang',
                    'Prof. Pei-Hsuan Tsai',
                  ],
                },
              ],
            },
          ],
        },
        {
          aspect: '7.Manufacturing Engineering',
          context: [
            {
              title: '7.1 Manufacturing Systems and Management—Manufacturing Management, Semiconductor Production and Automation, and Intelligent Manufacturing Systems',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Fan-Tien Cheng',
                    'Prof. Taho Yang',
                  ],
                },
              ],
            },
            {
              title: '7.2 E-Manufacturing, Information and Mechatronics,and Semiconductor Manufacturing Automation',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Fan-Tien Cheng',
                    'Prof. Shang-Liang Chen',
                  ],
                },
              ],
            },
            {
              title: '7.3 Business Intelligence, Manufacturing Algorithm, Integrated Manufacturing Database System, and Hospital Automations and Information Systems',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    'Prof. Yuh-Min Chen',
                    'Prof. Sun-Yuan Hsieh',
                    'Prof. Chao-Chun Chen',
                    'Prof. Pei-Hsuan Tsai',
                  ],
                },
              ],
            },
          ],
        },
      ],
    };
  }
