extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':      'Research Groups',
        'breadcrumb': {
          'home':     'Home',
          'research': 'Research',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':      '研究群',
        'breadcrumb': {
          'home':     '首頁',
          'research': '學術研究',
        },
      },
    } );
    const currentRoute = 'research/groups';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'research/groups' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.research, url: 'research' },
    { text: i18n[ LANG.id ].title },
  ] )

append content

append footer

append scripts
  +js( 'research/groups' )
