extends /layouts/base.pug
append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':    'Research',
        'breadcrumb': {
          'home':   'Home',
        },
        'entries': [
          {
            title: 'Laboratories',
            detail: 'List of all laboratories of department',
            modifier: 'red',
            route: 'research/lab',
          },
          {
            title: 'Research Group',
            detail: 'Research Group',
            modifier: 'green',
            route: 'research/research-group',
          },
          {
            title: 'Center',
            detail: 'List of all research center',
            modifier: 'blue',
            route: 'research/center',
          },
        ],
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':    '學術研究',
        'breadcrumb': {
          'home':   '首頁',
        },
        'entries': [
          {
            title: '實驗室',
            detail: '資訊所研究實驗室列表',
            modifier: 'red',
            route: 'research/lab',
          },
          {
            title: '研究群',
            detail: '研究群',
            modifier: 'green',
            route: 'research/research-group',
          },
          {
            title: '研究中心',
            detail: '成功大學資訊系相關研究中心',
            modifier: 'blue',
            route: 'research/center',
          },
        ],
      },
    } );
    const currentRoute = 'research';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'research/index' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/entries.pug
  +entries( 'content', i18n[ LANG.id ].entries )

append footer

append scripts
  +js( 'research/index' )
