extends /layouts/research.pug

append data
  -
    const i18n = Object.freeze( {
      [ language.getLanguageId( 'en-US' ) ]: {
        'title':    'Research',
        'breadcrumb': {
          'home':   'Home',
        },
        'entries': [
          {
            title: 'Laboratories',
            detail: 'List of all laboratories of department',
            modifier: 'red',
            href: url( { href: 'research/labs', } ),
          },
          {
            title: 'Publications',
            detail: 'List of all publications of department',
            modifier: 'green',
            href: url( { href: 'research/publications', } ),
          },
        ],
      },
      [ language.getLanguageId( 'zh-TW' ) ]: {
        'title':    '學術研究',
        'breadcrumb': {
          'home':   '首頁',
        },
        'entries': [
          {
            title: '實驗室',
            detail: '資訊所研究實驗室列表',
            modifier: 'red',
            href: url( { href: 'research/labs', } ),
          },
          {
            title: '發表論文',
            detail: '已發表的論文總覽',
            modifier: 'green',
            href: url( { href: 'research/publications', } ),
          },
        ],
      },
    } );
    const currentRoute = 'research';

append title
  +title( i18n[ language.id ].title )

append stylesheets
  +css( 'research/index' )

append header
  +banner( i18n[ language.id ].title )
  +breadcrumb( [
    { text: i18n[ language.id ].breadcrumb.home, url: '' },
    { text: i18n[ language.id ].title },
  ] )

append content
  include /components/common/entries.pug
  +entries( i18n[ language.id ].entries )

append footer

append scripts
  +js( 'research/index' )
