extends /layouts/research.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':　'Laboratories',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':　'實驗室',
      },
    } );
    const currentRoute = 'research/labs';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'research/labs' )

append header

append content
  include /components/common/not-available.pug
  +notAvailable()

append footer

append scripts
  +js( 'research/labs' )
