extends /layouts/research.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title': 'Laboratories',
      },
      'zh-TW': {
        'title': '實驗室',
      },
    } );

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'research/labs' )

append header

append content

append footer

append scripts
  +js( 'research/labs' )
