extends /layouts/research.pug

append stylesheets

append header

append content
  -
    const i18n = Object.freeze( {
      'en-US': {
      },
      'zh-TW': {
      },
    } );

  main.content

append scripts
  +js( 'research/publications' )
