extends /layouts/research.pug

append data
  -
    const i18n = Object.freeze( {
      [ language.getLanguageId( 'en-US' ) ]: {
        'title': 'Publications',
      },
      [ language.getLanguageId( 'zh-TW' ) ]: {
        'title': '發表著作',
      },
    } );
    const currentRoute = 'research/publications';

append title
  +title( i18n[ language.id ].title )

append stylesheets
  +css( 'research/publications' )

append header

append content
  include /components/common/not-available.pug
  +notAvailable()

append footer

append scripts
  +js( 'research/publications' )
