extends /layouts/research.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':      'Publications',
        'breadcrumb': {
          'home':     'Home',
          'research': 'Research',
        },
      },
      'zh-TW': {
        'title':      '發表著作',
        'breadcrumb': {
          'home':     '首頁',
          'research': '學術研究',
        },
      },
    } );
    const currentRoute = 'research/publications';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'research/publications' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.research, url: 'research' },
    { text: i18n[ language ].title },
   ] )

append content

append footer

append scripts
  +js( 'research/publications' )
