
-
article.publication__context.context
  if data.author !== null
    main.context__main= data.author
  if data.issueYear !== null
    time.context__time= data.issueYear
  if data.issueDate !== null
    time.context__time= data.issueDate
