include /components/common/image.pug

mixin award-card( data )
  section.award-card.cards__award-card
    section.award-card__value
      p.value__text.value__text--award= data.award
    +image( {
      alt: 'patch',
      className: `award-card__patch award-card__patch--${ data.awardId }`,
      src: 'icon/edit.png',
    } )   
    +image( {
      alt: 'delete',
      className: `award-card__delete award-card__delete--${ data.awardId }`,
      src: 'icon/delete.png',
    } )    
