@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/not-available';
@import 'components/common/footer';
@import 'components/auth/input-block';

.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' ,$image: 'announcement/all' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $large: 700px;

    // [ skin ]
    height: 120%;
    background-color: #ffffff;

    // template
    // `.body > .content > .content__?.?`
    %content__element {
      // [ layout ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      max-width: font__px-to-rem( 1740 );
      width: 94%;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        width: 84%;
      }
    }

    // `.body > .content > .content__login`
    > .content__login {
      // [ layout ]
      height: 100%;
      width: 100%;
      display: grid;
      grid-template: {
        areas:
          '.    '
          'login'
          '.    ';
        rows: 1fr auto 1fr;
      }

      // `.body > .content > .content__login > .login__form`
      > .login__form {
        // [ position ]
        grid-area: login;
        margin: {
          left: auto;
          right: auto;
        }
        width: 15.09rem;
        display: block;

        // [ skin ]
        background-color: rgba( 224, 224, 224, .1 );
        border: {
          left: solid .3px #757575;
          right: solid .3px #757575;
          bottom: solid .3px #757575;
          top: solid 5.6px #999999;
          radius: 3px;
        }
        @include input-block();

        // `.body > .content > .content__login > .login__form > .login__headline`
        > .login__headline {
          // [ layout ]
          display: block;
          height: auto;
          margin: {
            top: 1rem;
            bottom: .5rem;
            left: auto;
            right: auto;
          }

          // [ skin ]
          line-height: normal;
          text-align: center;
          font-size: .857rem;
          padding: 0;
        }

        // `.body > .content > .content__login > .login__form > .login__password--forget`
        > .login__password--forget {
          // [ layout ]
          display: block;

          // [ position ]
          margin: {
            left: 2.703rem;
            bottom: .5rem;
          }

          // [ skin ]
          font: {
            family: notosanscjktc;
            size: .5rem;
            weight: normal;
            style: normal;
            stretch: normal;
          }
          line-height: 1.71;
          letter-spacing: normal;
          color: #399dff;
        }

        // `.body > .content > .content__login > .login__form > .login__button`
        > .login__button {
          // [ layout ]
          display: block;

          // [ position ]
          position: relative;
          z-index: 10;
          width: 11.23rem;
          height: 1.807rem;
          margin: {
            right: auto;
            left: auto;
            bottom: 1.886rem;
          }

          // [ skin ]
          line-height: normal;
          letter-spacing: normal;
          border-radius: .167rem;
          box-shadow: 0 12px 12px nanpx rgba( 0, 0, 0, .25 );
          background-color: #adacad;
          font: {
            family: notosanscjktc;
            size: .643rem;
            weight: normal;
            style: normal;
            stretch: normal;
          }
          color: #ffffff;
        }
      }
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ template ]
      @extend %content__element;

      // [ skin ]
      border: {
        top-width: font__px-to-rem( 32 );
        left-width: font__px-to-rem( 16 );
        color: transparent;
        style: solid;
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
