@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/not-available';
@import 'components/common/footer';
@import 'components/auth/input-block';
@import 'components/auth/message';

.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' ,$image: 'announcement/all' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $large: 700px;
    $small: 516px;

    // [ skin ]
    height: 60%;
    background-color: #ffffff;

    // [ RWD: $small ]
    @media screen and ( min-width: $small ) {
      // [ skin ]
      height: 100%;
    }

    // template
    // `.body > .content > .content__?.?`
    %content__element {
      // [ layout ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      max-width: font__px-to-rem( 1740 );
      width: 94%;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        width: 84%;
      }
    }

    // `.body > .content > .content__login`
    > .content__login {
      // [ layout ]
      height: 100%;
      width: 100%;
      display: grid;
      grid-template: {
        areas:
          '.    '
          'login'
          '.    ';
<<<<<<< HEAD
        rows: 1fr auto 2fr;
=======
        rows: font__px-to-rem( 64 ) auto 1fr;
      }

      // [ RWD: $small ]
      @media screen and ( min-width: $small ) {
        // [ layout ]
        grid-template: {
          areas:
            '.    '
            'login'
            '.    ';
          rows: 1fr auto 1fr;
        }
>>>>>>> f1e166824085976a02742f60b4d4e7eadf00d4c2
      }

      // `.body > .content > .content__login > .login__form`
      > .login__form.form {
        // [ position ]
        grid-area: login;
        margin: {
          left: auto;
          right: auto;
        }
        width: 100%;
        display: block;

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ position ]
          width: font__px-to-rem( 483 );

          // [ skin ]
          background-color: rgba( 224, 224, 224, .1 );
          border: {
            left: solid .5px #757575;
            right: solid .5px #757575;
            bottom: solid .5px #757575;
            top: solid 5.6px #999999;
            radius: 3px;
          }
        }
        @include input-block();

        // `.body > .content > .content__login > .login__form > .form__headline`
        > .form__headline {
          // [ layout ]
          display: none;
          height: auto;
          margin: {
            top: font__px-to-rem( 30 ) ;
            bottom: font__px-to-rem( 30 );
            left: auto;
            right: auto;
          }

          // [ skin ]
          line-height: normal;
          text-align: center;
          font-size: font__px-to-rem( 24 );
          padding: 0;

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            display: block;
          }
        }

        > .form__message {
          // [ layout ]
          display: block;

          // [ position ]
          width: 85%;
          margin: {
            left: auto;
            right: auto;
            bottom: font__px-to-rem( 21.4 );
          }
          @media screen and ( min-width: $small ) {
            // [ position ]
            width: auto;
            margin-left: font__px-to-rem( 54 );
          }
          @include message();
        }

        // `.body > .content > .content__login > .login__form > .login__button`
        > .form__button {
          // [ layout ]
          display: block;

          // [ position ]
          position: relative;
          z-index: 10;
          width: 80%;
          height: font__px-to-rem( 50.6 );
          margin: {
            right: auto;
            left: auto;
            bottom: font__px-to-rem( 48 );
          }

          // [ skin ]
          line-height: normal;
          letter-spacing: normal;
          border-radius: .167rem;
          box-shadow: 0 12px 12px rgba( 0, 0, 0, .25 );
          background-color: #adacad;
          font: {
            size: font__px-to-rem( 18 );
            weight: normal;
            style: normal;
            stretch: normal;
          }
          color: #ffffff;
          @media screen and ( min-width: $small ) {
            width: font__px-to-rem( 359.4 );
          }

          &--enable {
            // [ skin ]
            background-color: #213262;

            &:hover {
              // [ skin ]
              cursor: pointer;
            }
          }
        }
      }
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ template ]
      @extend %content__element;

      // [ skin ]
      border: {
        top-width: font__px-to-rem( 32 );
        left-width: font__px-to-rem( 16 );
        color: transparent;
        style: solid;
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
