extends /layouts/faculty/base.pug
include /components/common/topic.pug
include /components/user/faculty/navigation-bar.pug
include /components/user/faculty/local-topic.pug
include /components/user/faculty/classfication-title.pug
include /components/user/faculty/form/form-input.pug
include /components/user/card/faculty/technology-transfer-card.pug
include /components/user/card/faculty/technology-transfer-head.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'User Technology Transfer',
        breadcrumb: {
          home:     'Home',
          user:     'User Technology Transfer',
        },
        content: {
          topic: 'Faculty profile settings',
          technologyTransfer: {
            topic:   'Technology Transfer',
          },
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '使用者資料管理',
        breadcrumb: {
          home:     '首頁',
          user:     '使用者資料',
        },
        content: {
          topic: '教師資料維護',
          technologyTransfer: {
            topic:   '技術轉移',
          },
        },
      },
    } );
    const formI18n = Object.freeze({
        [ LANG.getLanguageId( 'en-US' ) ]: {
          post: 'Add Your Technology Transfer',
          patch: 'Modify Your Technology Transfer',
          delete: 'Remove Your Technology Transfer',
          default: {
            authorizingParty: '',
            authorizedParty:  '',
            technology:       '',
          },
          title: {
            authorizingParty: 'authorizing party',
            authorizedParty:  'authorized party',
            technology:       'technology',
            time:             'duration',
          }
        },
        [ LANG.getLanguageId( 'zh-TW' ) ]:{
          post: '新增您的技術轉移',
          patch: '編輯您的技術轉移',
          delete: '刪除您的技術轉移',
          default: {
            authorizingParty: '',
            authorizedParty:  '',
            technology:       '',
          },
          title: {
            authorizingParty: '授權方名稱',
            authorizedParty:  '接受方名稱',
            technology:       '技術名稱',
            time:             '合約期間',
          },
       }
    })
    const inputConfig = [
      {
        type: 'i18n-text',
        columnName: 'award',
        required: true,
      },
      {
        type: 'text',
        columnName: 'receivedYear',
        required: true,
      }
    ]
    const currentRoute = 'user/faculty/technology-transfer';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'user/teacher/technology-transfer' )

append header

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.user, route: 'user/faculty/technology-transfer' },
    ]
  )

append content
  include /components/common/loading.pug
  include /components/common/refresh.pug

  +topic( 'content', i18n[ LANG.id ].content.topic )
  +navigation-bar( 'content' )
  section.content__technology-transfer.technology-transfer
    +local-topic( 'technology-transfer', i18n[ LANG.id ].content.technologyTransfer.topic )
    +refreshWithImage( 'technology-transfer' )
    +loading( 'technology-transfer' )
    section#technology-transfer__cards.technology-transfer__cards.cards
      if Array.isArray( dataWithId.technologyTransfer ) && dataWithId.technologyTransfer.length
        -
          dataWithId.technologyTransfer.sort( (a, b)=>{
            if(a.from === null )
              return -1
            else if(b.from === null)
              return 1
            return a.from - b.from
          })
        +technology-transfer-head()
        each obj in dataWithId.technologyTransfer
          +technology-transfer-card( obj )

append form
  //- +form-input( 'award', 'post', formI18n, inputConfig )
  //- +form-input( 'award', 'patch', formI18n, inputConfig )
  //- +form-input( 'award', 'delete', formI18n, inputConfig )

append footer

append scripts
  +js( 'user/teacher/award' )
