mixin title-card( data )
  section.title-card.cards__title-card( id=`cards__title-card--${ data.titleId }` )
    section.title-card__value
      p.value__text.value__text--title= data.title
    img.title-card__patch(
      alt = 'patch',
      id = `title-card__patch--${ data.titleId }`,
      src = UTILS.staticUrl( { href: 'image/icon/edit.png' } ),
      data-id = data.titleId
    )
    img.title-card__delete(
      alt = 'delete',
      id = `title-card__delete--${ data.titleId }`,
      src = UTILS.staticUrl( { href: 'image/icon/delete.png' } )
      data-id = data.titleId
    )
