extends /layouts/base.pug

append content
  include /components/common/topic.pug
  include /components/announcement/filter.pug
  include /components/announcement/title.pug
  include /components/common/loading.pug
  include /components/common/no-result.pug


  +topic( i18n[ language ].topic )
  +filter( {
    modifier: filterModifier,
    tags: filterTags
  } )

  section.announcement
    +announcement__title( i18n[ language ].pinned )
    +noResult
    +loading
    nav#announcement__brefings--top.announcement__briefings.briefings
  section.announcement
    +announcement__title( i18n[ language ].normal )
    +noResultWithImage
    +loading
    nav#announcement__brefings.announcement__briefings.briefings
  section#pages.pages
