@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/not-available';
@import 'components/common/footer';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header( $block: 'body' );
  @include header--small( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ skin ]
    height: 120%;

    // element
    // `.body > .content > .content__not-available`
    // block
    // `.body > .content > .not-available`
    @include not-available( $block: 'content' );
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
