@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/topic';
@import 'components/common/footer';
@import 'components/announcement/announcement-briefing';
@import 'components/announcement/filter';
@import 'components/announcement/pages';
@import 'components/common/banner';
@import 'components/common/breadcrumb';

body {
  // block
  // `body > .banner`
  @include banner( 'https://via.placeholder.com/1920x500' );

  // block
  // `body > .breadcrumb`
  @include breadcrumb( #ffffff );

  // block
  // `body > .content`
  > .content {
    // [ variable ]
    $small: 850px;
    $large: 992px;

    // [ layout ]
    display: grid;
    grid: {
      gap: 1.2rem 0;
      template: {
        columns: 1fr;
        areas:
          'filter'
          'topic'
          'announcement--pinned'
          'announcement--normal'
          'pages';
      }
    }

    // [ skin ]
    margin: 0 auto;
    padding: 2.2rem .5rem;
    max-width: 26rem;

    // [ RWD: $small ]
    @media screen and ( min-width: $small ) {
      // [ layout ]
      grid-template-areas:
        'topic'
        'filter'
        'announcement--pinned'
        'announcement--normal'
        'pages';
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ skin ]
      padding: 2.2rem 0;
    }

    // block
    // `body > .content > .topic`
    @include topic() {
      // [ position ]
      grid-area: topic;
    }

    // block
    // `body > .content > .filter`
    @include filter() {
      // [ position ]
      grid-area: filter;

      // element
      // `body > .content > .filter > .filter__tags`
      // block
      // `body > .content > .filter > .tags`
      > .filter__tags.tags {
        // [ variable ]
        $x-small: 200px;
        $small: 320px;
        $large: 420px;
        $x-large: 550px;

        // [ layout ]
        display: grid;
        grid-template-areas:
          'rule'
          'faculty'
          'college'
          'master'
          'phd';

        // [ RWD: $x-small ]
        @media screen and ( min-width: $x-small ) {
          // [ layout ]
          grid-template-areas:
            'rule    college'
            'faculty master'
            '.       phd';
        }

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          grid-template-areas:
            'rule    faculty .'
            'college master  phd';
        }

        // [ RWD: $medium ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          grid-template-areas:
            'rule    college master phd'
            'faculty .       .      .';
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $x-large ) {
          // [ layout ]
          grid-template-areas: 'rule faculty college master phd';
        }

        // element
        // `body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'college' ]`
        > .tags__tag[ data-tag-name = 'college' ] {
          // [ position ]
          grid-area: college;
        }

        // element
        // `body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'faculty' ]`
        > .tags__tag[ data-tag-name = 'faculty' ] {
          // [ position ]
          grid-area: faculty;
        }

        // element
        // `body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'master' ]`
        > .tags__tag[ data-tag-name = 'master' ] {
          // [ position ]
          grid-area: master;
        }

        // element
        // `body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'phd' ]`
        > .tags__tag[ data-tag-name = 'phd' ] {
          // [ position ]
          grid-area: phd;
        }

        // element
        // `body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'rule' ]`
        > .tags__tag[ data-tag-name = 'rule' ] {
          // [ position ]
          grid-area: rule;
        }
      }
    }

    // block
    // `body > .content > .announcement`
    @include announcement() ;

    // block
    // `body > .content > .announcement.announcement--pinned`
    > .announcement.announcement--pinned {
      // [ position ]
      grid-area: announcement--pinned;
    }

    // block
    // `body > .content > .announcement.announcement--normal`
    > .announcement.announcement--normal {
      // [ position ]
      grid-area: announcement--normal;
    }

    // block
    // `body > .content > .pages`
    @include pages () {
      // [ position ]
      grid-area: pages;
      justify-self: center;
    }
  }
}
