@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/footer';

// [ variable ]
$mobile-width: 768px;
$pad-width: 1024px;

// block
// `body > .content`
body > .content {
  // [ layout ]
  display: grid;
  grid-template-columns: 1fr 22% 72% 1fr;
  grid-template-areas: '. maplogo maplink .';

  // [ skin ]
  margin: 4rem 0;

  // [ RWD: $mobile-width ]
  @media screen and( max-width: $mobile-width ) {
    height: 31.25rem;
  }

  // [ RWD: $pad-width ]
  @media screen and( max-width: $pad-width ) {
    grid-template-columns: 1fr 80% 1fr;
    grid-template-areas: '. maplink .';
  }

  // block
  // `body > .content > .logo`
  > .logo {
    // [ position ]
    grid-area: maplogo;

    // [ layout ]
    display: grid;

    // [ RWD: $pad-width ]
    @media screen and( max-width: $pad-width ) {
      display: none;
    }

    // element
    // `.logo > .logo__image`
    > .logo__image {
      // [ position ]
      justify-self: center;

      // [ skin ]
      width: 4.9063rem;
    }

    // element
    // `.logo > .logo__caption`
    // block
    // `.logo > .caption`
    > .logo__caption.caption {
      // [ skin ]
      margin-top: 9%;

      // element
      // `.logo > .caption > .caption__text`
      > .caption__text {
        // modifier
        // `.logo > .caption > .caption__text.caption__text--large`
        &.caption__text--large {
          // [ skin ]
          text-align: center;
          font-size: .75rem;
        }

        // modifier
        // `.logo > .caption > .caption__text.caption__text--small`
        &.caption__text--small {
          // [ skin ]
          text-align: center;
          font-weight: normal;
          font-size: .5rem;
        }
      }
    }
  }

  // block
  // `body > .content > .map`
  > .map {
    // [ position ]
    grid-area: maplink;

    // [ RWD: $mobile-width ]
    @media screen and(max-width:$mobile-width) {
      width: 100%;
    }
    display: grid;

    // [ RWD: $mobile-width ]
    @media screen and(min-width:$mobile-width) {
      grid-template-areas:
        'head_home          about          research '
        'home               intro               lab '
        '.                  professor                  researcher '
        '.                  crew                  researchCenter '
        '.                  award                  . '
        '.                  traffic                  . '
        '.                  .                  . '
        '.                  .                  .  '
        'myhr               myhr               myhr '
        'student            announce            resources '
        '.                  .                  . '
        'lectureinformation annall resourcelink '
        'college            annactivity            . '
        'master             anncompany             . '
        'phd . . '
        'scholarship . . '
        'exchange . . '
        'company . . ';
    }

    // [ RWD: $pad-width ]
    @media screen and(min-width:$pad-width) {
      grid-template-areas:
        'head_home   about         research         student             announce      resources     .'
        'myhr        myhr          myhr             myhr                myhr          myhr          myhr'
        '.           .             .                .                   .             .             .'
        'home        intro         lab              lectureinformation  annall        resourcelink  .'
        '.           professor     researcher       college             annactivity   .             .'
        '.           crew          researchCenter   master              anncompany    .             .'
        '.           award         .                phd                 .             .             .'
        '.           traffic       .                scholarship         .             .             .'
        '.           .             .                exchange            .             .             .'
        '.           .             .                company             .             .             .';
    }
    grid-template-areas:'head_home'
      'home'
      'about'
      'intro'
      'professor'
      'crew'
      'award'
      'traffic'
      'research'
      'lab'
      'researcher'
      'researchCenter'
      'student'
      'lectureinformation'
      'college'
      'master'
      'phd'
      'scholarship'
      'exchange'
      'company'
      'announce'
      'annall'
      'annactivity'
      'anncompany'
      'resources'
      'resourcelink';
    text-align: center;
    font-size: .5625rem;

    > hr {
      // [ layout ]
      grid-area: myhr;

      // [ position ]
      display: block;
      position: relative;

      // [ skin ]
      margin: 3% .3125rem;
      padding: 0;
      border-top: .03125rem solid #aaaaaa;
      border-bottom: .03125rem solid #aaaaaa;
      height: .0625rem;
      width: 95%;
      clear: both;
      @media screen and(max-width:$mobile-width) {
        display: none;
      }
    }

    > .map__title {
      // [ skin ]
      color: #213262;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      font-size: .75rem;

      &.map__title--home {
        // [ position ]
        grid-area: head_home;
      }

      &.map__title--about {
        // [ position ]
        grid-area: about;
      }

      &.map__title--research {
        // [ position ]
        grid-area: research;
      }

      &.map__title--student {
        // [ position ]
        grid-area: student;
      }

      &.map__title--announce {
        // [ position ]
        grid-area: announce;
      }

      &.map__title--resource {
        // [ position ]
        grid-area: resources;
      }
    }

    > .map__link {
      &.map__link--home {
        // [ position ]
        grid-area: home;
      }

      &.map__link--intro {
        // [ position ]
        grid-area: intro;
      }

      &.map__link--professor {
        // [ position ]
        grid-area: professor;
      }

      &.map__link--crew {
        // [ position ]
        grid-area: crew;
      }

      &.map__link--award {
        // [ position ]
        grid-area: award;
      }

      &.map__link--traffic {
        // [ position ]
        grid-area: traffic;
      }

      &.map__link--lab {
        // [ position ]
        grid-area: lab;
      }

      &.map__link--researcher {
        // [ position ]
        grid-area: researcher;
      }

      &.map__link--researchCenter {
        // [ position ]
        grid-area: researchCenter;
      }

      &.map__link--lectureinformation {
        // [ position ]
        grid-area: lectureinformation;
      }

      &.map__link--college {
        // [ position ]
        grid-area: college;
      }

      &.map__link--master {
        // [ position ]
        grid-area: master;
      }

      &.map__link--phd {
        // [ position ]
        grid-area: phd;
      }

      &.map__link--scholarship {
        // [ position ]
        grid-area: scholarship;
      }

      &.map__link--exchange {
        // [ position ]
        grid-area: exchange;
      }

      &.map__link--company {
        // [ position ]
        grid-area: company;
      }

      &.map__link--annall {
        // [ position ]
        grid-area: annall;
      }

      &.map__link--annactivity {
        // [ position ]
        grid-area: annactivity;
      }

      &.map__link--anncompany {
        // [ position ]
        grid-area: anncompany;
      }

      &.map__link--resourcelink {
        // [ position ]
        grid-area: resourcelink;
      }
    }
  }
}
