@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/footer';
@import 'components/common/banner';

// [ variable ]
$mobile-width: 768px;
$pad-width: 1024px;

// block
// `body > .content`
body {
  // block
  // `body > .banner`
  @include banner( 'https://via.placeholder.com/1920x500' );

  > .content {
    // [ layout ]
    display: grid;
    grid-template: {
      columns: 1fr 22% 72% 1fr;
      areas: '. maplogo maplink .';
    }

    // [ skin ]
    margin: 4rem 0;

    // [ RWD: $mobile-width ]
    @media screen and( max-width: $mobile-width ) {
      height: 31.25rem;
    }

    // [ RWD: $pad-width ]
    @media screen and( max-width: $pad-width ) {
      grid-template: {
        columns: 1fr 80% 1fr;
        areas: '. maplink .';
      }
    }

    // block
    // `body > .content > .logo`
    > .logo {
      // [ position ]
      grid-area: maplogo;

      // [ layout ]
      display: grid;

      // [ RWD: $pad-width ]
      @media screen and( max-width: $pad-width ) {
        display: none;
      }

      // element
      // `.logo > .logo__image`
      > .logo__image {
        // [ position ]
        justify-self: center;

        // [ skin ]
        width: 4.9063rem;
      }

      // element
      // `.logo > .logo__caption`
      // block
      // `.logo > .caption`
      > .logo__caption.caption {
        // [ skin ]
        margin-top: 9%;

        // element
        // `.logo > .caption > .caption__text`
        > .caption__text {
          // modifier
          // `.logo > .caption > .caption__text.caption__text--large`
          &.caption__text--large {
            // [ skin ]
            text-align: center;
            font-size: .75rem;
          }

          // modifier
          // `.logo > .caption > .caption__text.caption__text--small`
          &.caption__text--small {
            // [ skin ]
            text-align: center;
            font: {
              weight: normal;
              size: .5rem;
            }
          }
        }
      }
    }

    // block
    // `body > .content > .sitemap`
    > .sitemap {
      // [ position ]
      grid: {
        area: maplink;
        template-areas:
          'sitemap__title--head_home'
          'sitemap__title--home'
          'sitemap__title--about'
          'sitemap__title--intro'
          'sitemap__title--professor'
          'sitemap__title--crew'
          'sitemap__title--award'
          'sitemap__title--traffic'
          'sitemap__title--research'
          'sitemap__title--lab'
          'sitemap__title--researcher'
          'sitemap__title--researchCenter'
          'sitemap__title--student'
          'sitemap__title--lectureinformation'
          'sitemap__title--college'
          'sitemap__title--master'
          'sitemap__title--phd'
          'sitemap__title--scholarship'
          'sitemap__title--exchange'
          'sitemap__title--company'
          'sitemap__title--announcement'
          'sitemap__title--annall'
          'sitemap__title--annactivity'
          'sitemap__title--anncompany'
          'sitemap__title--resources'
          'sitemap__title--resourcelink';
      }

      // [ RWD: $mobile-width ]
      @media screen and( max-width: $mobile-width ) {
        width: 100%;
      }
      display: grid;

      // [ RWD: $mobile-width ]
      @media screen and( min-width: $mobile-width ) {
        grid-template-areas:
          'sitemap__title--head_home          sitemap__title--about        sitemap__title--research '
          'sitemap__title--home               sitemap__title--intro        sitemap__title--lab '
          '.                                  sitemap__title--professor    sitemap__title--researcher '
          '.                                  sitemap__title--crew         sitemap__title--researchCenter '
          '.                                  sitemap__title--award        . '
          '.                                  sitemap__title--traffic      . '
          '.                                  .                            . '
          '.                                  .                            .  '
          'sitemap__title--myhr               sitemap__title--myhr         sitemap__title--myhr '
          'sitemap__title--student            sitemap__title--announcement sitemap__title--resources '
          '.                                  .                            . '
          'sitemap__title--lectureinformation sitemap__title--annall       sitemap__title--resourcelink '
          'sitemap__title--college            sitemap__title--annactivity  . '
          'sitemap__title--master             sitemap__title--anncompany   . '
          'sitemap__title--phd                .                            . '
          'sitemap__title--scholarship        .                            . '
          'sitemap__title--exchange           .                            . '
          'sitemap__title--company            .                            . ';
      }

      // [ RWD: $pad-width ]
      @media screen and( min-width: $pad-width ) {
        grid-template-areas:
          'sitemap__title--head_home   sitemap__title--about  sitemap__title--research       sitemap__title--student            sitemap__title--announcement sitemap__title--resources    .'
          'sitemap__title--myhr        sitemap__title--myhr   sitemap__title--myhr           sitemap__title--myhr               sitemap__title--myhr         sitemap__title--myhr         sitemap__title--myhr'
          '.                    .                             .                              .                                  .                            .                            .'
          'sitemap__title--home sitemap__title--intro         sitemap__title--lab            sitemap__title--lectureinformation sitemap__title--annall       sitemap__title--resourcelink .'
          '.                    sitemap__title--professor     sitemap__title--researcher     sitemap__title--college            sitemap__title--annactivity  .                            .'
          '.                    sitemap__title--crew          sitemap__title--researchCenter sitemap__title--master             sitemap__title--anncompany   .                            .'
          '.                    sitemap__title--award         .                              sitemap__title--phd                .                            .                            .'
          '.                    sitemap__title--traffic       .                              sitemap__title--scholarship        .                            .                            .'
          '.                    .                             .                              sitemap__title--exchange           .                            .                            .'
          '.                    .                             .                              sitemap__title--company            .                            .                            .';
      }
      text-align: center;
      font-size: .5625rem;

      > .sitemap__horizontal-line {
        // [ layout ]
        grid-area: sitemap__title--myhr;

        // [ position ]
        display: block;
        position: relative;

        // [ skin ]
        margin: 3% .3125rem;
        padding: 0;
        border: {
          top: .0313rem solid #aaaaaa;
          bottom: .0313rem solid #aaaaaa;
        }
        height: .0625rem;
        width: 95%;
        clear: both;
        @media screen and( max-width: $mobile-width ) {
          display: none;
        }
      }

      > .sitemap__title {
        // [ skin ]
        color: #213262;
        font: {
          size: .75rem;
          weight: bold;
          style: normal;
          stretch: normal;
        };
        line-height: normal;
        letter-spacing: normal;

        &.sitemap__title-- {
          &home {
            // [ position ]
            grid-area: sitemap__title--head_home;
          }

          &about {
            // [ position ]
            grid-area: sitemap__title--about;
          }

          &research {
            // [ position ]
            grid-area: sitemap__title--research;
          }

          &student {
            // [ position ]
            grid-area: sitemap__title--student;
          }

          &announcement {
            // [ position ]
            grid-area: sitemap__title--announcement;
          }

          &resource {
            // [ position ]
            grid-area: sitemap__title--resources;
          }
        }
      }

      > .sitemap__link {
        &.sitemap__link-- {
          &home {
            // [ position ]
            grid-area: sitemap__title--home;
          }

          &intro {
            // [ position ]
            grid-area: sitemap__title--intro;
          }

          &professor {
            // [ position ]
            grid-area: sitemap__title--professor;
          }

          &crew {
            // [ position ]
            grid-area: sitemap__title--crew;
          }

          &award {
            // [ position ]
            grid-area: sitemap__title--award;
          }

          &traffic {
            // [ position ]
            grid-area: sitemap__title--traffic;
          }

          &lab {
            // [ position ]
            grid-area: sitemap__title--lab;
          }

          &researcher {
            // [ position ]
            grid-area: sitemap__title--researcher;
          }

          &researchCenter {
            // [ position ]
            grid-area: sitemap__title--researchCenter;
          }

          &lectureinformation {
            // [ position ]
            grid-area: sitemap__title--lectureinformation;
          }

          &college {
            // [ position ]
            grid-area: sitemap__title--college;
          }

          &master {
            // [ position ]
            grid-area: sitemap__title--master;
          }

          &phd {
            // [ position ]
            grid-area: sitemap__title--phd;
          }

          &scholarship {
            // [ position ]
            grid-area: sitemap__title--scholarship;
          }

          &exchange {
            // [ position ]
            grid-area: sitemap__title--exchange;
          }

          &company {
            // [ position ]
            grid-area: sitemap__title--company;
          }

          &annall {
            // [ position ]
            grid-area: sitemap__title--annall;
          }

          &annactivity {
            // [ position ]
            grid-area: sitemap__title--annactivity;
          }

          &anncompany {
            // [ position ]
            grid-area: sitemap__title--anncompany;
          }

          &resourcelink {
            // [ position ]
            grid-area: sitemap__title--resourcelink;
          }
        }
      }
    }
  }
}
