@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/breadcrumb';
@import 'components/common/loading';
@import 'components/common/refresh';
@import 'components/common/footer';
@import 'components/common/topic';
@import 'components/user/image';
@import 'components/user/faculty/local-topic';
@import 'components/user/faculty/navigation-bar';
@import 'components/user/faculty/classfication-title';
@import 'components/user/card/faculty/award-card';
@import 'components/user/form/form';

.body {
  // [ variable ]
  $large: 1180px;
  $medium: 710px;
  $small: 535px;

  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        ' breadcrumb '
        ' topic      '
        ' navigation '
        ' award ';
      columns: 100%;
      rows: 2.5rem 2.5rem 2rem auto;
    }

    // [ position ]
    height: auto;
    width: 100%;
    max-width: font__px-to-rem( 1600 );
    margin: {
      bottom: 1rem;
      left: auto;
      right: auto;
    }

    // [ skin ]
    background-color: #ffffff;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      grid-template: {
        areas:
          ' breadcrumb breadcrumb '
          ' navigation topic      '
          ' navigation award ';
        columns: minmax( font__px-to-rem( 200 ), 1fr ) 4fr;
        rows: 2.5rem 2rem auto;
      }
    }

    // element
    // `.body > .content > .content__topic`
    @include topic( 'content' ) {
      // [ layout ]
      display: block;
      grid-area: topic;

      // [ skin ]
      width: 94%;
      height: 1rem;
      box-sizing: content-box;

      // position
      margin: {
        left: auto;
        right: auto;
      }

      // element
      // `.body > .content > .content__topic` > .topic__text
      > .topic__text {
        height: 100%;
      }
    }

    // block
    // `.body > .content > .navigation-bar`
    @include navigation-bar() {
      // [ layout ]
      grid-area: navigation;
    }

    > .content__award.award {
      // [ layout ]
      display: block;
      grid-area: award;

      // [ position ]
      margin: {
        left: auto;
        right: auto;
      }
      width: 94%;
      height: auto;

      > .award__cards.cards {
        // [ layout ]
        display: block;

        // [ position ]
        width: 100%;
        height: auto;

        // [ element ]
        @include award-card();
        @include classfication-title();
      }

      > .cards--hidden {
        // [ layout ]
        display: none;
      }
      @include local-topic('award');
      @include refresh( $block: 'award' ) {
        // [ layout ]
        margin: {
          top: font__px-to-rem( 64 );
          bottom: font__px-to-rem( 64 );
        }
      }
      @include loading( $block: 'award' ) {
        // [ layout ]
        margin: {
          top: font__px-to-rem( 64 );
          bottom: font__px-to-rem( 64 );
        }
      }
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ layout ]
      grid-area: breadcrumb;

      // [ position ]
      width: 100%;
      margin-bottom: 1rem;

      // [ skin ]
      border: {
        top-width: font__px-to-rem( 32 );
        left-width: font__px-to-rem( 16 );
        color: transparent;
        style: solid;
      }
    }
  }

  // element
  // `.body > .body__form`
  // block
  // `.body > .form`
  @include form();

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
