@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-small';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/topic';
@import 'components/common/footer';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #f2f4f7;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--small( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' );

  // element
  // `.body > .body__breadcrumb`
  // block
  // `.body > .breadcrumb`
  @include breadcrumb( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $small: 768px;
    $large: 1300px;

    // [ layout ]
    display: grid;
    grid: {
      template: {
        areas:
          '. .     .'
          '. map   .'
          '. drive .'
          '. train .'
          '. thsr  .'
          '. .     .';
        columns: 1fr 13fr 1fr;
        rows: .5rem 15rem repeat( 3, minmax( auto, min-content ) ) 1.56rem;
      }
      row-gap: 1rem;
    };

    // [ skin ]
    width: 100%;

    // [ RWD: $small ]
    @media screen and ( min-width: $small ) {
      // [ layout ]
      grid-template-rows: .5rem 20rem repeat( 3, minmax( auto, min-content ) ) 1.56rem;
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      display: grid;
      grid: {
        template: {
          areas:
            '.  .   .     .'
            '.  map drive .'
            '.  map train .'
            '.  map thsr  .'
            '.  map .     .'
            '.  .   .     .';
          columns: 1fr 6fr 4fr 1fr;
          rows: 1.6rem repeat( 3, minmax( auto, min-content ) ) 1rem 3.125rem;
        }
        column-gap: 2rem;
        row-gap: 0;
      };
    }

    // element
    // `.body > .content > .content__map`
    // block
    // `.body > .content > .map`
    > .content__map.map {
      // [ position ]
      grid-area: map;
    }

    // element
    // `.body > .content > .content__traffic`
    // block
    // `.body > .content > .traffic`
    > .content__traffic.traffic {
      // template
      // `.body > .content > .traffic.traffic--?`
      &.traffic-- {
        // modifier
        // `.body > .content > .traffic.traffic--thsr`
        &thsr {
          // [ position ]
          grid-area: thsr;
        }

        // modifier
        // `.body > .content > .traffic.traffic--train`
        &train {
          // [ position ]
          grid-area: train;
        }

        // modifier
        // `.body > .content > .traffic.traffic--drive`
        &drive {
          // [ position ]
          grid-area: drive;
        }
      }

      // element
      // `.body > .content > .traffic > .traffic__text.`
      > .traffic__text {
        // template
        // `.body > .content > .traffic > .traffic__text.traffic__text--?`
        &.traffic__text-- {
          // modifier
          // `.body > .content > .traffic > .traffic__text.traffic__text--information`
          &information {
            // [ skin ]
            font-size: .5rem;
          }

          // modifier
          // `.body > .content > .traffic > .traffic__text.traffic__text--title`
          &title {
            // [ layout ]
            display: inline;

            // [ skin ]
            border-bottom: solid .0156rem #213262;
            padding-bottom: .3rem;
            font: {
              size: .75rem;
              weight: bold;
            }

            // [ before ]
            &::before {
              // [ layout ]
              display: block;
              margin-top: 1.5625rem;

              // [ skin ]
              content: '';
            }

            // [ after ]
            &::after {
              // [ layout ]
              display: block;
              margin-top: 1.5938rem;

              // [ skin ]
              content: '';
            }
          }

          // modifier
          // `.body > .content > .traffic > .traffic__text.traffic__text--direction`
          &direction {
            // [ layout ]
            display: inline-block;
            margin: {
              top: .9688rem;
              bottom: .4688rem;
            }

            // [ skin ]
            border: solid .0313rem #adacad;
            border-radius: .0938rem;
            padding: .1rem;
            color: #adacad;
            font: {
              size: .4375rem;
              weight: bold;
            }

            // [ first-of-type ]
            &:first-of-type {
              // [ layout ]
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
