@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/font';
@import 'components/common/topic';
@import 'components/about/contact/traffic';
@import 'components/common/footer';

// block
// `body > .content`
body > .content {
  // [ layout ]
  display: grid;
  grid: {
    template: {
      areas:
        '. topic .'
        '. map   .'
        '. drive .'
        '. train .'
        '. thsr  .';
      columns: 1fr 13fr 1fr;

      rows: auto 15rem auto auto auto;
    }
    row-gap: 1rem;
  };

  // [ skin ]
  padding: 2.2rem 0;
  width: 100%;
  background-color: #f2f4f7;

  // [ RWD: 768px ]
  @media screen and ( min-width: 768px ) {
    // [ layout ]
    grid-template-rows: auto 20rem auto auto auto;
  }

  // [ RWD: 1300px ]
  @media screen and ( min-width: 1300px ) {
    // [ layout ]
    grid: {
      template: {
        areas:
          '. topic topic .'
          '.  map  drive .'
          '.  map  train .'
          '.  map  thsr  .';
        columns: 1fr 6fr 4fr 1fr;
        rows: auto auto auto auto;
      }
      column-gap: 2rem;
    };
  }
}

// block
// `body > .content > .topic`
@include topic() {
  // [ position ]
  align-self: center;

  // [ layout ]
  grid-area: topic;
}

// block
// `#map`
#map {
  // [ layout ]
  grid-area: map;
}

// block
// `.thsr`
.thsr {
  // [ layout ]
  grid-area: thsr;
  @include traffic();
}

// block
// `.train`
.train {
  // [ layout ]
  grid-area: train;
  @include traffic();
}

// block
// `.drive`
.drive {
  // [ layout ]
  grid-area: drive;
  @include traffic();
}
