@import 'components/common/reset';
@import 'components/common/font';
@import 'components/common/icon';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/breadcrumb';
@import 'components/common/topic';
@import 'components/common/footer';

// block
// `.body >　.content`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $small: 560px;
    $medium: 768px;
    $large: 1080px;
    $table-min-width: 560px;

    // [ layout ]
    display: block;
    margin: {
      top: font__px-to-rem( 70 );
      left: auto;
      right: auto;
    }

    // [ skin ]
    max-width: font__px-to-rem( 1300 );
    width: 92%;
    background-color: #ffffff;

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ position ]
      width: 100%;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        width: font__px-to-rem( 920 );
        margin: {
          left: auto;
          right: auto;
        }
      }
    }

    // template
    // `> .body > .content__?.?`
    %content__element {
      // [ layout ]
      display: block;
      margin-top: font__px-to-rem( 40 );

      // [ skin ]
      width: 100%;
      height: auto;

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ layout ]
        margin-top: font__px-to-rem( 50 );
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        width: font__px-to-rem( 920 );
        margin: {
          left: auto;
          right: auto;
        }
      }
    }

    // element
    // `.body > .content > .content__profile`
    // block
    // `.body > .content > .profile`
    > .content__profile.profile {
      // [ layout ]
      display: grid;
      grid-template: {
        areas:
          'photo          photo'
          'header         header'
          'departments    departments'
          'email          email'
          'office-address office-address'
          'office-tel     office-tel'
          'fax            fax'
          'lab            lab'
          'lab-tel        lab-tel'
          'personal-web   personal-web'
          'specialties    specialties';
        columns: auto auto;
        rows: font__px-to-rem( 240 ) repeat( 10, auto );
      }
      row-gap: font__px-to-rem( 4 );

      // [ template ]
      @extend %content__element;

      // [ position ]
      margin-top: font__px-to-rem( 60 );

      // [ RWD: $medium ]
      @media screen and ( min-width: $small ) {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            'photo          .'
            'photo          header'
            'photo          departments'
            'photo          .'
            '.              .'
            'email          email'
            'office-address office-address'
            'office-tel     office-tel'
            'fax            fax'
            'lab            lab'
            'lab-tel        lab-tel'
            'personal-web   personal-web'
            'specialties    specialties';
          columns: auto font__px-to-rem( 318 );
          rows: font__px-to-rem( 28 ) repeat( 2, auto ) font__px-to-rem( 28 ) font__px-to-rem( 20 ) repeat( 8, auto );
        }
        column-gap: font__px-to-rem( 28 );
        row-gap: font__px-to-rem( 4 );
      }

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            'header         .'
            'departments    photo'
            'email          photo'
            'office-address photo'
            'office-tel     photo'
            'fax            photo'
            'lab            photo'
            'lab-tel        photo'
            'personal-web   photo'
            'specialties    specialties';
          columns: auto font__px-to-rem( 318 );
          rows: font__px-to-rem( 43 ) minmax( font__px-to-rem( 55 ), auto ) repeat( 8, auto ) auto;
        }
        row-gap: font__px-to-rem( 8 );
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        display: grid;
        grid-template-columns: 3fr 2fr;
      }

      // element
      // `.body > .content > .profile > .profile__photo-container`
      // block
      // `.body > .content > .profile > .photo-container`
      > .profile__photo-container.photo-container {
        // [ layout ]
        display: flex;
        align-content: center;
        text-align: center;
        grid-area: photo;

        // [ skin ]
        width: 100%;
        height: auto;

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          display: inline-block;
        }

        // element
        // `.body > .content > .profile > .photo-container > .photo-container__photo`
        > .photo-container__photo {
          // [ layout ]
          display: inline-block;
          object-fit: cover;

          // [ skin ]
          max: {
            width: font__px-to-rem( 350 );
            height: font__px-to-rem( 350 );
          }
          width: auto;
          height: 100%;
          border-radius: 50%;
          margin: {
            left: auto;
            right: auto;
          }

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ layout ]
            width: 100%;
            height: auto;

            // [ position ]
            margin: {
              left: 0;
              right: 0;
            }
          }
        }
      }

      // element
      // `.body > .content > .profile > .profile__name`
      > .profile__header {
        // [ layout ]
        grid-area: header;

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          display: flex;
          text-align: end;
        }

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 16 );
        }

        > .header__name {
          // [ layout ]
          display: inline-block;
          margin: {
            top: font__px-to-rem( 26 );
            bottom: font__px-to-rem( 26 );
          }
          line-height: font__px-to-rem( 24 );
          width: 100%;

          // [ skin ]
          color: #000000;
          font: {
            size: font__px-to-rem( 24 );
            weight: bold;
          }
          text-align: center;

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ layout ]
            display: flex;
            align-items: flex-end;
            width: auto;
            margin: {
              top: 0;
              bottom: font__px-to-rem( 16 );
              right: font__px-to-rem( 20 );
            }
            text-align: left;
          }

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ layout ]
            margin-bottom: font__px-to-rem( 8 );
          }
        }

        // element
        // `.body > .content > .profile > .profile__titles`
        // block
        // `.body > .content > .profile > .titles`
        > .header__titles.titles {
          // [ layout ]
          grid-area: titles;
          display: block;
          text-align: center;
          margin-bottom: font__px-to-rem( 6 );

          // [ skin ]
          width: auto;
          height: auto;

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ layout ]
            display: flex;
            align-items: flex-end;

            // [ position ]
            margin-bottom: font__px-to-rem( 20 );
            text-align: left;
          }

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ position ]
            margin-bottom: font__px-to-rem( 0 );
          }

          // element
          // `.body > .content > .profile > .info > .titles__title`
          > .titles__title {
            // [ layout ]
            display: inline-block;
            text-align: center;
            line-height: font__px-to-rem( 14 );

            // [ skin ]
            min-height: font__px-to-rem( 28 );
            padding: font__px-to-rem( 3 ) font__px-to-rem( 3 );
            color: rgba( 0, 0, 0, .87 );
            font-size: font__px-to-rem( 14 );

            // [ RWD: $small ]
            @media screen and ( min-width: $small ) {
              // [ layout ]
              display: flex;
              align-items: flex-end;
            }

            // [ RWD: $medium ]
            @media screen and ( min-width: $medium ) {
              // [ layout ]
              display: inline-block;
            }
          }
        }
      }

      // element
      // `.body > .content > .profile > .profile__departments`
      // block
      // `.body > .content > .profile > .departments`
      > .profile__departments.departments {
        // [ layout ]
        grid-area: departments;
        display: block;
        text-align: center;
        margin-bottom: font__px-to-rem( 32 );
        line-height: font__px-to-rem( 14 );

        // [ skin ]
        width: 100%;
        height: auto;

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          display: inline-block;
          text-align: left;
          margin-bottom: font__px-to-rem( 0 );
        }

        // element
        // `.body > .content > .profile > .departments > .department`
        > .departments__department {
          // [ variable ]
          $min-height: font__px-to-rem( 28 );
          $font-size: font__px-to-rem( 14 );
          $padding-vertical-align: ( $min-height - $font-size ) / 2;

          // [ layout ]
          display: inline-block;
          margin: font__px-to-rem( 4 );
          vertical-align: top;
          text-align: center;
          line-height: $font-size;

          // [ skin ]
          min: {
            width: font__px-to-rem( 96 );
            height: $min-height;
          }
          border-radius: font__px-to-rem( 15 );
          padding: {
            top: $padding-vertical-align;
            bottom: $padding-vertical-align;
            left: font__px-to-rem( 16 );
            right: font__px-to-rem( 16 );
          }
          color: white;
          background-color: #f67057;
          font-size: $font-size;
        }
      }

      // template
      // `.body > .content > .profile > .info > .info__?.?`
      %info__block {
        // [ variable ]
        $before-gap: font__px-to-rem( 36 );
        $icon-size: font__px-to-rem( 24 );

        // [ position ]
        position: relative;

        // [ layout ]
        display: block;
        text-align: left;
        margin: {
          bottom: font__px-to-rem( 22 );
          left: $before-gap;
        }
        line-height: $icon-size;

        // [ skin ]
        font-size: font__px-to-rem( 16 );

        // [ before ]
        &::before {
          // [ position ]
          position: absolute;
          top: 0;
          left: -1 * $before-gap;

          // [ layout ]
          display: inline-block;

          // [ skin ]
          content: '';
          width: $icon-size;
          height: $icon-size;
          background: {
            position: center;
            size: contain;
            repeat: no-repeat;
          }
          filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );
        }
      }

      // template
      // `.body > .content > .profile > .info > .? > .?__??`
      %info__element {
        // [ layout ]
        display: inline-block;
        line-height: font__px-to-rem( 16 );

        // [ skin ]
        width: auto;
        height: auto;
        color: #000000;
        font-size: font__px-to-rem( 16 );
      }

      // element
      // `.body > .content > .profile > .profile__email`
      // block
      // `.body > .content > .profile > .email`
      > .profile__email.email {
        // [ template ]
        @extend %info__block;

        // [ layout ]
        grid-area: email;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__envelope();
        }

        // element
        // `.body > .content > .profile > .info > .email > .email__text`
        > .email__text {
          // [ template ]
          @extend %info__element;
        }

        // element
        // `.body > .content > .profile > .info > .email > .email__address`
        > .email__address {
          // [ template ]
          @extend %info__element;

          // [ skin ]
          text-decoration: underline;
        }
      }

      // element
      // `.body > .content > .profile > .profile__office-address`
      // block
      // `.body > .content > .profile > .office-address`
      > .profile__office-address.office-address {
        // [ layout ]
        grid-area: office-address;

        // [ template ]
        @extend %info__block;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__location();
        }

        // element
        // `.body > .content > .profile > .info > .office-address > .office-address__text`
        > .office-address__text {
          // [ template ]
          @extend %info__element;
        }

        // element
        // `.body > .content > .profile > .info > .office-address > .office-address__info`
        > .office-address__info {
          // [ template ]
          @extend %info__element;
        }
      }

      // element
      // `.body > .content > .profile > .profile__office-tel`
      // block
      // `.body > .content > .profile > .office-tel`
      > .profile__office-tel.office-tel {
        // [ layout ]
        grid-area: office-tel;

        // [ template ]
        @extend %info__block;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__phone();
        }

        // element
        // `.body > .content > .profile > .info > .office-tel > .office-tel__text`
        > .office-tel__text {
          // [ template ]
          @extend %info__element;
        }

        // element
        // `.body > .content > .profile > .info > .office-tel > .office-tel__number`
        > .office-tel__number {
          // [ template ]
          @extend %info__element;

          // [ skin ]
          text-decoration: underline;
        }
      }

      // element
      // `.body > .content > .profile > .profile__fax`
      // block
      // `.body > .content > .profile > .fax`
      > .profile__fax.fax {
        // [ layout ]
        grid-area: fax;

        // [ template ]
        @extend %info__block;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__printer();
        }

        // element
        // `.body > .content > .profile > .info > .fax > .fax__text`
        > .fax__text {
          // [ template ]
          @extend %info__element;
        }

        // element
        // `.body > .content > .profile > .info > .fax > .fax__number`
        > .fax__number {
          // [ template ]
          @extend %info__element;
        }
      }

      // element
      // `.body > .content > .profile > .profile__lab`
      // block
      // `.body > .content > .profile > .lab`
      > .profile__lab.lab {
        // [ layout ]
        grid-area: lab;

        // [ template ]
        @extend %info__block;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__laboratory();
        }

        // element
        // `.body > .content > .profile > .info > .lab > .lab__text`
        > .lab__text {
          // [ template ]
          @extend %info__element;
        }

        // element
        // `.body > .content > .profile > .info > .lab > .lab__name`
        > .lab__name {
          // [ template ]
          @extend %info__element;

          // modifier
          // `.body > .content > .profile > .info > .lab > .lab__name.lab__name--link`
          &.lab__name--link {
            // [ skin ]
            text-decoration: underline;
          }
        }

        // element
        // `.body > .content > .profile > .info > .lab > .lab__address`
        > .lab__address {
          // [ layout ]
          display: block;
          line-height: font__px-to-rem( 14 );

          // [ skin ]
          width: auto;
          height: auto;
          color: #757575;
          font-size: font__px-to-rem( 14 );
        }
      }

      // element
      // `.body > .content > .profile > .profile__lab-tel`
      // block
      // `.body > .content > .profile > .lab-tel`
      > .profile__lab-tel.lab-tel {
        // [ layout ]
        grid-area: lab-tel;

        // [ template ]
        @extend %info__block;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__phone();
        }

        // element
        // `.body > .content > .profile > .info > .lab-tel > .lab-tel__text`
        > .lab-tel__text {
          // [ template ]
          @extend %info__element;
        }

        // element
        // `.body > .content > .profile > .info > .lab-tel > .lab-tel__number`
        > .lab-tel__number {
          // [ template ]
          @extend %info__element;

          // [ skin ]
          text-decoration: underline;
        }
      }

      // element
      // `.body > .content > .profile > .profile__personal-web`
      // block
      // `.body > .content > .profile > .personal-web`
      > .profile__personal-web.personal-web {
        // [ layout ]
        grid-area: personal-web;

        // [ template ]
        @extend %info__block;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__www();
        }

        // element
        // `.body > .content > .profile > .info > .personal-web > .personal-web__text`
        > .personal-web__text {
          // [ template ]
          @extend %info__element;
        }

        // element
        // `.body > .content > .profile > .info > .personal-web > .personal-web__address`
        > .personal-web__address {
          // [ template ]
          @extend %info__element;

          // [ layout ]
          word-break: break-all;

          // [ skin ]
          text-decoration: underline;
        }
      }

      // element
      // `.body > .content > .profile > .profile__specialties`
      // block
      // `.body > .content > .profile > .specialties`
      > .profile__specialties.specialties {
        // [ layout ]
        display: grid;

        grid: {
          area: specialties;
          template: {
            areas:'text specialty';
            columns: max-content auto;
          }
        }
        margin-top: font__px-to-rem( 10 );

        // [ template ]
        @extend %info__block;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__search();
        }

        // element
        // `.body > .content > .profile > .info > .specialties > .specialties__text`
        > .specialties__text {
          // [ layout ]
          grid-area: text;

          // [ template ]
          @extend %info__element;
        }

        // element
        // `.body > .content > .profile > .info > .specialties > .specialties__specialty`
        > .specialties__specialty.specialty {
          // [ layout ]
          display: inline-block;
          grid-area: specialty;

          > .specialty__item {
            // [ layout ]
            display: inline-block;
            margin: {
              bottom: font__px-to-rem( 10 );
              right: font__px-to-rem( 10 );
            }
            line-height: font__px-to-rem( 16 );

            // [ skin ]
            width: auto;
            border-radius: font__px-to-rem( 16 );
            padding: {
              top: font__px-to-rem( 7 );
              bottom: font__px-to-rem( 7 );
              left: font__px-to-rem( 16 );
              right: font__px-to-rem( 16 );
            }
            color: #adacad;
            background-color: #ededed;
            font-size: font__px-to-rem( 16 );
          }
        }
      }
    }

    // template
    // `.body > .content > .? > .?__context.context`
    %content__history-context {
      // [ layout ]
      display: block;
      margin: {
        top: font__px-to-rem( 10 );
        bottom: font__px-to-rem( 24 );
      }

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 0 );
      }

      // element
      // `.body > .content > .? > .context > .context__time`
      // block
      // `.body > .content > .? > .context > .time`
      > .context__time.time {
        // [ layout ]
        display: block;
        margin-top: font__px-to-rem( 10 );
        line-height: font__px-to-rem( 26 );

        // [ skin ]
        width: auto;
        height: auto;

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          display: inline-block;
          vertical-align: middle;
          margin: {
            right: font__px-to-rem( 20 );
            top: 0;
          }

          // [ skin ]
          min-width: font__px-to-rem( 214 );
        }

        // element
        // `.body > .content > .? > .context > .time > .time__year`
        > .time__year {
          // [ layout ]
          display: inline-block;
          line-height: font__px-to-rem( 16 );
          vertical-align: top;

          // [ skin ]
          width: auto;
          height: font__px-to-rem( 30 );
          border: font__px-to-rem( 1 ) solid #757575;
          border-radius: font__px-to-rem( 16 );
          padding: {
            top: font__px-to-rem( 5 );
            bottom: font__px-to-rem( 5 );
            left: font__px-to-rem( 10 );
            right: font__px-to-rem( 10 );
          }
          color: #000000;
          font-size: font__px-to-rem( 16 );

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ position ]
            min-height: font__px-to-rem( 32 );

            // [ skin ]
            border-radius: font__px-to-rem( 26 );
            padding: {
              top: font__px-to-rem( 7 );
              bottom: font__px-to-rem( 7 );
            }
          }

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ layout ]
            display: inline-block;
            line-height: font__px-to-rem( 16 );

            // [ skin ]
            padding: {
              left: font__px-to-rem( 26 );
              right: font__px-to-rem( 26 );
            }
          }
        }

        // element
        // `.body > .content > .? > .context > .time > .time__till`
        > .time__till {
          // [ layout ]
          display: inline-block;
          margin: {
            top: font__px-to-rem( 12 );
            bottom: font__px-to-rem( 12 );
            left: font__px-to-rem( 7 );
            right: font__px-to-rem( 7 );
          }
          vertical-align: top;

          // [ skin ]
          width: font__px-to-rem( 20 );
          height: font__px-to-rem( 2 );
          color: #757575;
          background-color: #757575;
        }
      }

      // element
      // `.body > .content > .? > .context > .context__list`
      // block
      // `.body > .content > .? > .context > .list`
      > .context__list.list {
        // [ layout ]
        display: block;
        margin-top: font__px-to-rem( 10 );
        line-height: font__px-to-rem( 24 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          display: inline-block;
        }

        // element
        // `.body > .content > .? > .context > .list > .list__image`
        > .list__image {
          // [ layout ]
          display: inline-block;
          vertical-align: middle;

          // [ skin ]
          width: font__px-to-rem( 24 );
          height: font__px-to-rem( 24 );
          border-radius: 50%;

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ skin ]
            width: font__px-to-rem( 32 );
            height: font__px-to-rem( 32 );
          }
        }

        // element
        // `.body > .content > .? > .context > .list > .list__item`
        > .list__item {
          // [ layout ]
          display: inline-flex;
          align-items: center;
          margin: {
            top: font__px-to-rem( 2 );
            bottom: font__px-to-rem( 2 );
            left: font__px-to-rem( 4 );
          }
          vertical-align: middle;
          line-height: font__px-to-rem( 14 );

          // [ skin ]
          width: auto;
          height: font__px-to-rem( 30 );
          border-radius: font__px-to-rem( 16 );
          padding: {
            top: font__px-to-rem( 5 );
            bottom: font__px-to-rem( 5 );
            left: font__px-to-rem( 10 );
            right: font__px-to-rem( 10 );
          }
          color: #adacad;
          background-color: #ededed;
          font-size: font__px-to-rem( 16 );

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ layout ]
            margin-left: font__px-to-rem( 16 );
            line-height: font__px-to-rem( 16 );

            // [ skin ]
            height: font__px-to-rem( 30 );
            border-radius: font__px-to-rem( 26 );
            padding: {
              top: font__px-to-rem( 7 );
              bottom: font__px-to-rem( 7 );
              left: font__px-to-rem( 14 );
              right: font__px-to-rem( 14 );
            }
            font-size: font__px-to-rem( 16 );
          }

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ layout ]
            margin-left: font__px-to-rem( 16 );
            line-height: font__px-to-rem( 16 );

            // [ skin ]
            height: font__px-to-rem( 30 );
            border-radius: font__px-to-rem( 26 );
            padding: {
              top: font__px-to-rem( 7 );
              bottom: font__px-to-rem( 7 );
              left: font__px-to-rem( 14 );
              right: font__px-to-rem( 14 );
            }
            font-size: font__px-to-rem( 16 );
          }

          // modifier
          // `.body > .content > .? > .context > .list > .list__item.list__item--blue`
          &.list__item--blue {
            // [ skin ]
            color: #8caae2;
            background-color: #eaeff7;
          }
        }
      }
    }

    // element
    // `.body > .content > .content__education`
    // block
    // `.body > .content > .education`
    > .content__education.education {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .education > .education__topic`
      // block
      // `.body > .content > .education > .topic`
      @include topic( $block: 'education' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .education > .education__context`
      // block
      // `.body > .content > .education > .context`
      > .education__context.context {
        // [ template ]
        @extend %content__history-context;
      }
    }

    // element
    // `.body > .content > .content__profile`
    // block
    // `.body > .content > .profile`
    > .content__experience.experience {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .experience > .experience__topic`
      // block
      // `.body > .content > .experience > .topic`
      @include topic( $block: 'experience' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .experience > .experience__context`
      // block
      // `.body > .content > .experience > .context`
      > .experience__context.context {
        // [ template ]
        @extend %content__history-context;
      }
    }

    // template
    // `.body > .content > .? > .?__title`
    %content__work-title {
      // [ layout ]
      display: block;
      margin: {
        top: font__px-to-rem( 30 );
        bottom: font__px-to-rem( 16 );
      }
      line-height: font__px-to-rem( 14 );

      // [ skin ]
      width: auto;
      height: font__px-to-rem( 14 );
      color: #000000;
      font: {
        size: font__px-to-rem( 16 );
        weight: bold;
      }

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ layout ]
        line-height: font__px-to-rem( 18 );

        // [ skin ]
        height: font__px-to-rem( 18 );
        font-size: font__px-to-rem( 18 );
      }
    }

    // template
    // `.body > .content > .? > .?__context.context`
    %content__work-context {
      // [ position ]
      position: relative;

      // [ layout ]
      display: block;
      margin-bottom: font__px-to-rem( 16 );
      line-height: 0;

      // [ skin ]
      width: auto;
      height: auto;
      border: {
        color: #ffffff;
        style: solid;
        top-width: font__px-to-rem( 26 );
        bottom-width: font__px-to-rem( 26 );
        left-width: font__px-to-rem( 26 );
        right-width: font__px-to-rem( 26 );
        radius: font__px-to-rem( 8 );
      }
      padding-left: font__px-to-rem( 36 );
      background-color: #ffffff;
      box-shadow: 0 font__px-to-rem( 2 ) font__px-to-rem( 24 ) #dbdbdb, 0 font__px-to-rem( 8 ) font__px-to-rem( 10 ) #cccccc;

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ skin ]
        border: {
          left-width: font__px-to-rem( 20 );
          right-width: font__px-to-rem( 20 );
        }
        padding-left: font__px-to-rem( 46 );
      }

      // [ before ]
      &::before {
        // [ position ]
        position: absolute;
        top: 50%;
        left: font__px-to-rem( 0 );

        // [ layout ]
        display: inline-block;

        // [ skin ]
        width: font__px-to-rem( 28 );
        height: font__px-to-rem( 28 );
        background: {
          position: center;
          size: contain;
          repeat: no-repeat;
        }
        transform: translateY( -50% );
        content: '';
      }

      // element
      // `.body > .content > .? > .context > .context__main`
      > .context__main {
        // [ layout ]
        display: inline;
        margin: {
          top: font__px-to-rem( 4 );
          bottom: font__px-to-rem( 4 );
          right: font__px-to-rem( 8 );
        }
        vertical-align: top;
        line-height: font__px-to-rem( 18 );

        // [ skin ]
        font-size: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          line-height: font__px-to-rem( 20 );

          // [ skin ]
          font-size: font__px-to-rem( 16 );
        }
      }

      // element
      // `.body > .content > .? > .context > .context__time`
      > .context__time {
        // [ layout ]
        display: inline;
        margin: {
          top: font__px-to-rem( 4 );
          bottom: font__px-to-rem( 4 );
          right: font__px-to-rem( 8 );
        }
        vertical-align: top;
        line-height: font__px-to-rem( 18 );

        // [ skin ]
        font-size: font__px-to-rem( 14 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          line-height: font__px-to-rem( 20 );

          // [ skin ]
          font-size: font__px-to-rem( 16 );
        }
      }
    }

    // element
    // `.body > .content > .content__award`
    // block
    // `.body > .content > .award`
    > .content__award.award {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .award > .award__topic`
      // block
      // `.body > .content > .award > .topic`
      @include topic( $block: 'award' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .award > .award__title`
      > .award__title {
        // [ template ]
        @extend %content__work-title;
      }

      // element
      // `.body > .content > .award > .award__context`
      // block
      // `.body > .content > .award > .context`
      > .award__context.context {
        // [ template ]
        @extend %content__work-context;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__trophy();
        }
      }
    }

    // element
    // `.body > .content > .publication`
    // block
    // `.body > .content > .publication`
    > .content__publication.publication {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .publication > .publication__topic`
      // block
      // `.body > .content > .publication > .topic`
      @include topic( $block: 'publication' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .publication > .publication__title`
      > .publication__title {
        // [ template ]
        @extend %content__work-title;
      }

      // element
      // `.body > .content > .publication > .publication__context`
      // block
      // `.body > .content > .publication > .context`
      > .publication__context.context {
        // [ template ]
        @extend %content__work-context;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__book();
        }
      }
    }

    // template
    %row__value {
      // [ skin ]
      line-height: normal;
      font: {
        size: font__px-to-rem( 18 );
        weight: normal;
      }
      color: rgba( 0, 0, 0, .87 );
    }

    // template
    %row__title {
      // [ skin ]
      line-height: normal;
      font: {
        size: font__px-to-rem( 18 );
        weight: 500;
      }
      color: rgba( 0, 0, 0, .87 );
    }

    // template
    %row__duration {
      // [ layout ]
      display: flex;
      align-items: center;

      // element
      // `.body > .content > .? > .table > .body > .row > .col > .col__time`
      > .duration__time {
        // [ layout ]
        display: flex;
        align-items: center;
        text-align: center;

        // [ position ]
        width: fit-content;
        height: font__px-to-rem( 30 );

        // [ skin ]
        border: {
          color: #757575;
          width: font__px-to-rem( 1 );
          style: solid;
          radius: font__px-to-rem( 14 );
        }
        padding: {
          left: font__px-to-rem( 8 );
          right: font__px-to-rem( 8 );
          bottom: font__px-to-rem( 2 );
        }
        color: #757575;
        line-height: font__px-to-rem( 14 );
        font-size: font__px-to-rem( 16 );

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ skin ]
          border-radius: font__px-to-rem( 24 );
          font-size: font__px-to-rem( 16 );
          padding: {
            left: font__px-to-rem( 16 );
            right: font__px-to-rem( 16 );
          }
        }

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ position ]
          width: fit-content;
          height: font__px-to-rem( 30 );

          // [ skin ]
          line-height: normal;
          border-radius: font__px-to-rem( 24 );
        }
      }

      // element
      // `.body > .content > .? > .table > .body > .row > .col > .col__till`
      > .duration__till {
        // [ layout ]
        display: block;

        // [ position ]
        width: font__px-to-rem( 16 );
        height: 0;
        margin: {
          left: font__px-to-rem( 8 );
          right: font__px-to-rem( 8 );
        }

        // [ skin ]
        border: solid font__px-to-rem( 1 ) #757575;
      }
    }

    // template
    %row__list {
      // [ layout ]
      display: flex;
      flex-wrap: wrap;

      > .list__item {
        // [ layout ]
        display: block;

        // [ position ]
        width: 100%;
        @extend %row__value;
      }
    }

    // element
    // `.body > .content > .content__patent`
    // block
    // `.body > .content > .patent`
    > .content__patent.patent {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .patent > .patent__topic`
      // block
      // `.body > .content > .patent > .topic`
      @include topic( $block: 'patent' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .patent > .patent__name`
      // block
      // `.body > .content > .patent > .name`
      > .patent__name.name {
        // [ layout ]
        display: block;

        // [ position ]
        margin-bottom: font__px-to-rem( 16 );

        // [ skin ]
        font: {
          size: font__px-to-rem( 18 );
          weight: bold;
        }
        line-height: normal;
      }

      // element
      // `.body > .content > .patent > .patent__row`
      // block
      // `.body > .content > .patent > .row`
      > .patent__row.row {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            '.     title-name     . value-name'
            '.     title-nation   . value-nation'
            '.     title-owner    . value-owner'
            '.     title-inventor . value-inventor'
            '.     title-certi    . value-certi'
            '.     title-apply    . value-apply'
            '.     title-duration . value-duration';
          columns: font__px-to-rem( 16 ) max-content font__px-to-rem( 16 ) auto;
        }
        row-gap: font__px-to-rem( 16 );

        // [ position ]
        margin-bottom: font__px-to-rem( 24 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          grid-template-columns: font__px-to-rem( 32 ) max-content font__px-to-rem( 32 ) auto;
        }

        > .row__title {
          @extend %row__title;

          &--name {
            // [ position ]
            grid-area: title-name;
          }

          &--nation {
            // [ position ]
            grid-area: title-nation;
          }

          &--owner {
            // [ position ]
            grid-area: title-owner;
          }

          &--inventor {
            // [ position ]
            grid-area: title-inventor;
          }

          &--certi {
            // [ position ]
            grid-area: title-certi;
          }

          &--apply {
            // [ position ]
            grid-area: title-apply;
          }

          &--duration {
            // [ position ]
            grid-area: title-duration;
          }
        }

        > .row__value {
          @extend %row__value;

          &--name {
            // [ position ]
            grid-area: value-name;
          }

          &--owner {
            // [ position ]
            grid-area: value-owner;
          }

          &--inventor {
            // [ position ]
            grid-area: value-inventor;
          }

          &--certi {
            // [ position ]
            grid-area: value-certi;
          }

          &--apply {
            // [ position ]
            grid-area: value-apply;
          }

          &--duration {
            // [ position ]
            grid-area: value-duration;
          }
        }

        > .row__image {
          // [ layout ]
          display: flex;
          align-items: center;

          &--nation {
            // [ layout ]
            grid-area: value-nation;
          }

          > .image__icon {
            // [ location ]
            height: font__px-to-rem( 20 );
            width: auto;
            margin-right: font__px-to-rem( 16 );
          }

          > .image__value {
            // [ template ]
            @extend %row__value;
          }
        }

        > .row__duration {
          // [ layout ]
          grid-area: value-duration;

          // [ template ]
          @extend %row__duration;
        }
      }
    }

    // element
    // `.body > .content > .content__technology-transfer`
    // block
    // `.body > .content > .technology-transfer`
    > .content__technology-transfer.technology-transfer {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .technology-transfer > .technology-transfer__topic`
      // block
      // `.body > .content > .technology-transfer > .topic`
      @include topic( $block: 'technology-transfer' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .project > .project__title`
      > .technology-transfer__title {
        // [ template ]
        @extend %content__work-title;
      }

      // element
      // `.body > .content > .project > .project__table`
      // block
      // `.body > .content > .project > .table`
      > .technology-transfer__row.row {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            '.     title-technology       . value-technology'
            '.     title-patent           . value-patent'
            '.     title-authorizingParty . value-authorizingParty'
            '.     title-authorizedParty  . value-authorizedParty'
            '.     title-duration         . value-duration';
          columns: font__px-to-rem( 16 ) max-content font__px-to-rem( 16 ) auto;
        }
        row-gap: font__px-to-rem( 16 );

        // [ position ]
        margin-bottom: font__px-to-rem( 24 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          grid-template-columns: font__px-to-rem( 32 ) max-content font__px-to-rem( 32 ) auto;
        }

        > .row__title {
          @extend %row__title;

          &--technology {
            // [ position ]
            grid-area: title-technology;
          }

          &--patent {
            // [ position ]
            grid-area: title-patent;
          }

          &--authorizingParty {
            // [ position ]
            grid-area: title-authorizingParty;
          }

          &--authorizedParty {
            // [ position ]
            grid-area: title-authorizedParty;
          }

          &--duration {
            // [ position ]
            grid-area: title-duration;
          }
        }

        > .row__value {
          @extend %row__value;

          &--technology {
            // [ position ]
            grid-area: value-technology;
          }

          &--authorizingParty {
            // [ position ]
            grid-area: value-authorizingParty;
          }

          &--authorizedParty {
            // [ position ]
            grid-area: value-authorizedParty;
          }
        }

        > .row__duration {
          // [ layout ]
          grid-area: value-duration;

          // [ template ]
          @extend %row__duration;
        }

        > .row__list {
          // [ layout ]
          grid-area: value-patent;

          // [ template ]
          @extend %row__list;
        }
      }
    }

    // element
    // `.body > .content > .content__project`
    // block
    // `.body > .content > .project`
    > .content__project.project {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .project > .project__topic`
      // block
      // `.body > .content > .project > .topic`
      @include topic( $block: 'project' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .project > .project__title`
      > .project__title {
        // [ position ]
        margin-bottom: font__px-to-rem( 32 );

        // [ template ]
        @extend %content__work-title;
      }

      // element
      // `.body > .content > .project > .project__table`
      // block
      // `.body > .content > .project > .table`
      > .project__row.row {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            '.     title-name     . value-name'
            '.     title-duration . value-duration'
            '.     title-support  . value-support';
          columns: font__px-to-rem( 16 ) max-content font__px-to-rem( 16 ) auto;
        }
        row-gap: font__px-to-rem( 16 );

        // [ position ]
        margin-bottom: font__px-to-rem( 24 );

        // [ skin ]
        padding-bottom: font__px-to-rem( 16 );
        border-bottom: solid font__px-to-rem( 1 ) #757575;

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          grid-template-columns: font__px-to-rem( 32 ) max-content font__px-to-rem( 32 ) auto;
        }

        > .row__title {
          @extend %row__title;

          &--name {
            // [ position ]
            grid-area: title-name;
          }

          &--support {
            // [ position ]
            grid-area: title-support;
          }

          &--duration {
            // [ position ]
            grid-area: title-duration;
          }
        }

        > .row__value {
          @extend %row__value;

          &--name {
            // [ position ]
            grid-area: value-name;
          }

          &--support {
            // [ position ]
            grid-area: value-support;
          }
        }

        > .row__duration {
          // [ layout ]
          grid-area: value-duration;

          // [ template ]
          @extend %row__duration;
        }
      }
    }

    // element
    // `.body > .content > .content__student-award`
    // block
    // `.body > .content > .student-award`
    > .content__student-award.student-award {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .student-award > .student-award__topic`
      // block
      // `.body > .content > .student-award > .topic`
      @include topic( $block: 'student-award' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .student-award > .student-award__title`
      > .student-award__title {
        // [ template ]
        @extend %content__work-title;
      }

      %content__icon {
        // [ before ]
        &::before {
          // [ layout ]
          display: inline-block;

          // [ position ]
          margin-right: font__px-to-rem( 8 );

          // [ skin ]
          width: font__px-to-rem( 28 );
          height: font__px-to-rem( 28 );
          background: {
            position: center;
            size: contain;
            repeat: no-repeat;
          }
          content: '';

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ position ]
            margin-right: font__px-to-rem( 32 );
          }
        }
      }

      %content__info {
        // [ layout ]
        display: inline;
        margin: {
          top: font__px-to-rem( 4 );
          bottom: font__px-to-rem( 4 );
          right: font__px-to-rem( 8 );
        }
        vertical-align: top;
        line-height: font__px-to-rem( 18 );

        // [ skin ]
        font-size: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          line-height: 1.87;

          // [ skin ]
          font-size: font__px-to-rem( 16 );
        }
      }

      // element
      // `.body > .content > .student-award > .student-award__context`
      // block
      // `.body > .content > .student-award > .context`
      > .student-award__context.context {
        // [ layout ]
        display: flex;
        flex-wrap: wrap;

        // [ position ]
        margin-bottom: font__px-to-rem( 16 );
        width: auto;
        height: auto;

        // [ skin ]
        line-height: 0;
        border: {
          color: #ffffff;
          style: solid;
          top-width: font__px-to-rem( 26 );
          bottom-width: font__px-to-rem( 26 );
          left-width: font__px-to-rem( 26 );
          right-width: font__px-to-rem( 26 );
          radius: font__px-to-rem( 8 );
        }
        background-color: #ffffff;
        box-shadow: 0 font__px-to-rem( 2 ) font__px-to-rem( 24 ) #dbdbdb, 0 font__px-to-rem( 8 ) font__px-to-rem( 10 ) #cccccc;

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ skin ]
          border: {
            left-width: font__px-to-rem( 20 );
            right-width: font__px-to-rem( 20 );
          }
        }

        // element
        // `.body > .content > .? > .context > .context__main`
        > .context__award {
          // [ layout ]
          display: flex;
          align-items: center;

          // [ position ]
          width: 100%;
          height: auto;
          margin-bottom: font__px-to-rem( 8 );

          // [ template ]
          @extend %content__icon;

          &::before {
            // [ skin ]
            padding-bottom: font__px-to-rem( 16 );

            // [ icon ]
            @include icon__trophy();
          }

          > .award__info {
            // [ location ]
            width: 100%;

            // [ skin ]
            border-bottom: solid 1px #c4c4c4;
            padding-bottom: font__px-to-rem( 16 );

            // [ template ]
            @extend %content__info;
          }
        }

        // element
        // `.body > .content > .? > .context > .context__student`
        > .context__student {
          // [ layout ]
          display: flex;
          align-items: center;

          // [ position ]
          width: 100%;
          height: auto;

          // [ template ]
          @extend %content__icon;

          &::before {
            // [ icon ]
            @include icon__user();
          }

          > .student__info {
            // [ template ]
            @extend %content__info;
          }
        }
      }
    }

    // element
    // `.body > .content > .content__conference`
    // block
    // `.body > .content > .conference`
    .content__conference.conference {
      // [ template ]
      @extend %content__element;

      // element
      // `.body > .content > .conference > .conference__topic`
      // block
      // `.body > .content > .conference > .topic`
      @include topic( $block: 'conference' ) {
        // [ layout ]
        margin-bottom: font__px-to-rem( 16 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          margin-bottom: font__px-to-rem( 50 );
        }
      }

      // element
      // `.body > .content > .conference > .conference__title`
      > .conference__title {
        // [ template ]
        @extend %content__work-title;
      }

      // element
      // `.body > .content > .conference > .conference__context`
      // block
      // `.body > .content > .conference > .context`
      > .conference__context.context {
        // [ template ]
        @extend %content__work-context;

        // [ before ]
        &::before {
          // [ icon ]
          @include icon__speech();
        }
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
