@import 'components/common/reset';
@import 'components/common/header';
@import 'components/about/faculty/card';
@import 'components/common/topic';

// block
// `.content`

.content {
  // block [skin]
  // $small: 1024px;
  // $large: 1536px;
  $small: 640px;
  width: 100%;
  background-color: #eff3f9;

  // block [layout]
  display: grid;
  grid: {
    template: {
      areas:
        '.   .   .'
        '. topic .'
        '. cards .'
        '.   .   .';
      columns: 1fr minmax( 10rem, 15.97rem ) 1fr;
    }
    row-gap: 2rem;
  };

  // @media screen and ( min-width: $small ) {
  //   grid: {
  //     template: {
  //       areas:
  //         '.   .   .'
  //         '. topic .'
  //         '. cards .'
  //         '.   .   .';
  //       columns: 1fr 32rem 1fr;
  //     }
  //     row-gap: 2rem;
  //   };
  // }
  @media screen and ( min-width: $small ) {
    grid: {
      template: {
        areas:
          '.   .   .'
          '. topic .'
          '. cards .'
          '.   .   .';
        columns: 1fr 90% 1fr;
      }
      row-gap: 2rem;
    };
  }

  // block
  // `.content .topic`

  .topic {
    // element [position]
    grid-area: topic;
  }

  // block
  // `.content .cards`

  .cards {
    // element [position]
    grid-area: cards;
  }
}
