@import 'components/common/reset';
@import 'components/common/header';
@import 'components/about/faculty/card';
@import 'components/common/topic';

// block
// `.content`

.content {
  // block [skin]
  width: 100%;
  background-color: #eff3f9;

  // block [layout]
  display: grid;
  grid: {
    template: {
      areas:
        '.   .   .'
        '. topic .'
        '. cards .'
        '.   .   .';
      columns: 10% 1fr 10%;
    }
    row-gap: 2rem;
  };

  // block
  // `.content .topic`

  .topic {
    // element [position]
    grid-area: topic;
  }

  // block
  // `.content .cards`

  .cards {
    // element [position]
    grid-area: cards;
  }
}
