@import 'components/common/reset';
@import 'components/common/font';
@import 'components/common/header';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/topic';
@import 'components/common/loading';
@import 'components/common/no-result';
@import 'components/common/footer';
@import 'components/about/faculty/filter';
@import 'components/about/faculty/cards';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #eff3f9;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header( $block: 'body' );
  @include header--small( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' );

  // element
  // `.body > .body__breadcrumb`
  // block
  // `.body > .breadcrumb`
  @include breadcrumb( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $small: 545px;

    // [ layout ]
    display: grid;
    grid: {
      template: {
        areas:
          '.'
          'topic'
          'faculty';
        columns: 100%;
      }
      row-gap: 1rem;
    };

    // [ skin ]
    width: 100%;

    // [RWD: $small]
    @media screen and ( min-width: $small ) {
      // [ layout ]
      grid-template: {
        areas:
          '. .       .'
          '. topic   .'
          '. faculty .'
          '. .       .';
        columns: 1fr 8fr 1fr;
      };
    }

    // element
    // `.body > .content > .content__topic`
    // block
    // `.body > .content > .topic`
    @include topic( $block: 'content' ) {
      // [ position ]
      grid-area: topic;
    }

    // element
    // `.body > .content > .content__faculty`
    // block
    // `.body > .content > .faculty`
    > .content__faculty.faculty {
      // [ position ]
      grid-area: faculty;

      // element
      // `.body > .content > .faculty > .faculty__filter`
      // block
      // `.body > .content > .faculty > .filter`
      @include filter( $block: 'faculty' );

      // element
      // `.body > .content > .faculty > .faculty__no-result`
      // block
      // `.body > .content > .faculty > .no-result`
      @include no-result( $block: 'faculty' ) {
        // [ layout ]
        margin-top: font__px-to-rem( 64 );
      }

      // element
      // `.body > .content > .faculty > .faculty__loading`
      // block
      // `.body > .content > .faculty > .loading`
      @include loading( $block: 'faculty' ) {
        // [ layout ]
        margin-top: font__px-to-rem( 64 );
      }

      // element
      // `.body > .content > .faculty > .faculty__cards`
      // block
      // `.body > .content > .faculty > .cards`
      @include cards ( $block: 'faculty' );
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
