@import 'components/common/reset';
@import 'components/common/icon';
@import 'components/common/header-base';
@import 'components/common/header-small';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/topic';
@import 'components/common/footer';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--small( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' );

  // element
  // `.body > .body__breadcrumb`
  // block
  // `.body > .breadcrumb`
  @include breadcrumb( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $small: 650px;
    $large: 860px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        '. profile__headline .'
        '. profile__photo    .'
        '. profile__info     .'
        '. education         .'
        '. experience        .'
        '. award             .'
        '. publication       .'
        '. patent            .'
        '. transfer          .'
        '. project           .'
        '. student           .'
        '. conference        .';
      columns: 1fr 90% 1fr;
    }

    // [ skin ]
    width: 100%;
    background-color: #ffffff;

    // [ RWD: $small ]
    @media screen and ( min-width: $small ) {
      // [ layout ]
      grid-template: {
        areas:
          '. profile__info    profile__photo   .'
          '. education        education        .'
          '. experience       experience       .'
          '. award            award            .'
          '. publication      publication      .'
          '. patent           patent           .'
          '. transfer         transfer         .'
          '. project          project          .'
          '. student          student          .';
        columns: 1fr 5fr 3fr 1fr;
      };
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      grid-template: {
        areas:
          '. profile__info    profile__photo   .'
          '. education        education        .'
          '. experience       experience       .'
          '. award            award            .'
          '. publication      publication      .'
          '. patent           patent           .'
          '. transfer         transfer         .'
          '. project          project          .'
          '. student          student          .';
        columns: 5fr 8fr 6fr 5fr;
      };
    }

    > .headline {
      grid-area: profile__headline;
      display: flex;
      margin-top: 2rem;
      justify-content: flex-start;

      > .headline__name {
        display: flex;
        justify-content: center;
        margin: {
          left: 10%;
          right: .5rem;
        }
        width: max-content;
        font: {
          size: .8rem;
          weight: bold;
        }
        white-space: nowrap;
        letter-spacing: normal;
        color: rgba( 0, 0, 0, .87 );
      }

      > .headline__titles.titles {
        display: flex;
        flex-wrap: wrap;
        padding: .1rem;

        > .titles__title {
          margin: 0 .05rem;
          vertical-align: middle;
          font-size: .5rem;
          text-align: center;
          padding: 0 .2rem;
          color: #adacad;
          border: solid .05rem #adacad;
          border-radius: .15rem;
          width: max-content;
        }
      }
    }

    %profile__icon {
      // [layout]
      align-self: center;
      background: {
        position: center;
        size: cover;
        repeat: no-repeat;
      }

      // [skin]
      content: '';
      margin-right: .59rem;
      height: .5rem;
      width: .5rem;
      filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );
    }

    .profile {
      grid-area: profile__info;
      display: flex;
      flex-direction: column;
      text-align: left;
      color: #000000;
      font-size: .5rem;

      > .profile__departments.departments {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: {
          top: 1rem;
          bottom: 1.41rem;
        }

        > .departments__department {
          padding: .2rem .8rem;
          border-radius: .5rem;
          width: 3rem;
          font-size: .45rem;
          text-align: center;
          color: #8caae2;
          background-color: #eaeff7;
          margin: .2rem;
        }
      }

      > .profile__offices.offices {
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        > .offices__address {
          display: flex;
          align-self: flex-start;
          font: {
            size: .5rem;
            style: normal;
          }

          &::before {
            @extend %profile__icon;
            @include icon__location();
          }
        }

        > .offices__phone {
          display: flex;
          align-self: flex-start;
          margin-top: .41rem;
          font-size: .5rem;

          &::before {
            @extend %profile__icon;
            @include icon__phone();
          }
        }
      }

      > .profile__email {
        display: flex;
        align-self: flex-start;
        margin: {
          top: .41rem;
          left: 5%;
        }
        font-size: .5rem;

        &::before {
          @extend %profile__icon;
          @include icon__envelope();
        }
      }

      > .profile__phone {
        display: flex;
        align-self: flex-start;
        margin: {
          top: .41rem;
          left: 5%;
        }
        font-size: .5rem;

        &::before {
          @extend %profile__icon;
          @include icon__phone();
        }
      }

      > .profile__labs.labs {
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        > .labs__lab {
          display: flex;
          align-self: flex-start;
          margin-top: .41rem;
          font-size: .5rem;

          &::before {
            @extend %profile__icon;
            @include icon__laboratory ();
          }
        }

        > .labs__address {
          display: flex;
          align-self: flex-start;
          margin-top: .41rem;
          font: {
            size: .5rem;
            style: normal;
          }

          &::before {
            @extend %profile__icon;
            @include icon__location ();
          }
        }

        > .labs__tel {
          display: flex;
          align-self: flex-start;
          margin-top: .41rem;
          font: {
            size: .5rem;
            style: normal;
          }

          &::before {
            @extend %profile__icon;
            @include icon__phone ();
          }
        }
      }

      > .profile__website {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: .41rem;
        width: 85%;
        word-break: break-all;
        font: {
          size: .5rem;
          style: normal;
        }

        &::before {
          @extend %profile__icon;
          @include icon__user ();
        }
      }

      > .profile__domains {
        font-size: .45rem;
        display: flex;
        flex-wrap: wrap;
        padding: .3rem 0;
        padding-right: 1rem;

        > .domains__domain {
          padding: .15rem .6rem;
          border-radius: .5rem;
          text-align: center;
          color: #adacad;
          background-color: #ededed;
          margin: 0 .2rem;
          vertical-align: baseline;
        }
      }
    }

    .photo {
      grid-area: profile__photo;
      border-radius: 4rem;
      margin: {
        top: 1.56rem;
        left: auto;
        right: auto;
      }
      object-fit: cover;
      height: 8.5rem;
      width: 8.5rem;
    }

    .award {
      grid-area: award;
      margin: 1.5rem 0;

      > .award__content {
        font-size: .5rem;
        background-color: #ffffff;
        padding: .5rem;
        border-radius: .2rem;
        box-shadow: 0 .05rem .6rem 0 rgba( 0 , 0 , 0 , .14 ), 0 .2rem .25rem 0 rgba( 0, 0, 0, .2 );
        margin: .25rem 0;
      }
    }

    .publication {
      grid-area: publication;
      margin: 1rem 0;

      > .publication__content {
        font-size: .5rem;
        padding: .5rem;
        border-radius: .2rem;
        box-shadow: 0 .05rem .6rem 0 rgba( 0 , 0 , 0 , .14 ), 0 .2rem .25rem 0 rgba( 0, 0, 0, .2 );
        margin: .25rem 0;
      }
    }

    .patent {
      grid-area: patent;
      margin: 1.5rem 0;
      font-size: .5rem;

      > .patent__table.table {
        border-collapse: collapse;
        text-align: center;
        border: solid .01rem #757575;
        width: 100%;
        height: 3rem;

        > .table__body.body {
          > .body__titles.titles {
            > .titles__title {
              border: solid .01rem #757575;
              padding: .5rem;
            }
          }

          > .body__details.details {
            > .details__detail {
              border: solid .01rem #757575;

              > .detail__date.date {
                > .date__begin {
                  border-radius: .5rem;
                  border: solid .02rem #757575;
                  display: block;
                  margin: {
                    top: .5rem;
                    left: .3rem;
                    right: .3rem;
                  }
                  padding: .1rem;
                }

                > .date__end {
                  border-radius: .5rem;
                  border: solid .02rem #757575;
                  display: block;
                  margin: {
                    bottom: .5rem;
                    left: .3rem;
                    right: .3rem;
                  }
                  padding: .1rem;
                }
              }
            }
          }
        }
      }
    }

    .transfer {
      grid-area: transfer;
      margin: 1rem 0;
      font-size: .5rem;

      > .transfer__table.table {
        border-collapse: collapse;
        text-align: center;
        border: solid .02rem #757575;
        width: 100%;
        height: 3rem;

        > .table__body.body {
          > .body__titles.titles {
            > .titles__title {
              border: solid .02rem #757575;
              padding: .5rem;
            }
          }

          > .body__details.details {
            > .details__detail {
              border: solid .02rem #757575;

              > .detail__date.date {
                > .date__begin {
                  border-radius: .5rem;
                  border: solid .02rem #757575;
                  display: block;
                  margin: {
                    top: .5rem;
                    left: .3rem;
                    right: .3rem;
                  }
                  padding: .1rem;
                }

                > .date__end {
                  border-radius: .5rem;
                  border: solid .02rem #757575;
                  display: block;
                  margin: {
                    bottom: .5rem;
                    left: .3rem;
                    right: .3rem;
                  }
                  padding: .1rem;
                }
              }
            }
          }
        }
      }
    }

    .education {
      grid-area: education;
      margin: 1.5rem 0;
      font-size: .45rem;

      > .education__detail.detail {
        display: flex;
        flex-wrap: wrap;
        margin: .6rem  0;
        padding: .1rem .25rem;
        border-radius: .5rem;
        text-align: center;
        color: rgba( 0, 0, 0, .87 );

        > .detail__begin {
          padding-top: .2rem;
          width: 4rem;
          height: 1rem;
          border-radius: .5rem;
          border: solid .02rem #757575;
          background-color: #ffffff;
          margin: 0 .1rem;
        }

        > .detail__untill {
          font-size: .8rem;
          color: #757575;
          vertical-align: middle;
          margin: 0 .5rem;
        }

        > .detail__end {
          padding-top: .2rem;
          width: 4rem;
          height: 1rem;
          border-radius: .5rem;
          border: solid .02rem #757575;
          background-color: #ffffff;
          margin: 0 .1rem;
          margin-right: 1rem;
        }

        > .detail__country {
          margin: 0 .1rem;
        }

        > .detail__school, .detail__department {
          margin: 0 .1rem;
          padding: .15rem .6rem;
          border-radius: .5rem;
          text-align: center;
          color: #adacad;
          background-color: #ededed;
        }

        > .detail__degree {
          margin: 0 .1rem;
          padding: .15rem .6rem;
          border-radius: .5rem;
          text-align: center;
          color: #8caae2;
          background-color: #eaeff7;
          margin-right: .2rem;
        }
      }
    }

    .experience {
      grid-area: experience;
      margin: 1.5rem 0;
      font-size: .45rem;

      > .experience__list {
        display: inline-flex;
        width: 100%;
      }
    }

    .project {
      grid-area: project;
      margin: 1.5rem 0;
      font-size: .5rem;

      > .project__table.table {
        border-collapse: collapse;
        text-align: center;
        border: solid .02rem #757575;
        width: 100%;
        height: 3rem;

        > .table__body.body {
          > .body__titles.titles {
            > .titles__title {
              padding: .5rem;
              border: solid .02rem #757575;
            }
          }

          > .body__details.details {
            > .details__detail {
              padding: .5rem;
              border: solid .02rem #757575;

              > .detail__date.date {
                > .date__begin {
                  border-radius: .5rem;
                  border: solid .02rem #757575;
                  margin: .5rem .3rem;
                  padding: .1rem .5rem;
                }

                > .date__end {
                  border-radius: .5rem;
                  border: solid .02rem #757575;
                  margin: .5rem .3rem;
                  padding: .1rem .5rem;
                }
              }
            }
          }
        }
      }
    }

    .student {
      grid-area: student;
      margin: 1.5rem 0;

      > .student__members {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and ( min-width: $small ) {
          justify-content: flex-start;
        }
        @media screen and ( min-width: $large ) {
          justify-content: flex-start;
        }

        > .student__member--master {
          font-size: .5rem;
          background-color: #ffffff;
          padding: .5rem;
          border-radius: .2rem;
          box-shadow: 0 .05rem .6rem 0 rgba( 0 , 0 , 0 , .14 ), 0 .2rem .25rem 0 rgba( 0, 0, 0, .2 );
          margin: .25rem;
          width: 4.5rem;
        }

        > .student__member--doctoral {
          display: block;
          float: left;
          font-size: .5rem;
          background-color: #ffffff;
          padding: .5rem;
          border-radius: .2rem;
          box-shadow: 0 .05rem .6rem 0 rgba( 0 , 0 , 0 , .14 ), 0 .2rem .25rem 0 rgba( 0, 0, 0, .2 );
          margin: .25rem;
          width: 4.5rem;
        }
      }

      > .student__award {
        font-size: .5rem;
        background-color: #ffffff;
        padding: .5rem;
        border-radius: .2rem;
        box-shadow: 0 .05rem .6rem 0 rgba( 0 , 0 , 0 , .14 ), 0 .2rem .25rem 0 rgba( 0, 0, 0, .2 );
        margin: .5rem 0;
      }

      > .student__meeting {
        font-size: .5rem;
        background-color: #ffffff;
        padding: .5rem;
        border-radius: .2rem;
        box-shadow: 0 .05rem .6rem 0 rgba( 0 , 0 , 0 , .14 ), 0 .2rem .25rem 0 rgba( 0, 0, 0, .2 );
        margin: .5rem 0;
      }
    }

    .conference {
      grid-area: conference;
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
