@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/topic';
@import 'components/common/footer';
@import 'components/about/index/subtitles';

// block
// `body > .content`

body > .content {
  // [variable]
  $large: 475px;

  // [layout]
  display: grid;
  grid: {
    template: {
      areas:
        '.'
        'filters'
        'topic'
        'subtitles'
        'noResult';
      columns: 100%;
    }
    row-gap: .6rem;
  };

  // [skin]
  width: 100%;
  background-color: #eff3f9;

  // [rwd:large]
  @media screen and ( min-width: $large ) {
    grid: {
      template: {
        areas:
          '. . .'
          '. filters .'
          '. topic .'
          '. subtitles .'
          '. noResult .';
        columns: 1fr 95% 1fr;
      }
      row-gap: 3.1rem;
    };
  }

  // block
  // `body > .content > .topic`
  @include topic() {
    grid-area: topic;
  }

  // block
  // `body > .content > .subtitles`
  @include subtitles() {
    grid-area: subtitles;
  }
}
