@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/topic';
@import 'components/common/footer';
@import 'components/common/banner';
@import 'components/common/breadcrumb';

// block
// `.body`
.body > {
  // [ skin ]
  background-color: #ffffff;

  // block
  // `body > .banner`
  @include banner( $block: 'body' );

  // block
  // `body > .breadcrumb`
  @include breadcrumb( $block: 'body' );

  // block
  // `body > .content`
  > .content {
    // [ variable ]
    $small: 768px;
    $large: 1300px;

    // [ layout ]
    display: grid;
    grid: {
      template: {
        areas:
          '.   .         .         .'
          '.   intro     intro     .'
          '.   history1  history1  .'
          '.   history2  history2  .'
          '.   develop   develop   .'
          '.   develop1  image1    .'
          '.   image2    develop2  .'
          '.   develop3  image3    .'
          '.   target    target    .'
          '.   target1   image4    .'
          '.   target2   image5    .'
          '.   target3   image6    .'
          '.   certi     certi     .'
          '.   .         .         .';
        columns: 2fr 4fr 4fr 2fr;
      }
      column-gap: 0;
      row-gap: 0;
    };

    // block
    // `body > .content > .intro`
    > .intro {
      // [ position ]
      grid-area: intro;
    }

    // block
    // `body > .content > .history`
    > .history {
      &1 {
        // [ position ]
        grid-area: history1;
      }

      &2 {
        // [ position ]
        grid-area: history2;
      }
    }

    // block
    // `body > .content > .develop`
    > .develop {
      // [ position ]
      grid-area: develop;

      &1 {
        // [ position ]
        grid-area: develop1;
      }

      &2 {
        // [ position ]
        grid-area: develop2;
      }

      &3 {
        // [ position ]
        grid-area: develop3;
      }
    }

    // block
    // `body > .content > .target`
    > .target {
      // [ position ]
      grid-area: target;

      &1 {
        // [ position ]
        grid-area: target1;
      }

      &2 {
        // [ position ]
        grid-area: target2;
      }

      &3 {
        // [ position ]
        grid-area: target3;
      }
    }

    // block
    // `body > .content > .certi`
    > .certi {
      // [ position ]
      grid-area: certi;
    }

    // block
    // `body > .content > .image
    .image {
      // element
      // `body > .content > .image1
      &1 {
        // [ position ]
        grid-area: image1;
      }

      // element
      // `body > .content > .image2
      &2 {
        // [ position ]
        grid-area: image2;
      }

      // element
      // `body > .content > .image3
      &3 {
        // [ position ]
        grid-area: image3;
      }

      // element
      // `body > .content > .image4
      &4 {
        // [ position ]
        grid-area: image4;
      }

      // element
      // `body > .content > .image5
      &5 {
        // [ position ]
        grid-area: image5;
      }

      // element
      // `body > .content > .image6
      &6 {
        // [ position ]
        grid-area: image6;
      }
    }

    // block
    // `body > .content > .picture
    .picture {
      // [ skin ]
      width: 100%;
      height: 100%;
    }
  }
}

// element
// .intro__text`
.intro__text.intro__text-- {
  // modifier
  // .intro__text > .intro__text--large`
  &large {
    // [ layout ]
    display: inline;

    // [ skin ]
    border-bottom: solid .07rem #888888;
    padding: .03rem;
    color: rgba( 0, 0, 0, .87 );
    font: {
      size: .875rem;
      weight: bold;
    }
  }

  // modifier
  // .intro__text > .intro__text--large-blue`
  &largeblue {
    // [ layout ]
    display: inline;

    // [ skin ]
    margin-left: 1.3125rem;
    color: #32477d;
    font: {
      size: .875rem;
      weight: bold;
    }
  }

  // modifier
  // `.intro__text > .intro__text--medium-blue`
  &mediumblue {
    // [ skin ]
    color: #399dff;
    margin: {
      left: 1.3125rem;
      top: 1.8438rem;
      bottom: 1.8438rem;
    }
    padding-bottom: .2rem;
    font-size: .8125rem;
  }

  // // modifier
  // // `.intro__text > .intro__text--medium-blue-narrow`
  &mediumbluenarrow {
    // [ skin ]
    color: #399dff;
    margin: {
      left: 1.3125rem;

      top: .3438rem;
      bottom: 1.8438rem;
    }
    padding-bottom: .2rem;
    font-size: .8125rem;
  }

  // modifier
  // `.intro__text > .intro__text--small`
  &small {
    // [ skin ]
    line-height: 2;
    color: #757575;
    margin-left: 1.3125rem;
    font-size: .625rem;
  }

  // modifier
  // `.intro__text > .intro__text--state`
  &state {
    // [ skin ]
    color: #000000;
    font-size: .5625rem;
    margin-bottom: .8rem;
  }

  // modifier
  // `.intro__text > .intro__text--small-blue`
  &smallblue {
    // [ skin ]
    color: #399dff;
    margin: 0;
    padding-bottom: .5625rem;
    font-size: .6875rem;
  }

  // modifier
  // `.intro__text > .intro__text--underline`
  &underline {
    // [ skin ]
    border-bottom: solid .07rem #dddddd;
    padding: 0;
    margin: {
      top: 2.1875rem;
      bottom: 1.5313rem;
    }
  }

  // modifier
  // `.intro__text > .intro__text--circle`
  &circle {
    // [ position ]
    position: relative;

    // [ skin ]
    line-height: 2;
    color: #757575;
    margin-left: 2.3rem;
    font-size: .625rem;

    // [ before ]
    &::before {
      // [ position ]
      position: absolute;
      left: -.9rem;

      // [ skin ]
      content: '';
      width: .5rem;
      height: .5rem;
      background-color: #ffcc22;
      border-radius: 100%;
      margin-top: .4rem;
    }
  }

  // modifier
  // `.intro__text > .intro__text--circlenext
  &circlenext {
    // [ skin ]
    line-height: 2;
    color: #757575;
    margin-left: 2.3rem;
    font-size: .625rem;
  }

  // modifier
  // `.intro__text > .intro__text--circleblue`
  &circleblue {
    // [ layout ]
    float: left;

    // [ skin ]
    width: .8125rem;
    height: .8125rem;
    background-color: #399dff;
    border-radius: 100%;
  }

  // modifier
  // `.intro__text > .intro__text--circleorange`
  &circleorange {
    // [ layout ]
    float: left;

    // [ skin ]
    width: .8125rem;
    height: .8125rem;
    background-color: #ea6d55;
    border-radius: 100%;

    &right {
      // [ layout ]
      float: right;
    }
  }

  // modifier
  // `.intro__text > .intro__text--interval`
  &interval {
    // [ skin ]
    margin-top: 1.5rem;
  }

  // modifier
  // `.intro__text > .intro__text--icon-
  &icon- {
    // `.intro__text > .intro__text--icon-blue
    &circle- {
      &blue {
        // [ layout ]
        float: left;

        // [ skin ]
        width: .8125rem;
        height: .8125rem;
        background-color: #399dff;
        border-radius: 100%;
      }

      &orange {
        // [ layout ]
        float: left;

        // [ skin ]
        width: .8125rem;
        height: .8125rem;
        background-color: #ea6d55;
        border-radius: 100%;
      }
    }

    &spike- {
      &blue {
        // [ layout ]
        float: left;

        // [ skin ]
        margin: {
          top: .2813rem;
          right: .2rem;
        }
        border: {
          top: .1rem solid transparent;
          bottom: .15rem solid transparent;
          left: .6875rem solid #399dff;
        }
      }

      &orange {
        // [ layout ]
        float: left;

        // [ skin ]
        margin: {
          top: .2813rem;
          right: .2rem;
        }
        border: {
          top: .1rem solid transparent;
          bottom: .15rem solid transparent;
          left: .6875rem solid #ea6d55;
        }
      }
    }
  }

  // modifier
  // `.intro__text > .intro__text--line-
  &line- {
    // modifier
    // `.intro__text > .intro__text--line-blue
    &blue {
      // [ skin ]
      height: .05rem;
      width: 14rem;
      background-color: #399dff;
    }

    // modifier
    // `.intro__text > .intro__text--line-orange
    &orange {
      float: right;
      clear: right;

      // [ skin ]
      height: .05rem;
      width: 14rem;
      background-color: #f67057;
    }
  }

  // modifier
  // `.intro__text > .intro__text--history-
  &history- {
    // modifier
    // `.intro__text > .intro__text--history-year
    &year- {
      &right {
        float: right;
        clear: right;

        // [ skin ]
        color: rgba( 0, 0, 0, .87 );
        font-size: 24 / 32 * 1rem;
      }
    }

    // modifier
    // `.intro__text > .intro__text--history-event
    &event- {
      &right {
        float: right;
        clear: right;

        // [ skin ]
        color: #000000;
        font-size: 20 / 32 * 1rem;
      }
    }
  }

  .sectionright {
    // [ skin ]
    width: 100%;
  }
}
