@import '../components/reset'

// variable
$cardWidth: 300px
$cardHeight: 75%


body
  display: grid
  height: 200vh
  grid-template-columns: auto
  grid-template-rows: 500px auto
  grid-template-areas: "cover""detail"
    

// cover
.cover_grid
  display: grid
  grid-template-columns: 1fr 3fr
  grid-template-areas: "profile info"
  grid-area: cover
  background: #1c2236
  background: -webkit-linear-gradient(bottom left,#1c2236,#414d71)
  background: -o-linear-gradient(bottom left,#1c2236,#414d71)
  background: -moz-linear-gradient(bottom left,#1c2236,#414d71)
  background: linear-gradient(bottom left, #1c2236, #414d71)
  >.cover_profile
    grid-area: profile
    justify-self: end
    align-self: center
    margin: 0 10px
    width: $cardWidth*0.4
    height: $cardWidth*0.4
    border-radius: 50%
    user-select: none
    box-shadow: 3px 3px 50px 1px rgba(0, 0, 0, 0.3)
  >.cover_info
    grid-area: info
    padding: 150px 100px
    >.cover_name
      font-size: 1rem
      color: rgb(224, 224, 224)
    >.cover_position
      font-size: 0.4rem
      color: rgb(224, 224, 224)
      margin: 0 0 0 10px
    

// detail
.content_detail
  grid-area: detail
  background: #dadee5
  padding: 90px 50px 0 460px
  article
    // background: rgb(36, 41, 91)
    margin-bottom: 45px
    h1,p
      color: rgb(96, 96, 96)
    h1
      font-size: 0.6rem
      letter-spacing: 0.05rem
    p
      font-size: 0.5rem
      letter-spacing: 0.05rem
      font-weight: normal



// card
// #card
//   display: flex
//   flex-direction: column
//   position: absolute
//   top: (100%-$cardHeight)/2
//   left: 100px
//   height: $cardHeight
//   width: $cardWidth
//   // background: #842f2f
//   box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.3)
//   border-radius: 10px
//   #pic
//     height: $cardWidth
//     background: rgb(36, 41, 91)
//     border-radius: 10px 10px 0 0
//     img
//       margin: $cardWidth*0.2 $cardWidth*0.25
//       width: $cardWidth*0.5
//       border-radius: 50%
//       user-select: none
//   #contect
//     flex: 1
//     display: flex
//     flex-direction: column
//     background: #f7f7f7
//     border-radius: 0 0 10px 10px
//     section
//       flex: 1
//       display: flex
//       justify-content: space-between
//       svg > path
//         // flex: 1
//         fill: rgb(140, 140, 140)
//       p
//         flex: 1
//         text-align: right
//         font-size: 0.9em
//         letter-spacing: 1px
//         margin: 30px 30px
//         color: rgb(140, 140, 140)

