@import '../components/common/reset';
@import '../components/about/teachers/header';
@import '../components/about/teachers/card';

.main {
  background-color: rgb( 85, 82, 82 );
  display: grid;
  grid: {
    template: {
      areas:
        '. . .'
        '. topic .'
        '. cards .'
        '. . .';
      columns: 10% 1fr 10%;
    }
    row-gap: 2rem;
  };
  align-items: space-around;

  // @media ( min-width: 1393px){
  //   justify-self: center;
  // }

  .topic {
    grid-area: topic;
  }

  .cards {
    grid-area: cards;
  }
}
