$cardWidth: 300px
$cardHeight: 85vh

*
  padding: 0
  margin: 0


body
  background: #55d68b


#grid
  display: grid
  height: 100vh
  grid-template-columns: auto
  grid-template-rows: 200px auto
  grid-template-areas: "cover""intro"
    

#cover
  grid-area: cover
  background: #e0435d


#intro
  grid-area: intro
  background: #dadee5

  
#card
  display: flex
  flex-direction: column
  position: absolute
  top: (100vh-$cardHeight)/2
  left: 100px
  height: $cardHeight
  width: $cardWidth
  background: #842f2f
  box-shadow: 0px 5px 50px 1px #515151
  #pic
    flex: -20px
    height: 100px
    background: #7a4eb7
  #contect
    flex: 1
    background: #f7f7f7

#nav
  position: absolute
  top: 0
  width: 100vw
  height: 40px
  background: #37507a