-
  function venueI18n () {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: [
        {
          aspect: '場地設備借用申請須知',
          context: [
            {
              title: '申請資格',
              paragraph: [
                {
                  type: 'text',
                  text: [
                    '政府機關、學校及經登記或立案核准之機構、法人、團體。',
                  ].join( '' ),
                },
              ],
            },
            {
              title: '申請方式',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '由網路看可用時段：網址 http://www.csie.ncku.edu.tw/Class2014',
                    [
                      '自行確認申請時段，',
                      '並參考附件對應場地金額填寫場地使用申請表傳真06-2747076',
                      '或e-mail教室系統管理人員 (林小姐z10611032@email.ncku.edu.tw)',
                    ].join( '' ),
                    '聯絡林小姐(06) 27575757-62500-15進行場地預訂',
                    [
                      '最晚請於場地三個工作天前匯款至本校專戶(如下說明四)，',
                      '未匯款視同取消預訂，',
                      '有疑問可聯絡 (06) 2757575-62500-16 (李小姐)',
                    ].join( '' ),
                    [
                      '周末假日須額外請工讀生開關門1天400元,',
                      '收現金(僅幫忙開關門啟動教室設備)、下班時間原則上不便外借'
                    ].join( '' ),
                  ],
                },
              ],
            },
            {
              title: '申請應備書面資料',
              paragraph: [
                {
                  type: 'text',
                  text: '場地使用申請表(請參考附加檔案)。',
                },
              ],
            },
            {
              title: '繳費方式',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '請聯絡（06）2757575-62500-16（李小姐）',
                    [
                      '煩請於 借用場地三個工作天前匯款至本校專戶 (如下)，',
                      '並直接傳真匯款單至本系，',
                      '以利本系辦理後續收據申請及入帳相關事宜',
                    ],
                  ],
                },
                {
                  type: 'list-description',
                  listDescription: '匯款帳號',
                },
                {
                  type: 'list-description',
                  listDescription: '帳戶名稱：國立成功大學401專戶',
                },
                {
                  type: 'list-description',
                  listDescription: '帳戶號碼：00903607114-1',
                },
                {
                  type: 'list-description',
                  listDescription: '台灣銀行、台南分行',
                },
                {
                  type: 'list',
                  list: [
                    '若未匯款則視同取消預訂！',
                  ],
                },
              ],
            },
            {
              title: '備註',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '電腦教室設還原卡軟體需求請提早聯絡林先生(06)2757575-62500-18',
                    'CONTENT_venue5.2.1 http://www.csie.ncku.edu.tw/ncku_csie/intro/venue CONTENT_venue5.2.2',
                  ],
                },
              ],
            },
          ],
        },
      ],
      [ LANG.getLanguageId( 'en-US' ) ]: [
        {
          aspect: '場地設備借用申請須知',
          context: [
            {
              title: '申請資格',
              paragraph: [
                {
                  type: 'text',
                  text: [
                    '政府機關、學校及經登記或立案核准之機構、法人、團體。',
                  ].join( '' ),
                },
              ],
            },
            {
              title: '申請方式',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '由網路看可用時段：網址 http://www.csie.ncku.edu.tw/Class2014',
                    [
                      '自行確認申請時段，',
                      '並參考附件對應場地金額填寫場地使用申請表傳真06-2747076',
                      '或e-mail教室系統管理人員 (林小姐z10611032@email.ncku.edu.tw)',
                    ].join( '' ),
                    '聯絡林小姐(06) 27575757-62500-15進行場地預訂',
                    [
                      '最晚請於場地三個工作天前匯款至本校專戶(如下說明四)，',
                      '未匯款視同取消預訂，',
                      '有疑問可聯絡 (06) 2757575-62500-16 (李小姐)',
                    ].join( '' ),
                    [
                      '周末假日須額外請工讀生開關門1天400元,',
                      '收現金(僅幫忙開關門啟動教室設備)、下班時間原則上不便外借'
                    ].join( '' ),
                  ],
                },
              ],
            },
            {
              title: '申請應備書面資料',
              paragraph: [
                {
                  type: 'text',
                  text: '場地使用申請表(請參考附加檔案)。',
                },
              ],
            },
            {
              title: '繳費方式',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '請聯絡（06）2757575-62500-16（李小姐）',
                    [
                      '煩請於 借用場地三個工作天前匯款至本校專戶 (如下)，',
                      '並直接傳真匯款單至本系，',
                      '以利本系辦理後續收據申請及入帳相關事宜',
                    ],
                  ],
                },
                {
                  type: 'list-description',
                  listDescription: '匯款帳號',
                },
                {
                  type: 'list-description',
                  listDescription: '帳戶名稱：國立成功大學401專戶',
                },
                {
                  type: 'list-description',
                  listDescription: '帳戶號碼：00903607114-1',
                },
                {
                  type: 'list-description',
                  listDescription: '台灣銀行、台南分行',
                },
                {
                  type: 'list',
                  list: [
                    '若未匯款則視同取消預訂！',
                  ],
                },
              ],
            },
            {
              title: '備註',
              paragraph: [
                {
                  type: 'list',
                  list: [
                    '電腦教室設還原卡軟體需求請提早聯絡林先生(06)2757575-62500-18',
                    'CONTENT_venue5.2.1 http://www.csie.ncku.edu.tw/ncku_csie/intro/venue CONTENT_venue5.2.2',
                  ],
                },
              ],
            },
          ],
        },
      ],
    };
  }
