@import 'components/common/icon.scss';

// block
// `.main .cards`

.cards {
  // block [layout]
  display: grid;
  grid: {
    template-columns: repeat( auto-fit, minmax( 8rem, 1fr ) );
    gap: 2.625rem;
  }

  // element
  // `.main .cards .cards__card`

  &__card {
    // element [skin]
    height: 15rem;
    font-family: var( --font__family--default );
  }

  // block
  // `.main .cards .card`

  .card {
    // block [layout]
    display: grid;
    grid-template: {
      areas: 'card__photo' 'card__intro';
      rows: 2fr 1fr;
    }

    // element
    // `.main .cards .card .card__photo`

    &__photo {
      // element [position]
      grid-area: card__photo;

      // element [skin]
      width: 100%;
      height: 100% ;
      object-fit: cover;
    }

    // element
    // `.main .cards .card .card__intro`

    &__intro {
      // element [position]
      grid-area: card__intro;

      // element [skin]
      background-color: #ffffff;
      font-size: .5rem;
      padding: .3rem .88rem;
    }

    // block
    // `.main .cards .card .intro`

    .intro {
      // block [layout]
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      // template
      // `.main .cards .card .intro .intro__list`

      %intro__list {
        // template [skin]
        display: inline-block;
        margin-right: .2rem;
      }

      // element
      // `.main .cards .card .intro .intro__title`
      // `.main .cards .card .intro .intro__dept`

      &__title, &__department {
        // element [skin]
        @extend %intro__list;
      }

      // element
      // `.main .cards .card .intro .intro__email`

      &__email {
        // element [skin]
        word-break: break-all;
        @include icon--before__email--small() {
          margin-right: .2rem;
          height: .5rem;
          width: .5rem;
        }
      }

      // element
      // `.main .cards .card .intro .intro__address`

      &__address {
        // element [skin]
        font-style: normal;
        word-break: break-all;
        @include icon--before__location--small() {
          margin-right: .2rem;
          height: .5rem;
          width: .5rem;
        }
      }

      // element
      // `.main .cards .card .intro .intro__phone`

      &__phone {
        // element [skin]
        word-break: break-all;
        @include icon--before__phone--small() {
          margin-right: .2rem;
          height: .5rem;
          width: .5rem;
        }
      }

      // element
      // `.main .cards .card .intro .intro__more`

      &__more {
        // element [skin]
        color: white;
        background-color: rgb( 0, 195, 208 );
        border: .1rem solid white;
        border-radius: 1rem;
        padding: .5rem;
        margin-top: .2rem;
        font-size: .625rem;
      }
    }

    // element
    // `.main .cards .card .card__intro--hover`

    &__intro--hover {
      // element [position]
      // `.card__intro--hover` will fly on top of `.card__photo`.
      grid-area: card__photo;
      z-index: 1;

      // element [skin]
      color: #ffffff;
      background-color: rgb( 52, 52, 52 );
      padding: 0 .5rem;

      // element [interaction]
      // `.card__intro--hover` will be visible when hovered
      opacity: 0;
      transition: opacity .3s;

      &:hover {
        opacity: .7;
      }
    }
  }
}
