@mixin input-block () {
  > .form__block {
    // [ layout ] 
    display: flex;
    align-content: center;
    justify-content: center;

    // [ position ]
    width: font__px-to-rem( 359.4 );
    height: font__px-to-rem( 50.6 );
    margin: {
      top: font__px-to-rem( 11.7 );
      bottom: font__px-to-rem( 22.4 );
      right: auto;
      left: auto;
    }

    // [ skin ]
    border: {
      radius: .107rem;
      left: solid .2rem #999999;
    }
    background-color: rgba( 224, 224, 224, .4 );

    > .form__block--input {
      // [ position ]
      width: 90%;

      // [ skin ]
      background: rgba( 224, 224, 224, .1 );
      font: {
        size: font__px-to-rem( 18 );
        weight: normal;
        style: normal;
        stretch: normal;
      }
      line-height: 1.33;
      letter-spacing: normal;
      color: #757575;
    }
  }
}
