doctype html
html
  head
    meta( charset='utf8' )
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    title= title
    block stylesheets
  body
    block header
    block content
    block footer
    block scripts
