include ../components/announcement/announcement.pug
include ../components/announcement/title.pug
include ../components/announcement/filter.pug

doctype html
html
  head
    block css
  body
    block header
    main.content
      block title
      block filter
      block announcement--pinned
      block announcement
      block page 
    block footer
    block script