doctype html
html
  head
    meta( charset='utf8' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    title= title

    include /components/common/css.pug
    block stylesheets

  body
    include /components/common/image.pug
    include /components/common/header.pug
    include /components/common/footer.pug
    include /components/common/url.pug
    block header
      +header()

    block content
    block footer
      +footer()
    include /components/common/js.pug
    block scripts
