include /components/announcement/announcement.pug
doctype html
html
  head
    block css
    title ncku csie
  body
    block header
    block content__photowall
    block content__announcement
    block content__researchInstitute
    block content__upcomingEvent
    block footer
    block script