extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'Log In',
        breadcrumb: {
          home:     'Home',
          auth:     'Auth',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '使用者登入',
        breadcrumb: {
          home:     '首頁',
          auth:     '管理',
        },
      },
    } );
    const currentRoute = 'auth/login';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'auth/login' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.auth, route: 'auth' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/not-available.pug
  +notAvailable( 'content' )

append footer

append scripts
  +js( 'auth/login' )
