extends /layouts/base.pug
include /components/auth/input-block.pug
include /components/auth/message.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'Log In',
        breadcrumb: {
          home:     'Home',
        },
        content: {
          headline: 'login',
          account:  'account',
          password: 'password',
          forget:   'forget password?',
          login:    'login',
          error:    'invalid user name or bad password',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '使用者登入',
        breadcrumb: {
          home:     '首頁',
        },
        content: {
          headline: '登入',
          account:  '帳號',
          password: '密碼',
          forget:   '忘記密碼?',
          login:    '登入',
          error:    '帳號或密碼錯誤'
        },
      },
    } );
    const currentRoute = 'auth/login';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'auth/login' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb

append content
  section.content__login.login
    form.login__form.form( method='POST', action=UTILS.url( { href : 'auth/login' } ) )
      h1.form__headline= i18n[ LANG.id ].content.headline
      +input_block( 'text', 'account', i18n[LANG.id].content.account, 'account' )
      +input_block( 'password', 'password', i18n[LANG.id].content.password, 'password' )
      if error.length != 0
        p.form__error.form__error--show= error
      else
        p.form__error
      button#form__button.form__button(type='submit')= i18n[LANG.id].content.login

append footer

append scripts
  +js( 'auth/login' )
