extends /layouts/resource.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title': 'Alumni',
      },
      'zh-TW': {
        'title': '系友專區',
      },
    } );

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'resource/alumni' )

append header

append content

append footer

append scripts
  +js( 'resource/alumni' )
