extends /layouts/resource.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title': 'Alumni',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title': '系友專區',
      },
    } );
    const currentRoute = 'resource/alumni';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'resource/alumni' )

append header

append content
  include /components/common/not-available.pug
  +notAvailable()

append footer

append scripts
  +js( 'resource/alumni' )
