extends /layouts/resource.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title': 'Equipment Repair',
      },
      'zh-TW': {
        'title': '修繕登記',
      },
    } );
    const currentRoute = 'resource/fix';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'resource/fix' )

append header

append content

append footer

append scripts
  +js( 'resource/fix' )
