extends /layouts/resource.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':      'IEET',
        'breadcrumb': {
          'home':     'Home',
          'resource': 'Resource',
        },
      },
      'zh-TW': {
        'title':      '工程認証',
        'breadcrumb': {
          'home':     '首頁',
          'resource': '資源連結',
        },
      },
    } );
    const currentRoute = 'resource/ieet';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'resource/ieet' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.resource, url: 'resource' },
    { text: i18n[ language ].title },
  ] )

append content
  include /components/common/not-available.pug
  +notAvailable()

append footer

append scripts
  +js( 'resource/ieet' )
