extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':      'IEET',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':      '工程認証',
      },
    } );
    const currentRoute = 'resource/ieet';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'resource/ieet' )

append header

append content
  include /components/common/not-available.pug
  +notAvailable()

append footer

append scripts
  +js( 'resource/ieet' )
