extends /layouts/resource.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title': 'IEET',
      },
      'zh-TW': {
        'title': '工程認証',
      },
    } );
    const currentRoute = 'resource/ieet';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'resource/ieet' )

append header

append content

append footer

append scripts
  +js( 'resource/ieet' )
