extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'Resource',
        breadcrumb: {
          home:     'Home',
        },
        entries: [
          {
            title: 'Venue',
            detail: 'Borrow things from department',
            modifier: 'green',
            route: 'resource/venue',
          },
          {
            title: 'Survey',
            detail: 'Student Survey',
            modifier: 'yellow',
            route: 'resource/survey',
          },
          {
            title: 'Sitemap',
            detail: 'Navigation for the website',
            modifier: 'purple',
            route: 'resource/sitemap',
          },
          {
            title: 'Alumni',
            detail: 'Graduation students information',
            modifier: 'gray',
            route: 'resource/alumni',
          },
          {
            title: 'Links',
            detail: 'Related links',
            modifier: 'blue',
            route: 'resource/link',
          },
        ],
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '相關服務',
        breadcrumb: {
          home:     '首頁',
        },
        entries: [
          {
            title: '教室借用系統',
            detail: '系所租借設備或場地',
            modifier: 'green',
            route: 'resource/venue',
          },
          {
            title: '高等教育資料調查',
            detail: '資料基個資保護僅供校統計',
            modifier: 'yellow',
            route: 'resource/survey',
          },
          {
            title: '網站地圖',
            detail: '網站空間的概觀',
            modifier: 'purple',
            route: 'resource/sitemap',
          },
          {
            title: '系友專區',
            detail: '畢業資訊填寫與系友相關資訊',
            modifier: 'gray',
            route: 'resource/alumni',
          },
          {
            title: '其他連結',
            detail: '系上相關網站連結',
            modifier: 'blue',
            route: 'resource/link',
          },
        ],
      },
    } );
    const currentRoute = 'resource';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'resource/index' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/entries.pug
  +entries( 'content', i18n[ LANG.id ].entries )

append footer

append scripts
  +js( 'resource/index' )
