extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'Links',
        breadcrumb: {
          home:     'Home',
          resource: 'Resource',
        },
        entries: [
          {
            title: 'Syllabus Administration System',
            detail: 'Syllabus Administration System',
            modifier: 'red',
            route: 'http://140.116.165.74/syllabus/login.php',
          },
          {
            title: 'Rent',
            detail: 'Borrow things from department',
            modifier: 'blue',
            route: 'http://www.csie.ncku.edu.tw/Class2014/',
          },
          {
            title: 'PhD Qualification Exam System',
            detail: 'PhD Qualification Exam System',
            modifier: 'green',
            route: 'http://www.csie.ncku.edu.tw/score/',
          },
          {
            title: 'Web Mail',
            detail: 'NCKU CSIE web mail',
            modifier: 'yellow',
            route: 'https://mail.csie.ncku.edu.tw/',
          },
          {
            title: 'Computer Classroom Maintain Report System',
            detail: 'Computer Classroom Maintain Report System',
            modifier: 'purple',
            route: 'https://simple-report-system.herokuapp.com/api/v1',
          },
          {
            title: 'Student Survey',
            detail: 'Student Survey',
            modifier: 'gray',
            route: 'https://docs.google.com/forms/d/e/1FAIpQLSfL7RK6dqdF7lJF0QvZSqc86G6ymB8CO9eUY89_zomggrtJnA/viewform',
          },
          {
            title: 'NCKU',
            detail: 'NCKU website',
            modifier: 'blue',
            route: 'https://web.ncku.edu.tw/',
          },
          {
            title: 'NCKU College of Electrical Engineering & Computer Science',
            detail: 'NCKU College of Electrical Engineering & Computer Science',
            modifier: 'blue',
            route: 'http://www.eecs.ncku.edu.tw/',
          },
        ],
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '其他連結',
        breadcrumb: {
          home:     '首頁',
          resource: '其他連結',
        },
        entries: [
          {
            title: '教師課程大綱上傳',
            detail: '教師課程大綱上傳連結',
            modifier: 'red',
            route: 'http://140.116.165.74/syllabus/login.php',
          },
          {
            title: '場地租借系統',
            detail: '系所租借設備或場地',
            modifier: 'blue',
            route: 'http://www.csie.ncku.edu.tw/Class2014/',
          },
          {
            title: '資格考系統',
            detail: '博士資格考系統',
            modifier: 'green',
            route: 'http://www.csie.ncku.edu.tw/score/',
          },
          {
            title: 'web mail',
            detail: '資訊工程學系 web mail',
            modifier: 'yellow',
            route: 'https://mail.csie.ncku.edu.tw/',
          },
          {
            title: '電腦教室維護回報系統',
            detail: '電腦教室維護回報系統',
            modifier: 'purple',
            route: 'https://simple-report-system.herokuapp.com/api/v1',
          },
          {
            title: '高等教育資料調查',
            detail: '資料及個資保護僅供學校統計',
            modifier: 'gray',
            route: 'https://docs.google.com/forms/d/e/1FAIpQLSfL7RK6dqdF7lJF0QvZSqc86G6ymB8CO9eUY89_zomggrtJnA/viewform',
          },
          {
            title: '成功大學',
            detail: '國立成功大學首頁',
            modifier: 'blue',
            route: 'https://web.ncku.edu.tw/',
          },
          {
            title: '電資學院',
            detail: '國立成功大學電機資訊學院首頁',
            modifier: 'red',
            route: 'http://www.eecs.ncku.edu.tw/',
          },
        ],
      },
    } );
    const currentRoute = 'resource';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'resource/link' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.resource, root: 'resource' },
      { text: i18n[ LANG.id ].breadcrumb.home }
    ]
  )

append content
  include /components/resource/entries.pug
  +entries( 'content', i18n[ LANG.id ].entries )

append footer

append scripts
  +js( 'resource/link' )
