extends /layouts/announcement/briefing.pug

append data
  -
    const i18n =  Object.freeze( {
      'en-US': {
        'title':  'Rule',
        'topic':  'Rule',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'title':  '法規彙編',
        'topic':  '法規彙編',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );
    const filterModifier = 'rule';
    const filterTags = [
      'college',
      'faculty',
      'master',
      'phd',
      'rule',
    ];

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'resource/rule' )

append header

append footer

append scripts
  +js( 'resource/rule' )
