extends /layouts/announcement/briefing.pug

append data
  -
    const i18n =  Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':      'Rule',
        'topic':      'Rule',
        'time':   {
          'from': 'Start Date',
          'to':   'End Date',
        },
        'pinned':     'Pinned Announcement',
        'normal':     'Announcement',
        'breadcrumb': {
          'home':     'Home',
          'resource': 'Resource',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':      '法規彙編',
        'topic':      '法規彙編',
        'time':   {
          'from': '開始日期',
          'to':   '結束日期',
        },
        'pinned':     '置頂貼文',
        'normal':     '一般公告',
        'breadcrumb': {
          'home':     '首頁',
          'resource': '資源連結',
        },
      },
    } );
    const tags = [
        'rule',
        'college',
        'master',
        'phd',
        'faculty',
    ].map( tag => allTags[ tag ] );
    const currentRoute = 'resource/rule';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'resource/rule' )

append header
  +banner(
    'body',
    {
      text: i18n[ LANG.id ].title,
      image: 'https://via.placeholder.com/1920x500',
    }
  )
  +breadcrumb(
    'body',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
      { text: i18n[ LANG.id ].breadcrumb.resource, url: 'resource' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content

append footer

append scripts
  +js( 'resource/rule' )
