extends /layouts/resource.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':      'Sitemap',
        'breadcrumb': {
          'home':     'Home',
          'resource': 'Resource',
        },
      },
      'zh-TW': {
        'title':      '網站地圖',
        'breadcrumb': {
          'home':     '首頁',
          'resource': '資源連結',
        },
      },
    } );
    const currentRoute = 'resource/sitemap';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'resource/sitemap' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.resource, url: 'resource' },
    { text: i18n[ language ].title },
   ] )

append content

append footer

append scripts
  +js( 'resource/sitemap' )
