extends /layouts/resource.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title': 'Sitemap',
      },
      'zh-TW': {
        'title': '網站地圖',
      },
    } );

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'resource/sitemap' )

append header

append content

append footer

append scripts
  +js( 'resource/sitemap' )
