extends /layouts/resource.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'titles': {
          'home': 'home',
          'about': 'about',
          'research': 'research',
          'student': 'student',
          'announcement': 'announcement',
          'resource': 'resource',
        },
        'links': {
          'home':'home',
        },
        'title':'Sitemap',
      },
      'zh-TW': {
        'titles': {
          'home': '首頁',
          'about': '關於本系',
          'research': '學術研究',
          'student': '學生事務',
          'announcement': '系所公告',
          'resource': '資源連結',
        },
        'links': {
          'home': '首頁',
          'intro': '系所介紹',
          'professor': '師資陣容',
          'crew': '系辦成員',
          'award': '榮譽事蹟',
          'traffic': '聯絡我們',
          'lab': '實驗室',
          'researcher': '研究群',
          'researchCenter': '研究中心',
          'lectureinformation': '課程資訊',
          'college': '大學部',
          'master': '碩士',
          'phd': '博士',
          'scholarship': '獎學金',
          'exchange': '國際交流',
          'company': '企業徵才',
          'annall': '全部公告',
          'annactivity': '活動訊息',
          'anncompany': '徵人資訊',
          'resourcelink': '資源連結'
        },
        'title':      '網站地圖',
      }
    } );
    const currentRoute = 'resource/sitemap';
    const alltitles = [
      'home',
      'about',
      'research',
      'student',
      'announcement',
      'resource',
    ];
    const alllinks = {
      home: '',
      intro: 'about/intro',
      professor: 'about/faculty',
      crew: 'about/staff',
      award: 'about/award',
      traffic: 'about/contact',
      lab: 'research/labs',
      researcher: 'research/groups',
      researchCenter: 'research/publications',
      lectureinformation: 'student/course',
      college: 'student/college',
      master: 'student/master',
      phd: 'student/phd',
      scholarship: 'student/scholarship',
      exchange: 'student/international',
      company: 'student/internship',
      annall: 'announcement/all',
      annactivity: 'announcement/activity',
      anncompany: 'announcement/recruitment',
      resourcelink: 'resource'
    }
append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'resource/sitemap' )

append header
  +banner( i18n[ language ].title )

append content
  mixin sitemap__title( titles )
    each title in titles
      section.sitemap__title( class = `sitemap__title--${ title } ` )= i18n[ language ].titles[ title ]
  mixin sitemap__link( links )
    each val, index in links
      a.sitemap__link( class = `sitemap__link--${ index } ` href = url( { href : `${ val }` } ) )= i18n[ language ].links[ index ]

  figure.logo
    +image( {
      alt: 'csie',
      className: 'logo__image',
      src: 'logo/csie.png',
    } )
    figcaption.logo__caption.caption
      h1.caption__text.caption__text--large 成功大學資訊工程學系暨研究所
      h2.caption__text.caption__text--small Department of Computer Science and Information Engineering
  article.sitemap
    +sitemap__title(alltitles)
    hr.sitemap__horizontal-line
    +sitemap__link(alllinks)


append footer

append scripts
  +js( 'resource/sitemap' )