
.title{
    display: flex;
    color:#fff;
    justify-content: space-between;
    padding:1.5rem;
    margin:4.3rem auto 0 auto;
    border-bottom:1px solid #fff;
    

    &__filter{
        display: flex;
        align-items: flex-end;
        

        svg{
            fill:#fff;
            width:2rem;
            height:2rem;
        }
    }
   
}



