doctype html
html
  head
    title ncku csie
  body
    h1 welcome to ncku csie
    ul
      li(class='dropdown')
        a(href='#student') | student 
        div(class='dropdown-content')
          a(href='/student/course') | course 
          a(href='/student/college') | college 
          a(href='/student/master') | master 
          a(href='/student/phd') | phd 
          a(href='/student/scholarship') | scholarship 
          a(href='/student/international') | international 
      li(class='dropdown')
        a(href='#about') | about 
        div(class='dropdown-content')
          a(href='/about/intro') | introduction 
          a(href='/about/teachers') | teachers 
          a(href='/about/members') | members 
          a(href='/about/honor') | honor 
          a(href='/about/location') | location 
      li(class='dropdown')
        a(href='#research') | research 
        div(class='dropdown-content')
          a(href='/research/labs') | labs 
          a(href='/research/groups') | groups 
          a(href='/research/publications') | publications 
          a(href='/research/awards') | awards 
          a(href='/research/conferences') | conferences 
      li(class='dropdown')
        a(href='#announcement') | announcement 
        div(class='dropdown-content')
          a(href='/announcement/all') | all announcement 
          a(href='/announcement/administrator') | administrator 
          a(href='/announcement/activity') | activity 
          a(href='/announcement/speech') | speech 
          a(href='/announcement/recruitment') | recruitment 
      li(class='dropdown')
        a(href='#resource') | resource 
        div(class='dropdown-content')
          a(href='/resource/law') | law 
          a(href='/resource/rent') | rent 
          a(href='/resource/fix') | fix 
          a(href='/resource/ieet') | IEET 
          a(href='/resource/resources') | resources 
