.overview {
    // margin and width
    margin: 4.3rem auto 0 auto;
    // font setting
    font-family: var(--font-var);

    // grid setting
    display: grid;
    // 讓content決定row
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap:6rem;
    &__item {
       
       display:flex;
       flex-direction: column;
    
    grid-template-rows: 2fr 1fr;
  }
  &__figure {
    grid-column: 1/2;
    //position: relative;
   
  }
  &__photo {
    display: block;
    height: 100%;
    width: 100%;
  }
  &__intro {
    grid-row: 2/3;
    padding: 1.6rem .6rem 1rem 2.8rem;
    background-color: #fff;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__hover {
    position: absolute; // 用top left right bottom來決定而不是用hight width來決定absolute positioning的物件
    top: 0;
    left: 0;
    right: 0;
    bottom: 33.3%;
    z-index: 20;
    div {
      height:100%;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: $hover-color;
      
>>>>>>> another
    }
    &__figure{
        // 圖片佔據66%
        height:66%;
        width:100%;

        &:hover{
            background-color: $hover-color;
            opacity: .7;
        }
    }
    &__photo {
        display: block;
        height:100%;
        width:100%;
    }
    &__intro {
        //grid-row:2/3;
        flex:1;
        padding: 1.6rem .6rem 1rem 2.8rem;
        background-color: #fff;
        font-size: 1.7rem;
    }
}
