$hover-color:#343434;


:root{
    --row-number:10;
    --column-number:4;
    --font-var:"Yu Gothic UI" "Regular";
    --hover-color:#343434;
}


*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size:62.5%;
}

body{
    padding:0 15rem;
    font-family:"Yu Gothic UI","Regular";
    background-color:rgb(85, 82, 82);
}

