// Reset
*
  padding: 0
  margin: 0
  border: 0
  box-sizing: border-box
  font-family: 'Noto Sans TC', Microsoft JhengHei
  color: inherit
  letter-spacing: 0.1rem

html, body
  width: 100%
  height: 100%
  font-size: 32px