extends /layouts/user.pug

append stylesheets

append header

append content
  main#content.content
    a(href="/user/announcement/add") 新增公告
    section#announcement__brefings
      each val in [1, 2, 3, 4, 5]
        a(href=`/user/announcement/edit/${ val }`)= '公告' + val
        button(type="button" value=`${ val }`)= '刪除'
        br

append scripts
  +js( 'user/announcement/index' )
