include /components/user/card/faculty/award-card.pug
include /components/user/card/faculty/education-card.pug
include /components/user/faculty/classfication-title.pug

if modifier === 'award'
  +award-card( data )
if modifier === 'education'
  +education-card( data )
if modifier === 'classfication-title'
  +classfication-title( data )