@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/entries';
@import 'components/common/footer';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' );

  // element
  // `.body > .body__breadcrumb`
  // block
  // `.body > .breadcrumb`
  @include breadcrumb( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // element
    // `.body > .content > .content__entries`
    // block
    // `.body > .content > .entries`
    @include entries( $block: 'content' );
  }
}
