@import 'components/common/reset';
@import 'components/announcement/briefing';
@import 'components/announcement/filter';
@import 'components/announcement/title';
@import 'components/common/topic';

// block
// `.content`

.content {
  $x-small: 390px;
  $small: 580px;
  $medium: 768px;
  $large: 992px;
  $x-large: 1230px;

  // block [skin]
  padding: 2.2rem 1rem;
  @media screen and ( min-width: $medium ) {
    padding: 4.6rem 3.6rem;
  }
  @media screen and ( min-width: $large ) {
    padding: 2rem 4.5rem;
  }

  // block [layout]
  display: grid;
  grid: {
    gap: 1.5rem 0;
    template-columns: repeat( 10, 1fr );
  }

  // block
  // `.content .topic`
  .topic {
    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
    @media screen and ( min-width: $large ) {
      grid-column: {
        start: 2;
        end: 10;
      }
    }
  }

  // block
  // `.content .filter`
  .filter {
    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
    @media screen and ( min-width: $large ) {
      grid-column: {
        start: 2;
        end: 10;
      }
    }
    @media screen and ( min-width: $x-large ) {
      grid-template-areas: 'filter__tags filter__time';
    }

    .tags {
      // block [layout]
      grid-template: {
        areas:
          'tags__tag--all         tags__tag--rule'
          'tags__tag--competition tags__tag--international'
          'tags__tag--exhibition  tags__tag--scholarship'
          'tags__tag--speech      tags__tag--internship'
          'tags__tag--conference  tags__tag--course';
        columns: 3.3rem 3.3rem;
      }
      @media screen and ( min-width: $x-small ) {
        grid-template: {
          areas:
            'tags__tag--all         tags__tag--competition tags__tag--international'
            'tags__tag--rule        tags__tag--exhibition  tags__tag--scholarship'
            '.                      tags__tag--speech      tags__tag--internship'
            '.                      tags__tag--conference  tags__tag--course';
          columns: 3.3rem 3.3rem 3.3rem;
        }
      }
      @media screen and ( min-width: $small ) {
        grid-template-columns: 4rem 4rem 4rem;
      }
    }

    .time {
      @media screen and ( min-width: $small ) {
        justify-content: flex-end;
      }
    }
  }

  // block
  // `.content .announcement`
  .announcement {
    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
    @media screen and ( min-width: $large ) {
      grid-column: {
        start: 2;
        end: 10;
      }
    }
  }
}
