@import 'components/common/reset';
@import 'components/announcement/briefing';
@import 'components/announcement/filter';
@import 'components/announcement/title';
@import 'components/common/topic';

// block
// `.content`

.content {
  $small: 850px;
  $large: 992px;

  // block [skin]
  padding: 2.2rem .5rem;
  @media screen and ( min-width: $large ) {
    padding: 2.2rem 2.9rem;
  }

  // block [layout]
  display: grid;
  grid: {
    gap: 1.2rem 0;
    template: {
      columns: repeat( 10, 1fr );
      areas:
        'filter'
        'topic';
    }
  }
  @media screen and ( min-width: $small ) {
    grid-template-areas:
      'topic'
      'filter';
  }

  // block
  // `.content .topic`
  .topic {
    grid-area: topic;

    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `.content .filter`
  .filter {
    grid-area: filter;

    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `.content .announcement`
  .announcement {
    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
  }
}
