-
  function internationalI18n () {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: [
        {
          aspect: '人工智慧國際大師論壇暨跨國策略合作',
          type: 'images',
          context: [
            {
              alt: 'international 1',
              className: [ 'paragraph__image'],
              src: 'student/MOU/1.jpg',
            },
            {
              alt: 'international 2',
              className: [ 'paragraph__image'],
              src: 'student/MOU/2.jpg',
            },
            {
              alt: 'international 3',
              className: [ 'paragraph__image'],
              src: 'student/MOU/3.jpg',
            },
            {
              alt: 'international 4',
              className: [ 'paragraph__image'],
              src: 'student/MOU/4.jpg',
            },
            {
              alt: 'international 5',
              className: [ 'paragraph__image'],
              src: 'student/MOU/5.jpg',
            },
            {
              alt: 'international 6',
              className: [ 'paragraph__image'],
              src: 'student/MOU/6.jpg',
            },
            {
              alt: 'international 7',
              className: [ 'paragraph__image'],
              src: 'student/MOU/7.jpg',
            },
            {
              alt: 'international 8',
              className: [ 'paragraph__image'],
              src: 'student/MOU/8.jpg',
            },
            {
              alt: 'international 9',
              className: [ 'paragraph__image'],
              src: 'student/MOU/9.jpg',
            },
            {
              alt: 'international 10',
              className: [ 'paragraph__image'],
              src: 'student/MOU/10.jpg',
            },
            {
              alt: 'international 11',
              className: [ 'paragraph__image'],
              src: 'student/MOU/11.jpg',
            },
          ],
        },
        //- {
        //-   aspect: '軟體介紹',
        //-   type: 'link',
        //-   context: '成功大學校園授權軟體',
        //-   link: 'https://www.cc.ncku.edu.tw/download/',
        //- },
      ],
      [ LANG.getLanguageId( 'en-US' ) ]: [
        {
          aspect: 'Artificial and Human Intelligence',
          type: 'images',
          context: [
            {
              alt: 'international 1',
              className: [ 'paragraph__image'],
              src: 'student/MOU/1.jpg',
            },
            {
              alt: 'international 2',
              className: [ 'paragraph__image'],
              src: 'student/MOU/2.jpg',
            },
            {
              alt: 'international 3',
              className: [ 'paragraph__image'],
              src: 'student/MOU/3.jpg',
            },
            {
              alt: 'international 4',
              className: [ 'paragraph__image'],
              src: 'student/MOU/4.jpg',
            },
            {
              alt: 'international 5',
              className: [ 'paragraph__image'],
              src: 'student/MOU/5.jpg',
            },
            {
              alt: 'international 6',
              className: [ 'paragraph__image'],
              src: 'student/MOU/6.jpg',
            },
            {
              alt: 'international 7',
              className: [ 'paragraph__image'],
              src: 'student/MOU/7.jpg',
            },
            {
              alt: 'international 8',
              className: [ 'paragraph__image'],
              src: 'student/MOU/8.jpg',
            },
            {
              alt: 'international 9',
              className: [ 'paragraph__image'],
              src: 'student/MOU/9.jpg',
            },
            {
              alt: 'international 10',
              className: [ 'paragraph__image'],
              src: 'student/MOU/10.jpg',
            },
            {
              alt: 'international 11',
              className: [ 'paragraph__image'],
              src: 'student/MOU/11.jpg',
            },
          ],
        },
        //- {
        //-   aspect: 'Software',
        //-   type: 'link',
        //-   context: 'NCKU FTP Server',
        //-   link: 'https://www.cc.ncku.edu.tw/download/',
        //- },
      ],
    };
  }
