extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':  'Activities',
        'topic':  'Activities',
        'top':    'Pinned Announcement',
        'normal': 'Announcement',
        'breadcrumb': {
          'home':         'Home',
          'announcement': 'Announcement',
        },
      },
      'zh-TW': {
        'title':  '活動公告',
        'topic':  '活動公告',
        'top':    '置頂貼文',
        'normal': '一般公告',
        'breadcrumb': {
          'home':         '首頁',
          'announcement': '系所公告',
        },
      },
    } );
    const filterModifier = 'activity';
    const filterTags = [
      'all',
      'competition',
      'conference',
      'exhibition',
      'speech',
    ];
    const currentRoute = 'announcement/activity';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'announcement/activity' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.announcement, url: 'announcement' },
    { text: i18n[ language ].title },
   ] )

append footer

append scripts
  +js( 'announcement/activity' )
