extends /layouts/announcement/briefing.pug

block append stylesheets

block append content
  include /components/common/topic.pug
  include /components/announcement/filter.pug
  include /components/announcement/title.pug
  main.content
    +topic( '活動公告' )
    +filter(
      'all','teacher','administrator','college', 'master','phd','speech','conference','recruitment',
      'exhibition','competition','scholarship','international','internship','law'
    )
    section.announcement
      +announcement__title( '置頂貼文' )
    section.announcement
      +announcement__title( '一般公告' )
      nav.announcement__briefings.briefings
block append scripts
  +js( 'announcement/activity' )
