extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      [ language.getLanguageId( 'en-US' ) ]: {
        'title':    'Activities',
        'topic':    'Activities',
        'pinned':   'Pinned Announcement',
        'normal':   'Announcement',
        'breadcrumb': {
          'home':         'Home',
          'announcement': 'Announcement',
        },
      },
      [ language.getLanguageId( 'zh-TW' ) ]: {
        'title':    '活動公告',
        'topic':    '活動公告',
        'pinned':   '置頂貼文',
        'normal':   '一般公告',
        'breadcrumb': {
          'home':         '首頁',
          'announcement': '系所公告',
        },
      },
    } );
    const filterModifier = 'activity';
    const filterTags = [
      'all',
      'competition',
      'conference',
      'exhibition',
      'speech',
    ];
    const currentRoute = 'announcement/activity';

append title
  +title( i18n[ language.id ].title )

append stylesheets
  +css( 'announcement/activity' )

append header
  +banner( i18n[ language.id ].title )
  +breadcrumb( [
    { text: i18n[ language.id ].breadcrumb.home, url: '' },
    { text: i18n[ language.id ].breadcrumb.normal, url: 'announcement' },
    { text: i18n[ language.id ].title },
  ] )

append footer

append scripts
  +js( 'announcement/activity' )
