extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':    'Activities',
        'topic':    'Activities',
        'time':   {
          'from': 'Start Date',
          'to':   'End Date',
        },
        'pinned':   'Pinned Announcement',
        'normal':   'Announcement',
        'breadcrumb': {
          'home':         'Home',
          'announcement': 'Announcement',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':    '活動公告',
        'topic':    '活動公告',
        'time':   {
          'from': '開始日期',
          'to':   '結束日期',
        },
        'pinned':   '置頂貼文',
        'normal':   '一般公告',
        'breadcrumb': {
          'home':         '首頁',
          'announcement': '系所公告',
        },
      },
    } );
    const tags = [
        {
            color: 'purple',
            tag: UTILS.getTagAll(LANG.id)
        },{
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'competition',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'competition',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
        },{
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'conference',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'conference',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
        },{
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'exhibition',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'exhibition',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
        },{
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'speech',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'speech',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
        },
    ];
    const filterModifier = 'activity';
    const currentRoute = 'announcement/activity';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'announcement/activity' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.normal, url: 'announcement' },
    { text: i18n[ LANG.id ].title },
  ] )

append footer

append scripts
  +js( 'announcement/activity' )
