extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':  'Activities',
        'topic':  'Activities',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
          'title':  '活動公告',
          'topic':  '活動公告',
          'top':    '置頂貼文',
          'normal': '一般公告',
      },
    } );
    const filterModifier = 'activity';
    const filterTags = [
      'all',
      'competition',
      'conference',
      'exhibition',
      'speech',
    ];

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'announcement/activity' )

append header

append footer

append scripts
  +js( 'announcement/activity' )
