extends /layouts/announcement/briefing.pug

block append stylesheets

block append content
  include /components/common/topic.pug
  include /components/announcement/filter.pug
  include /components/announcement/title.pug
  - const i18n = require( path.resolve( languageRoot, 'announcement/administrator' ) );

  main.content
    +topic( i18n[ language ].topic )
    +filter(
      'all',
      'administrator',
      'college',
      'competition',
      'conference',
      'exhibition',
      'international',
      'internship',
      'law',
      'master',
      'phd',
      'recruitment',
      'scholarship',
      'speech',
      'teacher'
    )
    section.announcement
      +announcement__title( i18n[ language ].top )
    section.announcement
      +announcement__title( i18n[ language ].normal )
      nav.announcement__briefings.briefings
block append scripts
  +js( 'announcement/administrator' )
