extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':  'All Announcement',
        'topic':  'All Announcement',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'title':  '全部公告',
        'topic':  '全部公告',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'announcement/all' )

append header

append topic
  +topic( i18n[ language ].topic )

append filter
  +filter( {
    modifier: 'all',
    tags: [
      'all',
      'award',
      'college',
      'competition',
      'conference',
      'course',
      'exhibition',
      'faculty',
      'international',
      'internship',
      'master',
      'phd',
      'recruitment',
      'rule',
      'scholarship',
      'speech',
    ]
  } )

append footer

append scripts
  +js( 'announcement/all' )
