extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':  'All Announcement',
        'topic':  'All Announcement',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'title':  '全部公告',
        'topic':  '全部公告',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );
    const filterModifier = 'all';
    const filterTags = [
        'all',
        'award',
        'college',
        'competition',
        'conference',
        'course',
        'exhibition',
        'faculty',
        'international',
        'internship',
        'master',
        'phd',
        'recruitment',
        'rule',
        'scholarship',
        'speech',
    ];
    const currentRoute = 'announcement/all';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'announcement/all' )

append header

append footer

append scripts
  +js( 'announcement/all' )
