extends ../layouts/announcement.pug

block css
  link(rel='stylesheet' href='/css/announcement/all.css')
block header
block title
  +title( 'Undergraduate', '大學部' )
block filter
  +filter( 'teacher','master','administrator','phd','scholarship','internship','law','conference','competition','international' ) 
block main_content
  main.announcemen.announcement--main
    +announcement__briefing(  
      {
        title: '至頂標題',
        time: '2018-2-2 | 15:02',
        excerpt: '至頂內文 至頂內文 至頂內文 至頂內文 至頂內文 至頂內文',
        articleUrl: '', 
        tags: [ 'college', 'speech', 'phd' ],
        href: '/about/teachers',
      }
   )
block content
  main.announcement
    +announcement__briefing(  
      {
        title: '標題二',
        time: '2018-2-2 | 15:02',
        excerpt: '一小段內文一小段內文一小段內文一小段內文一小段內文一小段內文一小段內文一小段內文一小段內文',
        articleUrl: '/about/teachers', 
        tags: [ 'college', 'speech', 'phd' ],
        classname: 'announcement'
      }
   )
    +announcement__briefing(  
      {
        title: '標題二',
        time: '2018-2-2 | 15:02',
        excerpt: '兩小段內文',
        articleUrl: '', 
        tags: [ 'recruitment', 'teacher', 'exhibition' ],
        classname: 'announcement'
      }
   )
block page 
block footer
block script

