extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':    'All Announcement',
        'topic':    'All Announcement',
        'pinned':   'Pinned Announcement',
        'normal':   'Announcement',
        'breadcrumb': {
          'home':   'Home',
          'normal': 'Announcement',
        },
      },
      'zh-TW': {
        'title':    '全部公告',
        'topic':    '全部公告',
        'pinned':   '置頂貼文',
        'normal':   '一般公告',
        'breadcrumb': {
          'normal': '系所公告',
          'home':   '首頁',
        },
      },
    } );
    const filterModifier = 'all';
    const filterTags = [
        'all',
        'award',
        'college',
        'competition',
        'conference',
        'course',
        'exhibition',
        'faculty',
        'international',
        'internship',
        'master',
        'phd',
        'recruitment',
        'rule',
        'scholarship',
        'speech',
    ];
    const currentRoute = 'announcement/all';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'announcement/all' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.normal, url: 'announcement' },
    { text: i18n[ language ].title },
  ] )

append footer

append scripts
  +js( 'announcement/all' )
