extends /layouts/announcement.pug

include /components/announcement/announcement.pug
include /components/announcement/title.pug
include /components/announcement/filter.pug

block css
  link( rel='stylesheet', href='/css/announcement/all.min.css' )

block header
block title
  +title( 'Undergraduate', '大學部' )

block filter
  +filter( 'teacher','master','administrator','phd','scholarship','internship','law','conference','competition','international' ) 

block announcement--pinned
  section.announcement
    section.announcement__title.title
      p.title__icon
      h.title__text 置頂貼文
    +announcement__briefing(  
      {
        title: '至頂標題',
        time: '2018-2-2 | 15:02',
        excerpt: '至頂內文 至頂內文 至頂內文 至頂內文 至頂內文 至頂內文',
        articleUrl: '', 
        tags: [ 'college', 'speech', 'phd' ],
        classname: 'announcement'
      }
    )
block announcement
  section.announcement
    section.announcement__title.title
      p.title__icon
      h.title__text 所有貼文
    +announcement__briefing(
      {
        title: '標題二',
        time: '2018-2-2 | 15:02',
        excerpt: '一小段內文一小段內文一小段內文一小段內文一小段內文一小段內文一小段內文一小段內文一小段內文',
        articleUrl: '/about/teachers',
        tags: [ 'college', 'speech', 'phd' ],
        classname: 'announcement'
      }
   )
    +announcement__briefing(
      {
        title: '標題二',
        time: '2018-2-2 | 15:02',
        excerpt: '兩小段內文',
        articleUrl: '',
        tags: [ 'recruitment', 'teacher', 'exhibition' ],
        classname: 'announcement'
      }
   )
block page
block footer
block script