extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':    'All Announcement',
        'topic':    'All Announcement',
        'time':   {
          'from': 'Start Date',
          'to':   'End Date',
        },
        'pinned':   'Pinned Announcement',
        'normal':   'Announcement',
        'breadcrumb': {
          'home':         'Home',
          'announcement': 'Announcement',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':    '全部公告',
        'topic':    '全部公告',
        'time':   {
          'from': '開始日期',
          'to':   '結束日期',
        },
        'pinned':   '置頂貼文',
        'normal':   '一般公告',
        'breadcrumb': {
          'home':         '首頁',
          'announcement': '系所公告',
        },
      },
    } );
    const tags = allTags;
    const currentRoute = 'announcement/all';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'announcement/all' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.announcement, url: 'announcement' },
    { text: i18n[ LANG.id ].title },
  ] )

append footer

append scripts
  +js( 'announcement/all' )
