extends /layouts/announcement/announcement.pug

block append stylesheets
  +css( 'announcement/announcement' )

block append content
  include /components/announcement/announcement.pug
  main#content.content

block append scripts
  +js( 'announcement/announcement' )
