extends /layouts/announcement/announcement.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':    'Announcement Detail',
        'breadcrumb': {
          'home':   'Home',
          'normal': 'Announcement',
        },
      },
      'zh-TW': {
        'title':    '公告內容',
        'breadcrumb': {
          'normal': '系所公告',
          'home':   '首頁',
        },
      },
    } );
    const currentRoute = 'announcement/announcement';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'announcement/announcement' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.normal, url: 'announcement' },
    { text: i18n[ language ].title },
  ] )

append content

append footer

append scripts
  +js( 'announcement/announcement' )
