extends /layouts/announcement/announcement.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':    'Announcement',
        'breadcrumb': {
          'home':   'Home',
        },
        'entries': [
          {
            title: 'All Announcement',
            detail: 'Announcements of department and university',
            modifier: 'red',
            href: url( { href: 'announcement/all', } ),
          },
          {
            title: 'Activities',
            detail: 'Conference, speech, competitions and exhibition held by department',
            modifier: 'green',
            href: url( { href: 'announcement/activity', } ),
          },
          {
            title: 'Recruitment',
            detail: 'Recruitment information',
            modifier: 'yellow',
            href: url( { href: 'announcement/recruitment', } ),
          },
        ],
      },
      'zh-TW': {
        'title':    '系所公告',
        'breadcrumb': {
          'home':   '首頁',
        },
        'entries': [
          {
            title: '所有公告',
            detail: '系所及學校重要資訊公告，不分類別',
            modifier: 'red',
            href: url( { href: 'announcement/all', } ),
          },
          {
            title: '活動訊息',
            detail: '系所舉辦的研討會、演講、競賽及展覽',
            modifier: 'green',
            href: url( { href: 'announcement/activity', } ),
          },
          {
            title: '徵人資訊',
            detail: '系所招聘人才資訊',
            modifier: 'yellow',
            href: url( { href: 'announcement/recruitment', } ),
          },
        ],
      },
    } );
    const currentRoute = 'announcement';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'announcement/index' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].title },
  ] )

append content
  include /components/common/entries.pug
  +entries( i18n[ language ].entries )

append footer

append scripts
  +js( 'announcement/index' )
