extends ../layouts/post_detail.pug
block css
  link(rel='stylesheet' href='/css/announcement/post_detail.css')
block header
  //block title
  //block time
block article
  +post_detailArticle(
    {
      title: '【公告】教育部108年度菁培計劃 學校推薦報名|系上初審4/16收件截止|',
      time: '2018-2-2 | 15:02',
      article: '本系承辦教育部「藝術與設計菁英海外培訓計畫」，今年已邁向第14年，<br> 自94年執行迄今，菁培計畫已選送239位優秀學子至海外頂尖設計學府進修。<br><br> 教育部自今年起更擴大計畫規模，新增「建築與景觀設計組」；<br> 「產品組」自108年度起原錄取名額７名也調增至９名，預計在美國、英國、德國、荷蘭、日本等五個國家共八所進修培訓學校。<br><br> 目前108年度計畫熱烈報名中！！<br> 只要準備好作品集，就有機會獲得由教育部補助一年全額學費及生活費，<br> 平均每人可比照公費留學考試獲得政府約新臺幣150萬元左右的補助。<br> 計畫詳細資訊請參閱網站：www.ide.ncku.edu.tw/sposad<br><br> 108年度菁培計畫提供【學校推薦】、【個人申請】、【金點新秀設計獎-年度最佳設計獎者】三種報名管道，<br> 請有興趣的同學擇一管道報名即可*。<br> *特別注意：不論選擇何種管道報名，評分標準皆為一致。不會因本系承辦教育部「藝術與設計菁英海外培訓計畫」，今年已邁向第14年，<br> 自94年執行迄今，菁培計畫已選送239位優秀學子至海外頂尖設計學府進修。<br><br> 教育部自今年起更擴大計畫規模，新增「建築與景觀設計組」；<br> 「產品組」自108年度起原錄取名額７名也調增至９名，預計在美國、英國、德國、荷蘭、日本等五個國家共八所進修培訓學校。<br><br> 目前108年度計畫熱烈報名中！！<br> 只要準備好作品集，就有機會獲得由教育部補助一年全額學費及生活費，<br> 平均每人可比照公費留學考試獲得政府約新臺幣150萬元左右的補助。<br> 計畫詳細資訊請參閱網站：www.ide.ncku.edu.tw/sposad<br><br> 108年度菁培計畫提供【學校推薦】、【個人申請】、【金點新秀設計獎-年度最佳設計獎者】三種報名管道，<br> 請有興趣的同學擇一管道報名即可*。<br> *特別注意：不論選擇何種管道報名，評分標準皆為一致。不會因報名管道不同，而影響初審第一階段的分數或是錄取培訓研習營的機率。<br> 詳細規則及說明請務必詳閱今年度甄選簡章。<br><br> >>在此提醒想透過【學校推薦】報名的同學，<br> 因系所推薦名額至多5位，所以會在菁培計畫報名截止日前先進行系上初審。<br> 【學校推薦】系上初審資料：請於4月16日（一）下午17:00前交到系辦給彥君<br>收件後，預計於當週4月23日（五）前確認本系【學校推薦】報名名單。<br><br> 參加系上初審請準備下列資料**：<br> 1. 作品集：紙本或電子版本不拘<br> 中、英文不拘，也可先拿舊的作品集進行系上初審。<br><br> 2. 歷年成績單（大學+碩班），需含排名：請交紙本 <br>學校推薦須達系所排名前50%，不論是歷年總排名或當學期排名，擇一有達標準皆可。<br> 研究生無排名，故可使用大學部畢業成績排名、或是大四上/下學期排名。<br><br> 3. 語言成績證明影本：請交紙本<br>任何類型的語言檢定考試都可（多益、全民英檢、托福、雅思....等等），也不限考試日期；<br> 若無語言證明，檢附大學英文課程成績單即可。<br><br> **所有資料系上審查後皆會退還給同學，可直接準備用在5月18日正式報名菁培計畫。<br><br> 歡迎大家來報名～ 若有任何問題，請來信idencku@gmail.com或到系辦詢問彥君報名管道不同，而影響初審第一階段的分數或是錄取培訓研習營的機率。 詳細規則及說明請務必詳閱今年度甄選簡章。<br> >>在此提醒想透過【學校推薦】報名的同學， 因系所推薦名額至多5位，所以會在菁培計畫報名截止日前先進行系上初審。 【學校推薦】系上初審資料：請於4月16日（一）下午17:00前交到系辦給彥君 收件後，預計於當週4月23日（五）前確認本系【學校推薦】報名名單。 參加系上初審請準備下列資料**： 1. 作品集：紙本或電子版本不拘 中、英文不拘，也可先拿舊的作品集進行系上初審。 2. 歷年成績單（大學+碩班），需含排名：請交紙本 學校推薦須達系所排名前50%，不論是歷年總排名或當學期排名，擇一有達標準皆可。 研究生無排名，故可使用大學部畢業成績排名、或是大四上/下學期排名。 3. 語言成績證明影本：請交紙本 任何類型的語言檢定考試都可（多益、全民英檢、托福、雅思....等等），也不限考試日期； 若無語言證明，檢附大學英文課程成績單即可。 **所有資料系上審查後皆會退還給同學，可直接準備用在5月18日正式報名菁培計畫。 歡迎大家來報名～ 若有任何問題，請來信idencku@gmail.com或到系辦詢問彥君',
      button: '107面試通知函.pdf 56.37KByte  |  下載附件',
      url: 'https://www.google.com/?hl=zh-tw',
      watch: '瀏覽人次 160'
    }
  )

  //block script
  //block file
  //block read
block footer