extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      [ language.getLanguageId( 'en-US' ) ]: {
        'title':    'Recruitments',
        'topic':    'Recruitments',
        'pinned':   'Pinned Announcement',
        'normal':   'Announcement',
        'breadcrumb': {
          'home':   'Home',
          'normal': 'Announcement',
        },
      },
      [ language.getLanguageId( 'zh-TW' ) ]: {
        'title':    '徵人資訊',
        'topic':    '徵人資訊',
        'pinned':   '置頂貼文',
        'normal':   '一般公告',
        'breadcrumb': {
          'normal': '系所公告',
          'home':   '首頁',
        },
      },
    } );
    const filterModifier = 'recruitment';
    const filterTags = [ 'recruitment', ];
    const currentRoute = 'announcement/recruitment';

append title
  +title( i18n[ language.id ].title )

append stylesheets
  +css( 'announcement/recruitment' )

append header
  +banner( i18n[ language.id ].title )
  +breadcrumb( [
    { text: i18n[ language.id ].breadcrumb.home, url: '' },
    { text: i18n[ language.id ].breadcrumb.normal, url: 'announcement' },
    { text: i18n[ language.id ].title },
  ] )

append footer

append scripts
  +js( 'announcement/recruitment' )
