@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/breadcrumb';
@import 'components/common/loading';
@import 'components/common/refresh';
@import 'components/common/footer';
@import 'components/common/topic';
@import 'components/user/image';
@import 'components/user/faculty/local-topic';
@import 'components/user/form/form';
@import 'components/user/card/faculty/profile-card';
@import 'components/user/card/staff/title-card';
@import 'components/user/card/staff/business-card';

.body {
  // [ variable ]
  $large: 1180px;
  $medium: 710px;
  $small: 535px;

  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        ' breadcrumb '
        ' topic      '
        ' profile    '
        ' title      '
        ' business   ';
      columns: 100%;
      rows: 2.5rem 2.5rem auto;
    }

    // [ position ]
    height: fit-content;
    width: 80%;
    margin: {
      bottom: 1rem;
      right: auto;
      left: auto;
    }

    // [ skin ]
    background-color: #ffffff;

    // element
    // `.body > .content > .content__topic`
    @include topic( 'content' ) {
      // [ layout ]
      display: block;
      grid-area: topic;

      // [ skin ]
      width: 94%;
      height: 1rem;
      box-sizing: content-box;
      padding-top: 1rem;

      // position
      margin: {
        left: auto;
        right: auto;
      }

      // element
      // `.body > .content > .content__topic` > .topic__text
      > .topic__text {
        height: 100%;
      }
    }

    // `.body` > .content > .content__profile
    > .content__profile.profile {
      // [ layout ]
      display: grid;
      grid: {
        area: profile;
        template-areas:
          'image          '
          'name           '
          'email          '
          'office-address '
          'office-tel     ';
      }

      // [ position ]
      margin: {
        bottom: font__px-to-rem( 30 );
        left: auto;
        right: auto;
      }
      width: 94%;
      height: auto;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        grid-template: {
          areas:
            'name            image '
            'email           image '
            'office-address  image '
            'office-tel      image ';
          columns: auto font__px-to-rem( 400 );
        }
      }
      @include image('profile') {
        // [ layout ]
        grid-area: image;

        // [ position ]
        margin-top: 1.5rem;
      }
      @include profile-card( 'name' ) {
        // [ layout ]
        grid-area: name;
      }
      @include profile-card( 'email' ) {
        // [ layout ]
        grid-area: email;
      }
      @include profile-card( 'office-address' ) {
        // [ layout ]
        grid-area: office-address;
      }
      @include profile-card( 'office-tel' ) {
        // [ layout ]
        grid-area: office-tel;
      }
    }

    > .content__title.title {
      // [ layout ]
      display: block;
      grid-area: title;

      // [ position ]
      margin: {
        bottom: font__px-to-rem( 30 );
        left: auto;
        right: auto;
      }
      width: 94%;
      height: auto;
      @include local-topic('title');

      > .title__cards.cards {
        // [ layout ]
        display: block;

        // [ position ]
        width: 100%;
        height: auto;

        // [ element ]
        @include title-card();
      }
      @include refresh( $block: 'title' ) {
        // [ layout ]
        margin: {
          top: font__px-to-rem( 64 );
          bottom: font__px-to-rem( 64 );
        }
      }
      @include loading( $block: 'title' ) {
        // [ layout ]
        margin: {
          top: font__px-to-rem( 64 );
          bottom: font__px-to-rem( 64 );
        }
      }
    }

    > .content__business.business {
      // [ layout ]
      display: block;
      grid-area: business;

      // [ position ]
      margin: {
        bottom: font__px-to-rem( 30 );
        left: auto;
        right: auto;
      }
      width: 94%;
      height: auto;
      @include local-topic('business');

      > .business__cards.cards {
        // [ layout ]
        display: block;

        // [ position ]
        width: 100%;
        height: auto;

        // [ element ]
        @include business-card();
      }
      @include refresh( $block: 'business' ) {
        // [ layout ]
        margin: {
          top: font__px-to-rem( 64 );
          bottom: font__px-to-rem( 64 );
        }
      }
      @include loading( $block: 'business' ) {
        // [ layout ]
        margin: {
          top: font__px-to-rem( 64 );
          bottom: font__px-to-rem( 64 );
        }
      }
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ layout ]
      grid-area: breadcrumb;

      // [ position ]
      width: 100%;
      margin-bottom: 1rem;

      // [ skin ]
      border: {
        top-width: font__px-to-rem( 32 );
        left-width: font__px-to-rem( 16 );
        color: transparent;
        style: solid;
      }
    }
  }

  // element
  // `.body > .body__form`
  // block
  // `.body > .form`
  @include form();

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
