@import 'components/common/reset';
@import 'components/common/font';
@import 'components/common/icon';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/breadcrumb';
@import 'components/common/topic';
@import 'components/common/footer';

// block
// `.body >　.content`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $small: 850px;
    $large: 992px;
    $x-large: 1440px;

    // [ layout ]
    display: grid;
    grid: {
      row-gap: font__px-to-rem( 38 );
      template: {
        columns: font__px-to-rem( 16 ) 1fr font__px-to-rem( 16 );
        areas:
          '. breadcrumb           .'
          '. topic               .'
          '. form                .';
      }
    }

    // [ skin ]
    padding: {
      top: font__px-to-rem( 70 );
      bottom: font__px-to-rem( 70 );
      left: font__px-to-rem( 16 );
      right: font__px-to-rem( 16 );
    }
    background-color: #ffffff;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      grid: {
        row-gap: font__px-to-rem( 60 );
        template: {
          columns: 1fr font__px-to-rem( 924 ) 1fr;
          areas:
            '. breadcrumb           .'
            '. topic                .'
            '. form               .';
        }
      }

      // [ skin ]
      padding: {
        top: font__px-to-rem( 40 );
        bottom: font__px-to-rem( 70 );
        left: 0;
        right: 0;
      }
    }

    // [ RWD: $x-large ]
    @media screen and ( min-width: $x-large ) {
      // [ layout ]
      grid-template-columns: 1fr font__px-to-rem( 1200 ) 1fr;
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ layout ]
      grid-area: breadcrumb;

      // [ position ]
      width: 100%;
    }
    @include topic( $block: 'content' ) {
      // [ layout ]
      grid-area: topic;
    }

    > .content__form.form {
      // [ layout ]
      grid-area: form;
      display: grid;
      grid-template: {
        areas:
          'image       image'
          'title-label title-input'
          'submit      submit';
        columns: max-content auto;
        rows: font__px-to-rem( 400 ) font__px-to-rem( 80 ) auto;
      }
      row-gap: font__px-to-rem( 18 );
      column-gap: font__px-to-rem( 18 );

      // [ skin ]
      width: 90%;
      margin: {
        left: auto;
        right: auto;
      }

      > .form__image {
        // [ layout ]
        grid-area: image;
        display: block;
        position: relative;

        // [ skin ]
        width: 100%;
        height: 100%;
        margin: {
          left: auto;
          right: auto;
        }

        > .image__label {
          // [ layout ]
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          justify-content: center;

          // [ skin ]
          height: 100%;
          width: 100%;
          border: 5px dashed gray;
          border-radius: font__px-to-rem( 12 );

          &--preview {
            // [ skin ]
            border: 5px dashed rgba( 255, 255, 255, 1 );
          }

          &:hover {
            // [ skin ]
            cursor: pointer;
          }

          > .label__preview {
            // [ layout ]
            display: block;

            // [ skin ]
            width: auto;
            height: 100%;

            &--hidden {
              // [ layout ]
              display: none;
            }
          }

          > .label__upload {
            // [ layout ]
            display: block;

            // [ skin ]
            width: font__px-to-rem( 70 );
            height: font__px-to-rem( 70 );

            &--hidden {
              // [ layout ]
              display: none;
            }
          }

          > .label__comment {
            // [ layout ]
            display: block;

            // [ skin ]
            width: 100%;
            height: font__px-to-rem( 50 );
            font: {
              size: font__px-to-rem( 18 );
              weight: 600;
            }
            text-align: center;
            line-height: normal;

            &--hidden {
              // [ layout ]
              display: none;
            }
          }
        }

        > .image__upload {
          // [ layout ]
          display: none;
        }
      }

      > .form__label {
        // [ layout ]
        grid-area: title-label;
        display: flex;
        align-self: center;

        // [ skin ]
        font: {
          size: font__px-to-rem( 18 );
          weight: 700;
        }
        color: rgba( 0, 0, 0, .87 );
        line-height: normal;
      }

      > .form__input {
        // [ layout ]
        grid-area: title-input;
        display: flex;
        align: {
          self: center;
          items: center;
        }

        // [ position ]
        height: font__px-to-rem( 40 );
        border-radius: font__px-to-rem( 10 );

        // [ skin ]
        padding: {
          right: font__px-to-rem( 18 );
          left:  font__px-to-rem( 18 );
        }
        background-color: rgba( 0, 0, 0, .1 );
        font-size: font__px-to-rem( 18 );
        line-height: normal;
        letter-spacing: normal;
        color: rgba( 0, 0, 0, .87 );
      }

      > .form__submit {
        // [ layout ]
        display: flex;
        grid-area: submit;
        align: {
          self: center;
          items: center;
        }

        // [ position ]
        width: fit-content;
        height: font__px-to-rem( 55 );

        // [ skin ]
        padding: {
          right: font__px-to-rem( 50 );
          left: font__px-to-rem( 50 );
        }
        background-color: #213262;
        color: rgb( 255, 255, 255 );
        border-radius: font__px-to-rem( 5 );
        font: {
          size: font__px-to-rem( 16 );
          weight: bold;
        }
        line-height: normal;

        &:hover {
          // [ skin ]
          cursor: pointer;
          background-color: #294288c0;
        }
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
