@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/breadcrumb';
@import 'components/common/footer';
@import 'components/common/topic';
@import 'components/user/navigation-bar';
@import 'components/user/local-topic';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $large: 1200px;
    $small: 600px;
    $input-height-small: 30;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        ' . breadcrumb  .'
        ' . main        .';
      columns: 1fr 20fr 1fr;
    }

    // [ skin ]
    height: auto;
    width: 100%;
    background-color: #ffffff;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      grid-template: {
        areas:
          ' breadcrumb breadcrumb  '
          ' navigation main        ';
        columns: minmax( font__px-to-rem( 200 ), 1fr ) 4fr;
      }
    }

    // template
    // `.body > .content > .content__?.?`
    %content__element {
      // [ layout ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      max-width: font__px-to-rem( 1740 );
      width: 94%;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        width: 84%;
      }
    }

    // `.body` > .content > .content__main
    > .content__main {
      // [ layout ]
      display: block;
      grid-area: main;

      // [ position ]
      width: 95%;
      margin: {
        top: font__px-to-rem( 80 );
        left: auto;
        right: auto;
      }

      // [ RWD: $small ]
      @media screen and ( min-width: $small ) {
        // [ position ]
        width: 80%;
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        max-width: font__px-to-rem( 1000 );
        width: 80%;
        margin: {
          top: font__px-to-rem( 80 );
          bottom: font__px-to-rem( 80 );
          left: 0;
        }
      }

      // element
      // `.body > .content > .content__main > .main__topic`
      @include topic( 'main' ) {
        // [ layout ]
        display: block;

        // [ skin ]
        width: 95%;
        height: auto;

        // position
        margin: {
          left: auto;
          right: auto;
          bottom: font__px-to-rem( 20 );
        }

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ position ]
          margin-left: font__px-to-rem( 31.5 );
        }
      }

      // `.body > .content > .content__main > .main__topic`      
      @include local-topic( $block: 'main' ) {
        // [ skin ]
        border: none;

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ position ]
          margin-left: font__px-to-rem( 31.5 );
        }
      }

      // `.body > .content > .content__main > .main__award`      
      > .main__award.award {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            'add date     delete'
            '.   award-zh .     '
            '.   award-en .     ';
          columns: font__px-to-rem( 30 ) 1fr font__px-to-rem( 30 );
        }

        // [ position ]
        width: 100%;
        margin: {
          top: font__px-to-rem( 5 );
          left: auto;
          right: auto;
        }

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          grid-template: {
            areas:
              'add date     delete'
              '.   award-zh .     '
              '.   award-en .     ';
            columns: font__px-to-rem( 50 ) minmax( 400, 800 ) font__px-to-rem( 50 );
          }
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          grid: {
            template: {
              areas:
                'add date award-zh delete'
                '.   .    award-en .     ';
              columns: font__px-to-rem( 50 ) 1fr 3fr font__px-to-rem( 50 );
            }
            gap: font__px-to-rem( 5 );
          }
        }
      }
    }

    // block
    // `.body > .content > .navigation-bar`
    @include navigation-bar() {
      // [ template ]
      @extend %content__element;

      // [ layout ]
      grid-area: navigation;
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ template ]
      @extend %content__element;

      // [ layout ]
      grid-area: breadcrumb;

      // [ skin ]
      border: {
        top-width: font__px-to-rem( 32 );
        left-width: font__px-to-rem( 16 );
        color: transparent;
        style: solid;
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
