@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/breadcrumb';
@import 'components/common/footer';
@import 'components/common/topic';
@import 'components/user/navigation-bar';
@import 'components/user/local-topic';
@import 'components/user/input-title';
@import 'components/user/input-block';
@import 'components/user/input-image';
@import 'components/user/input-button';
@import 'components/user/filter';

// block
// `.body`
.body {
  // [ variable ]
  $input-height-small: 30;
  $input-height-large: 46;

  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $large: 1500px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        ' breadcrumb breadcrumb  '
        ' navigation information ';
      columns: font__px-to-rem( 280 ) auto;
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      grid-template: {
        areas:
          ' breadcrumb breadcrumb  breadcrumb '
          ' navigation information .          ';
        columns: 1.2fr 2.6fr .8fr;
        rows: auto auto;
      }
    }


    // [ skin ]
    height: auto;
    width: 100%;
    background-color: #ffffff;

    // template
    // `.body > .content > .content__?.?`
    %content__element {
      // [ layout ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      max-width: font__px-to-rem( 1740 );
      width: 94%;
    }

    // block
    // `.body > .content > .navigation-bar`
    @include navigation-bar() {
      // [ template ]
      @extend %content__element;

      // [ layout ]
      grid-area: navigation;
    }

    // `.body` > .content > .content__information
    > .content__information {
      // [ layout ]
      display: block;
      grid-area: information;

      // [ position ]
      width: font__px-to-rem( 1080 );
      margin-top: font__px-to-rem( 80 );

      // element
      // `.body > .content > .content__information > .information__topic`
      @include topic( information ) {
        // [ layout ]
        display: block;

        // [ position ]
        margin-left: font__px-to-rem( 31.5 );

        // [ akin ]
        width: 100%;
        height: auto;
      }

      // `.body > .content > .content__information > .information__profile`
      > .information__profile.profile {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            ' topic    topic  topic '
            ' personal .      image '
            ' filter   filter image '
            ' work     work   work  ';
          columns: 5fr 1fr 2fr;
        }

        // `.body > .content > .content__information > .information__profile > .profile__persona. > .personal__topic`
        @include local-topic( profile ) {
          // [ layout ]
          grid-area: topic;

          // [ position ]
          margin-left: font__px-to-rem( 31.5 );
        }

        // `.body > .content > .content__information > .information__profile > .profile__personal`
        > .profile__personal {
          // [ layout ]
          grid-area: personal;
          display: block;

          %personal__element {
            // [ layout ]
            display: grid;
            grid: {
              template: {
                areas: ' image1 input1 input2 image2 ';
                columns: font__px-to-rem( 30 ) 1fr 1fr font__px-to-rem( 30 );
              }
              column-gap: font__px-to-rem( 20 );
            }
            @include input-image( block );
            @include input-button();

            > .personal__empty {
              display: block;
            }

            > .block {
              // [ element ]
              @include input-title( block );
              @include input-block( $input-height-large ) {
                width: 100%;
              }
            }
          }

          // `.body > .content > .content__information > .information__profile > .profile__personal > .personal__name`
          > .personal__name {
            // [ element ]
            @extend %personal__element;

            // [ layout ]
            grid: {
              template: {
                areas: ' input1 input2 image2 ';
                columns: 1fr 1fr font__px-to-rem( 30 );
              }
              column-gap: font__px-to-rem( 20 );
            }

            // [ position ]
            margin-left: font__px-to-rem( 50 );
          }

          // `.body > .content > .content__information > .information__profile > .profile__personal > .personal__title`
          > .personal__title {
            // [ element ]
            @extend %personal__element;
          }
        }

        // `.body > .content > .content__information > .information__profile > .profile__filter `
        @include filter( profile ) {
          // `.body > .content > .content__information > .information__profile > .profile__filter `
          > .profile__filter {
            // [ layout ]
            grid-area: filter;
          }
        }

        // `.body > .content > .content__information > .information__profile > .profile__image`
        > .profile__image {
          // [ layout ]
          display: block;
          grid-area: image;

          // [ position ]
          position: relative;
          width: font__px-to-rem( 255 );
          height: font__px-to-rem( 255 );
          margin: {
            left: auto;
            right: auto;
          }

          // [ skin ]
          border-radius: 50%;
          background-color: red;
          background-clip: border-box;
          overflow: hidden;

          // `.body > .content > .content__information > .information__profile > .profile__image > .image__change`
          > .image__change {
            // [ layout ]
            display: block;
            position: absolute;

            // [ position ]
            width: 100%;
            height: 35%;
            bottom: 0;

            // [ skin ]
            background-color: rgba( 0, 0, 0, .54 );
            font: {
              size: font__px-to-rem( 16 );
              weight: normal;
              style: normal;
              stretch: normal;
            }
            text-align: center;
            line-height: 1.5;
            letter-spacing: 3.2px;
            color: rgba( 255, 255, 255, .76 );
          }
        }

        // `.body > .content > .content__information > .information__profile > .profile__work`
        > .profile__work {
          // [ layout ]
          grid-area: work;

          %work__element {
            // [ layout ]
            display: grid;
            grid: {
              template: {
                areas: ' image1 input1 input2 image2 ';
                columns: font__px-to-rem( 30 ) 1fr 1fr font__px-to-rem( 30 );
              }
              column-gap: font__px-to-rem( 20 );
            }
            @include input-image( block );
            @include input-button();

            > .block {
              // [ element ]
              @include input-title( block );
              @include input-block( $input-height-large ) {
                width: 100%;
              }
            }
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__office`
          > .work__office {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__lab-name`
          > .work__lab-name {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__lab-location`
          > .work__lab-location {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__lab-tel`
          > .work__lab-tel {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__lab-web`
          > .work__lab-web {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__office-tel`
          > .work__office-tel {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__email`
          > .work__email {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__fax`
          > .work__fax {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__personal-web`
          > .work__personal-web {
            // [ element ]
            @extend %work__element;
          }

          // `.body > .content > .content__information > .information__profile > .profile__work > .work__specilty`
          > .work__specilty {
            // [ element ]
            @extend %work__element;
          }
        }
      }

      // `.body > .content > .content__information > .information__education`
      > .information__education {
        // [ layout ]
        display: block;

        // `.body > .content > .content__information > .information__profile > .profile__persona. > .personal__topic`
        @include local-topic( education ) {
          // [ position ]
          margin-left: font__px-to-rem( 31.5 );

          > .topic__word {
            // [ skin ]
            border-bottom: 2px solid lightgray;
          }
        }

        > .education__detail {
          // [ layout ]
          display: grid;
          grid-template: {
            areas:
              'add duration_from duration_line duration_to nation school major degree delete';
            columns: font__px-to-rem( 50 ) 2.5fr 1fr 2.5fr 3.3fr 5fr 5fr 3fr font__px-to-rem( 50 );
          }

          // [ element ]
          // `.body > .content > .content__information > .information__education > .education__detail > detail__?`
          %detail__element {
            // [ layout ]
            display: block;

            > .block {
              // [ layout ]
              display: inline-block;

              // [ skin ]
              width: 90%;

              // [ element ]
              @include input-title( block );
              @include input-block( $input-height-small );
            }
          }

          // `.body > .content > .content__information > .information__education > .education__detail > detail__duraction-from`
          > .detail__duration-from {
            // [ layout ]
            grid-area: duration_from;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__education > .education__detail > detail__duraction-to`
          > .detail__duration-to {
            // [ layout ]
            grid-area: duration_to;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__education > .education__detail > detail__duraction-line`
          > .detail__duration-line {
            // [ layout ]
            display: block;
            grid-area: duration_line;

            // [ skin ]
            height: font__px-to-rem( 47 );
            width: font__px-to-rem( 30 );
            border-bottom: 2px solid gray;
          }

          // `.body > .content > .content__information > .information__education > .education__detail > .detail__nation`
          > .detail__nation {
            // [ layout ]
            grid-area: nation;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__education > .education__detail > .detail__school`
          > .detail__school {
            // [ layout ]
            grid-area: school;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__education > .education__detail > .detail__major`
          > .detail__major {
            // [ layout ]
            grid-area: major;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__education > .education__detail > .detail__degree`
          > .detail__degree {
            // [ layout ]
            grid-area: degree;

            // [ element ]
            @extend %detail__element;
          }
        }
      }

      // `.body > .content > .content__information > .information__experience`
      > .information__experience {
        // [ layout ]
        display: block;

        // [ position ]
        margin-bottom: font__px-to-rem( 100 );

        // `.body > .content > .content__information > .information__experience > .experience__topic`
        @include local-topic( experience ) {
          // [ position ]
          margin-left: font__px-to-rem( 31.5 );

          > .topic__word {
            // [ skin ]
            border-bottom: 2px solid lightgray;
          }
        }

        > .experience__detail {
          // [ layout ]
          display: grid;
          grid-template: {
            areas:
              'add duration_from duration_line duration_to organization department title delete';
            columns: font__px-to-rem( 50 ) 2.5fr 1fr 2.5fr 5.8fr 7.5fr 3fr font__px-to-rem( 50 );
          }

          // [ element ]
          // `.body > .content > .content__information > .information__experience > .experience__detail > detail__?`
          %detail__element {
            // [ layout ]
            display: block;

            > .block {
              // [ layout ]
              display: inline-block;

              // [ skin ]
              width: 90%;

              // [ element ]
              @include input-title( block );
              @include input-block( $input-height-small );
            }
          }

          // `.body > .content > .content__information > .information__experience > .experience__detail > detail__duraction-from`
          > .detail__duration-from {
            // [ layout ]
            grid-area: duration_from;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__experience> .experience__detail > detail__duraction-to`
          > .detail__duration-to {
            // [ layout ]
            grid-area: duration_to;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__experience > .experience__detail > detail__duraction-line`
          > .detail__duration-line {
            // [ layout ]
            display: block;
            grid-area: duration_line;

            // [ skin ]
            height: font__px-to-rem( 47 );
            width: font__px-to-rem( 30 );
            border-bottom: 2px solid gray;
          }

          // `.body > .content > .content__information > .information__experience > .experience__detail > detail__organization`
          > .detail__organization {
            // [ layout ]
            grid-area: organization;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__experience > .experience__detail > detail__department`
          > .detail__department {
            // [ layout ]
            grid-area: department;

            // [ element ]
            @extend %detail__element;
          }

          // `.body > .content > .content__information > .information__experience > .experience__detail > detail__title`
          > .detail__title {
            // [ layout ]
            grid-area: title;

            // [ element ]
            @extend %detail__element;
          }
        }
      }
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ template ]
      @extend %content__element;

      // [ layout ]
      grid-area: breadcrumb;

      // [ skin ]
      border: {
        top-width: font__px-to-rem( 32 );
        left-width: font__px-to-rem( 16 );
        color: transparent;
        style: solid;
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
