@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/footer';
@import 'components/common/topic';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' ,$image: 'resource/rent' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $large: 700px;

    // [ skin ]
    min-height: 120%;
    height: fit-content;
    background-color: #ffffff;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ skin ]
      min-height: 100%;
    }

    // template
    // `.body > .content > .content__?.?`
    %content__element {
      // [ layout ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      max-width: font__px-to-rem( 1740 );
      width: 94%;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        width: 84%;
      }
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ template ]
      @extend %content__element;

      // [ skin ]
      border: {
        top-width: font__px-to-rem( 32 );
        left-width: font__px-to-rem( 16 );
        color: transparent;
        style: solid;
      }
    }
    @include topic( 'content' ) {
      // [ layout ]
      display: flex;
      align-items: flex-end;

      // [ position ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      width: 84%;
      height: font__px-to-rem( 100 );
    }

    > .content__form.form {
      // [ layout ]
      display: grid;
      grid-template: {
        areas:
          'label-passwordOld'
          'input-passwordOld'
          'label-passwordNew'
          'input-passwordNew'
          'label-passwordConfirm'
          'input-passwordConfirm'
          'error'
          'submit';
        rows:    repeat( 6, font__px-to-rem( 50 ) ) font__px-to-rem( 40 ) font__px-to-rem( 100 );
      };
      column-gap: font__px-to-rem( 18 );

      // [ position ]
      width: 85%;
      margin: {
        top:  font__px-to-rem( 40 );
        left: auto;
        right: auto;
        bottom: font__px-to-rem( 20 );
      }

      // [ skin ]
      border-radius: font__px-to-rem( 10 );
      background-color: rgba( 255, 255, 255, 1 );

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        grid-template: {
          areas:
            'label-passwordOld   input-passwordOld'
            'label-passwordNew   input-passwordNew'
            'label-passwordConfirm input-passwordConfirm'
            'error               error'
            'submit              submit';
          columns: max-content 1fr;
          rows:    repeat( 3, font__px-to-rem( 90 ) ) font__px-to-rem( 40 ) font__px-to-rem( 100 );
        };
        column-gap: font__px-to-rem( 18 );

        // [ position ]
        width: 70%;
        margin-top: font__px-to-rem( 80 );
      }

      > .form__label {
        // [ layout ]
        display: flex;
        align-items: flex-end;

        // [ position ]
        margin-left: font__px-to-rem( 10 );

        // [ skin ]
        font: {
          size: font__px-to-rem( 18 );
          weight: bold;
        }
        line-height: normal;
        letter-spacing: normal;
        color: rgba( 0, 0, 0, .87 );

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          align-items: center;
        }

        &--passwordOld {
          grid-area: label-passwordOld;
        }

        &--passwordNew {
          grid-area: label-passwordNew;
        }

        &--passwordConfirm {
          grid-area: label-passwordConfirm;
        }
      }

      > .form__input {
        // [ layout ]
        display: flex;
        align: {
          self: center;
          items: center;
        }

        // [ position ]
        height: font__px-to-rem( 40 );
        border-radius: font__px-to-rem( 10 );

        // [ skin ]
        padding: {
          right: font__px-to-rem( 18 );
          left:  font__px-to-rem( 18 );
        }
        background-color: rgba( 0, 0, 0, .1 );
        font-size: font__px-to-rem( 18 );
        line-height: normal;
        letter-spacing: normal;
        color: rgba( 0, 0, 0, .87 );

        &--passwordOld {
          grid-area: input-passwordOld;
        }

        &--passwordNew {
          grid-area: input-passwordNew;
        }

        &--passwordConfirm {
          grid-area: input-passwordConfirm;
        }
      }

      > .form__error {
        // [ layout ]
        display: none;
        align-self: center;
        grid-area: error;

        // [ skin ]
        font-size: font__px-to-rem( 16 );
        text-align: center;
        line-height: normal;
        color: rgb( 255, 102, 102 );

        &--show {
          // [ layout ]
          display: flex;
        }
      }

      > .form__submit {
        // [ layout ]
        display: flex;
        grid-area: submit;
        align: {
          self: center;
          items: center;
        }

        // [ position ]
        width: fit-content;
        height: font__px-to-rem( 55 );

        // [ skin ]
        padding: {
          right: font__px-to-rem( 50 );
          left: font__px-to-rem( 50 );
        }
        background-color: #213262;
        color: rgb( 255, 255, 255 );
        border-radius: font__px-to-rem( 5 );
        font: {
          size: font__px-to-rem( 16 );
          weight: bold;
        }
        line-height: normal;

        &:hover {
          // [ skin ]
          cursor: pointer;
          background-color: #294288c0;
        }
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
