mixin input_block( inputType, modifier, placeholder)
  section.form__block
    input( id=`form__block--${ modifier }` class="form__block--input" type=`${ inputType }` placeholder=`${ placeholder }` )
