mixin input_block( inputType, type, value, name)
    section.login__block
        input( id=`login__block--${ type }` class="login__block--input" type=`${ inputType }` value= `${ value }` name=`${name}` )