@import 'components/common/icon.scss';

// block
// `.main .cards`

.cards {
  // block [layout]
  $oneCard: 640px;
  display: block;
  justify-content: center;
  @media screen and ( min-width: $oneCard ) {
    display: grid;
    grid: {
      template-columns: repeat( auto-fit, 15.97rem );
      gap: .22rem;
    };
  }

  // block
  // `.main .cards .cards__card`

  > .cards__card.card {
    // block [layout]
    display: grid;
    grid-template: {
      areas: 'card__photo' 'card__intro';
      rows: 1fr 1fr;
    }
    justify-content: stretch;

    // element [skin]
    background-color: #eff3f9;
    height: 23.38rem;
    border: .22rem solid #ffffff;
    @media screen and ( min-width: $oneCard ) {
      height: 23.38rem;
      width: 15.97rem;
      border: {
        width: 1.72rem 2.72rem 1.44rem;
        color: #ffffff;
        style: solid;
      }
    }

    // element
    // `.main .cards .cards__card .card__photo`

    > .card__photo {
      // element [position]
      grid-area: card__photo;

      // element [layout]
      justify-self: center;

      // element [skin]
      margin-top: .5rem;
      width: 8.5rem;
      height: 8.5rem;
      object-fit: cover;
      border-radius: 4.25rem;
      background-color: #c4c4c4;
      display: flex;
    }

    // element
    // `.main .cards .cards__card .card__intro`

    > .card__intro.intro {
      // element [position]
      grid-area: card__intro;

      // element [skin]
      font-size: .4rem;
      padding: .3rem;

      // element [layout]
      display: block;

      // display: grid;
      // grid-template: {
      //   areas:
      //     'departments departments departments departments'
      //     '.           facultyName titles      .          '
      //     '.           email       email       .          '
      //     '.           address     address     .          '
      //     '.           phone       phone       .          '
      //     '.           lab         lab         .          '
      //     'more        more        more        more       ';
      //   columns: 13fr 53fr 114fr 13fr;
      // }

      // element
      // `.main .cards .cards__card .card__intro .intro__departments`

      > .intro__departments.departments {
        // element [position]
        grid-area: departments;

        // element [skin]
        font-size: .44rem;
        margin-bottom: .2rem;
        text-align: center;

        // element
        // `.main .cards .cards__card .card__intro .intro__departments .departments__department`

        > .departments__department {
          // element [skin]
          min-width: 3.03rem;
          height: .94rem;
          margin: .12rem;
          padding: 0 .6rem;
          line-height: 1rem;
          border-radius: .47rem;
          text-align: center;
          color: #8caae2;
          background-color: #eaeff7;
          word: {
            wrap: normal;
            break: keep-all;
          }
          white-space: nowrap;

          // element [layout]
          display: inline-block;
        }
      }

      // element
      // `.main .cards .cards__card .card__intro .intro__titles`

      > .intro__titles.titles {
        // element [position]
        grid-area: titles;

        // element [layout]
        display: inline-block;

        // element [skin]
        font-size: .45rem;
        align-self: center;
        margin: 0 .83rem;

        // element
        // `.main .cards .cards__card .card__intro .intro__titles .titles__title`

        > .titles__title {
          // element [skin]
          margin: .05rem;
          vertical-align: middle;
          font-size: .44rem;
          text-align: center;
          padding: .08rem .16rem;
          color: #adacad;
          border: solid .05rem #adacad;
          border-radius: .09rem;
          word: {
            wrap: normal;
            break: keep-all;
          }
          white-space: nowrap;

          // element [layout]
          display: inline-block;
        }
      }

      // element
      // `.main .cards .cards__card .card__intro .intro__name`

      > .intro__name {
        // element [position]
        grid-area: facultyName;

        // element [skin]
        font-size: .63rem;
        margin: .2rem .83rem;

        // element [layout]
        display: flex;
        align-self: center;
      }

      // element
      // `.main .cards .cards__card .card__intro .intro__email`

      > .intro__email {
        // element [position]
        grid-area: email;

        // element [layout]
        display: flex;

        // element [skin]
        font-size: .44rem;
        line-height: .8rem;
        margin: .3rem .83rem;
        align-self: center;
        text-decoration: underline;
        word-break: break-all;
        @include icon--before__email--small() {
          margin-right: .2rem;
          height: .75rem;
          width: .75rem;
          vertical-align: middle;
          filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );
        }
      }

      // element
      // `.main .cards .cards__card .card__intro .intro__address`

      > .intro__address {
        // element [position]
        grid-area: address;

        // element [layout]
        display: flex;

        // element [skin]
        font-size: .44rem;
        line-height: .8rem;
        align-self: center;
        word-break: break-all;
        margin: .3rem .83rem;
        @include icon--before__location--small() {
          margin-right: .2rem;
          height: .75rem;
          width: .75rem;
          vertical-align: middle;
          filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );
        }
      }

      // element
      // `.main .cards .cards__card .card__intro .intro__phone`

      > .intro__phone {
        // element [position]
        grid-area: phone;

        // element [layout]
        display: flex;

        // element [skin]
        font-size: .44rem;
        line-height: .8rem;
        align-self: center;
        word-break: break-all;
        margin: .3rem .83rem;
        @include icon--before__phone--small() {
          margin-right: .2rem;
          height: .75rem;
          width: .75rem;
          vertical-align: middle;
          filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );
        }
      }

      // element
      // `.main .cards .cards__card .card__intro .intro__lab`

      > .intro__lab {
        // element [position]
        grid-area: lab;

        // element [layout]
        display: flex;

        // element [skin]
        font-size: .44rem;
        line-height: .8rem;
        align-self: center;
        word-break: break-all;
        margin: .3rem .83rem;
        @include icon--before__laboratory() {
          margin-right: .2rem;
          height: .75rem;
          width: .75rem;
          vertical-align: middle;
          filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );
        }
      }

      // element
      // `.main .cards .cards__card .card__intro .intro__more`

      > .intro__more {
        // element [position]
        grid-area: more;

        // element [skin]
        text-align: right;
        color: #8caae2;
        font-size: .35rem;
        margin: .3rem 0;

        &::after {
          margin-left: .3rem;
          content: '>';
        }
      }
    }
  }
}
