@import 'components/common/icon.scss';

// template
// `> .#{ $block } > .cards > .card > .intro > .intro__?`
@mixin intro__element ( $element ) {
  > .intro__#{ $element } {
    // [ variable ]
    $before-gap: 36 / 32 * 1rem;
    $icon-size: 24 / 32 * 1rem;

    // [ position ]
    position: relative;

    // [ layout ]
    display: block;
    margin: {
      bottom: 16 / 32 * 1rem;
      left: $before-gap;
    }
    line-height: $icon-size;

    // [ skin ]
    font: {
      size: 16 / 32 * 1rem;
      style: normal;
    }

    // [ before ]
    &::before {
      // [ position ]
      position: absolute;
      top: 0;
      left: -1 * $before-gap;

      // [ layout ]
      display: inline-block;

      // [ skin ]
      content: '';
      width: $icon-size;
      height: $icon-size;
      background: {
        position: center;
        size: contain;
        repeat: no-repeat;
      }
      filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );
    }

    // [ customization ]
    @content;
  }
}

// component
// `> .#{ $block } > .#{ $block }__cards.cards`
@mixin cards ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__cards`
  // block
  // `> .#{ $block } > .cards`
  > .#{ $block }__cards.cards {
    // [ variable ]
    $small: 300px;
    $medium: 350px;
    $large: 545px;
    $card-width: 463 / 32 * 1rem;
    $transition-time: .5s;

    // [ layout ]
    display: block;
    margin: {
      left: auto;
      right: auto;
    }

    // [ skin ]
    width: 96%;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      display: grid;
      grid: {
        template-columns: repeat( auto-fit, $card-width );
        gap: .22rem;
      };
      justify-content: center;
    }

    // element
    // `> .#{ $block } > .cards > .cards__card`
    // block
    // `> .#{ $block } > .cards > .card`
    > .cards__card.card {
      // [ layout ]
      display: block;
      margin-bottom: .5rem;

      // [ position ]
      // This style is set because `.card__more` need to be position at the end of `.card`.
      position: relative;

      // [ skin ]
      width: 100%;
      border: {
        top-width: 1.5rem;
        bottom-width: 50 / 32 * 1rem;
        color: #ffffff;
        style: solid;
      }
      background-color: #ffffff;

      // [ animation ]
      transition: width $transition-time, opacity $transition-time;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        margin-bottom: 0;

        // [ skin ]
        width: $card-width;
      }

      // [ interaction ]
      // `.card__photo` should grow and `.card__more` should change color
      &:hover {
        // element
        // `> .#{ $block } > .cards > .card:hover > .card__photo`
        > .card__photo {
          // [ skin ]
          transform: rotate( 10deg );
        }

        // element
        // `> .#{ $block } > .cards > .card:hover > .card__more`
        > .card__more {
          // [ skin ]
          color: #213262;

          // [ after ]
          &::after {
            // [ skin ]
            border: {
              top-color: #213262;
              right-color: #213262;
            }
          }
        }
      }

      // modifier
      // `> .#{ $block } > .cards > .card.card--fade-out`
      &.card--fade-out {
        // [ skin ]
        opacity: 0;
      }

      // modifier
      // `> .#{ $block } > .cards > .card.card--hide`
      &.card--hide {
        // [ layout ]
        display: none;
      }

      // element
      // `> .#{ $block } > .cards > .card > .card__photo`
      > .card__photo {
        // [ layout ]
        display: block;
        margin: {
          left: auto;
          right: auto;
          bottom: 1rem;
        }
        object-fit: cover;

        // [ skin ]
        width: 80vw;
        height: 80vw;
        border-radius: 50%;
        background-color: #c4c4c4;

        // [ animation ]
        transition: transform .2s;

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ skin ]
          width: 272 / 32 * 1rem;
          height: 272 / 32 * 1rem;
        }
      }

      // element
      // `> .#{ $block } > .cards > .card > .card__intro`
      // block
      // `> .#{ $block } > .cards > .card > .intro`
      > .card__intro.intro {
        // [ layout ]
        display: block;
        margin: {
          left: 6%;
          right: 6%;
        }

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          margin: {
            left: 10%;
            right: 10%;
          }
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          margin: {
            left: $card-width * .15;
            right: $card-width * .15;
          }
        }

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__departments`
        // block
        // `> .#{ $block } > .cards > .card > .intro > .departments`
        > .intro__departments.departments {
          // [ layout ]
          text-align: center;
          margin-bottom: 1rem;

          // [ skin ]
          min-height: .94rem;

          // element
          // `> .#{ $block } > .cards > .card > .intro > .departments > .departments__department`
          > .departments__department {
            // [ variable ]
            $min-height: .9rem;
            $font-size: .44rem;
            $padding-vertical-align: ($min-height - $font-size) / 2;

            // [ layout ]
            display: inline-block;
            margin: .14rem;
            text-align: center;
            word: {
              wrap: normal;
              break: normal;
            }
            white-space: normal;

            // [ skin ]
            min: {
              width: 3.03rem;
              height: $min-height;
            }
            border-radius: .47rem;
            padding: {
              top: $padding-vertical-align;
              bottom: $padding-vertical-align;
              left: .5rem;
              right: .5rem;
            }
            color: #8caae2;
            background-color: #eaeff7;
            font-size: $font-size;
          }
        }

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__name`
        > .intro__name {
          // [ layout ]
          display: block;
          text-align: center;

          // [ skin ]
          font: {
            size: .63rem;
            weight: bold;
          }

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ layout ]
            display: inline-block;
            margin-right: 20 / 32 * 1rem;
          }
        }

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__titles`
        // block
        // `> .#{ $block } > .cards > .card > .intro > .titles`
        > .intro__titles.titles {
          // [ layout ]
          display: block;
          text-align: center;
          margin-bottom: 6 / 32 * 1rem;

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ layout ]
            display: inline-block;
            text-align: left;
          }

          // element
          // `> .#{ $block } > .cards > .card > .intro > .titles > .titles__title`
          > .titles__title {
            // [ layout ]
            display: inline-block;
            text-align: center;
            margin: {
              right: 4 / 32 * 1rem;
              bottom: 4 / 32 * 1rem;
            }

            // [ skin ]
            min-height: 24 / 32 * 1rem;
            border: {
              width: .05rem;
              style: solid;
              color: #adacad;
              radius: .09rem;
            }
            padding: .08rem .16rem;
            color: #adacad;
            font-size: .44rem;
          }
        }

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__email`
        @include intro__element ( $element: 'email' ) {
          // [ layout ]
          word-break: break-all;

          // [ skin ]
          text-decoration: underline;

          // [ before ]
          &::before {
            // [ icon ]
            @include icon__envelope();
          }
        }

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__office-address`
        @include intro__element ( $element: 'office-address' ) {
          // [ layout ]
          word-break: normal;

          // [ before ]
          &::before {
            // [ icon ]
            @include icon__location();
          }
        }

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__office-tel`
        @include intro__element ( $element: 'office-tel' ) {
          // [ layout ]
          word-break: break-all;

          // [ skin ]
          text-decoration: underline;

          // [ before ]
          &::before {
            // [ icon ]
            @include icon__phone();
          }
        }

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__lab-name`
        @include intro__element ( $element: 'lab-name' ) {
          // [ layout ]
          margin-bottom: 0;
          word-break: break-word;

          // [ skin ]
          text-decoration: underline;

          // [ before ]
          &::before {
            // [ icon ]
            @include icon__laboratory();
          }
        }

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__lab-address`
        @include intro__element ( $element: 'lab-address' ) {
          // [ layout ]
          margin-bottom: 0;
          word-break: normal;

          // [ skin ]
          color: #757575;
          font-size: 14 / 32 * 1rem;
        }
      }

      // element
      // `> .#{ $block } > .cards > .card > .card__more`
      > .card__more {
        // [ variable ]
        $color: #8caae2;
        $font-size: 16 / 32 * 1rem;

        // [ position ]
        position: absolute;
        top: 102%;
        right: 5%;

        // [ layout ]
        display: block;
        text-align: right;

        // [ skin ]
        color: $color;
        font-size: $font-size;

        // [ animation ]
        transition: color $transition-time;

        // element
        // `> .#{ $block } > .cards > .card > .intro > .intro__more::after`
        &::after {
          // [ layout ]
          display: inline-block;
          margin-left: .3rem;
          transform: rotate( 45deg );

          // [ skin ]
          width: $font-size / 1.414;
          height: $font-size / 1.414;
          border: {
            style: solid;
            width: $font-size / 6;
            top-color: $color;
            right-color: $color;
            left-color: transparent;
            bottom-color: transparent;
          }
          content: '';

          // [ animation ]
          transition: border-color $transition-time;
        }
      }
    }

    // [ customization ]
    @content;
  }
}
