// component
// `> .filters`
@mixin filters () {
  // block
  // `> .filters`
  > .filters {
    // [ layout ]
    text-align: center;

    // [ skin ]
    font-size: .44rem;

    // [ customization ]
    @content;

    // element
    // `> .filters > .filters__filter`
    > .filters__filter {
      // [ layout ]
      display: inline-block;
      text-align: center;
      word: {
        wrap: break-word;
        break: break-all;
      }
      white-space: normal;

      // [ skin ]
      margin: .14rem;
      padding: {
        left: .5rem;
        right: .5rem;
      }
      border-radius: .69rem;
      min: {
        width: 3.03rem;
        height: .94rem;
      }
      background-color: #eff3f9;

      // [ interaction ]
      &:hover {
        // [ skin ]
        cursor: pointer;
        color: #ffffff;
      }

      &.filters__filter--research {
        border: solid .03rem #8caae2;
        color: #8caae2;
        @media screen and ( min-width: 1130px ) {
          width: calc( 90% / 4 );
          min-height: 1.38rem;
          font-size: .58rem;
        }

        &:hover {
          // [ skin ]
          background-color: lighten( $color: #8caae2, $amount: 10% );
        }

        &.filters__filter--active {
          // [ skin ]
          color: #ffffff;
          background-color: #8caae2;
        }
      }

      &.filters__filter--dept {
        border: solid .03rem #f67057;
        color: #f67057;
        width: calc( 80% / 2 );
        @media screen and ( min-width: 1130px ) {
          width: calc( 90% / 4 );
          min-height: 1.38rem;
          font-size: .58rem;
        }

        &:hover {
          // [ skin ]
          background-color: lighten( $color: #f67057, $amount: 10% );
        }

        &.filters__filter--active {
          // [ skin ]
          color: #ffffff;
          background-color: #f67057;
        }
      }
    }
  }
}
