extends /views/layouts/about.pug

block stylesheets
  link( rel="stylesheet", href="/css/about/teacher.css" )

block header
  
block content
  include /views/components/teacher/profile.pug
  main.main
    //- profile
    +profile( profileInfo )

block footer

block scripts 

