extends ../layouts/teacher.pug

block stylesheets
  link(rel="stylesheet", href="/css/about/teacher.css")

block header
  include ../components/header.pug
  
block content
  include ../components/teacher/detail.pug
  //- cover
  section.cover_grid
    img.cover_profile(src=`${static}/images/teacher/${T.id}`, alt='')
    section.cover_info
      span.cover_name=T.c_name
      each name in T.c_title_name
        span.cover_position=`${name}`
  //- detail
  section.content_detail
    +detail('專長及研究領域', T.specialty)
    +detail('學歷', T.education)
    +detail('經歷', T.experience)

block footer

block scripts 

