mixin button( belongBlock, type )
  button( class=`${ belongBlock }__button` id=`${ belongBlock }__${ type }` )
    +image( {
      alt:       '>',
      className: `${ belongBlock }__button--img`,
      src:       'icon/arrow-right.png',
    } )