-
section.edit-page
  from.edit-page__block
    main.block__content#content
    article.block__button
      button.button__item.button__item--cancel= data.button.cancel
      button.button__item.button__item--check( type="submit" )=  data.button.check