-
section.edit-page__window.window
  form.window__from.from( action= url, method='POST')
    main.from__content.content#content
      article.content__title
        h1.title__word= topic
    article.from__button.button
      button.button__item.button__item--cancel= cancel
      input.button__item.button__item--check( type="submit" value= check)