-
  const i18n = Object.freeze( {
    [ LANG.getLanguageId( 'en-US' ) ]: {
      cancel: 'cancel',
      check:  'check',
    },
    [ LANG.getLanguageId( 'zh-TW' ) ]: {
      cancel: '取消',
      check:  '確認',
    },
  } );
section.edit-page__window.window
  form.window__form.form#form( action= url, method='POST')
    main.form__content.content#content
      article.content__title
        h1.title__word= topic
      article.content__info#info
      article.content__error.error
        h1.error__message#error-message
    article.form__button.button
      button.button__item.button__item--cancel( formnovalidate )= i18n[ languageId ].cancel
      button.button__item.button__item--check= i18n[ languageId ].check