mixin input-block( belongBlock, title, modifier, required=false, placeholder="" )
    section.block__input
      input.block__input--content( 
        id=`block__input--${ modifier }` 
        name=`${ modifier }`
        type=`text` 
        placeholder=`${ placeholder }` )
