mixin local-topic( belongBlock, topic, add= true )
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        add: 'add',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        add: '新增',
      },
    } )

  section.local-topic( class= `${ belongBlock }__local-topic` )
    h.local-topic__word= `${ topic }`
    if add
      aside.local-topic__add.add
        button.add__button( id=`add__button--${ belongBlock }` )= i18n[LANG.id].add