@mixin publication-card ( ) {
  // `> .#{ $block } > .#{ $block }__input-block`
  > .publication-card.cards__publication-card {
    // [ variable ]
    $large: 1100px;
    $medium: 700px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        '.       patch   delete '
        'content content content';
      columns: 1fr 1.2rem 1.2rem;
    };

    // [ position ]
    width: 100%;
    min-height: font__px-to-rem( 120 );

    // [ skin ]
    border: {
      bottom: solid font__px-to-rem( 2 ) #adacad;
      radius: font__px-to-rem( 3 );
    }
    padding: {
      top: font__px-to-rem( 6 );
      bottom: font__px-to-rem( 6 );
    }

    // [ RWD: $medium ]
    @media screen and ( min-width: $medium ) {
      // [ layout ]
      grid-template: {
        areas:
          '. content                     patch delete .';
        columns: 1rem auto 1.2rem 1.2rem .5rem;
      };
    }

    > .publication-card__content {
      // [ layout ]
      display: grid;
      grid: {
        area: content;
        template: {
          areas:
            'title'
            'authors'
            'issueYear'
            'issueMonth';
          columns: 1fr;
        }
      }
      align-self: space-around;
      padding-left: font__px-to-rem( 15 );

      // [ position ]
      width: 95%;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        grid-template: {
          areas:
            'title     title      title    title'
            'authors   authors    authors  authors'
            'issueYear issueMonth .        .';
          columns: 1fr 1fr 1fr;
        }
      }

      > .content__element {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            'topic'
            'value';
          columns: 1fr;
        }
        padding-bottom: font__px-to-rem( 6 );

        // [ RWD: $medium ]
        @media screen and ( min-width: $medium ) {
          // [ layout ]
          grid-template: {
            areas:
              'topic value';
            columns: font__px-to-rem( 100 ) 1fr;
          }
        }

        // [ element ]
        > .element__topic {
          // [ layout ]
          display: flex;
          justify-self: flex-start;
          align-items: flex-start;

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ layout ]
            justify-self: flex-start;
            align-items: flex-start;
          }

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ layout ]
            justify-self: flex-start;
            align-items: center;
          }

          // [ skin ]
          font: {
            size: font__px-to-rem( 18 );
            weight: bold;
          }
          line-height: normal;
          letter-spacing: normal;
          color: rgba( 0, 0, 0, .87 );
        }

        > .element__value {
          // [ layout ]
          display: flex;
          justify-self: flex-start;
          align-items: flex-start;

          // [ RWD: $medium ]
          @media screen and ( min-width: $medium ) {
            // [ layout ]
            justify-self: flex-start;
            align-items: flex-start;
          }

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ layout ]
            justify-self: flex-start;
            align-items: center;
          }

          // [ skin ]
          font-size: font__px-to-rem( 18 );
          line-height: normal;
          letter-spacing: normal;
          color: rgba( 0, 0, 0, .87 );
        }

        &--authors {
          grid-area: authors;
        }

        &--title {
          grid-area: title;
        }

        &--issueYear {
          grid-area: issueYear;
        }

        &--issueMonth {
          grid-area: issueMonth;
        }
      }

      // [ skin ]
      font: {
        size: font__px-to-rem( 18 );
        weight: bold;
      }
      line-height: normal;
      letter-spacing: normal;
      color: rgba( 0, 0, 0, .87 );

      > .value__text {
        // [ layout ]
        display: inline-block;
        grid-area: title;

        // [ position ]
        width: auto;
        height: auto;
        padding-right: font__px-to-rem( 5 );
        align-self: center;
        margin-left: 1rem;

        // [ skin ]
        font-size: font__px-to-rem( 16 );
        text-align: left;
        line-height: font__px-to-rem( 17 );
        letter-spacing: normal;
        word-break: break-all;
        color: rgba( 81, 81, 81, .87 );
        overflow: visible;

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ skin ]
          font-size: font__px-to-rem( 18 );
          line-height: font__px-to-rem( 20 );
          word: {
            break: normal;
            wrap: break-word;
          }
        }
      }
    }

    > .publication-card__patch {
      // [ layout ]
      display: inline-flex;
      grid-area: patch;

      // [ position ]
      width: font__px-to-rem( 30 );
      height: auto;
      padding-right: font__px-to-rem( 10 );
      align-self: center;

      // [ skin ]
      filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );

      &:hover {
        // [ skin ]
        filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 50% ) hue-rotate( 183deg ) contrast( 200% );
        cursor: pointer;
      }
    }

    > .publication-card__delete {
      // [ layout ]
      display: inline-flex;
      grid-area: delete;

      // [ position ]
      width: font__px-to-rem( 30 );
      height: auto;
      padding-right: font__px-to-rem( 10 );
      align-self: center;

      // [ skin ]
      filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );

      &:hover {
        // [ skin ]
        filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 50% ) hue-rotate( 183deg ) contrast( 200% );
        cursor: pointer;
      }
    }

    // [ customization ]
    @content;
  }
}
