@import 'components/user/card/faculty/student-card';
@mixin student-award-card ( ) {
  // `> .#{ $block } > .#{ $block }__input-block`
  > .student-award-card.cards__student-award-card {
    // [ variable ]
    $large: 750px;
    $small: 500px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        '. value   patch delete .'
        '. student .     .      .';
      columns: 1rem auto 1.2rem 1.2rem .5rem;
    };

    // [ position ]
    width: 100%;
    min-height: font__px-to-rem( 80 );

    // [ skin ]
    border: {
      bottom: solid font__px-to-rem( 2 ) #adacad;
      radius: font__px-to-rem( 3 );
    }

    > .student-award-card__value {
      // [ layout ]
      display: flex;
      grid-area: value;
      align-self: center;
      padding-left: font__px-to-rem( 15 );

      // [ position ]
      width: 100%;

      // [ skin ]
      font: {
        size: font__px-to-rem( 18 );
        weight: bold;
      }
      line-height: normal;
      letter-spacing: normal;
      color: rgba( 0, 0, 0, .87 );

      > .value__text {
        // [ layout ]
        display: inline-block;
        grid-area: title;

        // [ position ]
        width: auto;
        height: auto;
        padding-right: font__px-to-rem( 5 );
        align-self: center;
        margin-left: 1rem;

        // [ skin ]
        font-size: font__px-to-rem( 16 );
        text-align: left;
        line-height: font__px-to-rem( 17 );
        letter-spacing: normal;
        word-break: break-all;
        color: rgba( 81, 81, 81, .87 );
        overflow: visible;

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ skin ]
          font-size: font__px-to-rem( 18 );
          line-height: font__px-to-rem( 20 );
          word: {
            break: normal;
            wrap: break-word;
          }
        }
      }
    }

    > .student-award-card__student {
      // [ layout ]
      display: flex;
      flex-wrap: wrap;
      grid-area: student;

      // [ skin ]
      padding-top: font__px-to-rem( 6 );

      > .student__post-button {
        // [ layout ]
        display: flex;

        // [ skin ]
        font-size: font__px-to-rem( 16 );
        line-height: normal;
        color: rgba( 144, 172, 218, .87 );
        background-color: rgba( 255, 255, 255, 1 );
        padding: {
          left: font__px-to-rem( 50 );
          top:  font__px-to-rem( 6 );
          bottom: font__px-to-rem( 6 );
        }

        &:hover {
          // [ skin ]
          color: rgba( 144, 172, 218, 1 );
          cursor: pointer;
        }
      }
      @include student-card();
    }

    > .student-award-card__patch {
      // [ layout ]
      display: inline-flex;
      grid-area: patch;

      // [ position ]
      width: font__px-to-rem( 30 );
      height: auto;
      padding-right: font__px-to-rem( 10 );
      align-self: center;

      // [ skin ]
      filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );

      &:hover {
        // [ skin ]
        filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 50% ) hue-rotate( 183deg ) contrast( 200% );
        cursor: pointer;
      }
    }

    > .student-award-card__delete {
      // [ layout ]
      display: inline-flex;
      grid-area: delete;

      // [ position ]
      width: font__px-to-rem( 30 );
      height: auto;
      padding-right: font__px-to-rem( 10 );
      align-self: center;

      // [ skin ]
      filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );

      &:hover {
        // [ skin ]
        filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 50% ) hue-rotate( 183deg ) contrast( 200% );
        cursor: pointer;
      }
    }

    // [ customization ]
    @content;
  }
}
