doctype html
html
 head
 link(rel='stylesheet' href=`${ static }/css/announcement/all.css`)
 body
   div(class='grid-container')
     div(class='header')
         h1 NCKU
     div(class='topmenu')
       ul
         li
           a(class='active') Home
         li
           a News
         li
           a Contact
       ul(class='topsidemenu')
         li
           a sub
         li
           a sub
     div(class='content')
       div(class='sidemenu')
         h2 college
       ul
         li
           a course info
         li
           a college
         li
           a master
       div(class='main')
         section
           article
             p(class='article-title') college info topic here wow wow wow
             p(class='article-time') 2018-2-2 | 15:02
             p(class='article-content') content content here wow
             a detailed
             div(class='tag')
              a(class='course') course
              a(class='graduate') graduate
              a(class='college') college
           div(class='fakeimg')
         section
           article
             p(class='article-title') college info
             p(class='article-time') 2018-2-2 | 15:02
             p(class='article-content') content
             a detailed
             div(class='tag')
              a(class='activitytag') activity
              a(class='newtag') new
              a(class='college') college
           div(class='fakeimg')
     div(class='footer') Footer
