// component
@mixin traffic () {
  // block
  // [ skin ]
  color: #000000;
  text-align: left;
  font-family: var( --font__family--default );

  // `> .traffic__text .traffic__text--`
  > .traffic__text.traffic__text-- {
    // `> .traffic__text .traffic__text--small`
    &small {
      // [ skin ]
      font: {
        size: .5rem;
      }
    }

    // `> .traffic__text .traffic__text--large`
    &large {
      // [ layout ]
      display: inline;

      // [ skin ]
      border-bottom: solid .0156rem #213262;
      padding-bottom: .3rem;
      font: {
        size: .75rem;
        weight: bold;
      }
    }

    // `> .traffic__text .traffic__text--rectangle`
    &rectangle {
      // [ layout ]
      display: inline-block;

      // [ skin ]
      margin-bottom: .5rem;
      border: solid .0313rem #adacad;
      border-radius: .0938rem;
      padding: .1rem;
      color: #adacad;
      font: {
        size: .4375rem;
        weight: bold;
      }
    }
  }
}
