extends /layouts/base.pug
include /components/user/navigation-bar.pug
include /components/user/local-topic.pug
include /components/common/topic.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'Award',
        breadcrumb: {
          home:     'Home',
          user:     'User',
        },
        content: {
          topic: '教師資料維護',
          award: {
            received_date: '獲獎日 / Received Date',
            award_name:    'Award Name',
          },
        }
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '榮譽及獲獎',
        breadcrumb: {
          home:     '首頁',
          user:     '使用者',
        },
        content: {
          topic: '教師資料維護',
          award: {
            received_date: '獲獎日 / Received Date',
            award_name:    '獲獎名稱',
          },
        },        
      },
    } );
    const currentRoute = 'user/award';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'user/award' )

append header

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.user, route: 'user' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  +navigation-bar( 'content' )
  main.content__main
    +topic( 'main', i18n[ LANG.id ].content.topic )
    article.main__award-block.award-block
      +local-topic( 'award-block', '榮譽及獲獎 / Award', true )
      section.award-block__award.award#award

append footer

append scripts
  +js( 'user/award' )
