extends /layouts/user.pug

append data
  -
    const i18n = Object.freeze( {
      [ language.getLanguageId( 'en-US' ) ]: {
        'title': 'Personal Page',
      },
      [ language.getLanguageId( 'zh-TW' ) ]: {
        'title': '個人頁面',
      },
    } );
    const currentRoute = 'user';

append title
  +title( i18n[ language.id ].title )

append stylesheets
  +css( 'user/index' )

append header

append content
  nav
    li
      ul
        a( href = '/user/profile' ) 個人資料
      ul
        a( href = '/user/announcement' ) 公告管理

append footer

append scripts
  +js( 'user/index' )
