extends /layouts/base.pug
include /components/user/navigation-bar.pug
include /components/user/local-topic.pug
include /components/common/topic.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'Project',
        breadcrumb: {
          home:     'Home',
          user:     'User',
        },
        content: {
          topic: '教師資料維護',
        }
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '專案',
        breadcrumb: {
          home:     '首頁',
          user:     '使用者',
        },
        content: {
          topic: '教師資料維護',
        },        
      },
    } );
    const currentRoute = 'user/project';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'user/project' )

append header

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.user, route: 'user' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/loading.pug
  include /components/common/no-result.pug

  +navigation-bar( 'content' )
  main.content__main
    +topic( 'main', i18n[ LANG.id ].content.topic )
    article.main__project-block.project-block
      +local-topic( 'project-block',i18n[ LANG.id ].title, true )
      +noResultWithImage( 'project-block' )
      +loading( 'project-block' )
      section.project-block__project.project#project

append footer

append scripts
  +js( 'user/project' )
