a.briefings__briefing.briefing
  img(
    alt = 'Google東亞獎學金 台灣學生成大資工博士生首次獲獎',
    class = 'briefing__image',
    src = 'http://localhost:3000/static/image/logo/csie-small.png?languageId=0',
  )
  article.briefing__info
    h1.info__title= briefing.title
    p.info__time= briefing.time