a.briefings__briefing.briefing( href = UTILS.url( { href : `announcement/${ briefing.announcementId }` } ) )
  h1.briefing__title= briefing.title
  p.briefing__article= briefing.content
  time.briefing__time= briefing.updateTime
