include /components/common/image.pug

figure.series__show.show.show--hide
  section.show__ad
    img(
      alt = data.title,
      class = 'ad__image',
      src = 'https://i.imgur.com/SdaweI8.jpg',
    )
    header.ad__title= data.title
      //- src = `data:image/jpeg;base64,${ data.image }`
