mixin deletPreview( belongBlock )
  - 
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        topic: 'delete announcement',
        button: {
          cancel: 'cancel',
          check:  'check',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        topic: '刪除公告',
        button: {
          cancel: '取消',
          check:  '確定',
        },
      },
    } )

  section.delete-preview( class = `${ belongBlock }__delete-preview` )
    h1.delete-preview__topic.topic= i18n[ LANG.id ].topic
    article.delete-preview__briefing.briefing
      h2.briefing__title
      time.briefing__time
    dialog.delete-preview__button.button
      button.button__cancel.cancel= i18n[ LANG.id ].button.cancel
      button.button__check.check= i18n[ LANG.id ].button.check   
    
