include /components/announcement/filter-time.pug

mixin filter( filter )
  section.filter( class=`filter--${ filter.modifier }` )
    -
      const i18n = Object.freeze( {
        [ LANG.getLanguageId( 'en-US' ) ]: {
          'button': 'filter',
        },
        [ LANG.getLanguageId( 'zh-TW' ) ]: {
          'button': '過濾器',
        },
      } );
    button#filter__button.filter__button.button
      span= i18n[ LANG.id ].button
      span#button__icon.button__icon
    +filter__time()
    article#filter__tags.filter__tags.filter__tags--hidden.tags
