mixin filter__time()
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'time':   {
          'start': 'Start Date',
          'end':   'End Date',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'time':   {
          'start': '開始日期',
          'end':   '結束日期',
        },
      },
    } );
  article#filter__time.filter__time.filter__time--hidden.time
    aside
      label= i18n[ LANG.id ].time.start
      input#from.time__date( type='date' )
    aside
      label= i18n[ LANG.id ].time.end
      input#to.time__date( type='date' )
