mixin filter( ...tags )
  section.filter
    +filter__tags( ...tags )
    +filter__time()

mixin filter__tags( ...tags )
  -
    let validation = [
      'college', 'master', 'phd', 'teacher', 'administrator',
      'international', 'exhibition', 'speech', 'competition', 'conference',
      'internship', 'law', 'recruitment', 'scholarship',
    ];
    for( tag of tags )
      if( !validation.indexOf(tag) )
        throw new Error( `invalid tag ${ tag }` );
  article.filter__tags.tags
    each tag in tags
      button( class=`tags__tag--${ tag } tags__tag--radius`)= tag

mixin filter__time()
  article.filter__time.time
    aside
      label(for='filterDateBegin') 開始日期
      input#filterDateBegin.time__date( type='date', value='2018-04-25' )
    aside
      label(for='filterDateEnd') 結束日期
      input#filterDateEnd.time__date( type='date', value='2018-04-25' )