mixin pages__page( totalPages )
  - for( let pageNo = 2; pageNo < totalPages; ++pageNo )
  button.pages__page= pageNo

<!--if existing only one page, generating one button-->
<!--else generating 'forward button', 'backward button', and the other page button-->
if totalPages === 1
  button.pages__page 1
else
  button.pages__control.pages__control--foward= `‹`
  button.pages__page 1
  button#pages__extra--before.pages__extra.pages__extra--hidden ...
  +pages__page( totalPages )
  button#pages__extra--after.pages__extra.pages__extra--hidden ...
  button.pages__page= totalPages
  button.pages__control.pages__control--backward= `›`
