@import 'components/common/reset';
@import 'components/common/topic';
@import 'components/announcement/filter';
@import 'components/announcement/briefingnews';
@import 'components/announcement/briefinghotnews';

.newscontainer {
  display: grid;
  grid: {
    gap: 1.5rem 0;
    template-columns: repeat( 10, 1fr );
  }
  background-color: #f8fbfc;
  padding: 3.6rem 6.9rem;
}
@include topic--black();

.news {
  &__briefings{

  }
  grid-column: {
    start: 1;
    end: 7;
  }
  @media screen and ( max-width: 1200px){
    grid-column: {
      start: 1;
      end: 11;
    }
  }
}

.news {
  &__briefings {
    font-size: .625rem;
  }

  &__button {
    background-color: #fd5540;
    color: white;
    padding: .2rem .7rem;
    border-radius: .2rem;
    float: right;
    margin-top: 1rem;
    font-size: .75rem;
    position: relative;
  }
}

.hotnews {
  &__briefings {
    font-size: .625rem;
    margin: 1rem 0;
  }

  grid-column: {
    start: 8;
    end: 11;
  }
  @media screen and ( max-width: 1200px){
    grid-column: {
      start: 1;
      end: 11;
    }
  }
  margin-top: 2.5rem;
}



