@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/topic';
@import 'components/common/footer';
@import 'components/announcement/briefing';

// block
// `body > .content`
body > .content {
  // [ variable ]
  $small: 768px;
  $large: 992px;

  // [ layout ]
  display: grid;
  grid-template-columns: repeat( 10, 1fr );

  // [ skin ]
  padding: 2.2rem .5rem;

  // [ RWD: $large ]
  @media screen and ( min-width: $large ) {
    padding: 4.6rem 3.6rem;
  }

  // block
  // `body > .content > .topic`
  .topic {
    // [ position ]
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `body > .content > .announcement`
  @include announcement() {
    // [ position ]
    grid-column: {
      start: 1;
      end: 11;
    }

    // modifier
    // `body > .content > .announcement.announcement--hot-news`
    &.announcement--hot-news {
      // [ position ]
      margin-top: 4rem;
      grid-column: {
        start: 1;
        end: 11;
      }
    }
  }

  // [ RWD: $large ]
  @media screen and ( min-width: $large ) {
    // block
    // `body > .content > .announcement`
    @include announcement() {
      grid-column: {
        start: 1;
        end: 7;
      }

      // modifier
      // `body > .content > .announcement.announcement--hot-news`
      &.announcement--hot-news {
        margin-top: 0;
        grid-column: {
          start: 8;
          end: 11;
        }
      }
    }

    // block
    // `body > .content > .topic`
    .topic {
      grid-column: {
        start: 1;
        end: 7;
      }
    }
  }
}
