@import 'components/common/reset';
@import 'components/common/font';
@import 'components/common/header-base';
@import 'components/common/header-small';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/topic';
@import 'components/common/no-result';
@import 'components/common/loading';
@import 'components/common/footer';
@import 'components/announcement/briefing';
@import 'components/home/hot-announcement-briefing';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--small( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $large: 992px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        '. .                .'
        '. topic            .'
        '. announcement     .'
        '. hot-announcement .'
        '. .                .';
      rows: font__px-to-rem( 70 ) repeat( 3, min-content ) font__px-to-rem( 70 );
      columns: font__px-to-rem( 16 ) 1fr font__px-to-rem( 16 );
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      grid-template: {
        areas:
          '. .            . .                .'
          '. topic        . hot-announcement .'
          '. announcement . hot-announcement .'
          '. .            . .                .';
        rows: font__px-to-rem( 148 ) font__px-to-rem( 64 ) min-content font__px-to-rem( 148 );
        columns: 1fr 12fr font__px-to-rem( 128 ) 6fr 1fr;
      }
      align-items: start;
    }

    // element
    // `.body > .content > .content__topic`
    // block
    // `.body > .content > .topic`
    @include topic( $block: 'content' ) {
      // [ position ]
      grid-area: topic;
    }

    // element
    // `.body > .content > .content__announcement`
    // block
    // `.body > .content > .announcement`
    > .content__announcement.announcement {
      // [ position ]
      grid-area: announcement;

      // element
      // `.body > .content > .announcement > .announcement__no-result`
      // block
      // `.body > .content > .announcement > .no-result`
      @include no-result( 'announcement' ) {
        // [ layout ]
        margin-top: font__px-to-rem( 64 );
      }

      // element
      // `.body > .content > .announcement > .announcement__loading`
      // block
      // `.body > .content > .announcement > .loading`
      @include loading( 'announcement' ) {
        // [ layout ]
        margin-top: font__px-to-rem( 64 );
      }

      // element
      // `.body > .content > .announcement > .announcement__briefings`
      // block
      // `.body > .content > .announcement > .briefings`
      > .announcement__briefings.briefings {
        // [ layout ]
        margin-top: font__px-to-rem( 22 );

        // element
        // `.body > .content > .announcement > .briefings > .briefings__briefing`
        // block
        // `.body > .content > .announcement > .briefings > .briefing`
        @include briefing( $block: 'briefings' );
      }

      // element
      // `.body > .content > .announcement > .announcement__more`
      // block
      // `.body > .content > .announcement > .more`
      > .announcement__more.more {
        // [ layout ]
        display: flex;
        justify-content: center;

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          justify-content: flex-end;
        }

        // element
        // `.body > .content > .announcement > .more > .more__link`
        > .more__link {
          // [ layout ]
          text-align: center;
          margin-top: font__px-to-rem( 16 );

          // [ skin ]
          width: font__px-to-rem( 128 );
          border-radius: font__px-to-rem( 3 );
          padding: {
            top: font__px-to-rem( 12 );
            bottom: font__px-to-rem( 12 );
            left: font__px-to-rem( 30 );
            right: font__px-to-rem( 30 );
          }
          color: white;
          background-color: #f94970;
          font-size: font__px-to-rem( 14 );
          box-shadow: 0 font__px-to-rem( 2 ) font__px-to-rem( 2 ) 0 #f84868;

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ skin ]
            width: font__px-to-rem( 160 );
            padding: {
              top: font__px-to-rem( 18 );
              bottom: font__px-to-rem( 18 );
            }
          }
        }
      }
    }

    // element
    // `.body > .content > .hot-announcement`
    @include hot-announcement ( $block: 'content' ) {
      // [ position ]
      grid-area: hot-announcement;

      // [ layout ]
      margin-top: font__px-to-rem( 64 );

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        margin-top: 0;
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
