@import 'components/common/reset';
@import 'components/announcement/briefing';
@import 'components/common/topic';

// block
// `.content`

.content {
  $mobile: 768px;

  // block [skin]
  padding: 2.2rem 1rem;
  @media screen and ( min-width: $mobile ) {
    padding: 4.6rem 3.6rem;
  }

  // block [layout]
  display: grid;
  grid-template-columns: repeat( 10, 1fr );

  // block
  // `.content .announcement`
  // `.content .topic`
  .announcement, .topic {
    $tablet: 992px;

    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
    @media screen and ( min-width: $tablet ) {
      grid-column: {
        start: 1;
        end: 7;
      }
    }
  }
  
  .announcement--hot-news {
    // element [position]
    margin-top: 4rem;
    grid-column: {
      start: 1;
      end: 11;
    }
    @media screen and ( min-width: 992px ) {
      margin-top: 0;
      grid-column: {
        start: 8;
        end: 11;
      }
    }
  }
}



