@import '../components/common/reset';
@import '../components/announcement/filter';
@import '../components/announcement/title';

#content-container {
  padding: 5%;
  display: grid;
  grid-gap: 7% 0;
  grid-template-columns: repeat(10,1fr);
  background-color: #F2F4F7;
}
      
.announcement {
  grid-column-start: 2;
  grid-column-end: 10;
}
.post {
  min-height: 10%;
  height: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  background-color: #FFFFFF;
  height: 7rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.2rem 0.1rem rgba(0,0,0,0.1);
  font-size: 0.625rem;
}
.post__title {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  font-family: "Sego UI", Regular;
  color: #000000;
  font-size: 0.75rem;
}
.post__article {
  grid-column-start: 1;
  grid-column-end: 2;
}
.post__time {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #000000;
  opacity: 0.5;
  padding-right: 1rem;
}
.post__tags {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
#page{
  width: 100%;
  height: 10%;
}