@import 'components/common/reset';
@import 'components/announcement/briefing';
@import 'components/announcement/filter';
@import 'components/announcement/title';
@import 'components/common/topic';

// block
// `.content`

.content {
  $mobile: 768px;
  $tablet: 992px;

  // block [skin]
  padding: 2.2rem 1rem;
  @media screen and ( min-width: $mobile ) {
    padding: 4.6rem 3.6rem;
  }
  @media screen and ( min-width: $tablet ) {
    padding: 2rem 4.5rem;
  }
  
  // block [layout]
  display: grid;
  grid: {
    gap: 1.5rem 0;
    template-columns: repeat( 10, 1fr );
  }

  // block
  // `.content .topic`
  .topic {
    $tablet: 992px;

    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
    @media screen and ( min-width: $tablet ) {
      grid-column: {
        start: 2;
        end: 10;
      }
    }
  }
  
  // block
  // `.content .filter`
  .filter {
    $tablet: 992px;

    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
    @media screen and ( min-width: $tablet ) {
      grid-column: {
        start: 2;
        end: 10;
      }
    }
  }
  
  // block
  // `.content .announcement`
  .announcement {
    $tablet: 992px;

    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
    @media screen and ( min-width: $tablet ) {
      grid-column: {
        start: 2;
        end: 10;
      }
    }
  }
}


