@import '/components/common/reset';
@import '/components/announcement/filter';
@import '/components/announcement/title';

.content {
  padding: 2rem 4.5rem;
  background-color: #f2f4f7;
  display: grid;
  grid: {
    gap: 1.5rem 0;
    template-columns: repeat( 10, 1fr );
  }
}

.post {
  font-size: .625rem;

  &--homenews {
    padding: .7rem 0;
    border-bottom: .03rem solid #868686;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 'b' 'a' 'c' 'd';
  }

  &--homehot {
    display: grid;
  }

  &--announcement {
    min-height: 10%;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    height: 5rem;
    margin-bottom: 1rem;
    box-shadow: 0 .2rem .1rem rgba( 0, 0, 0, .1 );
    display: grid;
    grid-template: {
      rows: 1.2rem;
      columns: repeat( 2, 1fr );
    }
  }

  &__tags {

    &--homenews {
      grid-area: b;
    }

    &--announcement {
      display: flex;
      justify-content: flex-end;
      align-self: center;
      margin-top: .8rem;
    }
  }

  &__title {
    color: #000000;
    font-size: .75rem;
    min-width: 3rem;

    &--homenews {
      grid-area: a;
    }
  }

  &__article {
    overflow: hidden;

    &--homenews { 
      margin-bottom: .6rem;
      grid-area: c;
    }
  }

  &__time {

    &--homenews {
      color: #b5babf;
      grid-area: d;
    }

    &--announcement {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: #000000;
      opacity: .5;
      padding-right: 1rem;
    }
  }
}

#page {
  width: 100%;
  height: 10%;
}

