@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/topic';
@import 'components/common/footer';
@import 'components/common/loading';
@import 'components/common/no-results';
@import 'components/common/no-results-img';
@import 'components/announcement/briefing';
@import 'components/announcement/filter';
@import 'components/announcement/title';
@import 'components/announcement/pages';

// block
// `body > .content`
body > .content {
  // [ variable ]
  $small: 850px;
  $large: 992px;

  // [ layout ]
  display: grid;
  grid: {
    gap: 1.2rem 0;
    template: {
      columns: 1fr;
      areas:
        'filter'
        'topic';
    }
  }

  // [ skin ]
  margin: {
    left: auto;
    right: auto;
  }
  padding: 2.2rem .5rem;
  max-width: 26rem;

  // [ RWD: $small ]
  @media screen and ( min-width: $small ) {
    // [ layout ]
    grid-template-areas:
      'topic'
      'filter';
  }

  // [ RWD: $large ]
  @media screen and ( min-width: $large ) {
    // [ skin ]
    padding: {
      top: 2.2rem;
      bottom: 2.2rem;
    }
  }

  // block
  // `body > .content > .topic`
  @include topic() {
    // [ position ]
    grid-area: topic;
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `body > .content > .filter.filter--all`
  @include filter--all() {
    // [ position ]
    grid-area: filter;
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `body > .content > .announcement`
  @include announcement() {
    // [ position ]
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `body > .content > .pages`
  @include pages () {
    // [ position ]
    grid-column: {
      start: 1;
      end: 11;
    }
  }
}
