@import '../components/common/reset';
@import '../components/announcement/briefing';
@import '../components/announcement/filter';
@import '../components/common/topic';


.content {
  display: grid;
  grid: {
    gap: 1.5rem 0;
    template-columns: repeat( 10, 1fr );
  }
  background-color: #f2f4f7;
  padding: 2.2rem 1rem;
  @media screen and ( min-width: 768px ){
    padding: 4.6rem 3.6rem;
  }
  @media screen and ( min-width: 992px ) {
    padding: 2rem 4.5rem;
  }
  
}
@include topic--black();

.topic {
  grid-column: {
    start: 1;
    end: 11;
  }
  @media screen and ( min-width: 992px ){
    grid-column: {
      start: 2;
      end: 10;
    }
  }
}

.filter {
  grid-column: {
    start: 1;
    end: 11;
  }
  @media screen and ( min-width: 992px ){
    display: flex;
    grid-column: {
      start: 2;
      end: 10;
    }
  }
  
}

.announcement {
  grid-column: {
    start: 1;
    end: 11;
  }
  @media screen and ( min-width: 992px ){
    grid-column: {
      start: 2;
      end: 10;
    }
  }
}
