@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/topic';
@import 'components/common/footer';
@import 'components/announcement/filter';
@import 'components/announcement/announcement-briefing';
@import 'components/announcement/pages';

// block
// `.body`
.body {
  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' );

  // element
  // `.body > .body__breadcrumb`
  // block
  // `.body > .breadcrumb`
  @include breadcrumb( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $small: 850px;
    $large: 992px;

    // [ layout ]
    display: grid;
    grid: {
      gap: 1.2rem 0;
      template: {
        columns: 1fr;
        areas:
          'filter'
          'topic'
          'announcement--pinned'
          'announcement--normal'
          'pages';
      }
    }
    margin: 0 auto;

    // [ skin ]
    padding: 2.2rem .5rem;
    max-width: 26rem;

    // [ RWD: $small ]
    @media screen and ( min-width: $small ) {
      // [ layout ]
      grid-template-areas:
        'topic'
        'filter'
        'announcement--pinned'
        'announcement--normal'
        'pages';
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ skin ]
      padding: {
        top: 2.2rem;
        bottom: 2.2rem;
      }
    }

    // element
    // `.body > .content > .content__topic`
    // block
    // `.body > .content > .topic`
    @include topic( $block: 'content' ) {
      // [ position ]
      grid-area: topic;
    }

    // element
    // `.body > .content > .content__filter`
    // block
    // `.body > .content > .filter`
    @include filter( $block: 'content' ) {
      // [ position ]
      grid-area: filter;

      // element
      // `.body > .content > .filter > .filter__tags`
      // block
      // `.body > .content > .filter > .tags`
      > .filter__tags.tags {
        // [ variable ]
        $x-small: 200px;
        $small: 320px;
        $large: 420px;
        $x-large: 550px;

        // [ layout ]
        display: grid;
        grid-template-areas:
          'all'
          'course'
          'faculty'
          'college'
          'master'
          'phd'
          'internship'
          'scholarship'
          'international'
          'award'
          'speech'
          'conference'
          'exhibition'
          'competition'
          'recruitment'
          'rule';

        // [ RWD: $x-small ]
        @media screen and ( min-width: $x-small ) {
          // [ layout ]
          grid-template-areas:
            'all           college'
            'course        master'
            'faculty       phd'
            'internship    speech'
            'scholarship   conference'
            'international exhibition'
            'award         competition'
            'recruitment   rule';
        }

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          grid-template-areas:
            'all     internship    speech'
            'course  scholarship   conference'
            'faculty international exhibition'
            'college award         competition'
            'master  recruitment   rule'
            'phd     .             .';
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          grid-template-areas:
            'all         college internship    speech'
            'course      master  scholarship   conference'
            'faculty     phd     international exhibition'
            'recruitment rule    award         competition';
        }

        // [ RWD: $x-large ]
        @media screen and ( min-width: $x-large ) {
          // [ layout ]
          grid-template-areas:
            'all     college internship    speech      rule'
            'course  master  scholarship   conference  recruitment'
            'faculty phd     international exhibition  .'
            '.       .       award         competition .';
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'all' ]`
        > .tags__tag[ data-tag-name = 'all' ] {
          // [ position ]
          grid-area: all;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'award' ]`
        > .tags__tag[ data-tag-name = 'award' ] {
          // [ position ]
          grid-area: award;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'college' ]`
        > .tags__tag[ data-tag-name = 'college' ] {
          // [ position ]
          grid-area: college;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'competition' ]`
        > .tags__tag[ data-tag-name = 'competition' ] {
          // [ position ]
          grid-area: competition;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'conference' ]`
        > .tags__tag[ data-tag-name = 'conference' ] {
          // [ position ]
          grid-area: conference;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'course' ]`
        > .tags__tag[ data-tag-name = 'course' ] {
          // [ position ]
          grid-area: course;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'exhibition' ]`
        > .tags__tag[ data-tag-name = 'exhibition' ] {
          // [ position ]
          grid-area: exhibition;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'faculty' ]`
        > .tags__tag[ data-tag-name = 'faculty' ] {
          // [ position ]
          grid-area: faculty;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'international' ]`
        > .tags__tag[ data-tag-name = 'international' ] {
          // [ position ]
          grid-area: international;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'internship' ]`
        > .tags__tag[ data-tag-name = 'internship' ] {
          // [ position ]
          grid-area: internship;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'master' ]`
        > .tags__tag[ data-tag-name = 'master' ] {
          // [ position ]
          grid-area: master;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'phd' ]`
        > .tags__tag[ data-tag-name = 'phd' ] {
          // [ position ]
          grid-area: phd;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'recruitment' ]`
        > .tags__tag[ data-tag-name = 'recruitment' ] {
          // [ position ]
          grid-area: recruitment;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'rule' ]`
        > .tags__tag[ data-tag-name = 'rule' ] {
          // [ position ]
          grid-area: rule;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'scholarship' ]`
        > .tags__tag[ data-tag-name = 'scholarship' ] {
          // [ position ]
          grid-area: scholarship;
        }

        // element
        // `.body > .content > .filter > .tags > .tags__tag[ data-tag-name = 'speech' ]`
        > .tags__tag[ data-tag-name = 'speech' ] {
          // [ position ]
          grid-area: speech;
        }
      }
    }

    // element
    // `.body > .content > .content__announcement`
    // block
    // `.body > .content > .announcement`
    @include announcement( $block: 'content' ) {
      // template
      // `.body > .content > .announcement.announcement--?`
      &.announcement-- {
        // modifier
        // `.body > .content > .announcement.announcement--pinned`
        &pinned {
          // [ position ]
          grid-area: announcement--pinned;
        }

        // modifier
        // `.body > .content > .announcement.announcement--normal`
        &normal {
          // [ position ]
          grid-area: announcement--normal;
        }
      }
    }

    // element
    // `.body > .content > .content__pages`
    // block
    // `.body > .content > .pages`
    @include pages ( $block: 'content' ) {
      // [ position ]
      grid-area: pages;
      justify-self: center;
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
