@import 'components/common/reset';
@import 'components/announcement/briefing';
@import 'components/announcement/filter';
@import 'components/announcement/title';
@import 'components/common/topic';

// block
// `.content`

.content {
  $mobile: 768px;
  $tablet: 920px;

  // block [skin]
  padding: 2.2rem 1rem;
  @media screen and ( min-width: $mobile ) {
    padding: 3rem 3.6rem;
  }
  @media screen and ( min-width: 870px ) {
    padding: 3rem 5.6rem;
  }
  @media screen and ( min-width: 1000px ) {
    padding: 3rem 8rem;
  }
  @media screen and ( min-width: 1200px ) {
    padding: 3rem 10rem;
  }

  // block [layout]
  display: grid;
  grid: {
    gap: 1.5rem 0;
    template-columns: repeat( 10, 1fr );
  }

  // block
  // `.content .topic`
  .topic {
    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `.content .filter`
  .filter {
    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `.content .announcement`
  .announcement {
    // element [position]
    grid-column: {
      start: 1;
      end: 11;
    }
  }
}
