@import 'components/common/reset';
@import 'components/announcement/announcement';
@import 'components/announcement/filter';
@import 'components/common/topic';


.content {
  padding: 2rem 4.5rem;
  background-color: #f2f4f7;
  display: grid;
  grid: {
    gap: 1.5rem 0;
    template-columns: repeat( 10, 1fr );
  }
}

.topic {
  grid-column: {
    start: 1;
    end: 11;
  }
}

.filter {
  grid-column: {
    start: 2;
    end: 10;
  }
}

.announcement {
  grid-column: {
    start: 2;
    end: 10;
  }
}





