@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/footer';
@import 'components/announcement/announcement';
@import 'components/announcement/tags';
@import 'components/common/banner';
@import 'components/common/breadcrumb';

body > {
  // block
  // `body > .banner`
  @include banner( 'https://via.placeholder.com/1920x500' );

  // block
  // `body > .breadcrumb`
  @include breadcrumb( #ffffff );

  // block
  // `body > .content`
  > .content {
    // [ variable ]
    $small: 560px;
    $medium: 768px;
    $large: 1080px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
          '. announcement .';
      columns: 5% 1fr 5%;
    };

    // [ RWD: $small ]
    @media screen and ( min-width: $small ) {
      // [ layout ]
      grid-template-columns: 10% 1fr 10%;
    }

    // [ RWD: $medium ]
    @media screen and ( min-width: $medium ) {
      // [ layout ]
      grid-template-columns: 15% 1fr 15%;
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      grid-template-columns: 1fr 31.81rem 1fr;
    }

    // block
    // `body > .content > .announcement`
    @include announcement() {
      // [ position ]
      grid-area: announcement;
    }
  }
}
