@import 'components/common/reset';
@import 'components/common/font';
@import 'components/common/header-base';
@import 'components/common/header-small';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/topic';
@import 'components/common/footer';
@import 'components/announcement/filter';
@import 'components/announcement/announcement-briefing';
@import 'components/announcement/pages';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--small( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' );

  // element
  // `.body > .body__breadcrumb`
  // block
  // `.body > .breadcrumb`
  @include breadcrumb( $block: 'body' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $small: 850px;
    $large: 992px;
    display: grid;

    // [ layout ]
    grid: {
      row-gap: font__px-to-rem( 38 );
      template: {
        columns: 1fr;
        areas:
          'filter'
          'topic'
          'announcement--pinned'
          'announcement--normal'
          'pages';
      }
    }
    margin: 0 auto;

    // [ skin ]
    padding: {
      top: font__px-to-rem( 70 );
      bottom: font__px-to-rem( 70 );
      left: font__px-to-rem( 16 );
      right: font__px-to-rem( 16 );
    }
    max-width: font__px-to-rem( 950 );

    // [ RWD: $small ]
    @media screen and ( min-width: $small ) {
      // [ layout ]
      grid-template-areas:
        'topic'
        'filter'
        'announcement--pinned'
        'announcement--normal'
        'pages';
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ skin ]
      padding: {
        top: font__px-to-rem( 40 );
        bottom: font__px-to-rem( 70 );
        left: 0;
        right: 0;
      }
    }

    // element
    // `.body > .content > .content__topic`
    // block
    // `.body > .content > .topic`
    @include topic( $block: 'content' ) {
      // [ position ]
      grid-area: topic;
    }

    // element
    // `.body > .content > .content__filter`
    // block
    // `.body > .content > .filter`
    @include filter( $block: 'content' ) {
      // [ position ]
      grid-area: filter;
    }

    // element
    // `.body > .content > .content__announcement`
    // block
    // `.body > .content > .announcement`
    @include announcement( $block: 'content' ) {
      // template
      // `.body > .content > .announcement.announcement--?`
      &.announcement-- {
        // modifier
        // `.body > .content > .announcement.announcement--pinned`
        &pinned {
          // [ position ]
          grid-area: announcement--pinned;
        }

        // modifier
        // `.body > .content > .announcement.announcement--normal`
        &normal {
          // [ position ]
          grid-area: announcement--normal;
        }
      }
    }

    // element
    // `.body > .content > .content__pages`
    // block
    // `.body > .content > .pages`
    @include pages ( $block: 'content' ) {
      // [ position ]
      grid-area: pages;
      justify-self: center;
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
