@import 'components/common/reset';
@import 'components/common/header';
@import 'components/common/topic';
@import 'components/common/footer';
@import 'components/announcement/title';
@import 'components/announcement/filter';
@import 'components/announcement/briefing';
@import 'components/announcement/pages';

// block
// `body > .content`

body > .content {
  // [ variable ]
  $small: 850px;
  $large: 992px;
  display: grid;

  // [ layout ]
  grid: {
    gap: 1.2rem 0;
    template: {
      columns: repeat( 10, 1fr );
      areas:
        'filter'
        'topic';
    }
  }

  // [ skin ]
  margin: 0 auto;
  padding: 2.2rem .5rem;
  max-width: 26rem;

  // [ RWD: $small ]
  @media screen and ( min-width: $small ) {
    // [ layout ]
    grid-template-areas:
      'topic'
      'filter';
  }

  // [ RWD: $large ]
  @media screen and ( min-width: $large ) {
    // [ skin ]
    padding: 2.2rem 0;
  }

  // block
  // `body > .content > .topic`
  @include topic() {
    // [ position ]
    grid-area: topic;
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `body > .content > .filter`
  @include filter() {
    // [ position ]
    grid-area: filter;
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `body > .content > .announcement`
  @include announcement() {
    // [ position ]
    grid-column: {
      start: 1;
      end: 11;
    }
  }

  // block
  // `body > .content > .pages`
  @include pages () {
    // [ position ]
    grid-column: {
      start: 1;
      end: 11;
    }
  }
}
