extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':     'College',
        'topic':     'College',
        'time':   {
          'from': 'Start Date',
          'to':   'End Date',
        },
        'pinned':    'Pinned Announcement',
        'normal':    'Announcement',
        'breadcrumb': {
          'home':    'Home',
          'student': 'Student',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':     '大學部',
        'topic':     '大學部',
        'time':   {
          'from': '開始日期',
          'to':   '結束日期',
        },
        'pinned':    '置頂貼文',
        'normal':    '一般公告',
        'breadcrumb': {
          'home':    '首頁',
          'student': '學生事務',
        },
      },
    } );
    const tags = [
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'college',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'college',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: -1,
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'competition',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'competition',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'competition',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'conference',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'conference',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'conference',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'exhibition',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'exhibition',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'exhibition',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'speech',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'speech',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'speech',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'award',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'award',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'award',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'international',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'international',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'international',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'scholarship',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'scholarship',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'scholarship',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'internship',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'internship',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'internship',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
        {
            color: UTILS.getTagColorById(UTILS.getTagId({
                tag: 'rule',
                languageId: LANG.getLanguageId( 'en-US' ),
            })),
            tag: UTILS.getTagById({
                tagId: UTILS.getTagId({
                    tag: 'rule',
                    languageId: LANG.getLanguageId( 'en-US' ),
                    }),
                languageId: LANG.id,
            }),
            id: UTILS.getTagId({
                tag: 'rule',
                languageId: LANG.getLanguageId( 'en-US' ),
            }),
        },
    ];
    const currentRoute = 'student/college';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'student/college' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.student, url: 'student' },
    { text: i18n[ LANG.id ].title },
  ] )

append footer

append scripts
  +js( 'student/college' )
