extends /layouts/announcement/briefing.pug

append stylesheets

<<<<<<< HEAD
append header
=======
block append content
  include /components/common/topic.pug
  include /components/announcement/filter.pug
  include /components/announcement/title.pug
  - const i18n = require( path.join( languageRoot, 'student/college' ) );
>>>>>>> 980fbc8e469093b93a7aa6b8cea669e8d426d2e4

prepend content
  -
    const i18n = Object.freeze( {
      'en-US': {
        'topic':  'College',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'topic':  '大學部',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );

append topic
  +topic( i18n[ language ].topic )

append filter
  +filter( {
    modifier: 'college',
    tags: [
      'award',
      'college',
      'competition',
      'conference',
      'exhibition',
      'international',
      'internship',
      'rule',
      'scholarship',
      'speech',
    ]
  } )

append scripts
  +js( 'student/college' )
