extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':  'Course',
        'topic':  'Course',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'title':  '課程資訊',
        'topic':  '課程資訊',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );
    const filterModifier = 'course';
    const filterTags = [
      'college',
      'course',
      'master',
      'phd',
    ];
    const currentRoute = 'student/course';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'student/course' )

append header

append footer

append scripts
  +js( 'student/course' )
