extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':     'Student Affairs',
        'breadcrumb': {
          'home':    'Home',
        },
        'entries': [
          {
            title: 'College',
            detail: 'Information related to undergraduated students, including course, internship, scholarship and more',
            modifier: 'red',
            route: 'student/college',
          },
          {
            title: 'Master',
            detail: 'Information related to graduated students, including course, internship, scholarship and more',
            modifier: 'green',
            route: 'student/master',
          },
          {
            title: 'Ph.D.',
            detail: 'Information related to Ph.D students, including course, internship, scholarship and more',
            modifier: 'yellow',
            route: 'student/phd',
          },
        ],
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':     '學生事務',
        'breadcrumb': {
          'home':    '首頁',
        },
        'entries': [
          {
            title: '大學部',
            detail: '資訊系大學部的相關資訊，包含課程、實習、獎學金等',
            modifier: 'red',
            route: 'student/college',
          },
          {
            title: '碩士',
            detail: '資訊所碩士班的相關資訊，包含課程、實習、獎學金等',
            modifier: 'green',
            route: 'student/master',
          },
          {
            title: '博士',
            detail: '資訊所博士班的相關資訊，包含課程、實習、獎學金等',
            modifier: 'yellow',
            route: 'student/phd',
          },
        ],
      },
    } );
    const currentRoute = 'student';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'student/index' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )
  +breadcrumb(
    'body',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/entries.pug
  +entries( 'content', i18n[ LANG.id ].entries )

append content

append footer

append scripts
  +js( 'student/index' )
