extends /layouts/announcement/briefing.pug

append stylesheets

append header

prepend content
  -
    const i18n = Object.freeze( {
      'en-US': {
        'topic':  'International Exchange',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'topic':  '國際交流',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );

append topic
  +topic( i18n[ language ].topic )

append filter
  +filter( {
    modifier: 'international',
    tags: [
      'college',
      'international',
      'master',
      'phd',
    ]
  } )

append scripts
  +js( 'student/international' )
