extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':  'International Exchange',
        'topic':  'International Exchange',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'title':  '國際交流',
        'topic':  '國際交流',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );
    const filterModifier = 'international';
    const filterTags = [
      'college',
      'international',
      'master',
      'phd',
    ];
    const currentRoute = 'student/international';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'student/international' )

append header

append footer

append scripts
  +js( 'student/international' )
