extends /layouts/student.pug

block append stylesheets

block append content
  - const i18n = require( path.resolve( languageRoot, 'student/master' ) );

block append scripts
  +js( 'resource/master' )
