extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':     'Master',
        'topic':     'Master',
        'pinned':    'Pinned Announcement',
        'normal':    'Announcement',
        'breadcrumb': {
          'home':    'Home',
          'student': 'Student',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':     '碩士',
        'topic':     '碩士',
        'pinned':    '置頂貼文',
        'normal':    '一般公告',
        'breadcrumb': {
          'home':    '首頁',
          'student': '學生事務',
        },
      },
    } );
    const filterModifier = 'master';
    const filterTags = [
      'award',
      'competition',
      'conference',
      'exhibition',
      'international',
      'internship',
      'master',
      'rule',
      'scholarship',
      'speech',
    ];
    const currentRoute = 'student/master';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'student/master' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.student, url: 'student' },
    { text: i18n[ LANG.id ].title },
  ] )

append footer

append scripts
  +js( 'student/master' )
