extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':     'Ph.D',
        'topic':     'Ph.D',
        'time':   {
          'from': 'Start Date',
          'to':   'End Date',
        },
        'pinned':    'Pinned Announcement',
        'normal':    'Announcement',
        'breadcrumb': {
          'home':    'Home',
          'student': 'Student',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':     '博士',
        'topic':     '博士',
        'time':   {
          'from': '開始日期',
          'to':   '結束日期',
        },
        'pinned':    '置頂貼文',
        'normal':    '一般公告',
        'breadcrumb': {
          'home':    '首頁',
          'student': '學生事務',
        },
      },
    } );
    const tags = [
        allTags['phd'],
        allTags['competition'],
        allTags['conference'],
        allTags['exhibition'],
        allTags['speech'],
        allTags['award'],
        allTags['international'],
        allTags['scholarship'],
        allTags['internship'],
        allTags['rule'],
    ];
    const currentRoute = 'student/phd';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'student/phd' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.student, url: 'student' },
    { text: i18n[ LANG.id ].title },
  ] )

append footer

append scripts
  +js( 'student/phd' )
