extends /layouts/announcement/briefing.pug

append data
  -
    const i18n = Object.freeze( {
      'en-US': {
        'title':     'Ph.D',
        'topic':     'Ph.D',
        'pinned':    'Pinned Announcement',
        'normal':    'Announcement',
        'breadcrumb': {
          'home':    'Home',
          'student': 'Student',
        },
      },
      'zh-TW': {
        'title':     '博士',
        'topic':     '博士',
        'pinned':    '置頂貼文',
        'normal':    '一般公告',
        'breadcrumb': {
          'home':    '首頁',
          'student': '學生事務',
        },
      },
    } );
    const filterModifier = 'phd';
    const filterTags = [
      'award',
      'competition',
      'conference',
      'exhibition',
      'international',
      'internship',
      'phd',
      'rule',
      'scholarship',
      'speech',
    ];
    const currentRoute = 'student/phd';

append title
  +title( i18n[ language ].title )

append stylesheets
  +css( 'student/phd' )

append header
  +banner( i18n[ language ].title )
  +breadcrumb( [
    { text: i18n[ language ].breadcrumb.home, url: '' },
    { text: i18n[ language ].breadcrumb.student, url: 'student' },
    { text: i18n[ language ].title },
  ] )

append footer

append scripts
  +js( 'student/phd' )
