extends /layouts/announcement/briefing.pug

append stylesheets

append header

prepend content
  -
    const i18n = Object.freeze( {
      'en-US': {
        'topic':  'Ph.D',
        'top':    'Top Announcement',
        'normal': 'Announcement',
      },
      'zh-TW': {
        'topic':  '博士',
        'top':    '置頂貼文',
        'normal': '一般公告',
      },
    } );

append topic
  +topic( i18n[ language ].topic )

append filter
  +filter( {
    modifier: 'phd',
    tags: [
      'award',
      'competition',
      'conference',
      'exhibition',
      'international',
      'internship',
      'phd',
      'rule',
      'scholarship',
      'speech',
    ]
  } )

append scripts
  +js( 'student/phd' )
