-
  function linkI18n () {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: [
        {
          content: '系辦 facebook',
          link: 'https://www.facebook.com/ncku.csie',
        },
        {
          content: '系學會 facebook',
          link: 'https://www.facebook.com/nckucsie.academy/',
        },
        {
          content: '系粉專 facebook',
          link: 'https://www.facebook.com/nckuofcsie/',
        },
      ],
      [ LANG.getLanguageId( 'en-US' ) ]: [
        {
          content: 'Department office\'s facebook page',
          link: 'https://www.facebook.com/ncku.csie',
        },
        {
          content: 'Student association of CSIE\'s facebook page',
          link: 'https://www.facebook.com/nckucsie.academy/',
        },
        {
          content: 'NCKU CSIE facebook fanpage',
          link: 'https://www.facebook.com/nckuofcsie/',
        },
      ],
    };
  }
