-
  function qaI18n () {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: [
        {
          question: 'test question 1 chinese',
          answer: ['answer1-1', 'answer1-2'],
        },
        {
          question: 'test question 2 chinese',
          answer: ['answer2-1', 'answer2-2'],
        },
        {
          question: 'test question 3 chinese',
          answer: ['answer3-1', 'answer3-2'],
        },
      ],
      [ LANG.getLanguageId( 'en-US' ) ]: [
        {
          question: 'test question 1 english',
          answer: ['answer1-1', 'answer1-2'],
        },
        {
          question: 'test question 2 english',
          answer: ['answer2-1', 'answer2-2'],
        },
        {
          question: 'test question 3 english',
          answer: ['answer3-1', 'answer3-2'],
        },
      ],
    };
  }
