-
  function qaI18n () {
    return {
      [ LANG.getLanguageId( 'zh-TW' ) ]: [
        {
          aspect: '教育目標與核心能力',
          context: [
            {
              title: '資訊工程學系之教育目標',
              paragraph: [
                {
                  type: 'text',
                  text: '系所教育目標',
                },
                {
                  type: 'list',
                  list: [
                    '教育學生基礎專業知識及終身學習之能力',
                    '教育學生運用專業知識解決資訊應用問題之能力',
                    '教育學生優質團隊合作之能力',
                  ],
                },
                {
                  type: 'text',
                  text: '學生核心能力',
                },
                {
                  type: 'list',
                  list: [
                    '畢業生應具備基礎專業數學及資訊理論知識之基本能力',
                    '畢業生應具備資訊理論推導及實驗設計、數據分析歸納之能力',
                    '畢業生應具備培養學習興趣及持續學習之能力',
                    '畢業生應具備獨立、創新思維及發掘、分析、解決資訊相關問題之能力',
                    '畢業生應具備資訊系統設計、測試及驗證之能力',
                    '畢業生應具備資訊系統整合之能力',
                    '畢業生應具備科技人文素養及資訊工程倫理之精神',
                    '畢業生應具備良好溝通技巧及國際觀',
                    '畢業生應具備負責之工作態度及有效團隊合作之能力',
                  ],
                },
              ],
            },
            {
              title: '資訊工程所之教育目標',
              paragraph: [
                {
                  type: 'text',
                  text: '系所教育目標'
                },
                {
                  type: 'list',
                  list: [
                    '教育學生具備資訊專業知識及終身學習之能力',
                    '教育學生具備獨立研究、設計及創新之能力',
                    '教育學生優質團隊合作及國際觀之能力',
                  ],
                },
                {
                  type: 'text',
                  text: '學生核心能力'
                },
                {
                  type: 'list',
                  list: [
                    '畢業生應具備資訊專業理論知識',
                    '畢業生應具備資訊專業理論推導、分析、歸納之能力',
                    '畢業生應具備專業簡報及論文撰寫之能力',
                    '畢業生應具備資訊領域獨立發掘問題、策劃實驗、解決問題之能力',
                    '畢業生應具備資訊領域設計、驗證及實作整合之能力',
                    '畢業生應具備資訊領域創新思考之能力',
                    '畢業生應具備科技人文素養、資訊工程倫理與終身學習的態度',
                    '畢業生應具備專業外語能力及良好國際觀',
                    '畢業生應具備良好溝通協調與團隊合作之能力',
                  ],
                },
              ],
            },
          ],
        },
      ],
      [ LANG.getLanguageId( 'en-US' ) ]: [
        {
          aspect: 'Educational Objectives and Core Skills',
          context: [
            {
              title: 'Educational Objectives (Bachelor)',
              paragraph: [
                {
                  type: 'text',
                  text: 'Educational Objectives',
                },
                {
                  type: 'list',
                  list: [
                    'Basic professional knowledge and life-learning ability.',
                    'Solve computer information problems based on professional knowledge.',
                    'Great team work ability.',
                  ],
                },
                {
                  type: 'text',
                  text: 'Core Skills',
                },
                {
                  type: 'list',
                  list: [
                    'Basic mathematics and computer information theory.',
                    'Information theory inferrer, experiment design and data analysis.',
                    'Keep interesting in learning.',
                    'Think independently and innovationally, analyze and solve problems.',
                    'Computer information system design, test and verification.',
                    'Computer information system integration.',
                    'Humane technology accomplishment and computer science and information engineering ethics.',
                    'Good communication skill and global view.',
                    'Responsible attitude and efficient team cooperation.',
                  ],
                },
              ],
            },
            {
              title: 'Educational Objectives (Master)',
              paragraph: [
                {
                  type: 'text',
                  text: 'Educational Objectives'
                },
                {
                  type: 'list',
                  list: [
                    'Basic professional knowledge and life-learning ability.',
                    'Independent research、design and innovation.',
                    'Excellent team work ability and global view.',
                  ],
                },
                {
                  type: 'text',
                  text: 'Core Skills'
                },
                {
                  type: 'list',
                  list: [
                    'Professional computer information theory knowledge.',
                    'Professional computer information theory inferrer, experiment design and data analysis.',
                    'Professional presentation and paper writing.',
                    'Discover problems, plan experiment and solve problems independently in computer information.',
                    'Computer information system design verification and integration.',
                    'Creative thinking in computer information.',
                    'Humane technology accomplishment and computer science, information engineering ethics and life-learning ability.',
                    'English communication skill and global view.',
                    'Good communication skill and team cooperation.',
                  ],
                },
              ],
            },
          ],
        },
      ],
    };
  }
