@mixin dropdown ( $block, $width ) {
  // `> .#{ belongBlock } > .{ belongBlock }__dropdown.dropdown`
  > .dropdown.#{ $block }__dropdown {
    // [ layout ]
    display: block;

    // [ position ]
    width: 100%;
    height: font__px-to-rem( 30 );
    margin: {
      bottom: font__px-to-rem( 30 );
      left: auto;
      right: auto ;
    }

    // `> .#{ belongBlock } > .{ belongBlock }__nation-dropdown.nation-dropdown > .nation-dropdown--content`
    > .dropdown__content {
      // [ position ]
      position: absolute;
      z-index: 1;

      // [ skin ]
      border-radius: 15px;
      border: solid 1px #adacad;

      // `> .#{ belongBlock } > .{ belongBlock }__nation-dropdown.nation-dropdown > .nation-dropdown__button`
      > .content__button {
        // [ layout ]
        display: none;
        align-content: center;
        justify-content: center;

        // [ position ]
        position: relative;
        width: font__px-to-rem( $width );
        height: font__px-to-rem( 30 );

        // [ skin ]
        background: #ffffff;
        border-radius: font__px-to-rem( 33 );

        // `> .#{ belongBlock } > .{ belongBlock }__nation-dropdown.nation-dropdown > .nation-dropdown__button > .button__img`
        > .button__text {
          // [ layout ]
          grid-area: content;

          // [ position ]
          width: 100%;

          // [ skin ]
          font: {
            size: font__px-to-rem( 16 );
            weight: normal;
            style: normal;
            stretch: normal;
          }
          text-align: center;
          line-height: 1.5;
          letter-spacing: normal;
          color: #000000;
          filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 67% ) hue-rotate( 183deg ) contrast( 98% );
        }
      }

      > .content__button--top {
        // [ layout ]
        display: flex;

        // [ skin ]
        border: {
          radius: font__px-to-rem( 33 );
          bottom: solid 1px #adacad;
        }
      }

      > .content__button--show {
        // [ layout ]
        display: flex;
      }
    }

    // [ customization ]
    @content;
  }
}
