@mixin dynamic-input-block ( $block ) {
  // `> .#{ $block } > .#{ $block }__input-block`
  > .input-block.#{ $block }__input-block {
    // [ variable ]
    $large: 750px;
    $small: 500px;

    // [ layout ]
    display: flex;
    align-content: flex-start;

    // [ position ]
    width: 100%;
    min-height: font__px-to-rem( 80 );

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      min-height: font__px-to-rem( 80 );
    }

    // `> .#{ $block } > .#{ $block }__input-block` > .block
    > .input-block__block.block {
      // [ position ]
      width: 100%;

      // [ skin ]
      border: {
        bottom: solid font__px-to-rem( 2 ) #adacad;
        radius: font__px-to-rem( 3 );
      }

      // `> .#{ $block } > .#{ $block }__input-block` > .block > .block__content
      > .block__content {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:'word remove modify';
          columns: auto font__px-to-rem( 25 ) font__px-to-rem( 25 );
        }
        align-content: center;

        // [ position ]
        width: 100%;
        height: 100%;
        padding: {
          bottom: font__px-to-rem( 10 );
          top: font__px-to-rem( 10 );
        }

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          grid-template: {
            areas:'. word remove modify';
            columns:font__px-to-rem( 50 ) auto font__px-to-rem( 30 ) font__px-to-rem( 30 );
          }
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          grid-template: {
            areas:'. word remove modify';
            columns:font__px-to-rem( 100 ) auto font__px-to-rem( 35 ) font__px-to-rem( 35 );
          }
          padding: 0;
        }
        @if $block == 'education' or $block == 'experience' or $block == 'project' {
          .content__#{ $block } {
            // [ layout ]
            grid-area: word;
            display: block;

            // [ position ]
            width: 100%;

            > .#{ $block }__time {
              // [ layout ]
              display: block;
              text-align: center;
              margin-top: font__px-to-rem( 10 );
              line-height: font__px-to-rem( 26 );

              // [ skin ]
              width: auto;
              height: auto;

              // [ RWD: $large ]
              @media screen and ( min-width: $large ) {
                // [ layout ]
                display: inline-block;
              }

              > .time__year {
                // [ layout ]
                display: inline-block;
                line-height: font__px-to-rem( 14 );
                vertical-align: top;

                // [ skin ]
                width: auto;
                height: font__px-to-rem( 26 );
                border: font__px-to-rem( 1 ) solid #757575;
                border-radius: font__px-to-rem( 16 );
                padding: {
                  top: font__px-to-rem( 5 );
                  bottom: font__px-to-rem( 5 );
                  left: font__px-to-rem( 10 );
                  right: font__px-to-rem( 10 );
                }
                color: #000000;
                font-size: font__px-to-rem( 14 );

                // [ RWD: $small ]
                @media screen and ( min-width: $large ) {
                  // [ layout ]
                  display: inline-block;
                  line-height: font__px-to-rem( 16 );

                  // [ skin ]
                  height: font__px-to-rem( 30 );
                  border-radius: font__px-to-rem( 26 );
                  padding: {
                    top: font__px-to-rem( 7 );
                    bottom: font__px-to-rem( 7 );
                    left: font__px-to-rem( 26 );
                    right: font__px-to-rem( 26 );
                  }
                  font-size: font__px-to-rem( 16 );
                }
              }

              > .time__till {
                // [ layout ]
                display: inline-block;
                margin: {
                  top: font__px-to-rem( 12 );
                  bottom: font__px-to-rem( 12 );
                  left: font__px-to-rem( 7 );
                  right: font__px-to-rem( 7 );
                }
                vertical-align: top;

                // [ skin ]
                width: font__px-to-rem( 20 );
                height: font__px-to-rem( 2 );
                color: #757575;
                background-color: #757575;
              }
            }

            > .#{ $block }__list.list {
              // [ layout ]
              display: block;
              margin-top: font__px-to-rem( 10 );
              text-align: center;
              line-height: font__px-to-rem( 24 );

              // [ RWD: $small ]
              @media screen and ( min-width: $large ) {
                // [ layout ]
                display: inline-block;
                margin-left: font__px-to-rem( 10 );
                padding-bottom: font__px-to-rem( 10 );
              }

              // element
              // `.body > .content > .? > .context > .list > .list__image`
              > .list__flag {
                // [ layout ]
                display: inline-block;
                vertical-align: middle;

                // [ skin ]
                width: font__px-to-rem( 24 );
                height: font__px-to-rem( 24 );
                border-radius: 50%;

                // [ RWD: $small ]
                @media screen and ( min-width: $large ) {
                  // [ skin ]
                  width: font__px-to-rem( 32 );
                  height: font__px-to-rem( 32 );
                }
              }

              // element
              // `.body > .content > .? > .context > .list > .list__item`
              > .list__item {
                // [ layout ]
                display: inline-block;
                margin: {
                  top: font__px-to-rem( 2 );
                  bottom: font__px-to-rem( 2 );
                  left: font__px-to-rem( 4 );
                }
                vertical-align: middle;
                line-height: font__px-to-rem( 14 );

                // [ skin ]
                width: auto;
                height: font__px-to-rem( 24 );
                border-radius: font__px-to-rem( 10 );
                padding: {
                  top: font__px-to-rem( 5 );
                  bottom: font__px-to-rem( 5 );
                  left: font__px-to-rem( 10 );
                  right: font__px-to-rem( 10 );
                }
                color: #adacad;
                background-color: #ededed;
                font-size: font__px-to-rem( 14 );

                // [ RWD: $small ]
                @media screen and ( min-width: $large ) {
                  // [ layout ]
                  margin-left: font__px-to-rem( 16 );
                  line-height: font__px-to-rem( 16 );

                  // [ skin ]
                  height: font__px-to-rem( 30 );
                  border-radius: font__px-to-rem( 26 );
                  padding: {
                    top: font__px-to-rem( 7 );
                    bottom: font__px-to-rem( 7 );
                    left: font__px-to-rem( 26 );
                    right: font__px-to-rem( 26 );
                  }
                  font-size: font__px-to-rem( 16 );
                }

                // modifier
                // `.body > .content > .? > .context > .list > .list__item.list__item--blue`
                &.list__item--blue {
                  // [ skin ]
                  color: #8caae2;
                  background-color: #eaeff7;
                }
              }
            }
          }
        }
        @if $block == 'studentAward' {
          > .content__#{ $block } {
            // [ layout ]
            grid-area: word;

            // [ position ]
            display: block;
            width: 100%;

            // [ skin ]
            color: rgba( 81, 81, 81, .87 );
            overflow: visible;

            > .word__text {
              // [ layout ]
              display: flex;

              // [ position ]
              width: 100%;
              height: auto;
              padding-right: font__px-to-rem( 10 );
              align-self: center;
              margin: {
                top: font__px-to-rem( 5 );
                bottom: font__px-to-rem( 5 );
              }

              // [ skin ]
              font: {
                size: font__px-to-rem( 16 );
                style: normal;
                stretch: normal;
              }
              text-align: left;
              line-height: font__px-to-rem( 18 );
              letter-spacing: normal;
              word-wrap: break-word;

              // [ skin ]
              color: rgba( 81, 81, 81, .87 );

              // [ RWD: $small ]
              @media screen and ( min-width: $small ) {
                // [ skin ]
                font-size: font__px-to-rem( 17 );
                line-height: font__px-to-rem( 19 );
              }

              // [ RWD: $large ]
              @media screen and ( min-width: $large ) {
                // [ skin ]
                font-size: font__px-to-rem( 18 );
                line-height: font__px-to-rem( 20 );
              }
            }

            > .word__student {
              // [ layout ]
              display: flex;
              align-content: center;

              // [ position ]
              width: 100%;

              > .student__button--remove {
                // [ layout ]
                display: inline-flex;
                align-self: center;

                // [ position ]
                width: font__px-to-rem( 12 );
                height: font__px-to-rem( 12 );
                margin: {
                  right: font__px-to-rem( 3 );
                  left:  font__px-to-rem( 10 );
                }

                &:hover {
                  // [ skin ]
                  cursor: pointer;
                  filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) contrast( 121% );
                }
              }

              > .student__button--modify {
                // [ layout ]
                display: inline-flex;
                align-self: center;

                // [ position ]
                width: font__px-to-rem( 15 );
                height: font__px-to-rem( 15 );
                margin: {
                  right: font__px-to-rem( 10 );
                  left:  font__px-to-rem( 3 );
                }

                &:hover {
                  // [ skin ]
                  cursor: pointer;
                  filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );
                }
              }

              > .student__detail {
                // [ layout ]
                display: inline-block;
                vertical-align: middle;

                > .detail__text {
                  // [ layout ]
                  display: inline-block;
                  vertical-align: middle;

                  // [ position ]
                  margin-right: font__px-to-rem( 8 );

                  // [ skin ]
                  font: {
                    size: font__px-to-rem( 16 );
                    style: normal;
                    stretch: normal;
                  }
                  text-align: left;
                  line-height: font__px-to-rem( 18 );
                  letter-spacing: normal;
                  word-wrap: break-word;

                  // [ RWD: $small ]
                  @media screen and ( min-width: $small ) {
                    // [ skin ]
                    font-size: font__px-to-rem( 17 );
                    line-height: font__px-to-rem( 19 );
                  }

                  // [ RWD: $large ]
                  @media screen and ( min-width: $large ) {
                    // [ skin ]
                    font-size: font__px-to-rem( 18 );
                    line-height: font__px-to-rem( 20 );
                  }
                }

                > .detail__degree {
                  // [ layout ]
                  display: inline-block;
                  margin: {
                    top: font__px-to-rem( 2 );
                    bottom: font__px-to-rem( 2 );
                    left: font__px-to-rem( 4 );
                  }
                  vertical-align: middle;
                  line-height: font__px-to-rem( 14 );

                  // [ skin ]
                  width: auto;
                  height: font__px-to-rem( 24 );
                  border-radius: font__px-to-rem( 10 );
                  padding: {
                    top: font__px-to-rem( 4 );
                    bottom: font__px-to-rem( 4 );
                    left: font__px-to-rem( 8 );
                    right: font__px-to-rem( 8 );
                  }
                  color: #adacad;
                  background-color: #ededed;
                  font-size: font__px-to-rem( 12 );

                  // [ RWD: $small ]
                  @media screen and ( min-width: $large ) {
                    // [ layout ]
                    margin-left: font__px-to-rem( 16 );
                    line-height: font__px-to-rem( 16 );

                    // [ skin ]
                    height: font__px-to-rem( 30 );
                    border-radius: font__px-to-rem( 26 );
                    padding: {
                      top: font__px-to-rem( 7 );
                      bottom: font__px-to-rem( 7 );
                      left: font__px-to-rem( 26 );
                      right: font__px-to-rem( 26 );
                    }
                    font-size: font__px-to-rem( 16 );
                  }
                }
              }
            }

            > .word__add {
              // [ layout ]
              display: flex;

              // [ position ]
              width: 100%;
              height: auto;
              padding-right: font__px-to-rem( 10 );
              align-self: center;
              margin: {
                top: font__px-to-rem( 2 );
                bottom: font__px-to-rem( 2 );
              }

              // [ skin ]
              font: {
                size: font__px-to-rem( 14 );
                style: normal;
                stretch: normal;
              }
              text-align: left;
              line-height: font__px-to-rem( 16 );
              letter-spacing: normal;
              word-wrap: break-word;

              // [ skin ]
              color: rgba( 139, 186, 187, .87 );

              // [ RWD: $small ]
              @media screen and ( min-width: $small ) {
                // [ skin ]
                font-size: font__px-to-rem( 15 );
                line-height: font__px-to-rem( 17 );
              }

              &:hover {
                // [ skin ]
                cursor: pointer;
                color: rgba( 108, 123, 149, .87 );
              }
            }
          }
        }

        // [ template ]
        %content__word {
          // [ layout ]
          display: flex;

          // [ position ]
          width: auto;
          height: auto;
          padding-right: font__px-to-rem( 10 );
          align-self: center;

          // [ skin ]
          font: {
            size: font__px-to-rem( 16 );
            style: normal;
            stretch: normal;
          }
          text-align: left;
          line-height: font__px-to-rem( 18 );
          letter-spacing: normal;
          word-wrap: break-word;

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ skin ]
            font-size: font__px-to-rem( 17 );
            line-height: font__px-to-rem( 19 );
          }

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ skin ]
            font-size: font__px-to-rem( 18 );
            line-height: font__px-to-rem( 20 );
          }
        }

        > .content__word {
          // [ layout ]
          grid-area: word;

          // [ position ]
          display: block;
          width: 100%;

          // [ skin ]
          color: rgba( 81, 81, 81, .87 );
          overflow: visible;

          > .word__text {
            // [ layout ]
            display: flex;

            // [ position ]
            width: 100%;
            height: auto;
            padding-right: font__px-to-rem( 10 );
            align-self: center;
            margin: {
              top: font__px-to-rem( 5 );
              bottom: font__px-to-rem( 5 );
            }

            // [ skin ]
            font: {
              size: font__px-to-rem( 16 );
              style: normal;
              stretch: normal;
            }
            text-align: left;
            line-height: font__px-to-rem( 18 );
            letter-spacing: normal;
            word-wrap: break-word;

            // [ skin ]
            color: rgba( 81, 81, 81, .87 );

            // [ RWD: $small ]
            @media screen and ( min-width: $small ) {
              // [ skin ]
              font-size: font__px-to-rem( 17 );
              line-height: font__px-to-rem( 19 );
            }

            // [ RWD: $large ]
            @media screen and ( min-width: $large ) {
              // [ skin ]
              font-size: font__px-to-rem( 18 );
              line-height: font__px-to-rem( 20 );
            }
          }
        }

        > .content__modify {
          // [ template ]
          @extend %content__word;

          // [ layout ]
          grid-area: modify;

          // [ position ]
          width: font__px-to-rem( 25 );
          height: auto;

          // [ skin ]
          filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );

          &:hover {
            // [ skin ]
            filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 50% ) hue-rotate( 183deg ) contrast( 200% );
            cursor: pointer;
          }

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ position ]
            width: font__px-to-rem( 28 );
          }

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ position ]
            width: font__px-to-rem( 30 );
          }
        }

        > .content__remove {
          // [ template ]
          @extend %content__word;

          // [ layout ]
          grid-area: remove;

          // [ position ]
          width: font__px-to-rem( 25 );
          height: auto;

          // [ skin ]
          filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 89% ) hue-rotate( 183deg ) contrast( 98% );

          &:hover {
            // [ skin ]
            filter: invert( 80% ) sepia( 77% ) saturate( 2862% ) brightness( 50% ) hue-rotate( 183deg ) contrast( 200% );
            cursor: pointer;
          }

          // [ RWD: $large ]
          @media screen and ( min-width: $small ) {
            // [ position ]
            width: font__px-to-rem( 28 );
          }

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ position ]
            width: font__px-to-rem( 30 );
          }
        }
      }
    }
  }

  > .subtitle {
    // [ layout ]
    display: flex;
    align-content: flex-end;

    // [ position ]
    width: 100%;
    margin-top: font__px-to-rem( 25 );

    > .subtitle__word {
      // [ layout ]
      display: flex;

      // [ skin ]
      font: {
        size: font__px-to-rem( 16 );
        style: normal;
        stretch: normal;
        weight: bold;
      }
      text-align: left;
      line-height: font__px-to-rem( 18 );
      letter-spacing: normal;
      word-wrap: break-word;
      color: rgb( 0, 0, 0 );
    }
  }

  // [ customization ]
  @content;
}
