@import 'components/common/icon.scss';
@mixin edit-page () {
  // `> .edit-page > .edit-page__window`
  > .edit-page__window.window {
    // [ variable ]
    $medium: 550px;

    // [ layout ]
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 103vh;
    z-index: 100;

    // [ skin ]
    background-color: rgba( 0, 0, 0, .2 );

    // `> .edit-page > .edit-page__window > .window__from`
    > .window__form.form {
      // [ layout ]
      display: grid;
      grid-template: {
        areas:
          '.'
          'content'
          'button'
          '.';
        rows: 1fr auto font__px-to-rem( 20 ) 1fr;
      }

      // [ position ]
      max-height: 80vh;
      width: 95%;
      margin: {
        right: auto;
        left: auto;
      }

      // [ RWD: $medium ]
      @media screen and ( min-width: $medium ) {
        // [ layout ]
        width: font__px-to-rem( 500 );
      }

      // `> .edit-page > .edit-page__window > .window__from > .from__content` 
      > .form__content {
        // [ layout ]
        grid-area: content;
        position: relative;
        overflow: auto;

        // [ position ]
        width: 100%;
        margin: {
          top: 3vh;
          left: auto;
          right: auto;
        }
        max-height: 100%;

        // [ skin ]
        background-color: white;
        border: 2 solid white;
        border-radius: font__px-to-rem( 10 );
        padding-bottom: font__px-to-rem( 10 );

        > .content__error {
          // [ layout ]
          display: block;

          // [ position ]
          width: 100%;
          height: font__px-to-rem( 25 );

          // [ skin ]
          border-top: 2px solid rgba( 0, 0, 0, .2 );

          > .error__message {
            // [ layout ]
            display: inline-block;

            // [ position ]
            width: 100%;

            // [ skin ]
            font: {
              size: font__px-to-rem( 18 );
              weight: normal;
              style: normal;
              stretch: normal;
            }
            text-align: center;
            line-height: normal;
            letter-spacing: normal;
            color: rgba( 228, 15, 15, .87 );

            &--active {
              display: inline-block;
            }
          }
        }

        > .content__title {
          // [ layout ]
          display: block;
          width: 100%;
          height: font__px-to-rem( 50 );

          // [ skin ]
          background-color: beige;
          border-radius: font__px-to-rem( 10 );

          > .title__word {
            // [ position ]
            padding: {
              top: font__px-to-rem( 15 );
              bottom: font__px-to-rem( 15 );
            }

            // [ skin ]
            font: {
              size: font__px-to-rem( 18 );
              weight: bold;
              style: normal;
              stretch: normal;
            }
            text-align: center;
            line-height: normal;
            letter-spacing: normal;
            color: rgba( 0, 0, 0, .87 );
          }
        }

        > .content__info {
          // [ layout ]
          display: block;
          overflow: scroll;

          // [ position ]
          width: 100%;
          max-height: 85%;
          padding: {
            top: font__px-to-rem( 10 );
            bottom: font__px-to-rem( 20 );
          }

          > .info__input {
            // [ layout ]
            display: block;

            // [ position ]
            width: 100%;

            > .input__checkbox {
              // [ layout ]
              display: flex;
              align-content: center;
              justify-content: center;

              // [ position ]
              width: 100%;
              height: auto;

              > .checkbox__choose {
                // [ layout ]
                display: none;
              }

              > .checkbox__text {
                // [ lauout ]
                display: flex;

                // [ position ]
                width: auto;
                height: auto;
                margin: {
                  top: font__px-to-rem( 10 );
                  bottom: font__px-to-rem( 10 );
                }

                // [ skin ]
                font: {
                  size: font__px-to-rem( 18 );
                  weight: bold;
                  style: normal;
                  stretch: normal;
                }
                text-align: center;
                line-height: normal;
                letter-spacing: normal;
                color: rgba( 0, 0, 0, .87 );

                // [ ::before ]
                &::before {
                  content: '';

                  // [ layout ]
                  display: inline-flex;
                  align-self: center;

                  // [ position ]
                  height: font__px-to-rem( 15 );
                  width: font__px-to-rem( 15 );
                  margin-right: font__px-to-rem( 10 );

                  // [ skin ]
                  border: 1px solid rgba( 0, 0, 0, 1 );
                }
              }
            }

            .checkbox__text--active {
              &::before {
                // [ skin ]
                @include icon__check-mark();
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
            }

            > .input__time-detail.time-detail {
              // [ position ]
              width: 100%;
              height: auto;

              // element
              // `> .#{ $block } > .filter > .time > .#{ $element } > .#{ $element }__input`
              // block
              // `> .#{ $block } > .filter > .time > .#{ $element } > .input`
              .time-detail__input.input {
                // [ layout ]
                display: block;
                margin: {
                  top: font__px-to-rem( 10 );
                  bottom: font__px-to-rem( 6 );
                  left: auto;
                  right: auto;
                }

                // [ skin ]
                width: font__px-to-rem( 134 );
                height: font__px-to-rem( 32 );
                border: font__px-to-rem( 1 ) solid #757575;
                border-radius: font__px-to-rem( 32 );
                padding: {
                  left: font__px-to-rem( 8 );
                  right: font__px-to-rem( 4 );
                }

                // template
                // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__?`
                %input__element {
                  // [ layout ]
                  display: inline-block;
                  vertical-align: top;
                  line-height: font__px-to-rem( 14 );

                  // [ skin ]
                  height: font__px-to-rem( 30 );
                  padding: {
                    top: font__px-to-rem( 8 );
                    bottom: font__px-to-rem( 8 );
                  }
                  background-color: transparent;
                  font-size: font__px-to-rem( 14 );
                }

                // element
                // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__year`
                > .input__year {
                  // [ template ]
                  @extend %input__element;

                  // [ skin ]
                  width: font__px-to-rem( 48 );
                }

                // element
                // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__month`
                > .input__month {
                  // [ template ]
                  @extend %input__element;

                  // [ skin ]
                  width: font__px-to-rem( 36 );
                }

                // element
                // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__date`
                > .input__date {
                  // [ template ]
                  @extend %input__element;

                  // [ skin ]
                  width: font__px-to-rem( 36 );
                }
              }
            }

            .input__dropdown.dropdown {
              // [ layout ]
              display: block;

              .dropdown__top {
                // [ layout ]
                display: block;
                position: relative;

                // [ position ]
                min-width: font__px-to-rem( 120 );
                max-width: 50%;
                height: font__px-to-rem( 40 );
                margin: {
                  top: font__px-to-rem( 10 );
                  left: auto;
                  right: auto;
                  bottom: font__px-to-rem( 10 );
                }
                padding: {
                  top: font__px-to-rem( 7 );
                  bottom: font__px-to-rem( 7 );
                }

                // [ skin ]
                border: 1px solid #f0f696;
                border-radius: font__px-to-rem( 5 );
                font: {
                  size: font__px-to-rem( 18 );
                  weight: bold;
                  style: normal;
                  stretch: normal;
                }
                text-align: center;
                line-height: normal;
                letter-spacing: normal;
                color: black;
                background-color: #f0f696;
                box-shadow: 0 2px 24px 0 rgba( 0, 0, 0, .14 ), 0 8px 10px 0 rgba( 0, 0, 0, .2 );
              }

              .dropdown__top:hover {
                // [ skin ]
                background-color: #f7b71d;
                border: 1px solid #f7b71d;
                color: white;
                cursor: pointer;
              }

              .dropdown__button {
                // [ layout ]
                display: none;
                position: relative;

                // [ position ]
                width: font__px-to-rem( 150 );
                height: auto;
                margin: {
                  left: auto;
                  right: auto;
                }

                // [ skin ]
                .button__content.content {
                  // [ layout ]
                  display: block;
                  position: absolute;
                  z-index: 101;

                  // [ skin ]
                  border: 1px solid gray;
                  border-radius: font__px-to-rem( 7 );
                  background-color: #ffffff;
                  margin-bottom: font__px-to-rem( 10 );

                  .content__item {
                    // [ layout ]
                    display: block;

                    // position: relative;
                    width: font__px-to-rem( 150 );

                    // [ skin ]
                    border: none;
                    border-bottom: {
                      left-radius: font__px-to-rem( 3 );
                      right-radius: font__px-to-rem( 3 );
                    };
                    font: {
                      size: font__px-to-rem( 18 );
                      weight: bold;
                      style: normal;
                      stretch: normal;
                    }
                    text-align: center;
                    line-height: normal;
                    letter-spacing: normal;
                    color: rgba( 0, 0, 0, .87 );
                  }

                  .content__item:hover {
                    background-color: rgba( 207, 207, 170, .3 );
                    cursor: pointer;
                  }
                }
              }

              .dropdown__button--active {
                display: block;
              }
            }

            .input__local-topic.local-topic {
              // [ layout ]
              display: flex;
              align-content: center;
              justify-content: center;

              // [ position ]
              width: 100%;
              margin: {
                top: font__px-to-rem( 15 );
                bottom: font__px-to-rem( 10 );
              }

              // [ skin ]
              background-color: white;

              > .local-topic__text {
                // [ layout ]
                display: block;

                // [ position ]
                width: 70%;

                // [ skin ]
                font: {
                  size: font__px-to-rem( 18 );
                  weight: bold;
                  style: normal;
                  stretch: normal;
                }
                text-align: center;
                line-height: normal;
                letter-spacing: normal;
                color: rgba( 0, 0, 0, .87 );
                border-bottom: 1px solid gray;
              }
            }

            .input__time.time {
              $small: 220px;
              $large: 1100px;

              // [ position ]
              grid-template-columns: repeat( auto-fill, font__px-to-rem( 170 ) );

              // [ layout ]
              display: grid;
              justify-content: center;
              margin: {
                bottom: font__px-to-rem( 10 );
                top: font__px-to-rem( 10 );
              }

              // [ skin ]
              width: 100%;
              height: auto;
              font-size: font__px-to-rem( 14 );

              // [ RWD: $small ]
              @media screen and ( min-width: $small ) {
                // [ layout ]
                grid-template-columns: repeat( 2, font__px-to-rem( 90 ) );
              }

              // [ RWD: $large ]
              @media screen and ( min-width: $large ) {
                // [ layout ]
                align-items: end;
                margin-bottom: 0;
              }

              // element
              // `> .#{ $block } > .filter > .time > .time__#{ $element }`
              // block
              // `> .#{ $block } > .filter > .time > .#{ $element }`
              > .time__from.from {
                // [ skin ]
                width: 100%;
                height: 100%;

                // element
                // `> .#{ $block } > .filter > .time > .#{ $element } > .#{ $element }__text`
                .from__text {
                  // [ layout ]
                  display: inline-block;
                  margin-left: font__px-to-rem( 16 );

                  // [ skin ]
                  width: auto;
                  height: font__px-to-rem( 18 );

                  font: {
                    size: font__px-to-rem( 18 );
                    weight: bold;
                    style: normal;
                    stretch: normal;
                  }
                  text-align: center;
                  line-height: normal;
                  letter-spacing: normal;
                  color: rgba( 0, 0, 0, .87 );
                }

                // element
                // `> .#{ $block } > .filter > .time > .#{ $element } > .#{ $element }__input`
                // block
                // `> .#{ $block } > .filter > .time > .#{ $element } > .input`
                .from__input.input {
                  // [ layout ]
                  display: block;
                  margin: {
                    top: font__px-to-rem( 10 );
                    bottom: font__px-to-rem( 6 );
                    left: font__px-to-rem( 6 );
                    right: font__px-to-rem( 20 );
                  }

                  // [ skin ]
                  width: font__px-to-rem( 80 );
                  height: font__px-to-rem( 32 );
                  border: font__px-to-rem( 1 ) solid #757575;
                  border-radius: font__px-to-rem( 32 );
                  padding: {
                    left: font__px-to-rem( 8 );
                    right: font__px-to-rem( 4 );
                  }
                  text-align: center;

                  // template
                  // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__?`
                  %input__element {
                    // [ layout ]
                    display: inline-block;
                    vertical-align: top;
                    line-height: font__px-to-rem( 14 );

                    // [ skin ]
                    height: font__px-to-rem( 30 );
                    padding: {
                      top: font__px-to-rem( 8 );
                      bottom: font__px-to-rem( 8 );
                    }
                    background-color: transparent;
                    font-size: font__px-to-rem( 14 );
                  }

                  // element
                  // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__year`
                  > .input__year {
                    // [ template ]
                    @extend %input__element;

                    // [ skin ]
                    width: font__px-to-rem( 48 );

                    &:focus {
                      // [ skin ]
                      border: 2px solid rgba( 33, 101, 131, .5 );
                    }
                  }
                }
              }

              // element
              // `> .#{ $block } > .filter > .time > .time__to`
              // block
              // `> .#{ $block } > .filter > .time > .to`
              > .time__to.to {
                // [ skin ]
                width: 100%;
                height: auto;

                // element
                // `> .#{ $block } > .filter > .time > .#{ $element } > .#{ $element }__text`
                .to__text {
                  // [ layout ]
                  display: inline-block;
                  margin-left: font__px-to-rem( 25 );

                  // [ skin ]
                  width: auto;
                  height: font__px-to-rem( 18 );

                  font: {
                    size: font__px-to-rem( 18 );
                    weight: bold;
                    style: normal;
                    stretch: normal;
                  }
                  text-align: center;
                  line-height: normal;
                  letter-spacing: normal;
                  color: rgba( 0, 0, 0, .87 );
                }

                // element
                // `> .#{ $block } > .filter > .time > .#{ $element } > .#{ $element }__input`
                // block
                // `> .#{ $block } > .filter > .time > .#{ $element } > .input`
                .to__input.input {
                  // [ layout ]
                  display: block;
                  margin: {
                    top: font__px-to-rem( 10 );
                    bottom: font__px-to-rem( 13 );
                    left: font__px-to-rem( 6 );
                    right: font__px-to-rem( 20 );
                  }

                  // [ skin ]
                  width: font__px-to-rem( 80 );
                  height: font__px-to-rem( 32 );
                  border: font__px-to-rem( 1 ) solid #757575;
                  border-radius: font__px-to-rem( 32 );
                  padding: {
                    left: font__px-to-rem( 8 );
                    right: font__px-to-rem( 4 );
                  }
                  text-align: center;

                  // template
                  // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__?`
                  %input__element {
                    // [ layout ]
                    display: inline-block;
                    vertical-align: top;
                    line-height: font__px-to-rem( 14 );

                    // [ skin ]
                    height: font__px-to-rem( 30 );
                    padding: {
                      top: font__px-to-rem( 8 );
                      bottom: font__px-to-rem( 8 );
                    }
                    background-color: transparent;
                    font-size: font__px-to-rem( 14 );
                  }

                  // element
                  // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__year`
                  > .input__year {
                    // [ template ]
                    @extend %input__element;

                    // [ skin ]
                    width: font__px-to-rem( 48 );

                    &:focus {
                      // [ skin ]
                      border: 2px solid rgba( 33, 101, 131, .5 );
                    }
                  }
                }
              }
            }

            > .input__text {
              // [ layout ]
              display: grid;
              grid-template: {
                areas: 'flag . content .';
                columns: font__px-to-rem( 30 ) font__px-to-rem( 2 ) 1fr font__px-to-rem( 30 );
              }
              margin: {
                left: auto;
                right: auto;
              }
              align-content: center;

              padding: {
                top: font__px-to-rem( 10 );
                bottom: font__px-to-rem( 10 );
              }

              // [ skin ]
              background-color: white;

              // [ position ]
              width: 95%;

              // [ RWD: $medium ]
              @media screen and ( min-width: $medium ) {
                // [ layout ]
                width: 85%;
              }

              > .input__flag {
                // [ layout ]
                grid-area: flag;
                display: inline-flex;
                justify-self: center;
                align-self: center;

                // [ position ]
                width: 100%;
                height: auto;
              }

              > .input__content {
                // [ layout ]
                display: inline-flex;
                grid-area: content;
                align-self: center;
                justify-self: center;

                // [ position ]
                width: 95%;
                height: font__px-to-rem( 40 );

                // [ skin ]
                border-radius: 15px;
                border: solid 1px #adacad;
                font: {
                  size: font__px-to-rem( 17 );
                  weight: normal;
                  style: normal;
                  stretch: normal;
                }
                text-align: center;
                line-height: normal;
                letter-spacing: normal;
                color: rgba( 0, 0, 0, .87 );

                &:focus {
                  // [ skin ]
                  border: 3px solid rgba( 33, 101, 131, .5 );
                }
              }
            }
          }
        }
      }

      > .form__button.button {
        // [ layout ]
        grid-area: button;
        display: flex;
        justify-content: flex-end;
        margin: {
          top: font__px-to-rem( 20 );
          bottom: font__px-to-rem( 20 );
        }
        height: font__px-to-rem( 50 );

        // [ templete ]
        %button__item {
          // [ layout ]
          display: inline-block;

          // [ position ]
          width: font__px-to-rem( 70 );
          height: font__px-to-rem( 30 );

          // [ skin ]
          font: {
            size: font__px-to-rem( 18 );
            weight: bold;
            style: normal;
            stretch: normal;
          }
          text-align: center;
          line-height: normal;
          letter-spacing: normal;
          color: rgba( 0, 0, 0, .87 );
          background-color: white;
          border-radius: font__px-to-rem( 10 );

          &:hover {
            // [ skin ]
            cursor: pointer;
            background-color: #63707e;
            color: rgba( 255, 255, 255, .87 );
          }
        }

        > .button__item--cancel {
          // [ templete ]
          @extend %button__item;

          // [ layout ]
          margin-right: font__px-to-rem( 10 );
        }

        > .button__item--check {
          // [ templete ]
          @extend %button__item;
        }
      }
    }
  }

  // [ customization ]
  @content;
}
