@import 'components/user/input-title';

// component
// `> .#{ $block } > .#{ $block }__filter.filter`
@mixin filter ( $block ) {
  // [ variable ]
  $large: 1200;

  // element
  // `> .#{ $block } > .#{ $block }__filter`
  // block
  // `> .#{ $block } > .filter`
  > .#{ $block }__filter.filter {
    //  [ position ]
    margin: {
      left: auto;
      right: auto;
    }

    // [ RWD: large ]
    @media screen and ( min-width: 1300 ) {
      margin-left: 0;
    }

    // template
    // `> .#{ $block } > .filter > .? > .?__tag`
    %block__tag {
      // [ variable ]
      $large: 600px;

      // [ layout ]
      display: inline-block;
      margin: font__px-to-rem( 4 );
      text-align: center;
      white-space: normal;
      word: {
        wrap: normal;
        break: normal;
      }

      // [ skin ]
      min-height: font__px-to-rem( 32 );
      border: {
        style: solid;
        width: font__px-to-rem( 1 );
        radius: font__px-to-rem( 22 );
      }
      padding: {
        left: font__px-to-rem( 16 );
        right: font__px-to-rem( 16 );
      }
      background-color: #eff3f9;
      font-size: font__px-to-rem( 14 );

      // [ interaction ]
      &:hover {
        // [ skin ]
        color: #ffffff;
        cursor: pointer;
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        min-height: font__px-to-rem( 44 );
        font-size: font__px-to-rem( 18 );
      }
    }

    // [ layout ]
    margin-bottom: font__px-to-rem( 32 );
    padding-left: font__px-to-rem( 23 );

    // element
    // `> .#{ $block } > .filter > .filter__department`
    // block
    // `> .#{ $block } > .filter > .department`
    > .filter__department.department {
      // [ layout ]
      text-align: left;
      margin-bottom: font__px-to-rem( 15 );
      padding-left: font__px-to-rem( 23 );

      // element
      // `> .#{ $block } > .filter > .department > .department__title`
      @include input-title( department );

      // element
      // `> .#{ $block } > .filter > .department > .department__tag`
      > .department__tag {
        // [ template ]
        @extend %block__tag;

        // [ variable ]
        $small: 450px;
        $large: 1100px;

        // [ skin ]
        min-width: 90%;
        border-color: #f67057;
        color: #f67057;
        background-color: #ffffff;

        // [ interaction ]
        &:hover {
          // [ skin ]
          background-color: lighten( #f67057, 10% );
        }

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          min-width: 90 / 2 * 1%;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          min-width: 90 / 4 * 1%;
        }

        // modifier
        // `> .#{ $block } > .filter > .department > .department__tag.department__tag--active`
        &.department__tag--active {
          // [ skin ]
          color: #ffffff;
          background-color: #f67057;
        }
      }
    }

    // element
    // `> .#{ $block } > .filter > .filter__research-group`
    // block
    // `> .#{ $block } > .filter > .research-group`
    > .filter__research-group.research-group {
      // [ layout ]
      text-align: left;
      margin-bottom: font__px-to-rem( 2 );

      // element
      // `> .#{ $block } > .filter > .research > .research__title`
      @include input-title( research-group );

      // element
      // `> .#{ $block } > .filter > .research-group > .research-group__tag`
      > .research-group__tag {
        // [ template ]
        @extend %block__tag;

        // [ variable ]
        $small: 500px;
        $large: 1270px;

        // [ skin ]
        width: 90%;
        border-color: #8caae2;
        color: #8caae2;
        background-color: #ffffff;

        // [ interaction ]
        &:hover {
          // [ skin ]
          background-color: lighten( #8caae2, 10% );
        }

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          width: auto;
          min-width: 95 / 2 * 1%;
        }

        // modifier
        // `> .#{ $block } > .filter > .research-group > .research-group__tag.research-group__tag--active`
        &.research-group__tag--active {
          // [ skin ]
          color: #ffffff;
          background-color: #8caae2;
        }
      }
    }
  }

  // [ customization ]
  @content;
}
