@mixin input-title ( $belongblock ) {
  // `> .#{ $block } > .filter > .department > .department__title`
  > .#{ $belongblock }__title {
    // [ layout ]
    grid-area: title;
    display: block;

    // `> .#{ $block } > .block > .block__require`
    > .title__required {
      // [ layout ]
      display: inline-block;

      // [ position ]
      margin-left: font__px-to-rem( 12 );

      // [ skin ]
      font-size: 3px;
      color: red;
    }

    // `> .#{ $block } > .block > .block__title`
    > .title__content {
      // [ layout ]
      display: inline-block;

      // [ position ]
      margin: {
        left: font__px-to-rem( 4.6 );
        bottom: font__px-to-rem( 7 );
      }

      // [ skin ]
      font: {
        size: font__px-to-rem( 16 );
        weight: normal;
        style: normal;
        stretch: normal;
      }
      line-height: 1.5;
      letter-spacing: normal;
      color: #757575;
    }
  }
}
