@mixin input-block ( $block, $modifier ) {
  // `> .#{ $block } > .#{ $block }__input-block`
  > .input-block.#{ $block }__input-block--#{ $modifier } {
    // [ layout ]
    display: grid;
    grid-template: {
      areas: 'content add';
      columns: 1fr font__px-to-rem( 50 );
    }

    // [ position ]
    width: 100%;
    height: font__px-to-rem( 80 );

    // `> .#{ $block } > .#{ $block }__input-block` > .block
    > .input-block__block.block {
      // [ layout ]
      display: grid;
      grid: {
        area: content;
        template: {
          areas: 'title content';
          columns: 1fr 4fr;
        }
      }
      width: 100%;

      // [ skin ]
      border-bottom: solid font__px-to-rem( 2 ) #adacad;
      border-radius: font__px-to-rem( 3 );

      // `> .#{ $block } > .#{ $block }__input-block` > .block > .block__title
      > .block__title {
        // [ layout ]
        display: inline-flex;
        grid-area: title;
        align-self: center;
        margin-left: font__px-to-rem( 15 );

        // [ skin ]
        font: {
          size: font__px-to-rem( 18 );
          weight: bold;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: normal;
        letter-spacing: normal;
        color: rgba( 0, 0, 0, .87 );
      }

      // `> .#{ $block } > .#{ $block }__input-block` > .block > .block__content
      > .block__content {
        // [ layout ]
        grid-area: content;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;

        // [ template ]
        %content__word {
          // [ layout ]
          display: inline-flex;
          width: auto;
          margin-right: font__px-to-rem( 10 );
          align-self: center;

          // [ skin ]
          font: {
            size: font__px-to-rem( 18 );
            style: normal;
            stretch: normal;
          }
          text-align: center;
          line-height: normal;
          letter-spacing: normal;
        }

        %content__tag {
          // [ layout ]
          display: inline-flex;
          align-self: center;
          margin: font__px-to-rem( 4 );
          text-align: center;
          white-space: normal;
          word: {
            wrap: normal;
            break: normal;
          }

          // [ skin ]
          height: font__px-to-rem( 30 );
          border: {
            style: solid;
            width: font__px-to-rem( 1 );
            radius: font__px-to-rem( 22 );
          }
          padding: {
            left: font__px-to-rem( 16 );
            right: font__px-to-rem( 16 );
          }
          font-size: font__px-to-rem( 14 );
        }

        > .content__word {
          // [ template ]
          @extend %content__word;

          // [ skin ]
          color: rgba( 81, 81, 81, .87 );
        }

        > .content__edit {
          // [ template ]
          @extend %content__word;

          // [ skin ]
          font: {
            size: font__px-to-rem( 15 );
            weight: bold;
          }
          color: rgba( 28, 81, 134, .87 );
          background-color: white;
        }

        > .content__remove {
          // [ template ]
          @extend %content__word;

          // [ skin ]
          font: {
            size: font__px-to-rem( 15 );
            weight: bold;
          }
          color: rgba( 28, 81, 134, .87 );
          background-color: white;
        }

        > .content__tag--department {
          // [ template ]
          @extend %content__tag;
          display: inline-block;
          border-color: #f67057;
          color: #f67057;
          background-color: #ffffff;
          width: font__px-to-rem( 150 );
          text-align: center;

          // [ interaction ]
          &:hover {
            // [ skin ]
            background-color: lighten( #f67057, 10% );
            color: white;
            cursor: pointer;
          }
        }

        > .content__tag--research {
          // [ template ]
          @extend %content__tag;
          display: inline-block;
          border-color: #8caae2;
          color: #8caae2;
          background-color: #ffffff;
          width: font__px-to-rem( 200 );

          // [ interaction ]
          &:hover {
            // [ skin ]
            background-color: lighten( #8caae2, 10% );
            color: white;
            cursor: pointer;
          }
        }
      }
    }

    // `> .#{ $block } > .#{ $block }__block` > .add
    > .input-block__add.add {
      // [ layout ]
      display: flex;
      grid-area: add;

      > .add__button {
        // [ layout ]
        display: inline-block;
        width: auto;
        margin-left: font__px-to-rem( 15 );

        // [ skin ]
        font: {
          size: font__px-to-rem( 15 );
          weight: bold;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: normal;
        letter-spacing: normal;
        color: rgba( 28, 81, 134, .87 );
        background-color: white;
      }
    }
  }

  // [ customization ]
  @content;
}
