@mixin input-block ( $height ) {
  // `> .#{ $block } > .block > .block__input`
  > .input__input-block.input-block {
    // [ layout ]
    display: inline-flex;
    grid-area: input;

    // [ position ]
    width: 100%;
    margin: {
      bottom: font__px-to-rem( 25 );
      right: auto;
      left: auto;
    }
    height: font__px-to-rem( $height );
    justify-self: center;
    align-self: center;

    // [ skin ]
    border-radius: font__px-to-rem( 33 );
    border: solid 1px #adacad;
    background-color: #ffffff;
    font: {
      size: font__px-to-rem( 16 );
      weight: normal;
      style: normal;
      stretch: normal;
    }
    line-height: 1.5;
    letter-spacing: normal;

    // `> .#{ $block } > .block > .block__input > .block__input--content`
    > .input-block__text {
      // [ layout ]
      align-self: center;

      // [ position ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      width: 90%;
    }

    // [ customization ]
    @content;
  }
}
