@mixin input_button ( $block, $type ) {
  > .input-button.#{ $block }__input-button--#{ $type } {
    // [ layout ]
    display: inline-flex;
    align-content: center;
    justify-content: center;

    > .input-button__image {
      // [ layout ]
      display: inline-block;
      align-self: center;
      justify-self: center;

      // [ position ]
      height: font__px-to-rem( 20 );
      width: auto;
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      line-height: normal;
    }

    &--hide {
      // [ layout ]
      display: none;
    }

    // [ customization ]
    @content;
  }
}
