// component
// `> .#{ $block } > .#{ $block }__topic`
@mixin local-topic ( $block ) {
  // [ variable ]
  $small: 600px;

  // `> .#{ block }` > .topic
  > .#{ $block }__local-topic.local-topic {
    // [ layout ]
    display: grid;
    grid-template: {
      areas: ' topic add ';
      columns: 4fr 1fr;
    }

    // [ position ]
    margin: {
      top: font__px-to-rem( 30 );
      bottom: font__px-to-rem( 0 );
    }

    // [ skin ]
    height: font__px-to-rem( 50 );
    width: 100%;

    > .local-topic__word {
      // [ layout ]
      grid-area: topic;
      display: inline-flex;
      align-self: center;

      // [ position ]
      width: 100%;
      padding-bottom: 10px;

      // [ skin ]
      font: {
        size: font__px-to-rem( 18 );
        weight: bold;
        style: normal;
        stretch: normal;
      }
      text-align: center;
      line-height: normal;
      letter-spacing: normal;
      color: rgba( 0, 0, 0, .87 );

      // [ RWD: small ]
      @media screen and ( min-width: $small ) {
        text-align: left;
      }
    }

    > .local-topic__add {
      // [ layout ]
      grid-area: add;
      display: inline-flex;
      height: font__px-to-rem( 25 );
      align-self: center;
      justify-content: flex-end;

      // [ position ]
      width: 100%;

      > .add__button {
        // [ layout ]
        display: inline-block;

        // [ position ]
        width: font__px-to-rem( 70 );
        height: font__px-to-rem( 25 );

        // [ skin ]
        border-radius: font__px-to-rem( 10 );
        background-color: #93b5b3;
        font: {
          size: font__px-to-rem( 16 );
          weight: bold;
          style: normal;
          stretch: normal;
        }
        text-align: center;
        line-height: normal;
        letter-spacing: normal;
        color: rgba( 255, 255, 255, .87 );

        &:hover {
          // [ skin ]
          background-color: #f2f6f5;
          border: 1px solid  #93b5b3;
          color: #63707e;
          cursor: pointer;
        }
      }
    }

    // [ customization ]
    @content;
  }
}
