// component
// `> .#{ $block } > .#{ $block }__topic`
@mixin local-topic ( $block ) {
  // [ variable ]
  $small: 600px;

  // `> .#{ block }` > .topic
  > .#{ $block }__local-topic.local-topic {
    // [ layout ]
    display: flex;

    // [ skin ]
    height: font__px-to-rem( 107 );
    width: 100%;

    > .local-topic__word {
      // [ layout ]
      align-self: center;

      // [ position ]
      width: 100%;
      padding-bottom: 10px;

      // [ skin ]
      font: {
        size: font__px-to-rem( 18 );
        weight: bold;
        style: normal;
        stretch: normal;
      }
      text-align: center;
      line-height: normal;
      letter-spacing: normal;
      color: rgba( 0, 0, 0, .87 );

      // [ RWD: small ]
      @media screen and ( min-width: $small ) {
        text-align: left;
      }
    }

    // [ customization ]
    @content;
  }
}
