@import 'components/common/font';
@import 'components/common/no-result';
@import 'components/common/loading';
@import 'components/announcement/tags';

// component
// `.#{ $block } > .#{ $block }__hot-announcement.hot-announcement`
@mixin hot-announcement ( $block ) {
  // element
  // `.#{ $block } > .#{ $block }__hot-announcement`
  // block
  // `.#{ $block } > .hot-announcement`
  > .#{ $block }__hot-announcement.hot-announcement {
    // [ variable ]
    $large: 520px;

    // [ skin ]
    border-radius: font__px-to-rem( 6 );
    padding: {
      top: font__px-to-rem( 64 );
      bottom: font__px-to-rem( 64 );
    }
    background-color: #ffffff;
    box-shadow: 0 font__px-to-rem( 2 ) font__px-to-rem( 24 ) #bfbfbf, 0 font__px-to-rem( 8 ) font__px-to-rem( 10 ) #cccccc;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ skin ]
      padding: {
        top: font__px-to-rem( 54 );
        bottom: font__px-to-rem( 54 );
      }
    }

    // element
    // `> .#{ $block } > .hot-announcement > .hot-announcement__title`
    > .hot-announcement__title {
      // [ layout ]
      display: block;
      text-align: center;

      // [ skin ]
      font: {
        size: font__px-to-rem( 22 );
        style: normal;
        weight: normal;
      }
    }

    // element
    // `> .#{ $block } > .hot-announcement > .hot-announcement__no-result`
    // block
    // `> .#{ $block } > .hot-announcement > .no-result`
    @include no-result( 'hot-announcement' ) {
      // [ layout ]
      margin-top: font__px-to-rem( 64 );
    }

    // element
    // `> .#{ $block } > .hot-announcement > .hot-announcement__loading`
    // block
    // `> .#{ $block } > .hot-announcement > .loading`
    @include loading( 'hot-announcement' ) {
      // [ layout ]
      margin-top: font__px-to-rem( 64 );
    }

    // element
    // `> .#{ $block } > .hot-announcement > .announcement__briefings`
    // block
    // `> .#{ $block } > .hot-announcement > .briefings`
    > .hot-announcement__briefings.briefings {
      // [ layout ]
      margin-top: font__px-to-rem( 22 );

      // element
      // `> .#{ $block } > .hot-announcement > .briefings > .briefings__briefing`
      // block
      // `> .#{ $block } > .hot-announcement > .briefings > .briefing`
      > .briefings__briefing.briefing {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            '. .               . .               .'
            '. briefing__index . briefing__title .'
            '. briefing__index . briefing__views .'
            '. briefing__index . briefing__time  .'
            '. .               . .               .';
          rows: font__px-to-rem( 16 ) repeat( 3, min-content ) font__px-to-rem( 16 );
          columns: font__px-to-rem( 32 ) font__px-to-rem( 48 ) font__px-to-rem( 16 ) 1fr font__px-to-rem( 32 );
        }

        // [ interaction ]
        &:hover {
          // [ skin ]
          background-color: #f5f5f7;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          grid-template: {
            areas:
              '. .                . .                .'
              '. briefing__index . briefing__title   .'
              '. briefing__index . briefing__article .'
              '. briefing__index . briefing__views   .'
              '. briefing__index . briefing__time    .'
              '. .               . .                 .';
            rows: font__px-to-rem( 16 ) repeat( 4, min-content ) font__px-to-rem( 16 );
          }
        }

        // element
        // `> .announcement > .briefings > .briefing > .briefing__index`
        > .briefing__index {
          // [ position ]
          grid-area: briefing__index;
          justify-self: end;

          // [ skin ]
          color: #adacad;
          font: {
            size: font__px-to-rem( 24 );
            style: normal;
            weight: normal;
          }
        }

        // element
        // `> .announcement > .briefings > .briefing > .briefing__title`

        > .briefing__title {
          // [ position ]
          grid-area: briefing__title;

          // [ layout ]
          word: {
            wrap: break-word;
            break: break-all;
          }

          // [ skin ]
          color: #000000;
          font: {
            size: font__px-to-rem( 16 );
            style: normal;
            weight: normal;
          }

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ skin ]
            font-weight: bold;
          }
        }

        // element
        // `> .#{ $block } > .hot-announcement > .briefings > .briefing > .briefing__article`
        > .briefing__article {
          // [ position ]
          grid-area: briefing__article;

          // [ layout ]
          display: none;
          overflow: hidden;
          margin-bottom: font__px-to-rem( 10 );
          white-space: nowrap;

          // [ skin ]
          color: #000000;
          font: {
            size: font__px-to-rem( 14 );
            style: normal;
            weight: normal;
          }
          text-overflow: ellipsis;

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ layout ]
            display: block;
          }
        }

        // element
        // `> .#{ $block } > .hot-announcement > .briefings > .briefing > .briefing__views`
        > .briefing__views {
          // [ position ]
          grid-area: briefing__views;
          justify-self: start;

          // [ layout ]
          display: inline-block;

          // [ skin ]
          color: #888888;
          font: {
            size: font__px-to-rem( 14 );
            style: normal;
            weight: normal;
          }
        }

        // element
        // `> .#{ $block } > .hot-announcement > .briefings > .briefing > .briefing__time`
        > .briefing__time {
          // [ position ]
          grid-area: briefing__time;
          justify-self: start;

          // [ layout ]
          display: inline-block;

          // [ skin ]
          color: #b5babf;
          font: {
            size: font__px-to-rem( 14 );
            style: normal;
            weight: normal;
          }
        }
      }
    }

    // [ customization ]
    @content;
  }
}
