@import 'components/common/font';
@import 'components/common/no-result';
@import 'components/common/loading';

// component
// `.#{ $block } > .#{ $block }__news.news`
@mixin news-briefing () {
  // [ variable ]
  $medium: 680px;
  $large: 992px;
  $x-large: 1440px;

  > .news__frame {
    // [ layout ]
    display: block;
    text-align: center;
    width: 90vw;
    height: font__px-to-rem( 318 );

    margin: {
      left: auto;
      right: auto;
    }

    overflow: {
      y: hidden;
      x: auto;
    }

    &--hidden {
      // [ layout ]
      display: none;
    }

    // [ RWD: $medium ]
    @media screen and ( min-width: $medium ) {
      // [ layout ]
      overflow: hidden;
      width: font__px-to-rem( 614 );
    }

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      width: font__px-to-rem( 921 );
    }

    // [ RWD: $x-large ]
    @media screen and ( min-width: $x-large ) {
      // [ layout ]
      width: font__px-to-rem( 1228 );
    }

    > .frame__briefings.briefings {
      // [ layout ]
      display: block;
      white-space: nowrap;

      // [ transform ]
      transition: transform .33s ease-in;

      > .briefings__briefing {
        // [ layout ]
        display: inline-block;
        height: font__px-to-rem( 250 );
        width: font__px-to-rem( 275 );
        margin: {
          bottom: font__px-to-rem( 64 );
          top: font__px-to-rem( 30 );
          left: font__px-to-rem( 16 );
          right: font__px-to-rem( 16 );
        }

        // [ skin ]
        border-radius: font__px-to-rem( 6 );
        box-shadow: 0 4px 6px 0 rgba( 0, 0, 0, .12 ), 0 4px 8px 0 rgba( 0, 0, 0, .56 );
        overflow: hidden;

        // [ hover ]
        &:hover {
          // [ layout ]
          height: font__px-to-rem( 280 );
          width: font__px-to-rem( 283 );

          margin: {
            bottom: font__px-to-rem( 47 );
            top: font__px-to-rem( 15 );
            left: font__px-to-rem( 12 );
            right: font__px-to-rem( 12 );
          }

          // [ skin ]
          box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, .12 ), 0 6px 12px 0 rgba( 0, 0, 0, .56 );
          cursor: pointer;

          // [ transform ]
          transition: height .25s, width, .25s;
        }

        > .briefing__image {
          // [ layout ]
          display: block;
          height: 76%;
          width: 100%;

          // [ skin ]
          object-fit: cover;
        }

        > .briefing__info {
          // [ layout ]
          display: flex;
          align-content: center;
          flex-wrap: wrap;
          width: 100%;
          height: 24%;

          > .info__title {
            // [ layout ]
            display: inline-block;
            height: auto;
            width: 100%;

            // [ skin ]
            padding: {
              left: font__px-to-rem( 12 );
              right: font__px-to-rem( 12 );
              bottom: font__px-to-rem( 8 );
            }
            line-height: font__px-to-rem( 18 );
            font: {
              size: font__px-to-rem( 18 );
              weight: 500;
            }
            overflow: hidden;
            text: {
              overflow: ellipsis;
              align: left;
            }
            white-space: nowrap;
          }

          > .info__time {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: auto;

            // [ skin ]
            padding-left: font__px-to-rem( 12 );
            line-height: font__px-to-rem( 14 );
            font-size: font__px-to-rem( 14 );
            color: #b5babf;
          }
        }
      }
    }

    // [ customization ]
    @content;
  }
}
