@import 'components/common/font';
@import 'components/common/no-result';
@import 'components/common/loading';

// component
// `> .#{ $block } > .#{ $block }__tv.tv`
@mixin tv ( $block ) {
  // [ variable ]
  $medium: 560px;
  $large: 992px;

  // element
  // `> .#{ $block } > .#{ $block }__tv`
  // block
  // `> .#{ $block } > .tv`
  > .#{ $block }__tv.tv {
    // [ skin ]
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0 );

    // element
    // `> .#{ $block } > .tv > .tv__no-result`
    // block
    // `> .#{ $block } > .tv > .no-result`
    @include no-result( 'tv' ) {
      // [ layout ]
      margin-top: font__px-to-rem( 64 );
    }

    // element
    // `> .#{ $block } > .tv > .tv__loading`
    // block
    // `> .#{ $block } > .tv > .loading`
    @include loading( 'tv' ) {
      // [ layout ]
      margin-top: font__px-to-rem( 64 );
    }

    // element
    // `> .#{ $block } > .tv > .tv__series`
    // block
    // `> .#{ $block } > .tv > .series`
    > .tv__series.series {
      // [ position ]
      position: relative;

      // [ layout ]
      display: block;

      // [ skin ]
      width: 100%;
      height: 100%;
      overflow: hidden;

      // element
      // `> .#{ $block } > .tv > .series > .series__show`
      // block
      // `> .#{ $block } > .tv > .series > .show`
      > .series__show.show {
        // [ position ]
        position: absolute;
        top: 0;
        left: 100%;

        // [ layout ]
        display: block;
        margin: {
          right: auto;
          left: auto;
        };

        // [ skin ]
        width: 100%;
        height: 100%;
        overflow: hidden;

        // [ animation ]
        transition: left 1s, right 1s;

        // modifier
        // `> .#{ $block } > .tv > .series > .show.show--hide`
        &.show--hide {
          // [ layout ]
          display: none;
        }

        // modifier
        // `> .#{ $block } > .tv > .series > .show.show--start-from-right`
        &.show--start-from-right {
          // [ position ]
          left: 0;
        }

        // modifier
        // `> .#{ $block } > .tv > .series > .show.show--start-from-left`
        &.show--start-from-left {
          // [ position ]
          right: 0;
        }

        // modifier
        // `> .#{ $block } > .tv > .series > .show.show--end-from-left`
        &.show--end-from-left {
          // [ position ]
          left: -100%;
        }

        // modifier
        // `> .#{ $block } > .tv > .series > .show.show--end-from-right`
        &.show--end-from-right {
          // [ position ]
          right: -100%;
        }

        // element
        // `> .#{ $block } > .tv > .series > .show > .show__ad`
        > .show__ad {
          // [ position ]
          position: relative;

          // [ layout ]
          display: flex;
          justify-content: center;
          max-width: 100%;
          width: fit-content;
          height: 100%;
          margin: {
            right: auto;
            left: auto;
          };

          > .ad__image {
            // [ layout ]
            display: block;
            margin: {
              left: auto;
              right: auto;
            }

            // [ skin ]
            width: auto;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
          }

          > .ad__title {
            // [ position ]
            position: absolute;
            bottom: 0;
            left: 0;

            // [ layout ]
            display: block;
            line-height: font__px-to-rem( 20 );
            height: font__px-to-rem( 40 );
            width: 100%;

            // [ skin ]
            padding: {
              top: font__px-to-rem( 10 );
              bottom: font__px-to-rem( 10 );
              left: font__px-to-rem( 20 );
              right: font__px-to-rem( 20 );
            }
            background-color: rgba( 0, 0, 0, .5 );
            color: #ffffff;
            font: {
              size: font__px-to-rem( 20 );
              weight: bold;
            }
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            // [ RWD: $medium ]
            @media screen and ( min-width: $medium ) {
              // [ posiotion ]
              height: font__px-to-rem( 62 );

              // [ skin ]
              padding: {
                top: font__px-to-rem( 16 );
                bottom: font__px-to-rem( 16 );
                left: font__px-to-rem( 40 );
                right: font__px-to-rem( 40 );
              }
              font-size: font__px-to-rem( 30 );
              line-height: font__px-to-rem( 30 );
            }

            // [ RWD: $large ]
            @media screen and ( min-width: $large ) {
              // [ posiotion ]
              height: font__px-to-rem( 76 );

              // [ skin ]
              padding: {
                top: font__px-to-rem( 20 );
                bottom: font__px-to-rem( 20 );
                left: font__px-to-rem( 50 );
                right: font__px-to-rem( 50 );
              }
              font-size: font__px-to-rem( 36 );
              line-height: font__px-to-rem( 36 );
            }
          }
        }

        // element
        // `> .#{ $block } > .tv > .series > .show > .show__detail`
        // block
        // `> .#{ $block } > .tv > .series > .show > .detail`
        > .show__detail.detail {
          // [ position ]
          position: absolute;
          bottom: 0;
          left: 0;

          // [ layout ]
          display: flex;
          align-items: center;

          // [ skin ]
          width: 100%;
          min-height: font__px-to-rem( 100 );
          padding: {
            top: font__px-to-rem( 20 );
            bottom: font__px-to-rem( 20 );
            left: font__px-to-rem( 40 );
            right: font__px-to-rem( 40 );
          }
          background-color: rgba( 0, 0, 0, .5 );

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ skin ]
            width: 100%;
            height: fit-content;
            padding: {
              top: font__px-to-rem( 20 );
              bottom: font__px-to-rem( 20 );
              left: font__px-to-rem( 50 );
              right: font__px-to-rem( 50 );
            }
          }

          // element
          // `> .#{ $block } > .tv > .series > .show > .detail > .detail__title`
          > .detail__title {
            // [ layout ]
            display: block;
            line-height: font__px-to-rem( 18 ) * 1.2;

            // [ skin ]
            height: auto;
            color: #ffffff;
            font: {
              size: font__px-to-rem( 18 );
              weight: bold;
            }

            // [ RWD: $large ]
            @media screen and ( min-width: $large ) {
              // [ posiotion ]
              height: fit-content;

              // [ layout ]
              line-height: normal;

              // [ skin ]
              font-size: font__px-to-rem( 40 );
            }
          }
        }
      }
    }

    // [ customization ]
    @content;
  }
}
