@import 'components/common/no-result';
@import 'components/common/loading';
@import 'components/announcement/tags';

// component
// `> .#{ $block } > .#{ $block }__announcement.announcement`
@mixin announcement ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__announcement`
  // block
  // `> .#{ $block } > .announcement`
  > .#{ $block }__announcement.announcement {
    // [ variable ]
    $large: 768px;

    // element
    // `> .#{ $block } > .announcement > .announcement__title`
    > .announcement__title {
      // [ layout ]
      display: flex;

      // [ skin ]
      line-height: 1rem;
      font: {
        size: .55rem;
        weight: bold;
      }

      // [ before ]
      // Yellow flag icon.
      &::before {
        // [ variable ]
        $size: 1rem;

        // [ skin ]
        content: '';
        margin-right: .4rem;
        border: {
          style: solid;
          color: #f5c150 #f5c150 transparent;
          radius: ( $size * .1 ) ( $size * .1 ) 0 0;
          width: ( $size * .8 ) ( $size * .35 ) ( $size * .16 );
        }
      }
    }

    // element
    // `> .#{ $block } > .announcement > .announcement__no-result`
    // block
    // `> .#{ $block } > .announcement > .no-result`
    @include no-result( 'announcement' );

    // element
    // `> .#{ $block } > .announcement > .announcement__loading`
    // block
    // `> .#{ $block } > .announcement > .loading`
    @include loading( 'announcement' );

    // element
    // `> .#{ $block } > .announcement > .announcement__briefings`
    // block
    // `> .#{ $block } > .announcement > .briefings`
    > .announcement__briefings.briefings {
      // [ skin ]
      margin-top: .7rem;
      transform: scaleY( 0 );

      // [ animation ]
      transform-origin: top;
      transition: max-height .5s ease;

      &.briefings__briefing--disappear {
        animation: {
          name: collapse;
          duration: .5s;
          fill-mode: forwards;
        }
        max-height: 0;
      }

      &.briefings__briefing--show {
        animation: expand .5s ease;
        transform: scaleY( 1 );
        max-height: 3000px;
      }
      @keyframes collapse {
        from {
          transform: scaleY( 1 );
        }

        to {
          transform: scaleY( 0 );
        }
      }
      @keyframes expand {
        from {
          transform: scaleY( 0 );
        }

        to {
          transform: scaleY( 1 );
        }
      }

      // element
      // `> .#{ $block } > .announcement .briefings > briefings__briefing`
      // block
      // `> .#{ $block } > .announcement .briefings > briefing`
      > .briefings__briefing.briefing {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            'briefing__tags  briefing__tags  briefing__tags'
            'briefing__title briefing__title briefing__title'
            'briefing__time  briefing__time  .';
          rows: auto;
          columns: 13fr 2fr 5fr;
        }

        // [ skin ]
        margin-bottom: .4rem;
        border-radius: .188rem;
        padding: .5rem .4rem;
        background-color: #ffffff;
        box-shadow: 0 .0625rem .75rem 0 #dbdbdb, 0 .25rem .312rem 0 #cccccc;

        // [ interaction ]
        &:hover {
          // [ skin ]
          cursor: pointer;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ layout ]
          grid-template-areas:
            'briefing__tags    briefing__tags  briefing__tags'
            'briefing__title   briefing__title .'
            'briefing__article .               briefing__time';

          // [ skin ]
          padding: .8rem 1rem;
        }

        // element
        // `> .#{ $block } > .announcement > .briefings > briefing > .briefing__tags`
        // block
        // `> .#{ $block } > .announcement > .briefings > briefing > .tags`
        @include tags( 'briefing' ) {
          // [ position ]
          grid-area: briefing__tags;

          // [ layout ]
          display: block;

          // [ skin ]
          font-size: .4375rem;
        }

        // element
        // `> .#{ $block } > .announcement > .briefings > .briefong > .briefing__title`
        > .briefing__title {
          // [ position ]
          grid-area: briefing__title;

          // [ layout ]
          word-wrap: break-word;

          // [ skin ]
          margin-bottom: .9rem;
          color: #000000;
          font: {
            size: .5rem;
            weight: normal;
          }

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ skin ]
            margin-bottom: 0;
            font-weight: bold;
          }
        }

        // element
        // `> .#{ $block } > .announcement > .briefings > .briefing > .briefing__article`
        > .briefing__article {
          // [ layout ]
          display: none;

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ position ]
            grid-area: briefing__article;

            // [ layout ]
            display: block;
            white-space: nowrap;

            // [ skin ]
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: .4375rem;
          }
        }

        // element
        // `> .#{ $block } > .announcement > .briefings > .briefing > .briefing__time`
        > .briefing__time {
          // [ position ]
          grid-area: briefing__time;

          // [ skin ]
          color: #b5babf;
          font-size: .4375rem;

          // [ RWD: $large ]
          @media screen and ( min-width: $large ) {
            // [ position ]
            justify-self: end;
            align-self: end;

            // [ skin ]
            color: #b5babf;
          }
        }
      }
    }

    // [ customization ]
    @content;
  }
}
