@import 'components/common/icon';
@import 'components/announcement/title';

// block
// `.announcement`

.announcement {
  $landscape: 560px;
  $mobile: 768px;
  $tablet: 992px;

  // block [layout]
  display: grid;
  grid: {
    template-areas:
      '. .                         .'
      '. announcement__headline    .'
      '. announcement__title       .'
      '. announcement__article     .'
      '. announcement__attachments .'
      '. .                         .';
    row-gap: .5rem;
  };

  // block [skin]
  font-size: .5rem;

  // element
  // `.announcement .announcement__headline`

  &__headline {
    // element [position]
    grid-area: announcement__headline;

    // element [skin]
    border-radius: .2rem;
    background-color: #ffffff;
    box-shadow: 0 .0625rem .75rem 0 rgba( 0, 0, 0, .14 ), 0 .25rem .313rem 0 rgba( 0, 0, 0, .2 );
    font-size: .4375rem;
    padding: .4rem;
    color: #b5babf;
  }

  // block
  // `.announcement .headline`

  .headline {
    // block [layout]
    display: grid;
    grid-template: {
      areas:
        'headline__tags'
        'headline__title'
        'headline__announcer'
        'headline__time';
      columns: auto;
    }
    @media screen and ( min-width: $tablet ) {
      grid-template: {
        areas:
          'headline__tags   headline__announcer'
          'headline__title  headline__time';
        columns: auto;
      }
    }

    // element
    // `.announcement .headline .headline__tags`

    &__tags {
      // element [position]
      grid-area: headline__tags;
      display: block;
    }

    // block
    // `.announcement .headline .tags`

    .tags {
      // block [skin]
      @media screen and ( min-width: $mobile ) {
        font-size: .4375rem;
      }
    }

    // element
    // `.announcement .headline .headline__title`

    &__title {
      // element [position]
      grid-area: headline__title;

      // element [skin]
      font-size: .5rem;
      padding-bottom: .5rem;
      color: #000000;
    }

    // element
    // `.announcement .headline .headline__announcer`

    &__announcer {
      // element [position]
      grid-area: headline__announcer;

      // element [skin]
      @media screen and ( min-width: $tablet ) {
        align-self: end;
        justify-self: end;
      }
    }

    // element
    // `.announcement .headline .headline__time`

    &__time {
      // element [position]
      grid-area: headline__time;

      // element [skin]
      @media screen and ( min-width: $tablet ) {
        justify-self: end;
        margin-top: .3rem;
      }
    }
  }

  // element
  // `.announcement .announcement__title`

  &__title {
    // element [position]
    grid-area: announcement__title;

    // element [skin]
    margin: .7rem 0 0;
    font-size: .5rem;
  }

  // element
  // `.announcement .announcement__article`

  &__article {
    // element [position]
    grid-area: announcement__article;

    // element [skin]
    padding: 0 .3rem;
    line-height: .75rem;
  }

  // element
  // `.announcement .announcement__attachments`

  &__attachments {
    // element [position]
    grid-area: announcement__attachments;

    // element [skin]
    color: #f8f8f2;
  }

  // block
  // `.announcement .attachments`

  .attachments {
    // block [layout]
    display: grid;
    grid: {
      template-columns: repeat( auto-fit, minmax( 8rem, 1fr ) );
      gap: .625rem;
    }

    // element
    // `.attachments .attachments__attachment`

    &__attachment {
      // element [position]
      align-self: start;

      // element [skin]
      padding: .625rem .9375rem;
      background-color: #6982c0;
      border-radius: .09rem;
      box-shadow: 0 .0625rem 0625rem 0 rgba( 244, 67, 54, .14 );
      @include icon--before__download() {
        margin: 0 .5rem -.03rem 0;
        background-size: .5rem .5rem;
        height: .5rem;
        width: .5rem;
      }
    }
  }
}
