@import 'components/common/icon';

// component
// `> .announcement`
@mixin announcement () {
  // block
  // `> .announcement`

  > .announcement {
    // [ variable ]
    $small: 768px;
    $large: 992px;

    // [ layout ]
    display: grid;
    grid: {
      template-areas:
        '. .                         .'
        '. announcement__headline    .'
        '. announcement__title       .'
        '. announcement__article     .'
        '. announcement__attachments .'
        '. .                         .';
      row-gap: .5rem;
    };

    // [ skin ]
    font-size: .5rem;

    // [ customization ]
    @content;

    // element
    // `> .announcement > .announcement__headline`
    // block
    // `> .announcement > .headline`
    > .announcement__headline.headline {
      // [ position ]
      grid-area: announcement__headline;

      // [ layout ]
      display: grid;
      grid-template: {
        areas:
          'headline__tags'
          'headline__title'
          'headline__announcer'
          'headline__time';
        columns: auto;
      }

      // [ skin ]
      border-radius: .2rem;
      padding: .4rem;
      background-color: #ffffff;
      color: #b5babf;
      box-shadow: 0 .0625rem .75rem 0 rgba( 0, 0, 0, .14 ), 0 .25rem .313rem 0 rgba( 0, 0, 0, .2 );
      font-size: .4375rem;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        grid-template-areas:
          'headline__tags  headline__announcer'
          'headline__title headline__time';
      }

      // element
      // `> .announcement > .headline > .headline__tags`
      > .headline__tags {
        // [ position ]
        grid-area: headline__tags;

        // [ layout ]
        display: block;

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ skin ]
          font-size: .4375rem;
        }
      }

      // block
      // `> .announcement > .headline > .tags`
      @include tags();

      // element
      // `> .announcement > .headline > .headline__title`

      > .headline__title {
        // [ position ]
        grid-area: headline__title;

        // [ skin ]
        padding-bottom: .5rem;
        color: #000000;
        font-size: .5rem;
      }

      // element
      // `> .announcement > .headline > .headline__announcer`

      > .headline__announcer {
        // [ position ]
        grid-area: headline__announcer;

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ position ]
          align-self: end;
          justify-self: end;
        }
      }

      // element
      // `> .announcement > .headline > .headline__time`

      > .headline__time {
        // [ position ]
        grid-area: headline__time;

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          // [ position ]
          justify-self: end;
          align-self: end;

          // [ skin ]
          margin-bottom: .3rem;
        }
      }
    }

    // element
    // `> .announcement > .announcement__title`

    > .announcement__title {
      // [ position ]
      grid-area: announcement__title;

      // [ skin ]
      margin-top: .7rem;
      font-size: .5rem;
    }

    // element
    // `> .announcement > .announcement__article`

    > .announcement__article {
      // [ position ]
      grid-area: announcement__article;

      // [ skin ]
      padding: {
        left: .3rem;
        right: .3rem;
      }
      line-height: .75rem;
    }

    // element
    // `announcement .announcement__attachments`
    // block
    // `.announcement .attachments`
    > .announcement__attachments.attachments {
      // [ layout ]
      display: grid;
      grid: {
        template-columns: repeat( auto-fit, minmax( 8rem, 1fr ) );
        gap: .625rem;

        // [ position ]
        area: announcement__attachments;
      }

      // [ skin ]
      color: #f8f8f2;

      // element
      // `> .announcement > .attachments > .attachments__attachment`

      > .attachments__attachment {
        // [ position ]
        align-self: start;

        // [ skin ]
        border-radius: .09rem;
        padding: .625rem .9375rem;
        background-color: #6982c0;
        box-shadow: 0 .0625rem 0625rem 0 rgba( 244, 67, 54, .14 );

        // [ before ]
        &::before {
          // [ layout ]
          display: inline-block;

          // [ skin ]
          content: '';
          margin: {
            right: .5rem;
            bottom: -.03rem;
          }
          width: .5rem;
          height: .5rem;
          background: {
            position: center;
            repeat: no-repeat;
            size: cover;
          }

          // [ icon ]
          @include icon__download();
        }
      }
    }
  }
}
