@import 'components/common/icon';

.announcement {
  &__title {
    @include icon--before__flag;
    margin: 0 0 .5rem .25rem;
  }

  .title {
    display: flex;
    align-items: center;

    &__text {
      margin: 0 0 .06rem .5rem;
      font: {
        size: .875rem;
        weight: bold;
      }
    }
  }

  &__briefings {
    font-size: .625rem;
  }

  .briefings{
    &__briefing {
      min-height: 10%;
      padding: 1rem 1.5rem;
      background-color: #ffffff;
      height: 5rem;
      margin-bottom: 1rem;
      box-shadow: 0 .2rem .1rem rgba( 0, 0, 0, .1 );
      display: grid;
      grid-template: {
        rows: 1.2rem;
        columns: repeat( 2, 1fr );
      }
    }

    .briefing {
      &__tags {
        display: flex;
        justify-content: flex-end;
        align-self: baseline;
      } 

      &__time {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #000000;
        opacity: .5;
        padding-right: 1rem;
        font-size: var( --font-size );
      }  

      &__title {
        font-size: .75rem;
      }  

      &__article {
        font-size: var( --font-size );
        overflow: hidden;
      }
    }
  }
}


