@import 'components/common/icon';

.announcement {
  &__title {
    height: 1.35rem;
    margin-bottom: .3rem;

    &--flag {
      @include icon--before__flag() {
        margin: .15rem .5rem .2rem 0;
      }
    }

    &--underline {
      border-bottom: solid .0156rem rgba( 0, 0, 0, .3 );
    }
  }

  .title {
    display: flex;

    &__text{
      height: inherit;
      font: {
        weight: bold;
        size: .75rem;
      }
    }

    &__text--underline {
      width: 3.43rem;
      border-bottom: solid .0156rem #000000;
    }    
  }


  .briefings {
    &__briefing {
      font-size: .4375rem;
      padding: .9rem 0 0;
      border-bottom: solid .015625rem rgba(0, 0, 0, .3);      
    }

    .briefing {
      display: grid;
      grid: {
        template: {
          areas:
            'briefing__tags     .  .'
            'briefing__title    .  .'
            'briefing__article  . briefing__time';
          rows: 2fr 1fr 1.6fr;
        }
      }

      &__tags {
        grid-area: briefing__tags;
      }

      &__title {
        color: #000000;
        font-size: .5rem;
        min-width: 3rem;
        grid-area: briefing__title;
      }

      &__article {
        overflow: hidden;
        grid-area: briefing__article;
      }

      &__time {
        color: #b5babf;
        grid-area: briefing__time;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__briefings {
    font-size: .625rem;
  }
}
