.hotnews {
  $tablet: 992px;

  &__topic {
    font: {
      weight: normal;
      size: .75rem;
    }
    margin-bottom: 1.25rem;
    text-align: center;
  }

  &__briefings {
    font-size: .625rem;
    margin: 1rem 0;
    background-color: rgba( 51, 50, 94, .05 );
  }

  &__briefings:hover {
    background-color: rgba( 51, 50, 94, .05 );
  }

  .briefings {
    border-radius: .1875rem;
    background-color: #ffffff;
    box-shadow: 0 .0625rem .75rem 0 rgba( 0, 0, 0, .14 ), 0 .25rem .3125rem 0 rgba( 0, 0, 0, .2 );
    padding: 2rem 0;
    @media screen and ( min-width: $tablet ) {
      padding: 1.7rem 0 ;
    }

    &__briefing {
      padding: .5rem 1rem;
    }

    &__briefing:hover {
      cursor: pointer;
      background-color: rgba( 51, 50, 94, .05 );
    }

    .briefing {
      display: flex;

      &__number {
        font-size: .75rem;
        color: #adacad;
        min-width: 1rem;
        margin-right: .5rem;
      }

      &__text {
        font-size: .4375rem;
      }

      .text {
        &__title {
          color: #000000;
          font-size: .5rem;
          min-width: 3rem;
          margin-bottom: .2rem;
        }

        &__article {
          overflow: hidden;
          margin-bottom: .3rem;
        }

        &__time {
          color: #b5babf;
        }
      }
    }
  }
}
