@import 'components/common/icon';
@import 'components/announcement/tags';
@import 'components/announcement/title';

// componenet
// `briefing`
@mixin announcement {
  // block
  // `> .announcement`

  > .announcement {
    // [ variable ]
    $small: 768px;
    $large: 992px;

    // [ customization ]
    @content;

    // element
    // `> .announcement > .announcement__title`
    @include announcement__title();

    // element
    // `> .announcement > .announcement__briefings`
    // block
    // `> .announcement > .briefings`
    > .announcement__briefings.briefings {
      // [ skin ]
      margin-top: .7rem;
    }

    // block
    // `.announcement .briefings`

    .briefings {
      // element
      // `> .announcement .briefings > briefings__briefing`
      // block
      // `> .announcement .briefings > briefing`
      > .briefings__briefing.briefing {
        // [ layout ]
        display: grid;
        grid-template: {
          areas:
            'briefing__tags  briefing__tags  briefing__tags'
            'briefing__title briefing__title briefing__title'
            'briefing__time  briefing__time  .';
          rows: auto;
          columns: 6.5fr 1fr 2.5fr;
        }

        // [ skin ]
        padding: .5rem .4rem;
        border-radius: .188rem;
        background-color: #ffffff;
        margin-bottom: .4rem;
        box-shadow: 0 .0625rem .75rem 0 rgba( 0, 0, 0, .14 ), 0 .25rem .312rem 0 rgba( 0, 0, 0, .2 );

        // [ RWD: $small ]
        @media screen and ( min-width: $small ) {
          // [ layout ]
          grid-template: {
            areas:
              'briefing__tags    briefing__tags  briefing__tags'
              'briefing__title   briefing__title .'
              'briefing__article .               briefing__time';
            columns: 6.5fr 1fr 2.5fr;
          }

          // [ skin ]
          padding: .8rem 1rem;
        }
      }

      // block
      // `> .announcement .briefings > .briefing`

      > .briefing {
        // [ interaction ]
        &:hover {
          cursor: pointer;
        }

        // element
        // `> .announcement > .briefings > briefing > .briefing__tags`
        // block
        // `> .announcement > .briefings > briefing > .tags`
        > .briefing__tags.tags {
          // [ position ]
          grid-area: briefing__tags;
          font-size: .4375rem;

          // [ skin ]
          display: block;
        }

        // element
        // `> .announcement > .briefings > .briefong > .briefing__title`

        > .briefing__title {
          // [ position ]
          grid-area: briefing__title;

          // [ skin ]
          color: #000000;
          font: {
            size: .5rem;
            weight: normal;
          }
          min-width: 3rem;
          word-wrap: break-word;
          margin-bottom: .9rem;

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // element [skin]
            margin-bottom: 0;
            font-weight: bold;
          }
        }

        // element
        // `> .announcement > .briefings > .briefing > .briefing__article`

        > .briefing__article {
          // [ skin ]
          display: none;

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ position ]
            grid-area: briefing__article;

            // [ skin ]
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: .4375rem;
          }
        }

        // element
        // `> .announcement > .briefings > .briefing > .briefing__time`

        > .briefing__time {
          // [ position ]
          grid-area: briefing__time;

          // [ skin ]
          font-size: .4375rem;
          color: #b5babf;

          // [ RWD: $small ]
          @media screen and ( min-width: $small ) {
            // [ skin ]
            justify-self: end;
            align-self: end;
            color: #b5babf;
          }
        }
      }
    }

    // element
    // `> .announcement > .announcement__button`

    > .announcement__button {
      // [ position ]
      position: absolute;
      right: 50%;

      // [ layout ]
      text-align: center;

      // [ skin ]
      border-radius: .094rem;
      background-color: #f94970;
      box-shadow: 0 .0625rem .0625rem 0 rgba( 244, 67, 54, .14 );
      margin: .5rem -1.7rem 0 0;
      color: white;
      font-size: .4375rem;
      width: 4rem;
      padding: 12px 30px;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        width: 5rem;
        padding: 17px 30px;
        margin: .5rem -2.5rem 0 0;
      }
    }

    // block
    // `> .announcement.announcement--hot-news`

    &.announcement--hot-news {
      // [ skin ]
      border-radius: .1875rem;
      background-color: #ffffff;
      box-shadow: 0 .0625rem .75rem 0 rgba( 0, 0, 0, .14 ), 0 .25rem .3125rem 0 rgba( 0, 0, 0, .2 );
      padding: 2rem 0;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        padding: 1.7rem 0 ;
      }

      // element
      // `> .announcement.announcement--hot-news > .announcement__title`
      // block
      // `> .announcement.announcement--hot-news > .title`
      > .announcement__title.title {
        // [ skin ]
        display: flex;
        justify-content: center;

        // [ before ]
        &::before {
          content: none;
        }

        // element
        // `> .announcement.announcement--hot-news > .title > .title__text`
        > .title__text {
          // [ skin ]
          font: {
            weight: normal;
            size: .66rem;
          }
        }
      }

      // element
      // `> .announcement.announcement--hot-news > .announcement__briefings`
      // block
      // `> .announcement.announcement--hot-news > .briefings`
      > .announcement__briefings.briefings {
        // element
        // `> .announcement.announcement--hot-news > .briefings > .briefings__briefing`
        // block
        // `> .announcement.announcement--hot-news > .briefings > .briefing`
        > .briefings__briefing.briefing {
          // [ layout ]
          display: grid;
          grid-template: {
            areas:
              'briefing__number briefing__title'
              'briefing__number briefing__article'
              'briefing__number briefing__time';
            columns: 1fr 10fr;
          }

          // [ skin ]
          box-shadow: 0 0;
          border-radius: 0;
          font-size: .4375rem;
          padding: .5rem 1rem;
          margin: 0;

          // [ interaction  ]
          &:hover {
            cursor: pointer;
            background-color: rgba( 51, 50, 94, .05 );
          }
        }

        // block
        // `> .announcement.announcement--hot-news > .briefings > .briefing`
        .briefing {
          // element
          // `> .announcement.announcement--hot-news > .briefings > .briefing > .briefing__number`
          > .briefing__number {
            // element [position]
            grid-area: briefing__number;

            // [ skin ]
            font-size: .75rem;
            color: #adacad;
            min-width: 1rem;
            margin-right: .5rem;
          }

          // element
          // `> .announcement.announcement--hot-news > .briefings > .briefing > .briefing__article`
          > .briefing__article {
            // [ skin ]
            margin-bottom: .3rem;
          }

          // element
          // `> .announcement.announcement--hot-news > .briefings > .briefing > .briefing__time`
          > .briefing__time {
            // [ layout ]
            justify-self: start;
          }
        }
      }
    }
  }
}
