.news{
  .briefings{
    &__briefing {
      font-size: var( --font-size );
      padding-bottom: .5rem;
      border-bottom: .03rem solid #868686;
    }

    .briefing {
      &__tags {
        margin-bottom: .1rem;
      }

      &__title {
        color: #000000;
        font-size: .75rem;
        min-width: 3rem;
      }

      &__article {
        overflow: hidden;
        margin-bottom: .6rem;
      }

      &__time {
        color: #b5babf;
      }
    }
  }
}
