@import 'components/common/font';
@import 'components/announcement/tags';

// component
// `> .#{ $block } > .filter > .time > .time__#{ $element }`
// This mixin should not be used outside this file.
@mixin time__template ( $element ) {
  // element
  // `> .#{ $block } > .filter > .time > .time__#{ $element }`
  // block
  // `> .#{ $block } > .filter > .time > .#{ $element }`
  > .time__#{ $element }.#{ $element } {
    // [ skin ]
    width: 100%;
    height: auto;

    // element
    // `> .#{ $block } > .filter > .time > .#{ $element } > .#{ $element }__text`
    .#{ $element }__text {
      // [ layout ]
      display: inline-block;
      margin-left: font__px-to-rem( 16 );
      text-align: left;
      vertical-align: bottom;
      line-height: font__px-to-rem( 14 );

      // [ skin ]
      width: auto;
      height: font__px-to-rem( 14 );
      font-size: font__px-to-rem( 14 );
    }

    // element
    // `> .#{ $block } > .filter > .time > .#{ $element } > .#{ $element }__input`
    // block
    // `> .#{ $block } > .filter > .time > .#{ $element } > .input`
    .#{ $element }__input.input {
      // [ layout ]
      display: block;
      margin: {
        top: font__px-to-rem( 10 );
        bottom: font__px-to-rem( 6 );
        left: font__px-to-rem( 6 );
        right: font__px-to-rem( 20 );
      }

      // [ skin ]
      width: font__px-to-rem( 134 );
      height: font__px-to-rem( 32 );
      border: font__px-to-rem( 1 ) solid #757575;
      border-radius: font__px-to-rem( 32 );
      padding: {
        left: font__px-to-rem( 8 );
        right: font__px-to-rem( 4 );
      }

      // template
      // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__?`
      %input__element {
        // [ layout ]
        display: inline-block;
        vertical-align: top;
        line-height: font__px-to-rem( 14 );

        // [ skin ]
        height: font__px-to-rem( 30 );
        padding: {
          top: font__px-to-rem( 8 );
          bottom: font__px-to-rem( 8 );
        }
        background-color: transparent;
        font-size: font__px-to-rem( 14 );
      }

      // element
      // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__year`
      > .input__year {
        // [ template ]
        @extend %input__element;

        // [ skin ]
        width: font__px-to-rem( 48 );
      }

      // element
      // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__month`
      > .input__month {
        // [ template ]
        @extend %input__element;

        // [ skin ]
        width: font__px-to-rem( 36 );
      }

      // element
      // `> .#{ $block } > .filter > .time > .#{ $element } > .input > .input__date`
      > .input__date {
        // [ template ]
        @extend %input__element;

        // [ skin ]
        width: font__px-to-rem( 36 );
      }
    }
  }
}

// component
// `> .#{ $block } > .#{ $block }__filter.filter`
@mixin filter ( $block ) {
  // element
  // `> .#{ $block } > .#{ $block }__filter`
  // block
  // `> .#{ $block } > .filter`
  > .#{ $block }__filter.filter {
    // [ variable ]
    $small: 350px;
    $large: 1100px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        'filter__time'
        'filter__tags';
      columns: 1fr;
      rows: auto;
    }
    justify-content: center;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      display: grid;
      grid-template: {
        areas: 'filter__tags . filter__time';
        columns: min-content 1fr min-content ;
      }

      // [ skin ]
      width: font__px-to-rem( 924 );
      margin: {
        left: auto;
        right: auto;
      }
    }

    // element
    // `> .#{ $block } > .filter > .filter__time`
    // block
    // `> .#{ $block } > .filter > .time`
    > .filter__time.time {
      // [ position ]
      grid: {
        area: filter__time;
        template-columns: repeat( auto-fill, font__px-to-rem( 154 ) );
      }

      // [ layout ]
      display: grid;
      justify-content: center;
      margin-bottom: font__px-to-rem( 26 );

      // [ skin ]
      width: 100%;
      height: auto;
      font-size: font__px-to-rem( 14 );

      // [ RWD: $small ]
      @media screen and ( min-width: $small ) {
        // [ layout ]
        grid-template-columns: repeat( 2, font__px-to-rem( 154 ) );
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        align-items: start;
        margin-bottom: 0;
      }

      // element
      // `> .#{ $block } > .filter > .time > .time__from`
      // block
      // `> .#{ $block } > .filter > .time > .from`
      @include time__template ( 'from' );

      // element
      // `> .#{ $block } > .filter > .time > .time__to`
      // block
      // `> .#{ $block } > .filter > .time > .to`
      @include time__template ( 'to' );
    }

    // element
    // `> .#{ $block } > .filter > .filter__tags`
    // block
    // `> .#{ $block } > .filter > .tags`
    @include tags( 'filter' ) {
      // [ position ]
      grid-area: filter__tags;

      // [ layout ]
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        display: grid;
        grid-template: {
          rows: repeat( 4, auto );
          columns: repeat( 5, auto );
        }
      }
    }

    // [ customization ]
    @content;
  }
}
