.tags {
  display: inline-block;
  color: #ffffff;
  font-size: .25rem;
  @media screen and ( min-width:768px ){
    font-size: .4375rem;
  }
  

  &__tag {
    background: none;
    border-radius: 1rem;
    margin: 0 .1rem .5rem 0;
    padding: .1rem .2rem .2rem;
    width: 2.7rem;
    @media screen and ( min-width:768px ){
      padding: .1rem .4rem .2rem;
      width: 3.6rem;
      margin: {
        bottom: .6rem;
        right: .2rem;
      }
    }

    &--college {
      color: #399dff;
      background-color: #dfeffe;
    }

    &--master {
      color: #9053ff;
      background-color: #e8dafe;
    }

    &--phd {
      color: #f67057;
      background-color: #ffe3df;
    }

    &--teacher {
      color: #faad06;
      background-color: #fff8e6;
    }

    &--administrator {
      color: #faad06;
      background-color: #fff8e6;
    }

    &--international {
      color: #f67057;
      background-color: #ffe3df;
    }

    &--exhibition {
      background-color: #e8dafe;
      color: #9053ff;
    }

    &--speech {
      background-color: #e8dafe;
      color: #9053ff;
    }

    &--competition {
      color: #f67057;
      background-color: #ffe3df;
    }

    &--conference {
      background-color: #e8dafe;
      color: #9053ff;
    }

    &--internship {
      color: #f67057;
      background-color: #ffe3df;
    }

    &--law {
      color: #0dc589;
      background-color: #c6ffec;
    }

    &--recruitment {
      color: #0dc589;
      background-color: #c6ffec;
    }

    &--scholarship {
      color: #f67057;
      background-color: #ffe3df;
    }
  }
}

