@import 'components/announcement/filter__tags';
@import 'components/announcement/filter__time';

.filter {
  $mobile: 768px;
  $tablet: 992px;
  display: grid;
  grid-template-areas:
    'filter__button'
    'filter__time'
    'filter__tags';
  margin-bottom: 1rem;

  &__button {
    cursor: pointer;
    background: none;
    grid-area: filter__button;
    display: flex;
    justify-self: end;
    color: #757575;
    font-size: .5rem;
    width: 3rem;
    @media screen and ( min-width: $tablet ) {
      display: none;
    }
  }

  .button {
    &__icon {
      position: relative;
      background: none;
      cursor: pointer;
      height: .4687rem;
      width: .375rem;
      margin: .1rem 0 0 .5rem;
      @include icon__arrow ();    
    }
  }

  &__time {
    @media screen and ( min-width: $tablet ) {
      display: flex;
      grid-area: filter__time;
      margin-bottom: 1rem;
    }

    &--hidden {
      display: none;
      @media screen and ( min-width: $tablet ) {
        display: flex;
      }
    }
  }

  &__tags {
    @media screen and ( min-width: $tablet ) {
      grid-area: filter__tags;
      display: grid;
    }

    &--hidden {
      display: none;
      @media screen and ( min-width: $tablet ) {
        display: grid;
      }
    }
  }  
}

