@import 'components/announcement/tags';

// component
// `> .filter > .time > .time__#{ $element }`
// This mixin should not be used outside this file.
@mixin time__template ( $element ) {
  // element
  // `> .filter > .time > .time__#{ $element }`
  // block
  // `> .filter > .time > .#{ $element }`
  > .time__#{ $element }.#{ $element } {
    // element
    // `> .filter > .time > .#{ $element } > .#{ $element }__text`
    .#{ $element }__text {
      // [ skin ]
      text-align: left;
      padding-left: .5rem;
    }

    // element
    // `> .filter > .time > .#{ $element } > .#{ $element }__input`
    // block
    // `> .filter > .time > .#{ $element } > .input`
    .#{ $element }__input.input {
      // [ layout ]
      display: grid;
      grid-template: {
        areas: 'input__year input__month input__date';
        columns: 40% 30% 30%;
      }

      // [ skin ]
      width: 4.2rem;
      height: 1rem;
      margin: .3rem .6rem .2rem .2rem;
      border: .02rem solid #757575;
      border-radius: 1rem;
      padding: {
        left: .25rem;
        right: .1rem;
      }

      // element
      // `> .filter > .time > .#{ $element } > .input > .input__year`
      > .input__year {
        // [ position ]
        grid-area: input__year;

        // [ skin ]
        background-color: transparent;
      }

      // element
      // `> .filter > .time > .#{ $element } > .input > .input__month`
      > .input__month {
        // [ position ]
        grid-area: input__month;

        // [ skin ]
        background-color: transparent;
      }

      // element
      // `> .filter > .time > .#{ $element } > .input > .input__date`
      > .input__date {
        // [ position ]
        grid-area: input__date;

        // [ skin ]
        background-color: transparent;
      }
    }
  }
}

// component
// `.#{ $block } > .#{ $block }__filter.filter`
@mixin filter ( $block ) {
  // element
  // `.#{ $block } > .#{ $block }__filter`
  // block
  // `.#{ $block } > .filter`
  > .#{ $block }__filter.filter {
    // [ variable ]
    $small: 350px;
    $large: 850px;

    // [ layout ]
    display: grid;
    grid-template: {
      areas:
        'filter__time'
        'filter__tags';
      columns: 1fr;
      rows: auto;
    }
    justify-content: center;

    // [ RWD: $large ]
    @media screen and ( min-width: $large ) {
      // [ layout ]
      display: grid;
      grid-template: {
        areas: 'filter__tags . filter__time';
        columns: min-content 1fr min-content;
      }
    }

    // element
    // `> .filter > .filter__time`
    // block
    // `> .filter > .time`
    > .filter__time.time {
      // [ position ]
      grid: {
        area: filter__time;
        template-columns: repeat( auto-fill, 4.8rem );
      }

      // [ layout ]
      display: grid;
      justify-content: center;
      margin-bottom: .8rem;

      // [ skin ]
      font-size: .4375rem;
      width: 100%;

      // [ RWD: $small ]
      @media screen and ( min-width: $small ) {
        // [ layout ]
        grid-template-columns: repeat( 2, 4.8rem );
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        align-items: end;
        margin-bottom: 0;
      }

      // element
      // `> .filter > .time > .time__from`
      // block
      // `> .filter > .time > .from`
      @include time__template ( 'from' );

      // element
      // `> .filter > .time > .time__to`
      // block
      // `> .filter > .time > .to`
      @include time__template ( 'to' );
    }

    // element
    // `> .filter > .filter__tags`
    // block
    // `> .filter > .tags`
    @include tags( 'filter' ) {
      // [ position ]
      grid-area: filter__tags;

      // [ layout ]
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      // [ skin ]
      font-size: .4375rem;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ layout ]
        display: grid;
        grid-template: {
          rows: repeat( 4, auto );
          columns: repeat( 5, auto );
        }
      }
    }

    // [ customization ]
    @content;
  }
}
