// block
// `.time`

.time {
  $small: 500px;
  $large: 768px;

  // block [layout]
  display: flex;
  flex-direction: column;
  @media screen and ( min-width: $small ) {
    flex-direction: row;
  }

  // block [skin]
  font-size: .4375rem;
  margin-bottom: 1rem;

  // element
  // `.time .time__date`

  &__date {
    // element [skin]
    background: none;
    border: .0312rem solid #757575;
    border-radius: 1rem;
    align-self: center;
    padding: .2rem 0;
    margin: .3rem .6rem .2rem .2rem;
    text-align: center;
  }
}
