.time {
  display: flex;
  font-size: .4375rem;

  &__date {
    background: none;
    border: .0312rem solid gray;
    border-radius: 1rem;
    align-self: center;
    padding: .1rem 0;
    max-width: 7rem;
    width: 3.4rem;
    margin: .3rem .6rem .2rem .2rem;
    text-align: center;
    @media screen and ( min-width: 768px ){
      width: 4.4rem;
    }
  }
}
