.pages {
  $small: 620px;
  $large: 850px;
  display: inline-block;
  justify-self: center;

  > .pages__control {
    color: #32477d;
    border: .0312rem solid #32477d;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 1.5625rem;
    font-size: .9375rem;
    cursor: pointer;

    &:first-child {
      margin-right: .2rem;
      @media screen and ( min-width: $small ) {
        margin-right: 1rem;
      }
      @media screen and ( min-width: $large ) {
        margin-right: 3rem;
      }
    }

    &:last-child {
      margin-left: .2rem;
      @media screen and ( min-width: $small ) {
        margin-right: 1rem;
      }
      @media screen and ( min-width: $large ) {
        margin-left: 3rem;
      }
    }
  }

  > .pages__page, .pages__extra {
    font-size: .625rem;
    text-decoration: none;
    transition: background-color .3s;
    color: #999999;
    width: 1.41rem;
    height: 1.41rem;
    line-height: 1.41rem;
    border-radius: 1.41rem;
  }

  > .pages__page {
    &:hover:not( .pages__page--active ) {
      cursor: pointer;
    }

    &--active {
      color: #ffffff;
      background-color: #213262;
      box-shadow: 0 .0937rem .125rem 0 rgba( 33, 50, 98, .25 );
    }
  }
}
