// component
// `> .pages`
@mixin pages () {
  // block
  // `> .pages`
  > .pages {
    // [ variable ]
    $small: 576px;
    $medium: 620px;
    $large: 850px;

    // [ position ]
    justify-self: center;

    // [ layout ]
    display: inline-block;

    // [ customization ]
    @content;

    // element
    // `> .pages > .pages__control`
    > .pages__control {
      // [ position ]
      vertical-align: middle;

      // [ skin ]
      border-radius: 1.41rem;
      background: transparent;
      width: 1.41rem;
      height: 1.41rem;
      border: .0312rem solid #32477d;
      color: #32477d;
      font-size: .9375rem;
      cursor: pointer;

      // modifier
      // `> .pages > pages__control.pages__control--hidden`
      &--hidden {
        visibility: hidden;
      }

      // [ selector: first-child ]
      &:first-child {
        // [ skin ]
        margin-right: 1rem;
        padding: {
          right: .05rem;
          bottom: .1rem;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          margin-right: 3rem;
        }
      }

      // [ selector: last-child ]
      &:last-child {
        // [ skin ]
        margin-left: 1rem;
        padding: {
          bottom: .1rem;
          left: .05rem;
        }

        // [ RWD: $large ]
        @media screen and ( min-width: $large ) {
          margin-left: 3rem;
        }
      }
    }

    // element
    // `> .pages > .pages__page`
    // `> .pages > .pages__extra`
    > .pages__page, .pages__extra {
      // [ layout ]
      display: none;

      // [ position ]
      vertical-align: middle;

      // [ skin ]
      border-radius: 1.41rem;
      background: transparent;
      color: #999999;
      width: 1.41rem;
      height: 1.41rem;
      font-size: .625rem;
      text-decoration: none;
      transition: background-color .3s;

      // [ RWD: $small ]
      @media screen and ( min-width: $small ) {
        // [ layout ]
        display: inline-block;
      }
    }

    // element
    // `> .pages > .pages__page`
    > .pages__page {
      // [ interaction ]
      &:hover:not( .pages__page--active ) {
        // [ skin ]
        cursor: pointer;
      }

      // modifier
      // `> .pages > .pages__page--active`
      &--active {
        // [ layout ]
        display: inline-block;

        // [ skin ]
        color: #ffffff;
        background-color: #213262;
        box-shadow: 0 .0937rem .125rem 0 rgba( 33, 50, 98, .25 );
      }

      // modifier
      // `> .pages > .pages__page--hidden`
      &--hidden {
        display: none;
      }
    }

    // element
    // `> .pages > .pages__extra`
    > .pages__extra {
      // modifier
      // `> .pages > .pages__extra--hidden`
      &--hidden {
        display: none;
      }
    }
  }
}
