.detail {
  margin: 4.6875rem 5.46875rem;

  &__title {
    padding: .625rem;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    box-shadow: .0625rem .09375rem .1875rem rgba(0,0,0,.1);
    font: {
      size: 1.0625rem;
      weight: bold;
      family: Arial;
    }
    border: {
      style: solid;
      width: 0 0 0 .25rem;
      color: #fd5540;
    }
  }

  &__time{
    display: block;
    margin: .9375rem 0;
    color: #b5babf;
    text-align: right;
    font: {
      size: .65625rem;
      family: Arial;
    }
  }

  &__article{
    padding: 0 0 0 .625rem;
    color: #000000;
    text-align: left;
    font: {
      size: .75rem;
      family: Arial;
    }
  }

  &__button{
    display: inline-block;
    padding: .625rem .9375rem;
    margin: 4.0625rem 0 3.90625rem .625rem;
    background-color: #00c3d0;
    border: none;
    box-shadow: .0625rem .09375px .1875rem rgba(0,0,0,.1);
    color: #f8f8f2;
    font: {
      size: .75rem;
      family: Arial;
    }
    text: {
      align: center;
      decoration: none;
    }
  }

  &__watchThrough{
    padding: 1.5625rem 0 0;
    color: #262e3e;
    font: {
      size: .65625rem;
      family: Arial;
    }
    text-align: right;
    border: {
      style: solid;
      width: .015625rem 0 0;
      color: #000000;
    }
  }
}

