// template
// `.tags > .tags__tag.tags__tag--?`
// This mixin should not be used outside this file.
@mixin tags__tag ( $color, $bgcolor ) {
  // [ skin ]
  color: $color;
  background-color: $bgcolor;

  // modifier
  // `.tags > .tags__tag.tags__tag--?.tags__tag--active`
  &.tags__tag--active {
    // [ skin ]
    color: #ffffff;
    background-color: $color;
  }
}

// component
// `> .tags`
@mixin tags () {
  // block
  // `> .tags`
  &.tags {
    // [ skin ]
    color: #ffffff;

    // element
    // `> .tags > .tags__tag`
    > .tags__tag {
      // [ skin ]
      margin: {
        right: .2rem;
        bottom: .6rem;
      }
      border-radius: 1rem;
      padding: .1rem .2rem;
      height: 1rem;
      width: 2.6rem;

      // [ layout ]
      grid: {
        column-start: auto;
        row-start: auto;
      }

      // [ interaction ]
      &:hover {
        // [ skin ]
        cursor: pointer;
      }

      &.tags__tag-- {
        // modifier
        // `> .tags > .tags__tag.tags__tag--yellow`
        &yellow {
          // [ template ]
          @include tags__tag( $color: #faad06, $bgcolor: #fff8e6 );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--red`

        &red {
          // [ template ]
          @include tags__tag( $color: #f67057, $bgcolor: #ffe3df );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--blue`

        &blue {
          // [ template ]
          @include tags__tag( $color: #399dff, $bgcolor: #dfeffe );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--purple`

        &purple {
          // [ template ]
          @include tags__tag( $color: #9053ff, $bgcolor: #e8dafe );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--green`

        &green {
          // [ template ]
          @include tags__tag( $color: #0dc589, $bgcolor: #c6ffec );
        }
      }
    }

    // [ customization ]
    @content;
  }
}
