// template
// `.tags > .tags__tag.tags__tag--?`
// This mixin should not be used outside this file.
@mixin tags__tag ( $color, $bgcolor ) {
  // [ skin ]
  color: $color;
  background-color: $bgcolor;

  // modifier
  // `.tags > .tags__tag.tags__tag--?.tags__tag--active`
  &.tags__tag--active {
    // [ skin ]
    color: #ffffff;
    background-color: $color;
  }
}

// component
// `> .tags`
@mixin tags () {
  // block
  // `> .tags`
  > .tags {
    // [ skin ]
    color: #ffffff;

    // element
    // `> .tags > .tags__tag`

    > .tags__tag {
      // [ skin ]
      margin: {
        right: .2rem;
        bottom: .6rem;
      }
      border-radius: 1rem;
      padding: .1rem .2rem;
      width: 3.6rem;

      // [ interaction ]
      &:hover {
        // [ skin ]
        cursor: pointer;
      }

      &.tags__tag-- {
        // modifier
        // `> .tags > .tags__tag.tags__tag--all`
        &all {
          // [ position ]
          grid-area: tags__tag--all;

          // [ template ]
          @include tags__tag( $color: #faad06, $bgcolor: #fff8e6 );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--award

        &14 {
          // [ position ]
          grid-area: tags__tag--award;

          // [ template ]
          @include tags__tag( $color: #f67057, $bgcolor: #ffe3df );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--college`

        &2 {
          // [ position ]
          grid-area: tags__tag--college;

          // [ template ]
          @include tags__tag( $color: #399dff, $bgcolor: #dfeffe );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--competition`

        &8 {
          // [ position ]
          grid-area: tags__tag--competition;

          // [ template ]
          @include tags__tag( $color: #9053ff, $bgcolor: #e8dafe );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--conference`

        &6 {
          // [ position ]
          grid-area: tags__tag--conference;

          // [ template ]
          @include tags__tag( $color: #9053ff, $bgcolor: #e8dafe );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--course`

        &1 {
          // [ position ]
          grid-area: tags__tag--course;

          // [ template ]
          @include tags__tag( $color: #faad06, $bgcolor: #fff8e6 );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--exhibition`

        &7 {
          // [ position ]
          grid-area: tags__tag--exhibition;

          // [ template ]
          @include tags__tag( $color: #9053ff, $bgcolor: #e8dafe );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--faculty`

        &0 {
          // [ position ]
          grid-area: tags__tag--faculty;

          // [ template ]
          @include tags__tag( $color: #faad06, $bgcolor: #fff8e6 );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--international`

        &10 {
          // [ position ]
          grid-area: tags__tag--international;

          // [ template ]
          @include tags__tag( $color: #f67057, $bgcolor: #ffe3df );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--internship`

        &11 {
          // [ position ]
          grid-area: tags__tag--internship;

          // [ template ]
          @include tags__tag( $color: #f67057, $bgcolor: #ffe3df );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--master`

        &3 {
          // [ position ]
          grid-area: tags__tag--master;

          // [ template ]
          @include tags__tag( $color: #399dff, $bgcolor: #dfeffe );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--phd`

        &4 {
          // [ position ]
          grid-area: tags__tag--phd;

          // [ template ]
          @include tags__tag( $color: #399dff, $bgcolor: #dfeffe );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--rule`

        &12 {
          // [ position ]
          grid-area: tags__tag--rule;

          // [ template ]
          @include tags__tag( $color: #0dc589, $bgcolor: #c6ffec );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--recruitment`

        &13 {
          // [ position ]
          grid-area: tags__tag--recruitment;

          // [ template ]
          @include tags__tag( $color: #0dc589, $bgcolor: #c6ffec );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--scholarship`

        &9 {
          // [ position ]
          grid-area: tags__tag--scholarship;

          // [ template ]
          @include tags__tag( $color: #f67057, $bgcolor: #ffe3df );
        }

        // modifier
        // `> .tags > .tags__tag.tags__tag--speech`

        &5 {
          // [ position ]
          grid-area: tags__tag--speech;

          // [ template ]
          @include tags__tag( $color: #9053ff, $bgcolor: #e8dafe );
        }
      }
    }
  }
}
