.announcement__title {
  @include icon--before__flag() {
    margin: 0 .4rem 0 0;
    border-width: .8rem .35rem .16rem;
  }
  display: flex;

  .title {
    &__text {
      // element [skin]
      line-height: 1rem;
      font: {
        weight: normal;
        size: .5rem;
      }
    }
  }
}
