
// block
// `announcement__title`
@mixin announcement__title () {
  > .announcement__title {
    // block [skin]

    // [selector]
    &::before {
      content: '';
      margin: 0 .4rem 0 0;
      @include icon__flag( 1rem );
    }

    // [layout]
    display: flex;

    // [skin]
    line-height: 1rem;
    font: {
      size: .55rem;
      weight: bold;
    }
  }
}
