@import 'components/common/reset';
@import 'components/common/header-base';
@import 'components/common/header-small';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/entries';
@import 'components/common/footer';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--small( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body', $image: 'research/index' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ skin ]
    width: 100%;
    background-color: #ffffff;

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ layout ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      max-width: font__px-to-rem( 908 );
      width: 80%;
      border: {
        style: solid;
        top-width: font__px-to-rem( 20 );
        color: transparent;
      }
    }

    // element
    // `.body > .content > .content__entries`
    // block
    // `.body > .content > .entries`
    @include entries( $block: 'content' ) {
      // [ layout ]
      margin: {
        top: font__px-to-rem( 32 );
        left: auto;
        right: auto;
      }

      // [ skin ]
      max-width: font__px-to-rem( 908 );
      width: 100%;
      border-bottom: 10px solid transparent;
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
