@import 'components/common/reset';
@import 'components/common/font';
@import 'components/common/header-base';
@import 'components/common/header-small';
@import 'components/common/header-medium';
@import 'components/common/header-large';
@import 'components/common/banner';
@import 'components/common/breadcrumb';
@import 'components/common/topic';
@import 'components/common/loading';
@import 'components/common/no-result';
@import 'components/common/footer';
@import 'components/research/lab/cards';

// block
// `.body`
.body {
  // [ skin ]
  background-color: #ffffff;

  // element
  // `.body > .body__header`
  // block
  // `.body > .header`
  @include header--base( $block: 'body' );
  @include header--small( $block: 'body' );
  @include header--medium( $block: 'body' );
  @include header--large( $block: 'body' );

  // element
  // `.body > .body__banner`
  // block
  // `.body > .banner`
  @include banner( $block: 'body' ,$image: 'research/lab' );

  // element
  // `.body > .body__content`
  // block
  // `.body > .content`
  > .body__content.content {
    // [ variable ]
    $large: 700px;

    // [ layout ]
    display: block;
    margin: {
      left: auto;
      right: auto;
    }

    // [ skin ]
    width: 100%;
    height: auto;
    background-color: #eff3f9;

    // template
    // `.body > .content > .content__?.?`
    %content__element {
      // [ layout ]
      margin: {
        left: auto;
        right: auto;
      }

      // [ skin ]
      max-width: font__px-to-rem( 1740 );
      width: 94%;

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        width: 84%;
      }
    }

    // element
    // `.body > .content > .content__breadcrumb`
    // block
    // `.body > .content > .breadcrumb`
    @include breadcrumb( $block: 'content' ) {
      // [ template ]
      @extend %content__element;

      // [ skin ]
      border: {
        top-width: font__px-to-rem( 32 );
        left-width: font__px-to-rem( 16 );
        color: transparent;
        style: solid;
      }

      // [ RWD: $large ]
      @media screen and ( min-width: $large ) {
        // [ skin ]
        border-left-width: 0;
      }
    }

    // element
    // `.body > .content > .content__topic`
    // block
    // `.body > .content > .topic`
    @include topic( $block: 'content' ) {
      // [ template ]
      @extend %content__element;

      // [ layout ]
      margin-top: font__px-to-rem( 32 );
    }

    // element
    // `.body > .content > .content__lab`
    // block
    // `.body > .content > .lab`
    > .content__lab.lab {
      // [ template ]
      @extend %content__element;

      // [ layout ]
      display: block;

      // element
      // `.body > .content > .lab > .lab__no-result`
      // block
      // `.body > .content > .lab > .no-result`
      @include no-result( $block: 'lab' ) {
        // [ layout ]
        margin-top: font__px-to-rem( 64 );
      }

      // element
      // `.body > .content > .lab > .lab__loading`
      // block
      // `.body > .content > .lab > .loading`
      @include loading( $block: 'lab' ) {
        // [ layout ]
        margin-top: font__px-to-rem( 64 );
      }

      // element
      // `.body > .content > .lab > .lab__cards`
      // block
      // `.body > .content > .lab > .cards`
      @include cards ( $block: 'lab' ) {
        // [ layout ]
        margin-top: font__px-to-rem( 32 );
      }
    }
  }

  // element
  // `.body > .body__footer`
  // block
  // `.body > .footer`
  @include footer ( $block: 'body' );
}
